@import 'transitions';

$gutter: 0px;

* {
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.body-container {
  min-height: 100%;
  margin-bottom: -2rem;
}
a, button {
  background-color: inherit;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: 0;

  &:link {
    text-decoration: none;
  }

  // &:focus { outline:none; }

}

sup {
  font-size: 0.6em;
  vertical-align: super;
  font-family: 'MuseoSlab-700';
}

strong {
  font-family: 'MuseoSans';
  font-weight: 500;
  color: $grey-77;
}

img { max-width: 100%; height: auto; }

select {
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 14px;
  font-family: 'MuseoSans';
  font-weight: 300;
  border: 1px solid $grey-33;
  padding: 10px;
  color: $grey-100;
  background-color: $white;
  border-radius: 0;
  text-indent: 0.01px;
  text-overflow: "";
}

.left { float: left; }
.right { float: right; }


.flash {
  border: 1px solid $green;
  padding: 20px;
  margin-bottom: 30px;
}

.protected_areas-parent #map
.protected_areas-parent {
  top: 120px;
}
