.btn-map-download {
  text-align: center;
  @include text--alt(body, bold);
  font-size: .9rem;

  @include color-with-state($big-button__bg-color, (
    hover: $big-button__bg-color--hover,
    active: $big-button__bg-color--pressed,
    disabled: $big-button__bg-color--disabled
  ), background-color);

  height: 100%;
  min-width: 180px;
  box-sizing: border-box;

  border-radius: $big-button__border-radius;
  color: $big-button__color;
  &--marine {
    background-color: $blue--marine-1;
    color: $blue--marine-5;
    padding: 5px 10px;
    &:hover {
      background-color: $blue--marine-2;
    }
  }
}

.marine-download {
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 400;
}

.btn.btn-marine-toggle {
  position: fixed;
  top: 181px;
  right: 20px;
  height: 40px;
  font-size: 1em;

  background-color: $grey-100;
  transition: top $search-bar-transition-time ease;

  i {
    margin-right: 5px;
  }

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 171px;
  }

  &:hover {
    background-color: $white;
    color: $grey-100;
  }
}

.nav-main.home-nav-main {
  background-color: $navbar__bg-color;

  li.active {
    a {
      background-color: $color--header-active-link;
    }
  }

  li {
    a {
      color: $color--header-link;
    }

    a:hover {
      background-color: $color--header-hover-link;
    }
  }

  li.search {
    background-image: asset-url('images/icon-search-grey.png');
  }
}

nav .download-type-dropdown {
  position: absolute;
}

.download-type-dropdown {
  z-index: 2000;
  display: none;

  li {
    background-color: $green--dark;
    border-top: solid 1px $white;
    float: none;
    line-height: 1rem;

    a {
      text-align: left;
      color: $white;

      display: inline-block;
      padding: 20px;
      width: 100%;
    }
  }
}

.home-parent {
  transition: top $search-bar-transition-time ease;

  #map {
    left: 0;
  }

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 120px;
  }
}

.explore {
  width: 840px;
  height: 120px;
  position: relative;
  z-index: 900;
  margin: 150px auto;
  box-sizing: border-box;

  h1{
    font-family: 'MuseoSans';
    font-weight: 100;
    font-size: 30px;
    color: $green;
    padding: 10px 20px;
    clear: both;
  }

  .search-bar-container {
    width: 600px;
    height: 75px;
    background: white;
    padding: 20px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
  }

  a.btn {
    float: right;
  }
}
