// Markers
.marker-cluster-medium {
  div {
    margin-left: 4px;
  }
}

.marker-cluster-medium {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px;

  div {
    font-size: 16px;
    margin: 10px;
    margin-left: 9px;
  }
}

.marker-cluster-large {
  width: 60px !important;
  height: 60px !important;
  border-radius: 30px;

  div {
    font-size: 18px;
    margin: 15px 5px;
    width: 50px;
  }
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  border: 1px solid $color--leaflet-cluster-border;

  &, div {
    color: $color--leaflet-cluster-text;
    background: $color--leaflet-cluster-bg;
  }
}

@include only-mobile {
  .leaflet-control-container {
    display: none;
  }
}
