@import 'transitions';

.search-grid {
  transition: top $search-bar-transition-time ease;

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 120px;
  }

  &.sub-nav-open {
    top: 120px;
  }
}

.map-filters {
  height: 100%;
  min-height: 100%;
}
