/* Defaults */
$gutter: 0%;
$max-width: 100%;

section {
  @include outer-container;
  max-width: initial;
}

.col-one { @include span-columns(1); }
.col-two { @include span-columns(2); }
.col-three { @include span-columns(3); }
.col-four { @include span-columns(4); }
.col-five { @include span-columns(5); }
.col-six { @include span-columns(6); }
.col-seven { @include span-columns(7); }
.col-eight { @include span-columns(8); }
.col-nine { @include span-columns(9); }
.col-ten { @include span-columns(10); }
.col-eleven { @include span-columns(11); }
.col-twelve { @include span-columns(12); }
