.project {
  background-color: $color--project-bg;

  &:last-child {
    .project-item {
      border-bottom: 1px solid $color--project-item-border;
    }
  }

  .project-header {
    height: 60px;
    background-color: $color--project-header-bg;
    border-bottom: solid 1px $color--project-header-border;
    border-top: solid 1px $color--project-header-border;

    ul li {
      line-height: 58px;
      float:left;

      &.project-name {
        cursor: pointer;
      }

      &.right {
        float: right;

        &:last-child {
          margin-right: 20px;
        }
      }
    }
    input {
      font-size: 15px;
      border: 0px;
      padding: 5px 10px;
    }

    h1 small {
      font-size: 0.8em;
      margin-left: 5px;
      color: $color--project-header-small;
    }


    h1, h2, a {
      padding: 0px 20px;
      display: block;
      box-sizing: border-box;
      color: $grey-77;

      &:hover { color: $grey-100; }
      &.active { background-color: $grey-33; }
    }

    h2, a { font-size: 14px; }
  }

  .project-item {
    min-height: 256px;
    @include span-columns(3);
    @include omega(4n+1);
    @include fill-parent;
    margin-right: 0px;
    width: 25%;
    border-right: 1px solid $color--project-item-border;
    background-color: $color--project-item-bg;

    h4 { margin: 20px; }
    p { padding: 20px; }
  }
}

.no-projects {
  width:50%;
  margin: 50px auto;
  border: 1px solid $green;
  padding:40px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  h2 {
    color: $grey-77;
  }

}

.info-search {
  margin-top: 20px;
}

.info-search:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.projects-parent {
  overflow: scroll;
}

.btn-project-download {
  cursor: pointer;
}

.projects-dropdown {
  background-color: $color--project-dropdown-bg;

  li a {
    display: inline-block;
    width: 100%;
    padding: 13px 7px;
    border-bottom: solid 1px $color--project-header-border;
    border-top: solid 1px $color--project-header-border;

    &:hover {
      background-color: $color--project-header-border;
    }
  }
}
