.search-bar--old {
  height: 60px;
  width: 100%;
  float: left;
  padding: 15px 20px;
  background-color: $color--search-bar-bg;
  z-index: $z-index-3;
  position: fixed;
  top: 60px;
  display: none;
}

.search-input,
.search-submit {
  height: 31px;
}

.search-input {
  color: $color--search-input-text;
  background-color: $color--search-input-bg;
  font-size: 16px;
  line-height: 33px;
  padding-left: 10px;
  border: 0;
  outline: none;
  box-sizing: border-box;
  float: left;
  display: block;
  margin-right: 0.35765%;
  width: 84.94039%;
}

.search-submit {
  color: $color--search-input-text;
  background-color: $color--search-input-bg;
  float: left;
  display: block;
  width: 14.70196%;
  line-height: 1.875rem;

  &:hover {
    background-color: $color--search-input-bg-hover;
  }
}
