$width--search-sidebar: 270px;

.search-sub-nav {
  position: fixed;
  top: 60px;
  z-index: $z-index-1;
}

.search-sub-nav ul {
  li {
    &.right {
      float: right;
    }

    h1, h2 {
      display: inline-block;
    }

    h2 {
      color: $grey-77;
    }

    .btn-search-download {
      border-left: solid 1px $color--search-download-border;
      border-right: solid 1px $color--search-download-border;
      background-color: $color--search-download-bg;
      color: $color--search-download-text;
      text-transform: uppercase;
      font-size: 1em;
      position: absolute;
      right: 20px;
      height: 60px;

      img {
        margin-top: 4px;
      }
    }
  }
}

.map-filters.search-map-filters {
  background: $color--search-filters-bg;

  transition: margin $search-sidebar-transition-time ease;

  &.closed {
    margin-left: (-$width--search-sidebar);
    transition: margin $search-sidebar-transition-time ease;

  }

  header {
    height: 40px;
    background-color: $color--search-filters-header;

    ul {
      float: right;

      li {
        border-left: solid 1px $color--search-switch-border;
        float: left;

        &.active {
          background-color: $color--search-filters-active;
        }

        a {
          padding: 10px;
          vertical-align: middle;
          display: block;
          height: 40px;
          width: 40px;
          background-color: inherit;
        }
      }
    }

    span {
      color: $color--search-filters-text;
      display: inline-block;
      margin: 13px 0px 0px 14px;
    }
  }

  > ul {
    margin-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
    height: 100%;
  }

  > ul > li {
    border-bottom: solid 1px $color--search-filters-border;
    padding: 0px 20px 20px 20px;

    &:first-child {
      padding: 10px 0 10px 20px;
      border-bottom: none;


      a {
        float: right;
        color: $white;
        background: $grey-55;
        padding: 3px 5px;
        font-size: 13px;
        margin: 0 10px 0 0;

        &:hover {
          background: $grey-100;
        }
      }
    }

    h5 {
      padding: 20px 10px 10px 0px;
      text-transform: uppercase;
    }

    > ul >li {
      padding: 5px 0 5px 0;

      strong{
        color: $green;
      }

    }
  }
}

.search-parent #map, .search-parent .search-grid {
  left: $width--search-sidebar;

  @include only-mobile {
    left: initial;
  }

  transition: left $search-sidebar-transition-time ease;

  &.opened {
    left: 0px;
    transition: left $search-sidebar-transition-time ease;
  }

  &.no-results {
    left: 0px;
  }
}

.fixed-sidebar-toggle {
  background-color: $color--search-filters-header;
  padding: 10px;
  vertical-align: middle;
  display: block;
  position: fixed;
  top: 120px;
  left: -40px;
  width: 40px;
  height: 40px;

  transition: left 0.3s ease;

  &.opened {
    transition: left 0.3s ease;
    left: 0px;
  }
}

.search-grid {
  @include clearfix;

  background-color: $grey-5;
  padding: 1rem;

  @include only-desktop {
    @include span-columns(9.5);
    @include shift(2.5);
  }
}

.result {
  background-color: $white;

  @include only-desktop {
    @include span-columns(3);
    @include omega(4n);
  }

  @include only-mobile {
    @include span-columns(6);
    @include omega(2n);
  }

  margin-bottom: 1rem;
  border-right: 2px solid $grey-15;
  border-right: 2px solid transparentize($grey-15, 0.2);

  a { width: 100%; }
}

.inner-result {
  @extend %color-base;
  @include text(body);
  padding: 8px;
  position: relative;
  height: 128px;
  margin-top: -4px;
  border-bottom: 3px solid $grey-15;

  h3 {
    margin-top: 4px;

    a:first-of-type,
    small {
      position: absolute;
      left: 8px;
      right: 8px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    small {
      top: 26px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      margin-top: 5px;
      padding-top: 5px;

      border-top: 1px solid $green;
      display:block;
      color: $grey-77;
    }
  }

  p {
    @include text--alt(small, thin);
    @include color($white);
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    padding: 3px 5px;
    font-size: 12px;
    background: $green;
  }
}

.pagination {
  @include text(body, thin);
  @extend %color-base;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  float: left;
  padding: 16px;

  a {
    margin: 5px;
  }

  .current {
    @include text(body, bold);
    @include color($green);
  }
}
