@utility tw-shared-base-flex-gap-1 {
  @apply
  flex
  gap-1;
}

@utility tw-shared-base-flex-col-md-row-gap-1 {
  @apply
  flex
  flex-col
  md:flex-row
  gap-1;
}

@utility tw-shared-base-flex-gap-2 {
  @apply
  flex
  gap-2;
}

@utility tw-shared-base-flex-gap-3 {
  @apply
  flex
  gap-3;
}

@utility tw-shared-base-flex-gap-1-md-gap-3 {
  @apply
  flex
  gap-1
  md:gap-3;
}

@utility tw-shared-base-flex-gap-4 {
  @apply
  flex
  gap-4;
}

@utility tw-shared-base-flex-wrap-gap-4-lg-gap-2 {
  @apply
  flex
  flex-wrap
  gap-4
  lg:gap-2;
}

@utility tw-shared-base-flex-gap-5 {
  @apply
  flex
  gap-5;
}

@utility tw-shared-base-flex-gap-6 {
  @apply
  flex
  gap-6;
}

@utility tw-shared-base-flex-gap-8 {
  @apply
  flex
  gap-8;
}

@utility tw-shared-base-flex-gap-9 {
  @apply
  flex
  gap-9;
}

@utility tw-shared-base-flex-gap-3-md-gap-6 {
  @apply
  flex
  gap-3
  md:gap-6;
} 

@utility tw-shared-base-flex-gap-3-lg-gap-9 {
  @apply
  flex
  gap-3
  lg:gap-9;
} 

@utility tw-shared-base-flex-col {
  @apply
  flex 
  flex-col;
}

@utility tw-shared-base-flex-col-gap-1 {
  @apply
  tw-shared-base-flex-col
  gap-1;
}

@utility tw-shared-base-flex-col-gap-2 {
  @apply
  tw-shared-base-flex-col
  gap-2;
}

@utility tw-shared-base-flex-col-gap-3 {
  @apply
  tw-shared-base-flex-col
  gap-3;
}

@utility tw-shared-base-flex-col-gap-5 {
  @apply
  tw-shared-base-flex-col
  gap-5;
}

@utility tw-shared-base-flex-col-md-row-gap-5 {
  @apply
  tw-shared-base-flex-col-gap-5
  md:flex-row;
}

@utility tw-shared-base-flex-col-gap-3-md-gap-6 {
  @apply
  tw-shared-base-flex-col
  gap-3
  md:gap-6;
}

@utility tw-shared-base-flex-col-gap-6 {
  @apply
  tw-shared-base-flex-col
  gap-6;
}

@utility tw-shared-base-flex-col-gap-7 {
  @apply
  tw-shared-base-flex-col
  gap-7;
}

@utility tw-shared-base-flex-col-gap-9 {
  @apply 
  tw-shared-base-flex-col
  gap-9;
} 

@utility tw-shared-base-flex-col-gap-9-lg-no-gap {
  @apply 
  tw-shared-base-flex-col
  gap-9
  lg:gap-0;
} 

@utility tw-shared-base-flex-col-gap-6-and-9 {
  @apply
  tw-shared-base-flex-col
  gap-6
  lg:gap-9;
}

@utility tw-shared-base-flex-col-gap-10 {
  @apply
  tw-shared-base-flex-col
  gap-10;
}

@utility tw-shared-base-flex-col-gap-12 {
  @apply
  tw-shared-base-flex-col
  gap-12;
}

@utility tw-shared-base-flex-col-md-row-gap-1 {
  @apply
  tw-shared-base-flex-col-gap-1
  md:flex-row;
}

@utility tw-shared-base-flex-col-md-row-gap-3 {
  @apply
  tw-shared-base-flex-col-gap-3
  md:flex-row;
}