@utility tw-shared-list-title {
  @apply tw-shared-font-playfair__bold-xl-lg-2xl-grey-black;
}

@utility tw-shared-list-underline-item {
  @apply
  tw-shared-base-flex-gap-3
  items-center
  border-t
  border-theme-grey-light
  py-3.5
  first:border-t-0;
}

@utility tw-shared-list-underline-icon {
  @apply
  size-4
  shrink-0
  rounded-full;
}

@utility tw-shared-list-underline-title {
  @apply font-bold;
}

@utility tw-shared-list-underline-value {
  @apply tw-shared-font-hind-siliguri__light-base-grey-black;
}

@utility tw-shared-list-underline-link {
  @apply
  ml-auto
  tw-shared-button--all;
}

@utility tw-shared-list-underline-link-text {
  @apply max-lg:hidden;
}

@utility tw-shared-list-underline-link-icon {
  @apply size-5.25;
}

@utility tw-shared-list-underline-scrollbar {
  @apply
  max-h-85
  px-1
  overflow-y-auto;
}
 
@utility tw-shared-list-stripes-item {
  @apply 
  tw-shared-base-flex-col-md-row-gap-3
  md:items-center
  py-4 
  px-3.5 
  odd:bg-theme-grey-xlight;
}

@utility tw-shared-list-stripes-item-for-pdf {
  @apply 
  odd:bg-transparent 
  border-b 
  border-theme-grey-light;
}

@utility tw-shared-list-stripes-title {
  @apply
  max-w-56
  tw-shared-font-hind-siliguri__semibold-base-grey-black;
}

@utility tw-shared-list-stripes-value {
  @apply tw-shared-font-hind-siliguri__light-base-grey-black;
}

@utility tw-shared-list-links {
  @apply tw-shared-base-flex-col-gap-3;
}

@utility tw-shared-list-links-item {
  @apply
  flex
  justify-between
  items-center
  text-base
  md:text-lg
  bg-theme-grey-xlight
  py-3.5
  px-5
  max-w-175
  max-h-14;
}
