/* playfair */
@utility tw-shared-font-family-playfair--black-leading-1-1 {
  @apply
  font-playfairDisplay
  text-theme-grey-black
  leading-[1.1]
}

@utility tw-shared-font-playfair__h1--default {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1 
  font-bold
  text-[1.875rem] 
  md:text-[2.5rem];
}

@utility tw-shared-font-playfair__h1--home {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1 
  font-bold
  text-[2.5rem]
  lg:text-[4.375rem];
}

@utility tw-shared-font-playfair__h1--resource {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  font-bold 
  text-[1.25rem]
  md:text-[1.25rem]
  lg:text-[1.5625rem];
}

@utility tw-shared-font-playfair__h2--default {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  text-xl
  md:text-2xl
  font-bold;
}

@utility tw-shared-font-playfair__h2--default-semi-bold {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  text-xl 
  md:text-2xl
  font-semibold;
}

@utility tw-shared-font-playfair__h2--title {
  @apply
  tw-shared-font-family-playfair--black-leading-1-1
  text-2xl
  md:text-[2.5rem]
  text-white
  font-normal;
}

/* hind-siliguri */

@utility tw-shared-font-family-hind-siliguri {
  @apply 
  font-hindSiliguri
  text-theme-grey-black;
}

@utility tw-shared-font-family-hind-siliguri--leading-1-0 {
  @apply
  tw-shared-font-family-hind-siliguri
  leading-none;
}

@utility tw-shared-font-family-hind-siliguri--leading-1-3 {
  @apply
  tw-shared-font-family-hind-siliguri
  leading-[1.3];
}

@utility tw-shared-font-family-hind-siliguri--leading-1-6 {
  @apply
  tw-shared-font-family-hind-siliguri
  leading-[1.6];
}

@utility tw-shared-font-hind-siliguri__text-1 {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-[0.875rem] 
  md:text-[0.875rem]
  lg:text-[0.9375rem];
}

@utility tw-shared-font-hind-siliguri__h2--intro {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-theme-grey-black
  text-lg
  md:text-[1.25rem]
  font-normal;
}

@utility tw-shared-font-hind-siliguri__h2--wysiwyg {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-theme-grey-black
  text-lg
  md:text-[1.25rem]
  font-bold;
}

@utility tw-shared-font-hind-siliguri__h3--wysiwyg { 
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-6
  leading-[1.6]
  text-[1rem] 
  md:text-lg;
}

@utility tw-shared-font-hind-siliguri__h4--wysiwyg {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-[1rem];
}

@utility tw-shared-font-hind-siliguri__text--default {
  @apply
    tw-shared-font-family-hind-siliguri--leading-1-6
    text-base
    font-normal;
}

@utility tw-shared-font-hind-siliguri__text--wysiwyg {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-6
  text-[0.875rem] 
  md:text-[1rem]
  text-theme-grey-black
  font-normal; 
}

@utility tw-shared-font-hind-siliguri__text--card-ribbon {
  @apply
    tw-shared-font-family-hind-siliguri--leading-1-3
    text-base
    font-normal
    lg:text-lg;
}

@utility tw-shared-font-hind-siliguri__number--card-ribbon {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  font-bold
  text-xl
  md:text-[1.875rem] 
  lg:text-[2.5rem]
  text-theme-chart-green;
}

@utility tw-shared-font-hind-siliguri__circle-square-title {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-theme-grey-black
  text-lg
  md:text-[1.25rem]
  font-bold;
}

@utility tw-shared-font-hind-siliguri__text-input {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-theme-grey-black
  text-lg;
}

@utility tw-shared-text-small {
  @apply 
  tw-shared-font-family-hind-siliguri--leading-1-3
  text-[0.875rem]
  text-theme-grey;
}

/* TODO: check following if they are used */
@utility tw-shared-text-alert {
  @apply tw-shared-text-intro font-bold px-5 py-3.5;
  background-color: #FA3232;
  color: #fff;
}

@utility tw-shared-text-body {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 text-[1rem];
}

@utility tw-shared-text-filter {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 text-[0.875rem];
}

@utility tw-shared-text-footer-links {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 no-underline text-[1rem] md:text-[1rem] lg:text-lg;
}

@utility tw-shared-text-intro {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 leading-[1.35] text-lg md:text-[1.25rem];
}

@utility tw-shared-text-nav-link {
  @apply font-medium no-underline text-[1rem] md:text-[1rem] lg:text-lg;
}

@utility tw-shared-text-pagination {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 text-[1rem] md:text-[1rem] lg:text-lg;
}

@utility tw-shared-text-pagination-no-results {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 text-lg md:text-[1.25rem];
}



@utility tw-shared-text-tabs-fake {
  @apply tw-shared-font-family-hind-siliguri--leading-1-3 text-lg md:text-[1.25rem];
}

@utility tw-shared-text-tooltip {
  @apply tw-shared-font-hind-siliguri__text-1;
}


