/* playfair */
@utility tw-shared-font-family-playfair--black-leading-1-1 {
  @apply
  font-playfairDisplay
  text-theme-grey-black
  leading-[1.1]
}

@utility tw-shared-font-playfair__font-bold-3xl-md-4xl {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1 
  font-bold
  text-3xl
  md:text-4xl;
}

@utility tw-shared-font-playfair__font-bold-4xl-lg-4-375 {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1 
  font-bold
  text-5xl
  lg:text-7xl;
}

@utility tw-shared-font-playfair__bold-xl-lg-2xl {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  font-bold 
  text-xl
  lg:text-2xl;
}

@utility tw-shared-font-playfair__bold-xl-md-2xl {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  text-xl
  md:text-2xl
  font-bold;
}

@utility tw-shared-font-playfair__bold-xl-md-2xl-semi-bold {
  @apply 
  tw-shared-font-family-playfair--black-leading-1-1
  text-xl 
  md:text-2xl
  font-semibold;
}

@utility tw-shared-font-playfair__normal-2xl-md-4xl {
  @apply
  tw-shared-font-family-playfair--black-leading-1-1
  text-2xl
  md:text-4xl
  text-white
  font-normal;
}

/* hind-siliguri */

@utility tw-shared-font-family-hind-siliguri-grey-black {
  @apply 
  font-hindSiliguri
  text-theme-grey-black;
}

@utility tw-shared-font-family-hind-siliguri__leading-1-3 {
  @apply
  font-hindSiliguri
  leading-[1.3];
}

@utility tw-shared-font-hind-siliguri__bold-base-md-xl {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3
  text-base
  md:text-xl
  font-bold;
}

@utility tw-shared-font-family-hind-siliguri__leading-1-3-grey-black {
  @apply
  tw-shared-font-family-hind-siliguri-grey-black
  leading-[1.3];
}

@utility tw-shared-font-family-hind-siliguri__leading-1-6-grey-black {
  @apply
  tw-shared-font-family-hind-siliguri-grey-black
  leading-[1.6];
}

@utility tw-shared-font-hind-siliguri__normal-sm-lg-base-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-sm
  lg:text-base;
}

@utility tw-shared-font-hind-siliguri__normal-lg-grey-black-md-xl-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-theme-grey-black
  text-lg
  md:text-xl
  font-normal;
}

@utility tw-shared-font-hind-siliguri__bold-base-md-xl-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-base
  md:text-xl
  font-bold;
}

@utility tw-shared-font-hind-siliguri__bold-lg-md-xl-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-theme-grey-black
  text-lg
  md:text-xl
  font-bold;
}

@utility tw-shared-font-hind-siliguri__normal-base-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  font-normal
  text-base;
}

@utility tw-shared-font-hind-siliguri__normal-base-lg-lg {
  @apply
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-base
  font-normal
  lg:text-lg;
}

@utility tw-shared-font-hind-siliguri__bold-md-3xl-lg-6xl-green {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3
  font-bold
  text-3xl
  lg:text-6xl
  text-theme-chart-green;
}

@utility tw-shared-font-hind-siliguri__bold-md-3xl-lg-4xl-green {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3
  font-bold
  text-3xl
  lg:text-4xl
  text-theme-chart-green;
}

@utility tw-shared-font-hind-siliguri__bold-xl-md-3xl-lg-4xl-green {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3
  font-bold
  text-xl
  md:text-3xl
  lg:text-4xl
  text-theme-chart-green;
}

@utility tw-shared-font-hind-siliguri__bold-lg-md-xl-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-theme-grey-black
  text-lg
  md:text-xl
  font-bold;
}

@utility tw-shared-font-hind-siliguri__normal-lg-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-theme-grey-black
  font-normal
  text-lg;
}

@utility tw-shared-font-hind-siliguri__normal-xm-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-3-grey-black
  text-theme-grey
  text-sm;
}

/* leading 1.6  */
@utility tw-shared-font-hind-siliguri__normal-base-md-lg-leading-1-6-grey-black { 
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-6-grey-black
  text-base
  md:text-lg;
}
@utility tw-shared-font-hind-siliguri__normal-base-leading-1-6-grey-black  {
  @apply
  tw-shared-font-family-hind-siliguri__leading-1-6-grey-black
  text-base
  font-normal;
}

@utility tw-shared-font-hind-siliguri__normal-sm-md-base-leading-1-6-grey-black {
  @apply 
  tw-shared-font-family-hind-siliguri__leading-1-6-grey-black
  text-sm
  md:text-base
  text-theme-grey-black
  font-normal; 
}
