//--------------------------------------------------
// variables
//--------------------------------------------------
$agile-themes-slide-padding-desktop: rem-calc(10);

$agile-themes-slides-margin-mobile: 10%;
$agile-themes-slides-margin-tablet: 14%;
$agile-themes-slides-margin-desktop: 4%;
$agile-themes-slides-margin-monitor: calc((100% - #{$site-width-rem} + 2*#{$gutter-large} - 2*#{$agile-themes-slide-padding-desktop} )/2);
//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin agile-theme-margin-left {
  @include responsive(margin-left, $agile-themes-slides-margin-mobile, $agile-themes-slides-margin-tablet, $agile-themes-slides-margin-desktop);

  @include breakpoint($large) { margin-left: $agile-themes-slides-margin-monitor; }
}

@mixin agile-theme-margin-right {
  @include responsive(margin-right, $agile-themes-slides-margin-mobile, $agile-themes-slides-margin-tablet, $agile-themes-slides-margin-desktop);

  @include breakpoint($large) { margin-right: $agile-themes-slides-margin-monitor; }
}

@mixin agile-theme-button {
  position: absolute;
  top: 50%;
  z-index: 1;

  &:disabled { visibility: hidden; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
&--themes {
  color: $white;
  overflow: hidden;
  
  .agile {
    &__dots {
      display: none;
    }

    &__actions { }

      &__nav-button--prev { 
        @include button-prev;
        @include agile-theme-button;
        @include agile-theme-margin-left;

        transform: translate(-50%, -50%);

        left: 0;
      }

      &__nav-button--next { 
        @include button-next;
        @include agile-theme-button;
        @include agile-theme-margin-right;

        transform: translate(50%, -50%);
        
        right: 0;
      }

    &__list {
      @include agile-theme-margin-left;
      @include agile-theme-margin-right;
      
      overflow: visible;
      width: auto;
    }

      &__slides {
        align-items: stretch;
      }

        &__slide {
          @include responsive(padding-right, rem-calc(5), rem-calc(10), $agile-themes-slide-padding-desktop);
          @include responsive(padding-left, rem-calc(5), rem-calc(10), $agile-themes-slide-padding-desktop);
        }
  }
}