&--themes {
  color: $white;
  overflow: hidden;
  
  .agile {
    &__dots {
      display: none;
    }

    &__actions {
      width: 75%;

      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }

      &__nav-button--prev { 
        @include button-prev; 

        transform: translateX(-50%);
      }

      &__nav-button--next { 
        @include button-next; 

        transform: translateX(50%);
      }

    &__list {
      @include responsive(margin-right, 10%, 25%, 25%, 0);
      @include responsive(overflow, visible, visible, visible, hidden);
      width: auto;
    }

      &__slides {
        align-items: stretch;
      }

        &__slide {
          @include responsive(padding-right, rem-calc(11), rem-calc(11), rem-calc(22));
        }

          &__slide-link {
            @include border-radius;
            @include responsive(height, rem-calc(460), rem-calc(460), rem-calc(760));
            background-color: $grey-dark;
            padding: rem-calc(22 26);
            text-decoration: none;
            width: 100%;

            display: flex;

            &:hover::before { background-color: rgba(black, 0.6);  }

            &::before { @include border-radius; }
          }

            &__slide-content {
              @include flex-vs-end;
              width: 100%;
            }
  }
}