&--basic {
  overflow: hidden;
  
  .agile {
    &__dots {
      margin: rem-calc(30) auto 0 auto;
    }

    &__dot {
      background-color: $grey-light;
      border-radius: 100%;
      margin-right: $agile-basic-dot-size/2;
      width: $agile-basic-dot-size; height: $agile-basic-dot-size;

      &--current { background-color: $grey; }
    }

    &__list {
      @include responsive(margin-right, 10%, 25%, 25%, 0);
      @include responsive(overflow, visible, visible, visible, hidden);
      width: auto;
    }

      &__slides {
        align-items: stretch;
      }

        &__slide {
          display: flex;
          
          &:last-child {
            @include breakpoint($large) {
              @include tooltip-last-slide;
            }
          }
        }

          &__slide-content {
            @include box-shadow-grey-light;
            @include responsive(margin, 0 $agile-basic-slide-margin-mobile, 0 $agile-basic-slide-margin-tablet, 0 $agile-basic-slide-margin-tablet, 0 $agile-basic-slide-margin-desktop);
            background-color: $white; 
            border: solid 1px $grey-light;
            font-size: rem-calc(18);
            padding: rem-calc(16);
            width: 100%;

            position: relative;
          }

            &__slide-title {
              @include responsive(margin, 0, rem-calc(0 5), rem-calc(0 5), rem-calc(0 10));
              font-family: $header-font;
            }

            &__tooltip {
              position: absolute;
              top: rem-calc(10);
              right: rem-calc(10);
            }
  }
}