---

- name: Setup server core
  hosts:
    - all
  user: root
  sudo: no

  roles:
    - bootstrap


- name: Setup app core
  user: wcmc
  sudo: yes
  hosts:
    - web
    - util
    - db
  roles:
    - ruby
    - gdal
    - memcached

- name: Setup web
  hosts:
    - web
  user: wcmc
  sudo: yes

  roles:
    - nginx
    - app
    - nodesource.node
    - bower

- name: Setup web, util
  hosts:
    - web
    - util
  user: wcmc
  sudo: yes

  roles:
    - postgresql-client

- name: Setup util
  hosts:
    - util
  user: wcmc
  sudo: yes

  roles:
    - redis
    - sidekiq

- name: Setup db
  hosts:
    - db
  user: wcmc
  sudo: yes

  roles:
    - postgresql-server

- name: Setup elastic search nodes
  hosts:
    - elasticsearch
  user: wcmc
  sudo: yes

  roles:
    - elasticsearch
