<%= link_to root_url + theme[:obj][:full_path], 
  title: "View the #{theme[:obj][:label]} page", 
  class: "card--theme", 
  style: "background-image: url('#{cms_fragment_render(:image, theme[:obj])}')" do %>

  <h3 class="card__title"><%= theme[:obj][:label] %></h3>
  <p class="card__summary"><%= cms_fragment_content(:summary, theme[:obj]) %></p>
  <i class="icon--circle-chevron-white"></i>
<% end %>