.map {
    &--main {
        position: relative;
    }
    &--filters {
        // height: calc(75% - #{rem-calc(42 * 2)});
        // overflow-y: hidden;
        position: absolute;
        width: 26.56%;
        z-index: 1;

        top: rem-calc(42);
        left: $gutter-small * 2;
        @include breakpoint($small) {
            left: $gutter-medium * 2;
        }
        @include breakpoint($large) {
            left: $gutter-large * 2;
        }

        background-color: $grey-xdark;
        color: $grey-light;

        .header {
            background-color: $grey-black;
            color: $grey-xlight;
            display: flex;
            font-family: $header-font;
            font-size: rem-calc(25);
            font-weight: 600;
            justify-content: space-between;
            line-height: $header-font-line-height;

            &--close-button {
                &::after {
                    content: "⨯";
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .header,
        .body {
            padding: rem-calc(14 24);
        }

        .disclaimer {
            font-size: rem-calc(14);
            justify-self: flex-end;
            margin-top: rem-calc(24);
            &--heading {
                font-weight: 600;
                line-height: rem-calc(26);
            }
        }
    }
    
    bottom: rem-calc(42);

    //   @include '../helpers/beautify-scrollbar';
}