.v-map-filter {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: rem-calc(15);
    user-select: none;

    &__isToggleable {
        cursor: pointer;
    }

    .color {
        background-color: $grey;
        border-radius: rem-calc(19);
        border: 1px solid $white;
        height: rem-calc(19);
        width: rem-calc(19);
    }

    .color,
    .description {
        margin-right: rem-calc(12);
    }
}