.v-map {
  position: relative;
}
.v-map-baselayer-controls {
  position: absolute;
  bottom: rem-calc(10);
  right: rem-calc(10);

  @include breakpoint($small) {
    bottom: rem-calc(16);
  }

  @include breakpoint($medium) {
    right: rem-calc(16);
  }

  &__control {
    min-width: rem-calc(100);

    background-color: $white;
    border: rem-calc(1) solid $grey-dark;
    border-radius: 0;
    color: $black;
    cursor: pointer;
    font-size: rem-calc(14);
    width: rem-calc(82); height: rem-calc(35);

    @include breakpoint($small) {
      font-size: rem-calc(16);
      width: rem-calc(140); height: rem-calc(46);
    }

    &:not(:last-child) {
      border-right: none;
    }

    &.selected {
      background: $grey-dark;
      color: $white;
    }

    &:hover:not(.selected) {
      background-color: $grey-xlight;
    }

    &:active {
      background-color: darken($grey-xlight, 10%);
    }
  }
}