.v-map-filters {
  background-color: $grey-xdark;
  color: $grey-light;

  .v-map-header {
    @include breakpoint-down($medium) {
      display: none;
    }
  }

  &__body {
    padding: rem-calc(14 24);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.v-map-disclaimer {
  justify-self: flex-end;

  font-size: rem-calc(14);
  margin-top: rem-calc(24);
  &__heading {
    color: $white;
    font-weight: $semi-bold;
    line-height: rem-calc(26);
  }
}
