.v-map-filters {
  background-color: $grey-xdark;
  color: $grey-light;

  @include breakpoint($small) {
    width: rem-calc(340);

    position: absolute;
    top: rem-calc(17);
    left: rem-calc(18);
    z-index: 1;
  }

  @include breakpoint($medium) {
    width: rem-calc(496);
    
    top: rem-calc(32);
    left: rem-calc(43);
  }

  .v-map-header {
    @include breakpoint-down($small) {
      display: none;
    }
  }

  &__body {
    @include responsive(
      padding,
      rem-calc(30 18),
      rem-calc(18 18 40),
      rem-calc(18 18 40),
      rem-calc(25 25 60),
    );

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--hidden {
    @include screen-reader;
  }
}