<%= content_for :page_title, "Terms of Use" %>

<div class="header"><div class="headline"><h1>Terms of Use</h1></div></div>

<article> <p>Use of this Site is governed by the following terms and
  conditions:</p>

  <h2 id="introduction">Introduction</h2> <p>Access to Data and any other
  content within the World Database on Protected Areas (the “WDPA Materials”)
  as made available through the ProtectedPlanet.net website is provided on the
  understanding that you read and consent to be bound to the Terms and
  Conditions set out below. For the purposes of this Agreement WDPA Data
  comprise all the spatial data and associated attribute data contained within
  the WDPA and made available through ProtectedPlanet.net.</p>

  <p><strong>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. IF YOU DO NOT
    AGREE TO ANY OF THE TERMS AND CONDITIONS DO NOT DOWNLOAD. BY DOWNLOADING
    THE WDPA MATERIALS MADE AVAILABLE ON PROTECTEDPLANET.NET YOU ACCEPT AND
  AGREE TO COMPLY WITH THE TERMS AND CONDITIONS BELOW</strong></p>

  <h2 id="no-commercial-use">No Commercial Use</h2> <p>Neither (a) the WDPA
  Materials nor (b) any work derived from or based upon the WDPA Materials
  (“Derivative Works”) may be put to Commercial Use without the prior written
  permission of UNEP-WCMC. For the purposes of these Terms and Conditions,
  “Commercial Use” means a) any use for profit or to generate revenue, or b)
  any use by an individual or entity operating within or on behalf of or to the
  benefit of or to assist the activities of any entity other than a
  not-for-profit organisation. To apply for permission for Commercial Use of
  the WDPA Materials please send an email to <a href="business-support@unep-wcmc.org">business-support@unep-wcmc.org</a>
  outlining your needs.</p>

  <h2 id="no-sub-licensing-or-redistribution-of-wdpa-data">No Sub-licensing or
    Redistribution of WDPA Data</h2> <p>The WDPA Materials may not be
  sub-licensed in whole or in part including within Derivative Works without
  the prior written permission of UNEP-WCMC. You may not redistribute the WDPA
  Data contained in the WDPA in whole or in part by any means including (but
  not limited to) electronic formats such as web downloads, through web
  services, through interactive web maps (including mobile applications) that
  grant users download access, KML Files or through file transfer protocols. If
  you know of others who wish to use the WDPA Data please refer them to
  protectedplanet.net. If you wish to provide a service through which the WDPA
  Data are downloadable or otherwise made available for redistribution you must
  contact <a href="protectedareas@unep-wcmc.org">protectedareas@unep-wcmc.org</a> for permission and further guidance.</p>


  <h2 id="publishing-the-wdpa">Publishing the WDPA</h2> <p>You may publish the
  WDPA Materials in whole or in part, including on-line, providing (a) the WDPA
  Data are not downloadable and (b) the proper attribution is clearly visible
  (see ‘Attribution’ below). You must ensure that the most recently available
  version of the WDPA Materials is being used and that the month and year of
  release is visible in the published version. WDPA Materials published online,
  including through mobile applications, must provide a clear link to the
  original on-line source of the WDPA at Protected Planet
  (www.protectedplanet.net). We strongly recommend that you have the relevant
  materials reviewed by UNEP-WCMC prior to publication. We require two free
  copies of all published materials to be provided to UNEP-WCMC. Hard copies
  should be sent to Protected Areas Programme, UNEP-WCMC, 219 Huntingdon Road,
  Cambridge CB3 0DL, UK. Electronic copies should be sent to
  <a href="protectedareas@unep-wcmc.org.</p>">protectedareas@unep-wcmc.org.</p></a>

  <h2 id="attribution">Attribution</h2> <p>You must ensure that one of the
  following citations is always clearly reproduced in any publication or
  analysis involving the WDPA Materials in any derived form or format: Use this
  citation for any downloads of WDPA Materials from Protectedplanet.net:</p>
  <p><strong>IUCN and UNEP-WCMC (year), The World Database on Protected Areas (WDPA)
  [On-line], [insert month/year of the version downloaded], Cambridge, UK:
  UNEP-WCMC. Available at: www.protectedplanet.net.</p></strong>

  <h2 id="wdpa-updates">WDPA Updates</h2> <p>Unless required to do so for
  specific analyses, you should not use any version of the WDPA Materials after
  it has been superseded by a subsequent version. It is your responsibility to
  check if an update of the WDPA Materials is available.</p>

  <h2 id="no-warranty-and-waiver-of-liability">No Warranty and Waiver of
    Liability</h2> <p>The WDPA is provided to you “as is”, and no warranty of
  any kind is given as to its completeness or accuracy, nor do we make any
  commitment to ensure that the WDPA Materials are kept up to date. All
  warranties, representations and conditions, express or implied, are hereby
  excluded to the fullest extent permitted by law. You agree that you download
  and make use of the WDPA Materials entirely at your own risk. You hereby
  waive and release UNEP, IUCN, WCMC and any third party providers of WDPA data
  from any liability whatsoever, wherever and howsoever arising in connection
  with any use of the WDPA. You agree that this waiver and release is effective
  in any and every jurisdiction in the world. You agree that UNEP, IUCN, WCMC
  and any and all third party providers of WDPA data will not be liable on any
  grounds (including without limitation negligence, strict liability or under
  any other legal theory) for any loss or damage (direct or indirect) incurred
  by you or any third party as a result of the use by you or any third party of
  the WDPA Materials or any Derivative Works. You also agree to indemnify and
  hold harmless UNEP, IUCN, WCMC and any and all third party providers of WDPA
  data in respect of any loss or damage (direct or indirect) suffered by any
  third party as a result of any use by that third party of any WDPA Materials
  or Derivative Works published by you. Without limitation to the above, any
  damage occurring to computer systems as a result of attempts to download WDPA
  data is entirely your own responsibility.</p>

  <p>If the User is dissatisfied with any Material on this Site or with any of
  its Terms and Conditions of Use the User’s sole and exclusive remedy is to
  discontinue using the Site. This Site may contain links and references to
  third-party web sites. The linked sites are not under the control of UNEP,
  IUCN or WCMC and UNEP, IUCN or WCMC are not responsible for, nor do they
  endorse, any of their content.</p>

  <h2 id="disclaimer">Disclaimer</h2> <p>The contents of this website do not
  necessarily reflect the views or policies of UNEP, IUCN, WCMC nor any third
  party providers of WDPA data.</p> <p>The designations employed and the
  presentations of material on this website and on the maps that are made
  available through it do not imply the expression of any opinion whatsoever on
  the part of the Secretariat of the United Nations, UNEP, IUCN, WCMC or
  contributory organisations, editors or publishers concerning the legal status
  of any country, territory, city area or of its authorities, or concerning the
  delimitation of its frontiers or boundaries or the designation of its name,
  frontiers or boundaries.</p> <p>The mention of a commercial entity or product
  in this publication does not imply endorsement by UNEP, IUCN or WCMC.</p>

  <h2 id="feedback-and-revised-information">Feedback and Revised
    Information</h2> <p>In order to keep the WDPA up to date, UNEP and IUCN
  would like you to provide feedback on the quality, reliability and accuracy
  of the WDPA Materials. We also welcome revised information on the WDPA in the
  form of GIS data. Such contributions should be free of restrictions. The
  objective is to improve the WDPA content for the benefit of the global
  conservation community. To provide feedback on ProtectedPlanet please use the
  feedback forum on www.protectedplanet.net. For general queries related to the
  WDPA and/or the WDPA Materials please contact <a href="protectedareas@unep-wcmc.org.">protectedareas@unep-wcmc.org.</a>
  For information on providing data to UNEP-WCMC for updating the WDPA, please
  contact <a href="protectedareas@unep-wcmc.org.</p>">protectedareas@unep-wcmc.org.</a></p>

  <h2 id="no-grant-of-intellectual-property-rights">No Grant of Intellectual
    Property Rights</h2> <p>No rights in the WDPA Materials are granted to you
  by virtue of these Terms and Conditions or as a result of any use by you of
  the WDPA Materials. Neither UNEP nor IUCN assert any intellectual property
  rights in the data that is made available by third party data providers for
  inclusion in the WDPA. However, all intellectual property rights in the
  database itself are the property of UNEP and IUCN.</p>

  <h2 id="dispute-resolution-law-and-jurisdiction">Dispute Resolution, Law and
    Jurisdiction</h2> <p>These Terms and Conditions shall be governed by and
  construed by UNEP-WCMC. Should attempts at amicable negotiation fail, any
  such dispute shall, upon request by either you or UNEP-WCMC, be referred to
  arbitration in accordance with the UNCITRAL arbitration rules then
  prevailing.</p>

  <h2 id="communication">Communication</h2> <p>Any communication with respect
  to these Terms and Conditions and any issue arising from them shall be in
  writing, in English, and sent by email. The address for communication with
  the WDPA supplier is <a href="protectedareas@unep-wcmc.org.</p>">protectedareas@unep-wcmc.org.</a></p>

  <h2 id="take-down-policy">Take-down policy</h2> <p>UNEP-WCMC operates a
  ‘take-down’ policy, such that if notified of a potential breach of copyright,
  or other reasonable notice of a possible violation (including but not limited
  to copyright, patent, intellectual property, trademark, confidentiality, data
  protection, obscenity, terrorism, defamation or libel), the complete document
  or dataset or relevant portion will be removed as quickly as possible pending
  further investigation. Where the grounds for complaint are considered to be
  valid, the complete document or dataset or relevant portion will be
  permanently withdrawn. A decision on whether the material may be made
  available again may take some time if it is necessary for UNEP-WCMC to seek
  the advice necessary to resolve the complaint.</p>

  <h2 id="preservation-of-immunities">Preservation of immunities</h2>
  <p>Nothing herein shall constitute or be considered to be a limitation upon
  or a waiver of the privileges and immunities of the United Nations, which are
  specifically reserved.</p>

  <h2 id="general">General</h2> <p>UNEP reserves its exclusive right in its
  sole discretion to alter, limit or discontinue the Site or any Materials in
  any respect. UNEP shall have no obligation to take the needs of any User into
  consideration in connection therewith. UNEP reserves the right to deny in its
  sole discretion any user access to this Site or any portion thereof without
  notice.</p>

  <h2 id="privacy">Privacy</h2> <p>By accessing this site, certain information
  about the User, such as Internet protocol (IP) addresses, navigation through
  the Site, the software used and the time spent, along with other similar
  information, will be stored on servers operated by UNEP or its affiliates.
  These will not specifically identify the User. The information will be used
  internally only for web site traffic analysis. If the User provides unique
  identifying information, such as name, address and other information on forms
  stored on this Site, such information will be used only for statistical
  purposes and will not be published for general access. UNEP, however, assumes
  no responsibility for the security of this information.</p>

  <h2 id="changes-to-these-terms-and-conditions">Changes To These Terms And
    Conditions</h2> <p>UNEP and IUCN reserves the right to vary these Terms and
  Conditions from time to time without notice. Therefore please ensure that you
  read these Terms and Conditions each time you download WDPA Materials. By
  downloading WDPA Materials you signify your acceptance of the most recent
  version of these Terms and Conditions in full.</p> </article>
