<div class="header">
  <div class="headline"><h1>Terms and Conditions</h1></div>
</div>

<article>
  <p>Use of this Site is governed by the following terms and
  conditions:</p>

  <p>The United Nations Environment Programme (“UNEP”) maintains
  this web site (the "Site") as a courtesy to those who may
  choose to access the Site ("Users").
  UNEP grants permission to Users to visit the Site and to
  download and copy the information, documents and materials
  (collectively, "Materials") from the Site for the
  non-commercial use, without any right to resell or
  redistribute them or to compile or create derivative works
  there from, subject to the terms and conditions outlined
  below, and also subject to more specific restrictions that may
  apply to specific Materials within this Site.</p>
  <p>No waiver by UNEP of any provision of these Terms and
  Conditions shall be binding except as set forth in writing and
  signed by its duly authorized representative.</p>

  <h2>Disclaimers</h2>

  <p>The contents of this report do not necessarily reflect the
  views or policies of UNEP, its contributory organizations or
  editors or Member States.</p>

  <p>The designations employed and the presentations of material in
  this report do not imply the expression of any opinion
  whatsoever on the part of UNEP or contributory organizations,
  editors or publishers concerning the legal status of any
  country, territory, city area or its authorities, or
  concerning the delimitation of its frontiers or boundaries or
  the designation of its name, frontiers or boundaries.</p>

  <p>The mention of a commercial entity or product in this website
  does not imply any endorsement by UNEP.</p>

  <p>Materials provided on this Site are provided "as is" and UNEP
  specifically does not make any warranties or representations
  as to the accuracy or completeness of any such Materials.</p>

  <p>Under no circumstances shall UNEP be liable for any loss,
  damage, liability or expense incurred or suffered that is
  claimed to have resulted from the use of this Site, including,
  without limitation, any fault, error, omission, interruption
  or delay with respect thereto.</p>

  <p>The use of this Site is at the User's sole risk. Under no
  circumstances, including, but not limited to negligence, shall
  UNEP or its affiliates be liable for any direct, indirect,
  incidental, special or consequential damages, even if the UNEP
  has been advised of the possibility of such damages.</p>

  <p>As a condition of use of this Site, the User agrees to
  indemnify UNEP and its affiliates from and against any and all
  actions, claims, losses, damages, liabilities and expenses
  (including reasonable attorneys' fees) arising out of the
  User's use of this Site, including, without limitation, any
  claims alleging facts that if true would constitute a breach
  by the User of these Terms and Conditions. If the User is
  dissatisfied with any Material on this Site or with any of its
  Terms and Conditions of Use, the User's sole and exclusive
  remedy is to discontinue using the Site.</p>

  <p>This Site may contain links and references to third-party web
  sites. The linked sites are not under the control of UNEP and
  UNEP is not responsible for, nor does it endorse, any of the
  their content.</p>

  <h2>Preservation of immunities</h2>

  <p>Nothing herein shall constitute or be considered to be a
  limitation upon or a waiver of the privileges and immunities
  of the United Nations, which are specifically reserved.</p>

  <h2>General</h2>

  <p>UNEP reserves its exclusive right in its sole discretion to
  alter, limit or discontinue the Site or any Materials in any
  respect. UNEP shall have no obligation to take the needs of any
  User into consideration in connection therewith.</p>

  <p>UNEP reserves the right to deny in its sole discretion any user
  access to this Site or any portion thereof without notice.</p>

  <h2>Privacy</h2>

  <p>By accessing this site, certain information about the User, such
  as Internet protocol (IP) addresses, navigation through the Site,
  the software used and the time spent, along with other similar
  information, will be stored on servers operated by UNEP or its
  affiliates. These will not specifically identify the User. The
  information will be used internally only for web site traffic
  analysis. If the User provides unique identifying information,
  such as name, address and other information on forms stored on
  this Site, such information will be used only for statistical
  purposes and will not be published for general access. UNEP,
  however, assumes no responsibility for the security of this
  information.<p>
</article>
