<main class="grid terms-and-conditions">
  <h2>Terms and Conditions of Use of the World Database on Protected Areas</h2>

  <ol>
    <li>
      Introduction

      <ol>
        <li>
          Access to Data and any other content within the World Database
          on Protected Areas (the "WDPA Materials") including as made
          available through ProtectedPlanet is provided on the
          understanding that you read and consent to be bound to the Terms
          and Conditions set out below. For the purposes of this Agreement
          WDPA Data comprise all the spatial data and associated attribute
          data contained within the WDPA and made available through
          ProtectedPlanet.net.
        </li>

        <li>
          <strong>
            PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. IF YOU DO
            NOT AGREE TO ANY OF THE TERMS AND CONDITIONS DO NOT DOWNLOAD.
            BY DOWNLOADING THE WDPA MATERIALS MADE AVAILABLE ON
            PROTECTEDPLANET.NET YOU ACCEPT AND AGREE TO COMPLY WITH THE
            TERMS AND CONDITIONS BELOW
          </strong>
        </li>
      </ol>
    </li>

    <li>
      No Commercial Use

      <ol>
        <li>
          Neither (a) the WDPA Materials nor (b) any work derived from or
          based upon the WDPA Materials (“Derivative Works”) may be put to
          Commercial Use without the prior written permission of
          UNEP-WCMC. For the purposes of these Terms and Conditions,
          “Commercial Use” means a) any use for profit or to generate
          revenue, or b) any use by an individual or entity operating
          within or on behalf of or to the benefit of or to assist the
          activities of any entity other than a not-for-profit
          organisation. To apply for permission for Commercial Use of the
          WDPA Materials please send an email to <a
            href="mailto:business-support@unep-wcmc.org">business-support@unep-wcmc.org</a>
          outlining your needs.
        </li>
      </ol>
    </li>

    <li>
      No Sub-licensing Or Redistribution Of WDPA Data

      <ol>
        <li>
          The WDPA Materials may not be sub-licensed in whole or in part
          including within Derivative Works without the prior written
          permission of UNEP-WCMC. You may not redistribute the WDPA
          Data contained in the WDPA in whole or in part by any means
          including (but not limited to) electronic formats such as web
          downloads, through web services, through interactive web maps
          that grant users download access, KML Files or through file
          transfer protocols. If you know of others who wish to use the
          WDPA Data please refer them to protectedplanet.net. If you
          wish to provide a service through which the WDPA Data are
          downloadable or otherwise made available for redistribution
          you must contact <a
            href="mailto:protectedareas@unep-wcmc.org">protectedareas@unep-wcmc.org</a>
          for permission and further guidance.
        </li>
      </ol>
    </li>

    <li>
      Publishing The WDPA

      <ol>
        <li>
          You may publish the WDPA Materials in whole or in part,
          including on-line, providing (a) the WDPA Data are not
          downloadable and (b) the proper attribution is clearly visible
          (see clause 5 below). You must ensure that the most recently
          available version of the WDPA Materials is being used and that
          the year of release is visible in the published version. WDPA
          Materials published online must provide a clear link to the
          original on-line source of the WDPA at Protected Planet
          (www.protectedplanet.net). We strongly recommend that you have
          the relevant materials reviewed by UNEP-WCMC and/or the
          IUCN-WCPA prior to publication. We require two free copies of
          all published materials to be provided to UNEP-WCMC and
          IUCN-WCPA. Hard copies should be sent to Protected Areas
          Programme, UNEP-WMC, 219 Huntingdon Road, Cambridge CB3 0DL,
          UK. Electronic copies should be sent to <a
            href="mailto:protectedareas@unep-wcmc.org">protectedareas@unep-wcmc.org</a>.
        </li>
      </ol>
    </li>

    <li>
      Attribution

      <ol>
        <li>
          You must ensure that one of the following citations is always
          clearly reproduced in any publication or analysis involving
          the WDPA Materials in any derived form or format:
        </li>

        <li>
          Please use this citation for any downloads of WDPA Materials from Protectedplanet.net:

          <pre>
            IUCN and UNEP-WCMC (year), The World Database on Protected Areas (WDPA) [On-line].
            Cambridge, UK: UNEP- WCMC. Available at: www.protectedplanet.net
            [Accessed (please insert date of download dd/mm/yyyy)].
          </pre>
        </li>

        <li>
          Please use this citation for any downloads of WDPA materials
          received through the monthly release:

          <pre>
            IUCN and UNEP-WCMC (year), The World Database on Protected Areas (WDPA) [insert month] Release
            Cambridge, UK: UNEP- WCMC.
          </pre>
        </li>

      </ol>
    </li>

    <li>
      WDPA Updates

      <ol>
        <li>
          Unless required to do so for specific analyses, you should not
          use any version of the WDPA Materials after it has been
          superseded by a subsequent version. It is your responsibility
          to check if an update of the WDPA Materials is available.
        </li>
      </ol>
    </li>

    <li>
      No Warranty And Waiver Of Liability

      <ol>
        <li>
          The WDPA is provided to you "as is", and no warranty of any
          kind is given as to its completeness or accuracy, nor do we
          make any commitment to ensure that the WDPA Materials are kept
          up to date. All warranties, representations and conditions,
          express or implied, are hereby excluded to the fullest extent
          permitted by law. You agree that you download and make use of
          the WDPA Materials entirely at your own risk. You hereby waive
          and release UNEP-WCMC, UNEP, IUCN, WCMC and any and all third
          party providers of WDPA data from any liability whatsoever,
          wherever and howsoever arising in connection with any use of
          the WDPA. You agree that this waiver and release is effective
          in any and every jurisdiction in the world. You agree that
          UNEP, IUCN, WCMC and any and all third party providers of WDPA
          data will not be liable on any grounds (including without
          limitation negligence, strict liability or under any other
          legal theory) for any loss or damage (direct or indirect)
          incurred by you or any third party as a result of the use by
          you or any third party of the WDPA Materials or any Derivative
          Works. You also agree to indemnify and hold harmless UNEP,
          IUCN, WCMC and any and all third party providers of WDPA data
          in respect of any loss or damage (direct or indirect) suffered
          by any third party as a result of any use by that third party
          of any WDPA Materials or Derivative Works published by you.
          Without limitation to the above, any damage occurring to
          computer systems as a result of attempts to download WDPA data
          is entirely your own responsibility.
        </li>
      </ol>
    </li>

    <li>
      Disclaimer

      <ol>
        <li>
          The contents of this website do not necessarily reflect the
          views or policies of UNEP, IUCN, WCMC contributory
          organisations or editors. The designations employed and the
          presentations of material on this website do not imply the
          expression of any opinion whatsoever on the part of UNEP,
          IUCN, WCMC or contributory organisations, editors or
          publishers concerning the legal status of any country,
          territory, city area or its authorities, or concerning the
          delimitation of its frontiers or boundaries or the designation
          of its name, frontiers or boundaries. The mention of a
          commercial entity or product in this publication does not
          imply endorsement by UNEP, IUCN or WCMC.
        </li>
      </ol>
    </li>

    <li>
      Feedback And Revised Information

      <ol>
        <li>
          In order to keep the WDPA up to date, UNEP and IUCN would like
          you to provide feedback on the quality, reliability and
          accuracy of the WDPA Materials. We also welcome revised
          information on the WDPA in the form of GIS data (shapefiles or
          feature classes). Such contributions should be free of
          restrictions. The objective is to improve the WDPA content for
          the benefit of the global conservation community. To provide
          feedback on ProtectedPlanet please use the feedback forum on
          <a href="www.protectedplanet.net">www.protectedplanet.net</a>.
          For general queries related to the WDPA and/or the WDPA
          Materials, please use our community support widget on <a
            href="http://getsatisfaction.com/unep-wcmc">http://getsatisfaction.com/unep-wcmc</a>.
          For information on providing data to UNEP-WCMC for updating
          the WDPA, please contact <a
            href="mailto:protectedareas@unep-wcmc.org">protectedareas@unep-wcmc.org</a>
        </li>
      </ol>
    </li>

    <li>
      No Grant Of Intellectual Property Rights

      <ol>
        <li>
          No rights in the WDPA Materials are granted to you by virtue
          of these Terms and Conditions or as a result of any use by you
          of the WDPA Materials. Neither UNEP-WCMC nor IUCN assert any
          intellectual property rights in the data that is made
          available by third party data providers for inclusion in the
          WDPA. However, all intellectual property rights in the
          database itself are the property of UNEP and IUCN.
        </li>
      </ol>
    </li>

    <li>
      Dispute Resoulution, Law And Jurisdiction

      <ol>
        <li>
          These Terms and Conditions shall be governed by and construed
          in accordance with English law. Any dispute arising out of or
          in connection with this download and the subsequent use of the
          WDPA shall be settled by amicable negotiation between you and
          UNEP-WCMC. Should attempts at amicable negotiation fail, any
          such dispute shall, upon request by either you or UNEP-WCMC,
          be referred to arbitration in accordance with the UNCITRAL
          arbitration rules then prevailing.
        </li>
      </ol>
    </li>

    <li>
      Communication

      <ol>
        <li>
          Any communication with respect to these Terms and Conditions
          and any issue arising from them shall be in writing, in
          English, and sent by email. The address for communication with
          the WDPA supplier is <a
            href="mailto:protectedareas@unep-wcmc.org">protectedareas@unep-wcmc.org</a>.
        </li>
      </ol>
    </li>

    <li>
      Changes To These Terms And Conditions

      <ol>
        <li>
          UNEP-WCMC reserves the right to vary these Terms and
          Conditions from time to time without notice. Therefore please
          ensure that you read these Terms and Conditions each time you
          download WDPA Materials. By downloading WDPA Materials you
          signify your acceptance of the most recent version of these
          Terms and Conditions in full.
        </li>
      </ol>
    </li>
  </ol>

  <h2>Take-down policy</h2>

  <p>
    UNEP-WCMC operates a ‘take-down’ policy, such that if notified of a
    potential breach of copyright, or other reasonable notice of a
    possible violation (including but not limited to copyright, patent,
    intellectual property, trademark, confidentiality, data protection,
    obscenity, terrorism, defamation or libel), the complete document or
    dataset or relevant portion will be removed as quickly as possible
    pending further investigation. Where the grounds for complaint are
    considered to be valid, the complete document or dataset or relevant
    portion will be permanently withdrawn. A decision on whether the
    material may be made available again may take some time if it is
    necessary for UNEP-WCMC to seek the advice necessary to resolve the
    complaint.
  </p>
</main>
