.vw-layouts-partials-hero-basic {
  @apply
  tw-shared-hero-wrapper--no-padding
  flex
  flex-col
  gap-3
  justify-center;
}

.vw-layouts-partials-hero-basic__container {
  @apply
  tw-shared-base-container
  tw-shared-base-flex-col
  pt-6
  md:pt-0;
}

.vw-layouts-partials-hero-basic__container--items-centre {
  @apply my-auto;
}

.vw-layouts-partials-hero-basic__content {
  @apply tw-shared-base-flex-col-gap-6;
}

.vw-layouts-partials-hero-basic__content--limited-width {
  @apply
  md:max-w-[50%]
  lg:max-w-[58%];
}

.vw-layouts-partials-hero-basic__content--centre-text {
  @apply 
  grow 
  text-center;
}

.vw-layouts-partials-hero-basic__date {
  @apply tw-shared-font-hind-siliguri__light-sm-grey;
}

.vw-layouts-partials-hero-basic__title {
  @apply tw-shared-font-playfair__bold-3xl-md-4xl-grey-black;
}

.vw-layouts-partials-hero-basic__intro {
  @apply tw-shared-font-hind-siliguri__light-lg-grey-black;
}

.vw-layouts-partials-hero-basic__link {
  @apply
  tw-shared-button--external
  self-start;
}

.vw-layouts-partials-hero-basic__tabs {
  @apply
  tw-shared-base-container
  mt-auto
  overflow-x-auto;
}

.vw-layouts-partials-hero-basic__tabs:empty {
  @apply hidden;
}