.vw-layouts-partials-hero-basic {
  @apply
  tw-shared-hero-wrapper--no-padding
  flex
  flex-col
  gap-3
  justify-center;
}

.vw-layouts-partials-hero-basic__container {
  @apply
  tw-shared-base-container
  flex
  flex-col
  pt-6
  md:pt-0;
}

.vw-layouts-partials-hero-basic__container--items-centre {
  @apply mt-auto;
}

.vw-layouts-partials-hero-basic__content {
  @apply
  md:max-w-[50%]
  lg:max-w-[58%]
  tw-shared-base-flex-col-gap-6-and-9;
}

.vw-layouts-partials-hero-basic__content--centre-text {
  @apply 
  grow 
  text-center;
}

.vw-layouts-partials-hero-basic__title {
  @apply tw-shared-font-playfair__font-bold-3xl-md-4xl;
}

.vw-layouts-partials-hero-basic__intro {
  @apply tw-shared-font-hind-siliguri__normal-lg-grey-black-md-xl-grey-black;
}

.vw-layouts-partials-hero-basic__link {
  @apply
  tw-shared-button--external
  self-start;
}

.vw-layouts-partials-hero-basic__tabs {
  @apply 
  tw-shared-base-container 
  mt-auto
  overflow-x-auto;
}