.vw-layouts-partials-hero-green-list {
  @apply tw-shared-hero-wrapper-common
  flex
  justify-center
  lg:items-center
  flex-col
  lg:flex-row
  p-6
  md:p-16
  lg:p-10
  gap-6
  lg:gap-24;
}

.vw-layouts-partials-hero-green-list__content {
  @apply tw-shared-base-flex-col-gap-6;
}

.vw-layouts-partials-hero-green-list__title {
  @apply text-3xl;
}

.vw-layouts-partials-hero-green-list__intro {
  @apply text-lg lg:text-xl;
}

.vw-layouts-partials-hero-green-list__small-text {
  @apply font-bold mt-4 block;
}

.vw-layouts-partials-hero-green-list__button {
  @apply self-start;
}

.vw-layouts-partials-hero-green-list__stats {
  @apply tw-shared-bg--grey-black
  tw-shared-border-radius 
  flex 
  flex-col
  gap-4
  box-border
  p-5 
  md:p-6 
  w-full
  lg:max-w-[33%];
} 

.vw-layouts-partials-hero-green-list__stat-item {
  @apply flex flex-col gap-1;
}

.vw-layouts-partials-hero-green-list__stat-number {
  @apply 
  text-theme-primary 
  text-3xl
  md:text-5xl
  font-bold
  leading-none;
}

.vw-layouts-partials-hero-green-list__stat-number--small {
  @apply
  text-2xl
  md:text-3xl;
}

.vw-layouts-partials-hero-green-list__stat-text {
  @apply text-white 
  font-bold
  leading-none
  md:text-xl;
}
