.vw-layouts-partials-hero-marine {
  @apply tw-shared-hero-wrapper;
}

.vw-layouts-partials-hero-marine__container {
  @apply tw-shared-base-container
  flex
  justify-between
  flex-col
  lg:flex-row
  gap-3
  px-3
  md:px-16
  lg:px-6.25
  md:gap-12
  lg:gap-26;
}

.vw-layouts-partials-hero-marine__content {
  @apply 
  tw-shared-base-flex-col-gap-6
  md:py-6;
}

.vw-layouts-partials-hero-marine__title {
  @apply tw-shared-font-playfair__bold-3xl-md-4xl-grey-black;
}

.vw-layouts-partials-hero-marine__intro {
  @apply tw-shared-font-hind-siliguri__light-lg-md-xl-grey-black;
}

.vw-layouts-partials-hero-marine__button {
  @apply 
  tw-shared-button--theme-purple
  self-start;
}

.vw-layouts-partials-hero-marine__small-text {
  @apply 
  tw-shared-font-hind-siliguri__normal-base
  underline;
}

.vw-layouts-partials-hero-marine__stats {
  @apply 
  w-full
  lg:w-1/3
  tw-shared-bg--grey-black 
  tw-shared-border-radius 
  tw-shared-base-flex-col-gap-2
  justify-between 
  px-4
  py-2
  md:p-8
  shrink-0;
}

.vw-layouts-partials-hero-marine__stat-item {
  @apply tw-shared-base-flex-col;
}

.vw-layouts-partials-hero-marine__stat-number {
  @apply tw-shared-font-hind-siliguri__normal-3xl-lg-4xl-green;
}

.vw-layouts-partials-hero-marine__stat-text {
  @apply 
  text-white
  tw-shared-font-hind-siliguri__normal-base-md-lg;
}
