.vw-layouts-partials-hero-small {
  @apply
  tw-shared-hero-wrapper-common
  tw-shared-base-flex-col
  justify-between
  bg-white
  min-h-37.5
  md:min-h-52.5
  lg:min-h-78.75;
}

.vw-layouts-partials-hero-small--shadow {
  @apply tw-shared-shadow-bottom-grey;
}

.vw-layouts-partials-hero-small__container {
  @apply 
  grow
  tw-shared-base-container
  h-full
  tw-shared-base-flex-col
  justify-center;
}

.vw-layouts-partials-hero-small__title {
  @apply  
  tw-shared-font-playfair__bold-3xl-md-4xl-grey-black 
  md:w-1/2;
}