<div class="card--stats card--stats--half">
  <h3>IUCN Management Categories</h3>

  <ul class="card__ul">
    <% iucn_categories.each do |category| %>
      <li class="card__li">
        <i class="card__li-icon"></i>
        <span class="card__li-title"><%= category['iucn_category_name'] %></span>
        <span><%= category['count'] %>, <%= category['percentage'].to_f.round(2) %>%</span>
        <%= link_to 'View list', '', title: '', class: 'card__li-a' %>
      </li>
    <% end %>
  </ul>
</div>

<!-- search_url("#{location.class.name.downcase}" => location.name, iucn_category: row["iucn_category_name"], main: location.class.name.downcase.to_sym) -->