<div class="card--stats <%= get_local_classes local_assigns %>">
  <h2>Lorem Ipsum</h2>

  <ul class="card__logos">
    <% external_links.each do |link| %>
      <li class="card__logo">
        <%= link_to link[:link_url], title: link[:link_title] do %>
          <%= image_tag link[:image_url], alt: link[:image_alt], class: 'card__logo-image' %>
          <span><%= link[:title] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>