<div class="card--stats-management">
  <h2 class="card__h2"><%= t('stats.pame.title') %></h2>


  <% if pame_evaluations_summary.any? %>
    <ul class="list--stripes">
      <% pame_evaluations_summary.each do |methodology, years| %>
        <li class="list__li">
          <span class="list__title"><%= methodology %></span>
          <span class="list__value"><%= years.join(", ") %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('stats.pame.no-results') %></p>
  <% end %>
</div>