<div class="cards--stats">
  <h2>Designations</h2>

  <div>
    Chart
  </div>
  
  <div class="flex flex-h-between">
    <% designations.each do |designation| %>
      <div class="card__third">
        <div class="flex flex-h-between flex-v-center">
          <h3><%= designation[:title] %></h3>
          <span><%= designation[:total] %></span>
        </div>

        <% if designation[:has_jurisdiction] %>
          <ul class="card__ul">
            <% designation[:jurisdictions].each do |jurisdiction| %>
              <li class="card__li flex flex-h-between">
                <%= jurisdiction["designation_name"] %>
                <%#= link_to jurisdiction["designation_name"], search_url("#{location.class.name.downcase}" => location.name, designation: jurisdiction["designation_name"], main: location.class.name.downcase.to_sym) %>
                <span><%= jurisdiction["count"] %></span>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>