//--------------------------------------------------
// variables
//--------------------------------------------------
$chart-row-stacked-height-mobile: rem-calc(44);
$chart-row-stacked-height-tablet: rem-calc(82);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin chart-bars ($theme) {
  @for $i from 1 through length($theme) {
    &:nth-child(#{$i}) {
      background-color: nth($theme, $i);

      .chart__percent {
        @if $i%2 != 0 { 
          @include chart-tooltip('bottom'); 
          bottom: 100%;
        }

        @if $i%2 == 0 { 
          @include chart-tooltip('top'); 
          top: 100%;
        }
      }
    }
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
&--row-stacked {
  margin-bottom: rem-calc(60);

  @include breakpoint($small) { margin-bottom: rem-calc(70); }

  &.theme--designation {
    .chart__bar {
      @include chart-bars($theme-designation);
    }
  }

  .chart {
    &__chart {
      margin-top: rem-calc(54);
      width: 100%; height: $chart-row-stacked-height-mobile;

      @include breakpoint($small) { 
        height: $chart-row-stacked-height-tablet;
      }
    }

      &__bar {
        margin-bottom: 0;
        height: 100%;

        position: relative;
      }

        &__percent {
          position: absolute;
          left: 50%;

          transform: translateX(-50%);
        }
    
    &__legend {
      margin-top: rem-calc(70);

      @include breakpoint($small) { margin-top: rem-calc(90); }
    }      
  }
}