//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin chart-legend-item {
  @include flex;
}

@mixin chart-legend-key($size: 24) {
  @include flex-no-shrink;
  border-radius: 100%;
  margin-right: rem-calc(8);
  width: rem-calc($size);
  height: rem-calc($size);

  display: block;
}

//--------------------------------------------------
// points polygon ratio
//--------------------------------------------------
.chart--legend--points-poly {
  @include flex;
  font-size: rem-calc(14);
  margin: rem-calc(14 0);

  .chart__legend-item {
    @include chart-legend-item;
    @include flex-v-center;
    margin-right: rem-calc(20);
  }

  .chart__legend-key {
    @include chart-legend-key($size: 16);
  }

  .chart__legend-title {
    line-height: 1;
  }
}


//--------------------------------------------------
// map
//--------------------------------------------------
.chart--legend--map {
  font-size: rem-calc(14);
  margin: rem-calc(14 0);

  .chart__legend-item {
    @include chart-legend-item;
    margin-bottom: rem-calc(10);
  }

  .chart__legend-key {
    @include chart-legend-key($size: 15);
    border: solid 1px $white;

    transform: translateY(1px);
  }

  .chart__legend-title {
    line-height: 1;
    width: rem-calc(220);
  }
}
