&--line {
  .chart {
    &__wrapper-ie11 { // do not remove - this is required to set the sizing for ie11
      @include breakpoint($small) { 
        padding-bottom: 54%; 
        width: 100%;

        position: relative;
      }
    }

      &__scrollable {
        @include breakpoint-down($small) { 
          overflow-x: auto;

          display: flex;
        }
      }

        &__chart {
          @include breakpoint-down($small) { min-width: 260%; }
        }

          &__svg { 
            width: 100%;
            
            @include breakpoint($small) { 
              position: absolute;
              top: 0;
              left: 0;
            }
          }
  }
}