.infographic {
  padding: rem-calc(16 18 10 18);

  @include breakpoint($medium){ padding: rem-calc(30 24); }

  &__left {
    @include breakpoint($medium){ padding-right: rem-calc(12); }
    @include breakpoint($large){ padding-right: rem-calc(60); }
  }

  &__right {
    margin-top: rem-calc(22);

    @include breakpoint($medium){ 
      margin-top: 0;
      padding-left: rem-calc(12);
      text-align: right; 
    }

    @include breakpoint($large){ padding-left: rem-calc(60); }
  }

    &__header {
      font-size: rem-calc(22);
      border-bottom: solid rem-calc(1) $blue--marine-5;
      padding-bottom: rem-calc(8);
      margin-bottom: rem-calc(14);

      @include breakpoint($medium){ margin-bottom: rem-calc(22); }

      &--fancy {
        @include breakpoint($medium){ 
          border-bottom: none;
          padding: 0; 
          text-align: center;

          position: relative;
        }

        &:before,
        &:after {
          @include breakpoint($medium){ 
            background-color: $blue--marine-5;
            content: '';
            width: 30%; height: rem-calc(1); 

            position: absolute;
            top: 50%;
          }

          @include breakpoint($large){ width: 36%; }
        }
        
        &:before { left: 0; }
        &:after { right: 0; }
      }
    }

    &__intro { 
      margin-bottom: rem-calc(30); 

      @include breakpoint($medium){ margin-bottom: rem-calc(50); }

      p { margin-bottom: rem-calc(14); }
    }

    &__bar {
      background-color: $blue--marine-1;
      margin: rem-calc(14 0 14 0);
      width: 100%; height: rem-calc(58);

      position: relative;
      
      @include breakpoint($medium){ 
        margin: rem-calc(34 0 20 0); 
        height: rem-calc(96);
      }

      @include breakpoint($large){ 
        height: rem-calc(106); 
        margin: rem-calc(34 0 26 0); 
      }
      
      &--national { background-color: $blue--marine-4; }

      &--pa { 
        background-color: $marine-accent-color; 
        
        transform-origin: left;
        transform: scaleX(0);

        &--animate { animation: fullScaleX .8s linear forwards; }
      }

      &--global { 
        margin-bottom: rem-calc(40);

        @include breakpoint($medium){ margin-bottom: rem-calc(60); }
      }
    }

      &__bar-layer {
        height: 100%;

        display: block;
        position: absolute;
        left: 0;

        &--highseas {
          @include breakpoint($medium){
            left: auto;
            right: 0;
          }
        }
      }

    &__pa { 
      margin-bottom: rem-calc(2);

      display: block;
    }

    &__km { 
      font-size: rem-calc(14);

      @include breakpoint($medium){ font-size: rem-calc(22); }
      @include breakpoint($large){ font-size: rem-calc(28); }

      sup { font-size: .6em; }
    }

    &__percent {
      height: 100%;

      position: absolute;
      top: rem-calc(6);

      @include breakpoint($medium){ top: rem-calc(12); }

      &--national {
        color: $blue--marine-1;

        left: rem-calc(4);

        @include breakpoint($medium){ left: rem-calc(14); }
      }

      &--highseas {
        color: $blue--marine-4;
        text-align: right;

        right: rem-calc(4);

        @include breakpoint($medium){ right: rem-calc(14); }
      }

      &__title {
        font-size: rem-calc(12);
        margin-bottom: rem-calc(10);

        display: block;

        @include breakpoint($medium){ font-size: rem-calc(22); }
      }
    }
}