.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log

/tmp/*
!/tmp/.gitkeep

dump.rdb

/coverage
/public/assets
/config/secrets.yml
.env
