.row {
  

  &--no-push {
    margin-bottom: 0;
  }

  &--push {
    margin-bottom: rem-calc(80);
  }

  &--push2x {
    margin-bottom: 2em;
  }

  &--with-border-top {
    border-top: solid rem-calc(1) $grey-lighter;
  }

  margin-bottom: 1em;
}

