@mixin vertical-nav {
  margin-bottom: rem-calc(40);

  &__element {
    display: block;

    //@include text(body, thin);
    //@include line-height(1.5rem);

    @include color-with-state($grey-darker, (
      hover: $link__color--hover,
      active: $link__color--pressed,
    ));

    border-bottom: solid rem-calc(1) $grey-lighter;
    padding: {
      left: rem-calc(20);
      top: rem-calc(8);
      bottom: rem-calc(8);
      right: rem-calc(8);
    }

    @include only-mobile {
      padding-left: 0;
    }

    &--child {
      padding-left: rem-calc(32);
    }

    &--heading {
      color: $vertical-nav-element-selected__color;

      padding-left: rem-calc(16);
      border: {
        top: solid rem-calc(1) $grey-15;
        bottom: solid rem-calc(1) $grey-15;
        left: solid rem-calc(5) $grey-15;
      }
    }

    &--selected {
      font-weight: normal;
      color: $vertical-nav-element-selected__color;
      border-left: solid rem-calc(5) $grey-15;
      padding-left: rem-calc(16);
    }

    &--active {
      font-weight: normal;
      color: $vertical-nav-element-selected__color;
    }

    &--expandable {
      &:after { color: $vertical-nav-element-selected__color; }

      @include flex;
      @include flex-h-between;
      cursor: pointer;
    }

    &--opened {
      &:after { @include fa(chevron-up); }
    }

    &--closed {
      &:after { @include fa(chevron-down); }
    }
  }
}

.vertical-nav {
  @include vertical-nav;
}
