@include b(article) {
  padding: {
    left: rem-calc(16);
    right: rem-calc(16);
  }
  @include only-mobile {
    padding: 0;
  }

  @include e(title) {
    margin-bottom: rem-calc(40);
    &:not(:first-child) { margin-top: rem-calc(40); }

    @include text(xxlarge, thin);
    @include color($color--base);

    @include only-mobile {
      margin-bottom: rem-calc(24);
      @include text(large, thin);
    }

    @include m(smaller) {
      @include text(xlarge, thin);
    }

    @include m(paragraph) {
      @include text(medium);
      margin-bottom: rem-calc(16);
    }

    @include m(subparagraph) {
      @include text(headline);
      margin-bottom: rem-calc(16);
    }

    @include m(no-push) {
      margin-bottom: 0;
    }
  }

  @include e(paragraph) {
    margin-bottom: rem-calc(20);

    @include text(body, thin);
    @extend %color-base;

    @include m(bigger) {
      @include text--alt(headline, thin);
    }
  }

  @include e(bold-text) {
    @include text--alt(body, bold);
  }

  @include e(cursive-text) {
    font-style: italic;
  }

  @include e(link) {
    @include text(body, bold);
    @extend %acts-as-link;

    &.is-external {
      &:after {
        @include fa(external-link-square, (direction: left, value: 3px))
      }
    }
  }

  @include e(image) {
    display: block;
    margin: auto;
  }

  @include e(list) {
    margin-left: rem-calc(40);

    @include m(less-margin) {
      margin-left: rem-calc(16);
    }
  }

  @include e(list-item) {
    @extend .article__paragraph;

    position: relative;

    &:before {
      content: '\2022'; // circle bullet
      color: $article-list-index__color;

      font-size: rem-calc(16);
      font-weight: 700;

      position: absolute;
      left: rem-calc(-16);
    }
  }
}
