.article {
  padding: {
    left: rem-calc(16);
    right: rem-calc(16);
  }
  @include only-mobile {
    padding: 0;
  }

  &__title {
    margin-bottom: rem-calc(40);
    &:not(:first-child) { margin-top: rem-calc(40); }

    @include text(xxlarge, thin);
    color: $color--base;

    @include only-mobile {
      margin-bottom: rem-calc(24);
      @include text(large, thin);
    }

    &--smaller {
      @include text(xlarge, thin);
    }

    &--paragraph {
      @include text(medium);
      margin-bottom: rem-calc(16);
    }

    &--subparagraph {
      @include text(headline);
      margin-bottom: rem-calc(16);
    }

    &--no-push {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    margin-bottom: rem-calc(20);

    @include text(body, thin);
    @extend %color-base;

    &--bigger {
      @include text--alt(headline, thin);
    }
  }

  &__bold-text {
    @include text--alt(body, bold);
  }

  &__cursive-text {
    font-style: italic;
  }

  &__link {
    @include text(body, bold);
    @extend %acts-as-link;

    &.is-external {
      &:after {
        @include fa(external-link-square, (direction: left, value: 3px));
      }
    }
  }

  &__image {
    display: block;
    margin: auto;
  }

  &__list {
    margin-left: rem-calc(40);

    &--less-margin {
      margin-left: rem-calc(16);
    }
  }

  &__list-item {
    @extend .article__paragraph;

    position: relative;

    &:before {
      content: '\2022'; // circle bullet
      color: $article-list-index__color;

      font-size: rem-calc(16);
      font-weight: 700;

      position: absolute;
      left: rem-calc(-16);
    }
  }
}
