@include b(autocompletion) {
  display: none;

  width: 100%;
  max-height: 15em;
  overflow: auto;
  padding: rem-calc(15 0);
  z-index: 300;

  @include e(image) {
    float: left;
    height: 100%;
    width: auto;
    margin-right: rem-calc(20);
  }

  @include e(result) {
    @include text(body);
    display: block;
    height: rem-calc(100);
    padding: rem-calc(20) 0;

    &:hover {
      background-color: $grey-3;
    }
  }

  @include e(body) {
    height: 100%;

    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(flex-start);
  }

  @include e(type) {
    @include text(small);
    font-style: italic;
    padding: rem-calc(0 12);
    margin-top: rem-calc(4);

    background-color: $grey-5;
  }
}
