@include b(container) {
  @include m(profile) {
    @extend %clearfix;

    max-width: $max-width--desktop;
    width: $container-profile--width;
    margin: auto;

    @include only-mobile {
      width: 100%;
      padding: rem-calc(0 36);
    }
  }

  @include m(fullscreen) {
    @extend %clearfix;
    width: 100%;
    padding: rem-calc(20);
    padding-bottom: 0;

    @include only-mobile {
      padding: 0;
    }
  }

  @include m(right-padded) {
    padding-right: 5%;
  }

  @include m(push-bottom) {
    margin-bottom: rem-calc(192);

    @include only-mobile {
      margin-bottom: rem-calc(96);
    }
  }

  @include m(push-top) {
    margin-top: rem-calc(192);
  }
}
