@include b(cover-story) {
  @include flexbox;

  @include only-mobile {
    @include flex-direction(column);
  }


  @include e(cover) {
    @include m(above) {
      width: 100%;
      margin-bottom: rem-calc(48);
    }
  
    height: 100%;
    width: 65%;
  
    @include only-mobile {
      width: 100%;
      margin-bottom: rem-calc(8);
    }
  }
  
  @include e(story) {
    @include flexbox;
    @include flex-direction(column);
  
    width: 35%;
  
    @include only-mobile {
      width: 100%;
    }
  }
  
  @include e(story-border) {
    border-bottom: solid rem-calc(20) $grey-5;
    margin-top: rem-calc(20);
    width: 100%;
  }
  
  @include e(story-title) {
    @include text(medium, bold);
    @include color($green);
    margin-bottom: rem-calc(16);
  }
  
  @include e(story-content) {
    @extend %color-base;
    @include text(body, thin);
    margin-bottom: rem-calc(32);
  }
  
  @include e(story-body) {
    background-color: $white;
    z-index: 100;
  
    @include flex(1);
    height: 100%;
  
    padding-top: rem-calc(40);
  
    @include only-mobile {
      padding-top: 0;
    }
  
    @include m(left) {
      margin-right: rem-calc(-96);
      padding-right: rem-calc(40);
  
      @include only-mobile {
        margin-right: 0;
        padding-left: 0;
      }
    }
  
    @include m(right) {
      margin-left: rem-calc(-96);
      padding-left: rem-calc(40);
  
      @include only-mobile {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
  
  
}
