@include b(fact) { $block: &;
  margin-bottom: .666em;

  @include e(header) {
    @include header-with-delimiter($border-bottom: (
      color: $fact-header__border-bottom-color,
      size: $fact-header__border-bottom-size
    ));
  }

  @include e(subheader) {
    @include color($grey-100);
    @include text(body);
    margin-bottom: .5em;
  }

  @include e(body) {
    width: 100%;
    padding: $fact-body__padding-top-bottom  0;

    @include m(no-padding) {
      padding: 0;
    }

    @include m(lateral-padding) {
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
    }
  }

  @include e(single-figure) {
    @include text--alt(xxxxlarge, bold);
    @include color($green);

    @media print {
      @include text--alt(large, bold);
    }

    @include m(push-down) {
      margin-bottom: .4em;
    }
  }

  @include e(external-link) {
    margin-left: .25em;
    color: $fact-external-link__color;
  }
}

.fact {
  &--circle {
    border-radius: 100%;
    font-family: 'MuseoSans';
    font-size: rem-calc(15);
    line-height: 1.2;
    padding-top: rem-calc(160);
    text-align: center;
    width: rem-calc(160);

    position: relative;

    @include breakpoint($medium){ 
      font-size: rem-calc(18);
      padding-top: rem-calc(200);
      width: rem-calc(200);
    }

    @include breakpoint($large){
      font-size: rem-calc(24);
      padding-top: rem-calc(260);
      width: rem-calc(260);
    }
  }

  &--marine {
    background-color: $blue--marine-1;
    border: solid rem-calc(4) $blue--marine-3;

    @include breakpoint($medium){ 
      margin-left: rem-calc(32); 
      transform: translateY(-50px);
    }

    @include breakpoint($large){ margin-left: rem-calc(50); }
  }

  &__content {
    padding: rem-calc(17);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include breakpoint($medium){ padding: rem-calc(32); }
  }
}