.filter-bar {
  position: fixed;
  overflow: scroll;
  height: 80%;

  @include span-columns(2.5);

  &--larger {
    @include span-columns(3);
  }

  &--non-fixed {
    position: relative;
    overflow: hidden;
  }

  &__inner {
    background-color: $grey-3;

    @include text(body);
    @extend %color-base;

    padding: rem-calc(20);
  }

  &__body {
    padding: rem-calc(16 0);
  }
  
  &__clear {
    color: $white;
    @include text--alt(small, bold);
  
    background-color: $green;
    padding: rem-calc(0 4);
  
    float: right;
  }
  
  &__count {
    color: $green;
    @include font-weight(bold);
  }
  
  &__group {
    line-height: form-factor(headline, line-height);
    margin-bottom: rem-calc(8);
  }
  
  &__group-title {
    @include text(body);
    @include color-with-state($color--base, (
      hover: $link__color--hover,
      active: $link__color--pressed,
    ));
  
    cursor: pointer;
  
    padding: rem-calc(8) 0;
    border-bottom: solid rem-calc(1) $grey-4;
    margin-bottom: rem-calc(8);
    width: 100%;
  
    &--no-border {
      border: 0;
    }
  
    &.is-open {
      &:after { float: right; @include fa(chevron-up); }
    }
  
    &.is-closed {
      &:after { float: right; @include fa(chevron-down); }
    }
  }
  
  &__header {
    @include text(headline);
  }
  
  &__value {
    @include color-with-state($color--base, (
      hover: $link__color--hover,
      active: $link__color--pressed,
    ));
  
    display: block;
    width: 100%;
    padding: rem-calc(4);
    cursor: pointer;
  
    &--smaller {
      @include text(small);
    }
  }
  
  &__sub-value {
    padding-left: rem-calc(14);
  }
}
