.footer {
  @extend %flexbox;
  @include align-items(center);

  background-color: $navbar__bg-color;
  flex-direction: column;
  justify-content: space-between;
  padding: rem-calc(16 20);
  text-align: center;
  width: 100%;
  
  @include breakpoint($medium){ 
    flex-direction: row;
    padding: rem-calc(3 24);
    text-align: left;
  }

  &__element {
    @include color($navbar-element__color);
    @include line-height(null);
    @include text(body);
    
    align-content: center;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(8);

    @include breakpoint($medium){ 
      font-size: rem-calc(16); 
      margin-bottom: 0;
    }

    &--with-separator {
      border-left: solid rem-calc(2) $footer-element-with-separator__border-left-color;
      padding-left: rem-calc(16);
      margin-left: rem-calc(12);
    }

    &--logos {
      min-width: rem-calc(80);

      .unepwcmc-logo { 
        width: rem-calc(100); height: rem-calc(34); 

        @include breakpoint($medium){ width: rem-calc(121); height: rem-calc(52); }
      }

      .iucn-logo { 
        width: rem-calc(38); height: rem-calc(38); 

        @include breakpoint($medium){ width: rem-calc(50); height: rem-calc(50); }
      }
    }
  }
}
