@include b(form) {
  @include text(body);
  @extend %color-base;

  @include e(label) {
    @include text(body, bold);

    display: block;
    margin-bottom: rem-calc(4);
  }

  @include e(input) {
    &:focus { outline: none; border-width: rem-calc(2); }

    @extend %color-base;
    font: inherit;

    min-height: rem-calc(30);
    min-width: 50%;
    padding: rem-calc(8);
    border: solid rem-calc(1) $grey-15;

    @include m(big) {
      min-height: rem-calc(40);
      min-width: 75%;
    }

    @include m(textarea) {
      min-height: rem-calc(112);
      min-width: 100%;
    }
  }

  @include e(fieldset) {
    margin-bottom: rem-calc(16);
  }

  @include e(select-container) {
    position: relative;

    &:after {
      font-family: FontAwesome;
      content: "\f078";
      color: $green;

      position: absolute;
      top: 0;
      right: 5%;
      line-height: rem-calc(36);
      cursor: pointer;
      pointer-events: none;
    }
  }
}
