@include b(gallery) {
  @include e(body) {
    position: relative;
  
    height: $gallery-body__height;
    overflow: hidden;
    white-space: nowrap;
  
    margin-bottom: rem-calc(10);
  }
  
  @include e(body-inner) {
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
  }
  
  @include e(photo) {
    display: inline-block;
  
    height: 100%;
    width: auto;
  
    margin-right: rem-calc(6);
  
    &.is-blurred {
      opacity: .4;
    }
  }
  
  @include e(controls) {
    @extend .u-center;
  
    background-color: $gallery-controls__bg-color;
    line-height: rem-calc(50);
  }
  
  @include e(control) {
    padding: $gallery-control__padding;
  }
  
  @include e(counter) {
    @include text(body);
    @extend %color-base;
  }
  
  @include e(current-index) {
    color: $gallery-current-index__color;
    background-color: $gallery-current-index__bg-color;
    padding: $gallery-current-index__padding;
    border-radius: $gallery-current-index__border-radius;
  }
}
