@mixin _top {
  @include e(top) {
    @include flexbox;
    @include align-items(baseline);
    @include justify-content(space-between);

    padding: rem-calc(0 20);
    margin-bottom: .666rem;

    @include m(centered) {
      @include justify-content(center);
    }

    @include m(flex-start) {
      @include justify-content(flex-start);
    }
  }

  @include e(title) {
    @include text(large);
    @include color($hero-title__color);

    @include m(thin) {
      @include text(large, thin);
    }

    @include m(base) {
      @include color($color--base);
    }

    @include m(bigger) {
      @include text(xxlarge);
    }

    @include m(article) {
      padding: {
        left: rem-calc(8);
        right: rem-calc(8);
      }

      @include text(xxlarge, thin);
      @include color($color--base);

      @include only-mobile {
        @include text(xlarge, thin);
        line-height: 1.5;
      }
    }

    @include m(push) {
      padding-bottom: rem-calc(24);
      margin-bottom: rem-calc(40);
    }

    @include m(with-border) {
      border-bottom: solid rem-calc(1) $grey-15;
    }

    @include m(nowrap) {
      @include flex(1);

      @include only-desktop {
        white-space: nowrap;
        margin-right: .3125rem;
      }
    }
  }

  @include e(link) {
    @extend %acts-as-link;
    @include color($hero-title__color);
    @include flex(2);

    @include only-desktop {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:not(:last-child) { margin-right: rem-calc(20); }
  }
}

@include b(hero) {
  font-size: rem-calc(16);
  margin: {
    top: 2em;
    bottom: 2em;
  }

  @include only-mobile {
    margin-top: .666rem;
  }

  @include only-mobile {
    @include m(overflow) {
      margin-left: rem-calc(-36);
      margin-right: rem-calc(-36);
    }
  }

  @include m(no-margin-top) {
    margin-top: 0;
  }

  @include m(no-margin-bottom) {
    margin-bottom: 0;
  }


  @include _top;

  @include e(cover) {
    @extend %flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);


    height: 300px;
    background: asset-url('images/background.jpg') no-repeat;
    background-position: 50% 100%;
    background-size: 100% 110%;

    @include only-mobile {
      text-align: center;
      padding: rem-calc(0 32);
    }
  }

  @include e(cover-text) {
    @include text(xxlarge, normal);
    @include color($white);

    @include only-mobile {
      @include text(xlarge, normal);
    }

    @include m(alt) {
      @include text--alt(xxlarge, x-bold);

      @include only-mobile {
        @include text--alt(xlarge, x-bold);
      }
    }
  }

  @include e(logo) {
  }
}

