@mixin _top {
  &__top {
    @include flex;
    @include flex-v-baseline;
    @include flex-h-between;

    padding: rem-calc(0 20);
    margin-bottom: .666rem;

    &--centered {
      @include flex-h-center;
    }

    &--flex-start {
      @include flex-h-start;
    }
  }

  &__title {
    // //@include text(large);
    color: $hero-title__color;

    &--thin {
      // //@include text(large, thin);
    }

    &--base {
      color: $grey-darker;
    }

    &--bigger {
      // //@include text(xxlarge);
    }

    &--article {
      padding: {
        left: rem-calc(8);
        right: rem-calc(8);
      }

      // //@include text(xxlarge, thin);
      color: $grey-darker;

      @include only-mobile {
        // //@include text(xlarge, thin);
        line-height: 1.5;
      }
    }

    &--push {
      padding-bottom: rem-calc(24);
      margin-bottom: rem-calc(40);
    }

    &--with-border {
      border-bottom: solid rem-calc(1) $grey-15;
    }

    &--nowrap {
      @include flex-grow;

      @include only-desktop {
        white-space: nowrap;
        margin-right: .3125rem;
      }
    }
  }

  &__link {
    @extend %acts-as-link;
    color: $hero-title__color;
    

    @include only-desktop {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:not(:last-child) { margin-right: rem-calc(20); }
  }
}

.hero {
  font-size: rem-calc(16);
  margin: {
    top: 2em;
    bottom: 2em;
  }

  @include only-mobile {
    margin-top: .666rem;
  }

  @include only-mobile {
    &--overflow {
      margin-left: rem-calc(-36);
      margin-right: rem-calc(-36);
    }
  }

  &--no-margin-top {
    margin-top: 0;
  }

  &--no-margin-bottom {
    margin-bottom: 0;
  }


  @include _top;

  &__cover {
    @include flex;
    @include flex-h-center;
    @include flex-v-center;
    @include flex-column;


    height: 300px;
    background: image_url('background.jpg') no-repeat;
    background-position: 50% 100%;
    background-size: 100% 110%;

    @include only-mobile {
      text-align: center;
      padding: rem-calc(0 32);
    }
  }

  &__cover-text {
    // //@include text(xxlarge, normal);
    color: $white;

    @include only-mobile {
      // //@include text(xlarge, normal);
    }

    &--alt {
      // //@include text--alt(xxlarge, x-bold);

      @include only-mobile {
        // //@include text--alt(xlarge, x-bold);
      }
    }
  }

  &__logo {
  }
}

