.info-box {
  @extend %clearfix;
  @extend %color-base;

  padding: $info-box__padding;
  margin-bottom: $info-box__margin-bottom;

  &--fill-color {
    background-color: $info-box__bg-color;
  }

  &--overflow {
    margin: { left: rem-calc(-16); right: rem-calc(-16); }

    @include only-mobile {
      margin: 0;
    }

  }

  &--alt-color {
    background-color: $green;
    color: $white;
  }

  &--fff {
    background-color: $white;
  }

  &--hero {
    min-width: rem-calc(500);
    padding: rem-calc(20);
    z-index: 400;
  }

  &--shadow {
    box-shadow: rem-calc(2 2 4) rgba(0, 0, 0, 0.3);
  }

  &--padding-top-bottom {
    padding: $info-box-padding-top-bottom__padding;
  }

  &--margin-top {
    margin-top: rem-calc(28);
  }

  &--small {
    @include font-weight(thin);
    
    color: $grey-100;
    font-family: 'MuseoSans';
    font-size: .9375rem;
    margin-right: rem-calc(16);
    margin-bottom: rem-calc(4);
    padding: rem-calc(10);

    display: inline-block;
  }

  &--factsheet {
    h3 {
      @include font-weight(bold);
      
      color: $info-box__icon-color;
      margin-bottom: rem-calc(18);
      padding-bottom: rem-calc(4);
    }
    
    @include font-weight(normal);

    color: $grey-100;
    font-size: rem-calc(18);
  }

  @include e(body) {
    @extend %clearfix;
  
    @include m(no-padding) { padding: 0; }
    @include m(inherit) { font: inherit; }
    @include text(body, thin);
  
    @include m(flex) { @include flexbox; }
  
    padding: $info-box-body__padding;
  }
  
  @include e(column) {
    @extend .one-thirds;
  }
  
  @include e(header) {
    border-bottom: solid $fact-header__border-bottom-color $fact-header__border-bottom-size;
  
    @include m(white) {
      color: $white;
      border-bottom: solid $white $fact-header__border-bottom-size;
    }
  
    @include m(with-padding) {
      padding-bottom: rem-calc(12);
    }
  }
  
  @include e(link-icon) {
    color: $info-box-link__color;
    margin-right: $info-box-link-icon__margin-right;
  }
  
  @include e(link) {
    @include text(body, bold);
    color: $info-box-link__color;
    cursor: pointer;
  
    padding-bottom: $info-box-link__padding-bottom;
    display: block;
  }

  @include e(row) {
    width: 100%;

    padding-top: rem-calc(16);
    border-bottom: solid rem-calc(1) $info-box-row__border-bottom;

    @include m(around-padding) {
      padding: rem-calc(32 0);
    }

    @include m(light-border) {
      &:not(:last-child) {
        border-bottom: solid rem-calc(1) $grey-15;
      }
    }

    @include m(no-border) {
      border: none;
    }
  }
}
