.navbar {
  @include flexbox;
  
  background-color: $navbar__bg-color;
  color: $navbar-element__color;
  justify-content: space-between;
  padding: rem-calc(0 14);

  position: relative;

  @include breakpoint($large) { padding-right: 0; }

  &--darker {
    background-color: $navbar__bg-color--darker;
  }
  
//----------------------------------------
// burger
//----------------------------------------
  &__burger {
    margin-left: auto; // required for IE11

    &.is-open .burger-icon { @extend %burger-open; }

    &.is-open:hover .burger-icon { background-color: transparent; }

    .burger-icon { margin-right: 0; }
  }
  
//----------------------------------------
// menu
//----------------------------------------
  &__menu {
    @include flexbox;  

    align-items: center;
    background-color: $navbar__bg-color;
    border-top: solid rem-calc(1) $navbar__bg-color--darker;
    flex-direction: column;

    position: absolute;
    top: rem-calc(54);
    right: 0;
    left: 0;
    z-index: 2000; //to sit over the controls on the map on the home page
    
    @include breakpoint($large){
      border: none;
      flex-direction: row;

      position: static;
      top: auto;
      right: auto;
      left: auto;
    }

    &.u-hide {
      @include breakpoint($large){ display: flex; } // don't hide on desktop
    }
  }

  &__element {
    @include text(body);

    align-items: center;
    cursor: pointer;
    line-height: $navbar__height;
    justify-content: center;
    width: 100%; height: 100%;

    display: flex;
    position: relative;

    @include breakpoint($large){ 
      padding: rem-calc(0 10);
      width: auto;
    }

    &.active, 
    &:hover { 
      background-color: $navbar-element-hover__bg-color; 
      text-decoration: none;
      
      .navbar__submenu__title { background-color: $navbar-element-hover__bg-color; } // required for IE11
    }

    &.is-active {
      background-color: $navbar-element-dark__bg-color;

      &:hover { background-color: $navbar-element-dark__bg-color; }
      &:active { background-color: $navbar-element-dark__bg-color; }
    }

    // delete?
    &--dark {
      background-color: $navbar-element-dark__bg-color;
      &:hover { background-color: $navbar-element-dark__bg-color !important; }
    }
    // delete?
    &--with-separator {
      border-left: solid rem-calc(2) $navbar-element-dark__bg-color;

      &:before { top: 0;    }
      &:after  { bottom: 0; }
      &:before, &:after {
        background-color: $navbar__bg-color;

        content: "";
        width: rem-calc(4);
        height: rem-calc(8);
        position: absolute;
        left: -.25rem;
      }
    }

    &--submenu { flex-direction: column; }

    &--search { 
      background-color: transparent; // required for IE11 

      &.is-open { background-color: white; } // required for IE11 
    } 

    &--for-search-dropdown {
      display: none;

      @include breakpoint($large){ 
        width: rem-calc(50);

        display: flex; 
      }
      
      &.is-active {
        color: $navbar-element-for-search-dropdown-is-active__color;
        background-color: $white;

        &:hover { background-color: $white; }
        &:active { background-color: $white; }
      }
    }
    // ok to change to logo?
    &--bigger {
      @include text(headline);
      @include line-height($navbar__height);
    }
    // delete?
    &--thinner {
      @include text(small);
      @include line-height($navbar__height--thinner);
    }
    // delete?
    &--larger {
      padding: rem-calc(0 20);
    }
  }

//----------------------------------------
// submenu
//----------------------------------------
    &__submenu {
      background-color: $navbar__bg-color--darker;
      padding: 0;
    }

      &__submenu__title {
        background-color: $navbar__bg-color; //required for IE11
        width: 100%;

        &:after { 
          @include fa(chevron-down); 
          padding-left: rem-calc(10); 
        }

        &.is-open:after {
          @include fa(chevron-up);

          @include breakpoint($large){ @include fa(chevron-down); }
        }
      }

      &__submenu__link {
        line-height: 2.6;
        padding: rem-calc(0 10);
        text-align: center;

        display: block;

        &:hover { background-color: $navbar-element-hover__bg-color; }

        @include breakpoint($large){ text-align: left; }
      }
}
