@include b(row) {
  @extend %clearfix;

  @include m(no-push) {
    margin-bottom: 0;
  }

  @include m(push) {
    margin-bottom: rem-calc(80);
  }

  @include m(push2x) {
    margin-bottom: 2em;
  }

  @include m(with-border-top) {
    border-top: solid rem-calc(1) $grey-5;
  }

  margin-bottom: 1em;
}

