@include b(search-result) {
  @extend %color-base;
  @extend %clearfix;

  border-bottom: solid rem-calc(1) $grey-5;
  padding: {
    top: rem-calc(16);
    bottom: rem-calc(16);
    left: 0;
    right: rem-calc(48);
  }

  @include only-mobile {
      padding-right: 0;
  }

  @include e(title) {
    @include color($search-result-title__color);
    @include text(headline);

    margin-bottom: rem-calc(16);
  }

  @include e(body) {
    @include text(body, thin);
    margin-bottom: rem-calc(24);
  }

  @include e(details) {
    list-style: none;
  }

  @include e(detail) {
    @include text--alt(body, thin);
    @include color($grey-55);

    border-right: solid rem-calc(1) $grey-5;
    float: left;
    padding: rem-calc(0 20);

    &:first-child { padding-left: 0; }
    &:last-child { border-right: 0; }

  }

  @include e(tag) {
    @include text(small);
    @extend %color-base;

    font-style: italic;

    background-color: $grey-5;
    margin-right: rem-calc(20);
    padding: rem-calc(5 16);
  }
}
