@include b(section) {
  max-width: $max-width--desktop;
  padding: rem-calc(0 16);
  margin-bottom: rem-calc(16);
  margin: {left: auto; right: auto;}

  @include breakpoint($large){ padding: rem-calc(0 112); }

  @include m(padding-top) {
    padding-top: rem-calc(32);
  }

  @include e(header) {
    @extend %color-base;
    @include text(xlarge, thin);

    margin-bottom: rem-calc(40);
    padding-left: rem-calc(20);
    padding-bottom: rem-calc(24);

    border-bottom: solid rem-calc(1) $grey-15;
  }

  @include e(body) {
    @extend %clearfix;
    padding: rem-calc(0 20);
  }
}
