.tab {
  &-container {
    margin-bottom: rem-calc(48);
  }

    &__titles {
      border-bottom: solid rem-calc(1) $tabs__title-border-color;
      margin-bottom: rem-calc(24);
    }

      &__title {
        @include font-weight(x-bold);
        
        color: $tabs__title-color;
        cursor: pointer;
        font-family: 'MuseoSans';
        margin: rem-calc(0 15); 
        padding: rem-calc(15 0);

        display: inline-block;

        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }

        &--active {
          border-bottom: solid rem-calc(5) $tabs__title-border-color;
          cursor: default;
        }
      }

    &__content {
      @extend %clearfix;
    }
}