@mixin vertical-nav {
  margin-bottom: rem-calc(40);

  @include e(element) {
    display: block;

    @include text(body, thin);
    @include line-height(1.5rem);

    @include color-with-state($color--base, (
      hover: $link__color--hover,
      active: $link__color--pressed,
    ));

    border-bottom: solid rem-calc(1) $grey-5;
    padding: {
      left: rem-calc(20);
      top: rem-calc(8);
      bottom: rem-calc(8);
      right: rem-calc(8);
    }

    @include only-mobile {
      padding-left: 0;
    }

    @include m(child) {
      padding-left: rem-calc(32);
    }

    @include m(heading) {
      @include color($vertical-nav-element-selected__color);

      padding-left: rem-calc(16);
      border: {
        top: solid rem-calc(1) $grey-15;
        bottom: solid rem-calc(1) $grey-15;
        left: solid rem-calc(5) $grey-15;
      }
    }

    @include m(selected) {
      @include font-weight(normal);
      @include color($vertical-nav-element-selected__color);
      border-left: solid rem-calc(5) $grey-15;
      padding-left: rem-calc(16);
    }

    @include m(active) {
      @include font-weight(normal);
      @include color($vertical-nav-element-selected__color);
    }

    @include m(expandable) {
      &:after { @include color($vertical-nav-element-selected__color); }

      @include flexbox;
      @include justify-content(space-between);
      cursor: pointer;
    }

    @include m(opened) {
      &:after { @include fa(chevron-up); }
    }

    @include m(closed) {
      &:after { @include fa(chevron-down); }
    }
  }
}

@include b(vertical-nav) {
  @include vertical-nav;
}
