&__greenlist {
   
  // overwrite styles used in the partial so that it looks better on mobile etc.
  &-result {
    padding-bottom: rem-calc(30);
    flex: 0 0 100%;
    width: auto;

    @include breakpoint($medium){
      padding-right: rem-calc(30);
      flex: 0 1 50%;
    }

    @media (min-width: ($medium + 1)\0) { 
      flex-basis: calc(50% - 30px); //target IE11
    }

    @include breakpoint($large){
      padding: rem-calc(0 40 40 0);
      flex: 0 0 33%;
    }

    @media (min-width: ($large + 1)\0) { 
      flex-basis: calc(33% - 40px); //target IE11
    }
  }
}

.result {
  margin: 0;
  width: 100%;  

  img { width: 100%; }
}

.inner-result {
  a { 
    color: $green; 
    text-decoration: none;
  }

  p a { 
    color: $white; 
    text-decoration: none;
  }
}
