&__header {
  background: asset-url('images/hero/hero-marine-min.jpg') center no-repeat;
  background-size: cover;
  padding: rem-calc(46 0 30 0);

  position: relative;

  flex-direction: column; //needed for IE11

  @include breakpoint($medium){ 
    height: rem-calc(600);
    padding: 0;
  }
}

.header__introduction {
  color: $white;
  font-size: rem-calc(16);
  line-height: 1.3;
  padding: rem-calc(12 18);

  @include breakpoint($medium){ font-size: rem-calc(18); }

  p:first-child { margin-bottom: rem-calc(14); }
}