&__counter {
  background: rgba(white, .4);
  margin-top: rem-calc(40);
  padding: rem-calc(20 0 20 24);
  width: rem-calc(290);

  position: absolute;
  top: 0;
  right: 0;

  @include breakpoint($medium){ width: rem-calc(430); }
}

&__map-disclaimer {
  color: $blue--marine-4;
  font-family: 'MuseoSans';
  font-size: rem-calc(8);
  padding-top: rem-calc(14);
  padding-bottom: rem-calc(14);
  text-align: center;

  @include breakpoint($medium){ font-size: rem-calc(13); }
}