//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// base mixins
//--------------------------------------------------
@mixin text-1 {
  @include responsive-styles(font-size, rem-calc(30), rem-calc(38), rem-calc(38));
  color: $header-font-color;
  font-weight: 500;
  line-height: $line-height-headings;
}

@mixin text-2 {
  @include responsive-styles(font-size, rem-calc(22), rem-calc(22), rem-calc(22)); 
  font-family: $header-font;
  font-weight: 700;
  line-height: $line-height-headings;
  margin-bottom: rem-calc(24);
}

@mixin text-3 {
  @include responsive-styles(font-size, rem-calc(14), rem-calc(14), rem-calc(15));
  font-family: $header-font;
}

@mixin text-4 {
  // @include responsive-styles(font-size, rem-calc(18), rem-calc(20));
}

//--------------------------------------------------
// mixins used in classes
//--------------------------------------------------
@mixin h1 { //temp-refresh
  @include text-1;
  line-height: $line-height-headings;
  text-align: center;
}

@mixin h2 {
  @include text-2;
  color: $primary;
  line-height: $line-height-headings;
  text-align: center;
}

@mixin text-tooltip {
  @include text-3;
}

// @mixin text-label {
//   @include text-4();
//   font-weight: $semi-bold;
//   cursor: inherit;
//   margin-bottom: $margin-bottom-label;

//   display: block;
// }

// @mixin text-input {
//   @include text-4();
//   font-weight: $regular;
// }

// @mixin text-li {
  
// }

// @mixin text-logo {
//   @include responsive-styles(font-size, rem-calc(24), rem-calc(30));
//   color: $white;
// }

// @mixin text-logo-2 {
//   @include responsive-styles(font-size, rem-calc(16), rem-calc(20));
//   color: $white;
// }

// @mixin text-nav {
//   @include text-2();
//   color: $white;
// }

// @mixin text-filter {
//   @include text-3();
// }

// @mixin text-button {
//   @include text-2;
// }
