%show-hide-styles {
  @include font-weight(bold);

  border: solid rem-calc(2) $button--hide-border-color;
  border-radius: rem-calc(4);
  font-family: 'MuseoSlab';
  font-size: rem-calc(15);
  color: $button--hide-color;
  padding: rem-calc(0 18);

  &:before {
    @include text--icon(body);

    margin-right: rem-calc(8);
  }
}

.button {
  &--basic-link {
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  &--green-link {
    color: $green;

    &:hover { text-decoration: underline; }
  }

  &--grey {
    @include font-weight(bold);

    border: solid rem-calc(2) $button--grey-border-color;
    border-radius: rem-calc(4);
    color: $button--grey-text-color;
    font-family: 'MuseoSlab';
    font-size: rem-calc(15);
    padding: rem-calc(6 16);
  }

  &--hide {
    @extend %show-hide-styles;

    &:before { content: '\f070'; }
  }

  &--show {
    @extend %show-hide-styles;

    &:before { content: '\f06e'; }
  }

  &--fullscreen {
    background-color: $white;
    color: $button--grey-text-color;
    font-size: rem-calc(18);
    line-height: rem-calc(18);
    text-align: center;
    width: rem-calc(40); height: rem-calc(40);

    position: absolute;

    &:hover {
      background-color: $button--fullscreen-hover-color;
    }
  }

  &--external {
    color: $button--external-color;
    text-decoration: none;

    display: block;

    &:before {
      @extend .u-font-icon;
      content: '\f14c';
      margin-right: rem-calc(8);
    }

    &:hover { text-decoration: underline; }
  }
}