@mixin color($color) {
  color: $color;
}

@mixin color-with-state($base-color, $states: (), $property: color) {
  #{$property}: $base-color;

  @each $state, $color in $states {
    &:#{$state} {
      #{$property}: $color;
    }
  }
}

%color-base { @include color($color--base); }
%acts-as-link {
  &:hover, &:active { text-decoration: underline; }
  @include color-with-state($link__color, (
    hover: $link__color--hover,
    active: $link__color--pressed,
    'visited:active': $link__color--pressed,
    visited: $link__color--visited,
  ));
}

