@include b(disclaimer) {
  cursor: pointer;

  @include color($color--map-disclaimer-text);
  @include text--alt(small, thin);

  background: $color--map-disclaimer-bg;
  display: block;
  padding: rem-calc(5 96 16 96);
  text-align: center;
  width: 100%;
  z-index: $z-index-10;

  @include only-mobile {
    padding: rem-calc(8 16);
    font-size: rem-calc(8);
    line-height: 1.5;
  }

  @include e(arrow) {
    content: "";
    width: 0;
    height: 0;
    border-left: rem-calc(35) solid transparent;
    border-right: rem-calc(35) solid transparent;
    border-top: rem-calc(25) solid #f2f2f2;
    top: 100%;
    position: absolute;
    left: 50%;
    margin-left: rem-calc(-35);

    @include only-mobile {
      border-left: rem-calc(25) solid transparent;
      border-right: rem-calc(25) solid transparent;
      border-top: rem-calc(20) solid #f2f2f2;
      margin-left: rem-calc(-25);
    }
  }

  @include e(arrow-inner) {
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: rem-calc(5) solid transparent;
      border-right: rem-calc(5) solid transparent;
      border-top: rem-calc(6) solid #333;
      bottom: rem-calc(13);
      position: absolute;
      left: rem-calc(-5);
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: rem-calc(6) solid transparent;
      border-right: rem-calc(6) solid transparent;
      border-top: rem-calc(6) solid #f2f2f2;
      bottom: rem-calc(15);
      position: absolute;
      left: rem-calc(-6);
    }
  }
}
