@mixin text($form-factor, $weight: normal) {
  font-family: 'MuseoSans';
  @if($weight != null) {
    @include font-weight($weight);
  }

  @include form-factor($form-factor);
}

@mixin text--alt($form-factor, $weight: normal) {
  font-family: 'MuseoSlab';
  @if($weight != null) {
    @include font-weight($weight);
  }

  @include form-factor($form-factor);
}

@mixin text--icon($form-factor, $weight: normal) {
  font-family: 'FontAwesome';
  font-weight: weight($weight);

  @include form-factor($form-factor);
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-weight($weight) {
  font-weight: weight($weight);
}
