@mixin header-with-delimiter($border-bottom: ($color, $size)) {
  @extend %color-base;
  @include text(headline, thin);

  padding-bottom: rem-calc(4);

  border-bottom: solid
    map-get($border-bottom, color)
    map-get($border-bottom, size);
}

@include b(header-with-delimiter) {
  margin-bottom: rem-calc(10);
  @include header-with-delimiter(
    $border-bottom: (color: $grey-33, size: 1px)
  );

  @include m(bold) { @include font-weight(normal); }
  @include m(smaller) { @include text(body, null); }
  @include m(bigger) { @include text(medium, null); }

  @include m(no-margin-bottom) { margin-bottom: 0; }

  @include m(same-padding-margin) {
    margin-bottom: rem-calc(12);
    padding-bottom: rem-calc(12);
  }
}

//----------------------------------------
// placeholder selectors 
//----------------------------------------
%header--h1-insights {
  color: white;
  font-family: 'MuseoSans';
  font-size: rem-calc(38);
  padding: rem-calc(14 18);

  display: inline-block;
}

//----------------------------------------
// header classes
//----------------------------------------
.header {
  &--h1-insights {
    @extend %header--h1-insights;
    text-transform: uppercase;

    @include breakpoint($medium){ font-size: rem-calc(52); } 
    @include breakpoint($large){ font-size: rem-calc(64); } 
  }

  &--h1-insights-small {
    @extend %header--h1-insights;
    font-size: rem-calc(24);

    @include breakpoint($medium){ font-size: rem-calc(38); } 
    @include breakpoint($large){ font-size: rem-calc(48); } 
  }

  &--h1-small {
    @include color($color--base);
    @include text(large);

    margin-top: rem-calc(30);
    margin-bottom: rem-calc(10);

    a { color: $link--color; }
  }

  &--h2-insights {
    border-bottom: solid rem-calc(1) $blue--marine-5;
    font-family: 'MuseoSans';
    font-size: rem-calc(32);
    font-weight: $thin;
    padding-bottom: .5em;
    margin-bottom: .83em;

    @include breakpoint($medium){ font-size: rem-calc(40); }
    @include breakpoint($large){ font-size: rem-calc(48); }
  }

  &--section {
    @extend .fact__header;
    margin-top: rem-calc(25);
    margin-bottom: rem-calc(25);
  }

  &--small {
    border-bottom: solid $grey-33 rem-calc(1);
    font-family: 'MuseoSans';
    font-size: rem-calc(16);   
  }

  &--h3-insights {
    border-bottom: solid $blue--marine-5 rem-calc(1);
    font-family: 'MuseoSans';
    font-size: rem-calc(16);
    line-height: 1.2;
    margin-bottom: rem-calc(18);
    padding-bottom: rem-calc(6);
  }
}