@include b(label) {
  @include text(small);
  @extend %color-base;

  font-style: italic;

  background-color: $grey-5;
  margin-right: rem-calc(20);
  padding: rem-calc(5 16);

  @include m(code) {
    font-size: inherit;
    font-family: monospace;
    font-style: normal;
    word-wrap: break-word;

    padding: rem-calc(2 8);
    border-radius: rem-calc(4);
    margin-right: 0;
    margin-bottom: rem-calc(32);
  }
}
