@mixin leaflet-control-zoom($color: $leaflet-control__color, $bg-color: $leaflet-control__bg-color, $font-size: $leaflet-control__font-size) {
  .leaflet-control-layers-base {
    @include text(small);
    @include color($color--base);

    & .is-selected {
      @include text(small, bold);
      @include color($green);
    }
  }

  .leaflet-control-zoom {
    @include _leaflet-control($color: $color, $bg-color: $bg-color, $font-size: $font-size);
  }

  a.leaflet-control-zoom-in,
  a.leaflet-control-zoom-out {
    color: $green;
    display: block;
    opacity: 1;
    line-height: rem-calc(16);
    padding: rem-calc(12);
    text-align: center;
    width: rem-calc(40); height: rem-calc(40);

    &:first-child {
      border-bottom: solid rem-calc(1) $leaflet-control__border;
    }

    &.leaflet-disabled {
      background-color: $leaflet-control__bg-color;
      color: $leaflet-control__disabled-color;
      cursor: not-allowed;
    }
  }

  .leaflet-control-zoom-in:hover,
  .leaflet-control-zoom-out:hover {
    background-color: $leaflet-control__hover-color;
  }
}

@mixin leaflet-control-layers($color: $leaflet-control__color, $bg-color: $leaflet-control__bg-color, $font-size: $leaflet-control__font-size) {
  .leaflet-control-layers-list {
    @include _leaflet-control($color: $color, $bg-color: $bg-color, $font-size: $font-size);
    display: block;
  }

  .leaflet-control-layers {
    margin: rem-calc(20);
    label {
      cursor: pointer;
      display: inline-block;
      line-height: rem-calc(20);
      margin: rem-calc(5 0);
      padding: rem-calc(0 15);


      &:first-child {
        border-right: solid rem-calc(1) $leaflet-control__border;
      }
    }

    input,
    .leaflet-control-layers-toggle {
      display: none;
    }
  }
}

@mixin _leaflet-control($color, $bg-color, $font-size) {
  @include _leaflet-control__margins;
  @include _leaflet-control--hover($color: $color, $bg-color: $bg-color);

  border: 0;
  border-radius: 0;

  box-shadow: none;
  background-color: $bg-color;

  font-size: $font-size;
  color: $color;

  transition: background-color .1s;
}

@mixin _leaflet-control__margins {
  .leaflet-top .leaflet-control { margin-top: rem-calc(20); }
  .leaflet-left .leaflet-control { margin-left: rem-calc(20); }
  .leaflet-right .leaflet-control { margin-right: rem-calc(20); }
  .leaflet-bottom .leaflet-control { margin-bottom: rem-calc(20); }
}

@mixin _leaflet-control--hover($color, $bg-color) {
  @at-root .leaflet-control-layers-expanded {
    background-color: $color;
    color: $bg-color;
    cursor: pointer;
    padding: 0;
    transition: background-color .1s;
  }
}

.leaflet-container {
  &#map-marine {
    background: transparent;
  }
}
