.link {
  color: $info-box-link__color;
  font-family: 'MuseoSans';
  font-size: rem-calc(15);
  @include font-weight(normal);

  &--hero-download {
    cursor: pointer;
    margin-right: rem-calc(20);

    & i { margin-right: rem-calc(8); }
  }

  &--external {
    @extend %acts-as-link;

    &:after {
      @include fa(external-link);

      margin-left: rem-calc(4);
      font-size: rem-calc(11);
    }
  }

  &--page-anchor {
    @include color($link--color);
    @include font-weight(normal);
  }
}