@include b(logos) {
  @include e(logo) {
    margin: rem-calc(0 10);
  }
}
@mixin unepwcmc-logo {
  width: 121px;
  height: 52px;

  @include only-mobile {
    width: 45px;
    height: 30px;
  }

  background: url('https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg') no-repeat;
  background-size: 80%;
  background-position: center;
}
.unepwcmc-logo { @include unepwcmc-logo; }

@mixin iucn-logo {
  width: 50px;
  height: 50px;

  @include only-mobile {
    width: 30px;
    height: 30px;
  }

  background: asset-url('images/IUCN_logo@2x.png') no-repeat;
  background-size: 65%;
  background-position: center;
}
.iucn-logo { @include iucn-logo; }

@mixin protectedplanet-logo {
  padding-left: 2.5rem;
  content: "";
  display: block;
  background: asset-url("images/hand-solo.png") center left/2rem no-repeat;
}
.protectedplanet-logo {
  @include protectedplanet-logo;

  @include e(registered) {
    position: relative;
    font-size: rem-calc(8);
    top: -.5rem;
  }
}
