@include b(o-overlay) {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(flex-start);

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  padding: rem-calc(20);
}

.bg-image-overlay {
  position: relative;
  z-index: 1;

  &:before {
    background-color: rgba(black, 0.2);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}