.text {

  &--48 {
    font-size: rem-calc(22);

    @include breakpoint($medium){ font-size: rem-calc(38); }
    @include breakpoint($large){ font-size: rem-calc(48); }

    sup { 
      font-size: rem-calc(16);
      @include breakpoint($medium){ font-size: rem-calc(20); }
      @include breakpoint($large){ font-size: rem-calc(30); }
    }
  }

  &--60 {
    font-size: rem-calc(28);

    @include breakpoint($medium){ font-size: rem-calc(48); }
    @include breakpoint($large){ font-size: rem-calc(60); }
  }

  &--100 {
    font-size: rem-calc(40);

    @include breakpoint($medium){ font-size: rem-calc(80); }
    @include breakpoint($large){ font-size: rem-calc(100); }
  }

  &--120 {
    font-size: rem-calc(120);
  }

  &--144 {
    font-size: rem-calc(60);

    @include breakpoint($medium){ font-size: rem-calc(144); }
  }

  &--standard {
    @include text(body, thin);
    line-height: 1.3;
    margin-bottom: rem-calc(20);
  }
}