<ul>
  <li class="facet">
   <%= clear_filters_link(params) %>
  </li>
  <% aggregations.each do |name, buckets| %>
    <li class="facet">
      <h5><%= name.humanize %></h5>

      <ul>
        <% buckets.each do |bucket| %>
          <li>
            <%= facet_link bucket %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
