<ul class="filter-bar__body">
  <% aggregations.select{ |_agg, buckets| buckets.any? }.each do |name, buckets| %>
    <li class="filter-bar__group expandable-section">
      <h5 class="js-expandable-section-trigger js-expandable-section-switch filter-bar__group-title is-closed">
        <%= name.humanize %>
      </h5>

      <ul class="js-expandable-section-target u-hide">
        <% buckets.each do |bucket| %>
          <li>
            <%= facet_link bucket %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
