<ul class="filter-bar__body">
  <% aggregations.select{ |_agg, buckets| buckets.any? }.each do |name, buckets| %>
    <li class="filter-bar__group">
      <h5 class="header-with-delimiter filter-bar__group-title"><%= name.humanize %></h5>

      <ul>
        <% buckets.each do |bucket| %>
          <li>
            <%= facet_link bucket %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
