<% if @search.nil? || @search.results.count.zero? %>
  <h1 class="link-with-icon fullscreen-message__header">No results found</h1>

  <p class="fullscreen-message__body row">
    You can search for Countries and Protected Areas. Try another search...
  </p>

  <div class="u-width-60 u-margin-auto fullscreen-message__body">
    <%= render partial: 'shared/search_form', locals: {query: ''} %>
  </div>

<% else %>
  <%= render partial: 'search_result', collection: @search.results %>
  <%= will_paginate @search %>
<% end %>
