<ul>
  <li><a href="#" class="btn selected">All</a></li>
  <li><a href="#" class="btn">Protected Areas</a></li>
  <li><a href="#" class="btn">Countries</a></li>
  <li><a href="#" class="btn">Regions</a></li>
</ul>
