<div class="bg-img">
  <main>
    <h2>Search for protected areas, countries or regions</h2>
    <section class="search-bar">
      <%= render 'shared/search_form', query: @query %>
    </section>

    <% if @query %>
      <aside class="search-filters">
        <h4>Filter Your Results</h4>

        <ul>
          <li>
            <h5>Location</h5>

            <ul>
              <li>United States</li>
              <li>United Kingdom</li>
            </ul>
          </li>

          <li>
            <h5>IUCN Category</h5>

            <ul>
              <li>Not Reported</li>
              <li>IV</li>
            </ul>
          </li>
        </ul>
      </aside>

      <section class="search-results">
        <h4>
          Showing <%= @search.results.count %> <%= 'result'.pluralize @search.results.count %> for "<%= @query %>"
        </h4>

        <div class="search-navigation">
          <ul>
            <li><a href="#" class="btn selected">All</a></li>
            <li><a href="#" class="btn">Protected Areas</a></li>
            <li><a href="#" class="btn">Countries</a></li>
            <li><a href="#" class="btn">Regions</a></li>
          </ul>
        </div>
      </section>
    <% end %>
  </main>
</div>
