<div class="bg-img">
  <main>
    <% if @query %>
      <section class="search-results">
        <ul>
          <%= render partial: 'search_result', collection: @search.results %>
        </ul>
      </section>
    <% end %>
  </main>
</div>
