<div class="container--medium section-padding">
  <search-site
    endpoint="/search-results"
    placeholder="<%= t('global.placeholder.search-site') %>"
    no-results-text="<%= t('global.search.no-results') %>"
    results-text="<%= t('global.search.results') %>"
  ></search-site>
</div>
