<div class="card--message">
  <h2>citation</h2>
  <p>UNEP-WCMC (<%= Date.today.year %>). Protected Area Profile for <%= title %> from the World Database of Protected Areas, <%= Date.today.strftime("%B %Y") %>. Available at: <a href="/">www.protectedplanet.net</a></p>
</div>