<section class="cta--live-report">
  <div class="container cta__container">
    <h2><%= t('ctas.api.title') %></h2>
    <p><%= t('ctas.api.intro') %></p>
    
    <%= link_to t('ctas.api.button'), t('ctas.api.url'), target: '_blank', class: 'button--outline' %>
  </div>
</section>