$flickity-basic-dot-size: rem-calc(13);

$flickity-basic-slide-margin-mobile: rem-calc(5);
$flickity-basic-slide-margin-tablet: rem-calc(10);
$flickity-basic-slide-margin-desktop: rem-calc(10);

$flickity-basic-slide-width-mobile: calc(92% - 2*#{$flickity-basic-slide-margin-mobile});
$flickity-basic-slide-width-tablet: calc(38% - 2*#{$flickity-basic-slide-margin-tablet});
$flickity-basic-slide-width-desktop: calc(20% - 2*#{$flickity-basic-slide-margin-desktop});


//--------------------------------------------------
// classes
//--------------------------------------------------
&--basic {
  overflow: hidden;
  
  .flickity {
    &__dots {
      margin: rem-calc(30) auto 0 auto;
    }

    &__dot {
      background-color: $grey-light;
      border-radius: 100%;
      margin-right: $flickity-basic-dot-size/2;
      width: $flickity-basic-dot-size; height: $flickity-basic-dot-size;

      &--current { background-color: $grey; }
    }

    &__list {
      @include responsive(margin-right, 10%, 25%, 25%, 0);
      @include responsive(overflow, visible, visible, visible, hidden);
      width: auto;
    }

      &__slides {
        align-items: stretch;
      }

        &__slide {
          display: flex;
          
          &:last-child {
            @include breakpoint($large) {
              // @include tooltip-last-slide;
            }
          }
        }

          &__slide-content {
            @include responsive(margin, 0 $flickity-basic-slide-margin-mobile, 0 $flickity-basic-slide-margin-tablet, 0 $flickity-basic-slide-margin-tablet, 0 $flickity-basic-slide-margin-desktop);
            background-color: $white; 
            border: solid 1px $grey-light;
            font-size: rem-calc(18);
            padding: rem-calc(16);
            width: 100%;

            position: relative;
          }

            &__slide-title {
              @include responsive(margin, 0, rem-calc(0 5), rem-calc(0 5), rem-calc(0 10));
            }

            &__tooltip {
              position: absolute;
              top: rem-calc(10);
              right: rem-calc(10);
            }
  }
}