//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.red { color: red; }
.bold { font-weight: bold; }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul--inline li { display: inline-block; }

//--------------------------------------------------
// display
//--------------------------------------------------
.block { display: block; }
.inline-block { display: inline-block; }

.full-height {
  height: 100vh;
}

//--------------------------------------------------
// positioning
//--------------------------------------------------
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-light { font-weight: 300; }

.relative { position: relative; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.center-right {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translate(0, -50%);
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

//--------------------------------------------------
// margin & padding
//--------------------------------------------------
.no-margin--top { margin-top: 0; }
.no-margin { margin: 0; }
.margin-center { margin: 0 auto; }

.margin-space--right { margin-right: rem-calc(14); }
.margin-space--left { margin-left: rem-calc(14); }

.no-padding { padding: 0; }

//--------------------------------------------------
// backgrounds
//--------------------------------------------------
$image-placeholder: black;

.bg-img {
  background-color: $image-placeholder;
  background-size: cover;
  background-position: center;
}

.bg-image-overlay {
  position: relative;
  z-index: 1;

  &:before {
    background-color: rgba(black, 0.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

//--------------------------------------------------
// screen overlay
//--------------------------------------------------
.screen-overlay {
  background: rgba(black, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

//--------------------------------------------------
// user interaction
//--------------------------------------------------
.no-select {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.hover--pointer {
  &:hover {
    cursor: pointer;
  }
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem-calc(1);
  margin: rem-calc(-1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: rem-calc(1);
}

//--------------------------------------------------
// media queries
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-medium-up {
  display: none;
  @include breakpoint($medium) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}

.breakpoint-medium-down {
  display: block;
  @include breakpoint($medium) { display: none; }
}