<!-- <a class="breadcrumbs__link" href="/">Home</a>
>
<% if @cms_page.categories.any? %>
  <a class="breadcrumbs__link" href="<%= resources_path(category_id: @cms_page.categories.first.id) %>">
    Resources: <%= @cms_page.categories.first.label %>
  </a>
>
<% else %>
  <%= get_breadcrumbs(@cms_page).reverse.join(' > ').html_safe %>
<% end %> -->