<a class="breadcrumbs__link" href="/">Home</a>
>
<% if @cms_page.categories.any? %>
  <a class="breadcrumbs__link" href="<%= resources_path(category_id: @cms_page.categories.first.id) %>">
    Resources: <%= @cms_page.categories.first.label %>
</a>
>
<% end %>

<% unless @cms_page.parent.label == "Index" %>
  <%= @cms_page.parent.label %>:
<% end %>
<%= @cms_page.label %>
