<div class="info-box info-box--fill-color">
  <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">Resources</h2>
  <div class="info-box__body">

    <a class="u-block <%= bem('link-with-icon', 'push') %>" href="/">
      <i class="link-with-icon__icon fa fa-search"></i>
      Search and explore Protected Areas around the world from the <b class="u-x-bold">
  WDPA
      database</b>.
    </a>

    <a class="u-block <%= bem('link-with-icon', 'push') %>" href="http://wcmc.io/pp_report">
      <i class="link-with-icon__icon fa fa-area-chart"></i>
      View statistics for accessing progress towards <b class="u-x-bold">
  international
      biodiversity protection targets</b>.
    </a>

    <a class="u-block <%= bem('link-with-icon', 'push') %>" href="/">
      <i class="link-with-icon__icon fa fa-download"></i>
      Download the <b class="u-x-bold">most comprehensive global dataset</b> on protected areas
      in the world.
    </a>
  </div>
</div>