<div class="flex-row hero__title--flex hero__title hero__title--article hero__title--push header-with-delimiter">
  <h1><%= @cms_page.label %></h1>
  <%= image_tag "green_list/iucn_wcpa_logo.jpg", width: "14rem", height: "100%" %>
</div>
