//--------------------------------------------------
// variables
//--------------------------------------------------
// - borders
// - colours
// - buttons
// - shadows
// - fonts
// - breakpoints
// - z-indices
// - dimensions
// - padding
// - tables
// - topbars and footers
// - branding

//--------------------------------------------------
// borders
//--------------------------------------------------
// $border-width-thin: rem-calc(1);
// $border-width-regular: rem-calc(2);

// $border-thin: solid $border-width-thin;
// $border-regular: solid $border-width-regular;

//--------------------------------------------------
// colours
//--------------------------------------------------
// $white: #ffffff;
// $black: #000000;

// $grey-light: #e1e1e1;
// $grey: #bdbcbc;

// $blue-xdark: #002034;
// $blue-dark: #002944;
// $blue: #033250;
// $blue-light: #2B678D;
// $blue-grey: #264152;

$green: #71a32b;
$green--darker: #415519;

$primary: $green;
$primary-dark: $green--darker;

// $accent-light: lighten($green, 15%);
// $accent: $green;

//--------------------------------------------------
// buttons
//--------------------------------------------------
// $button-radius: 2em;
// $button-font-size: rem-calc(25);
// $button-default-color: $grey;

// $button-padding-small: rem-calc(12 15);
// $button-padding-medium: rem-calc(20 30);

//--------------------------------------------------
// shadows
//--------------------------------------------------
// $shadow-light: rem-calc(0 1 2 1) rgba($black, 0.3);
// $shadow-dark: rem-calc(2 3 3 2) rgba($black, 0.5);

//--------------------------------------------------
// fonts
//--------------------------------------------------
// $body-font: 'Open Sans', sans-serif;
// $body-font-color: $black;

// $thin: 100;
// $light: 300;
// $regular: 400;
// $bold: 500;
// $semi-bold: 600;
// $bolder: 700;

// $line-height-headings: 1.25;
// $line-height-p: 1.3;

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
// must be in px not rem!
$small: 628; //mobile
$medium: 763; //tablet portrait
$large: 1024; //tablet landscape

@mixin responsive-styles ($property, $mobile, $tablet, $laptop) {
  #{$property}: $mobile;

  @include breakpoint($small) { #{$property}: $tablet; }
  @include breakpoint($medium) { #{$property}: $laptop; }
}

//--------------------------------------------------
// z-indices
//--------------------------------------------------
// $z-100: 100;
// $z-200: 200;
// $z-300: 300;

//--------------------------------------------------
// padding
//--------------------------------------------------
// $gutter-small: rem-calc(16);
// $gutter-medium: rem-calc(24);
// $gutter-large: rem-calc(32);

// $container-width-small: rem-calc(600);
// $container-width-medium: rem-calc(1120);
// $container-width-large: rem-calc(800);

// $page-padding-top-small: rem-calc(16);
// $page-padding-top-medium: rem-calc(24);
// $page-padding-top-large: rem-calc(100);

// $page-padding-bottom-small: rem-calc(32);
// $page-padding-bottom-medium: rem-calc(60);
// $page-padding-bottom-large: rem-calc(80);

// $section-padding-top-small: rem-calc(20);
// $section-padding-top-medium: rem-calc(40);
// $section-padding-top-large: rem-calc(40);

// $section-padding-bottom-small: rem-calc(30);
// $section-padding-bottom-medium: rem-calc(60);
// $section-padding-bottom-large: rem-calc(60);

// $item-spacing-small: rem-calc(14);
// $item-spacing-medium: rem-calc(20);
// $item-spacing-large: rem-calc(32);
// $item-spacing-xlarge: rem-calc(56);

//--------------------------------------------------
// dimensions
//--------------------------------------------------
// $site-width-min: rem-calc(1440); //13" macbook
// $site-width: $large;
// $site-width-medium-tablet: 80%;
// $site-width-medium-laptop: 78%;
// $site-width-medium-desktop: 62%;

//--------------------------------------------------
// tables
//--------------------------------------------------
// $collapse-table-borders: true;
// $table-cell-padding: rem-calc(8);

//--------------------------------------------------
// topbars and footers
//--------------------------------------------------
// $navbar-height-small: rem-calc(90);
// $topbar-height-laptop: rem-calc(90);
// $topbar-height-desktop: rem-calc(118);

//--------------------------------------------------
// branding
//--------------------------------------------------
// $unepwcmc-w-to-h-ratio: 118/27;
