upstream app {
  server unix:/tmp/unicorn.pp.sock fail_timeout=0;
}

server {
  listen 80;
  server_name {{inventory_hostname}} alpha.protectedplanet.net;

  root /var/www/pp/current/public;

  try_files $uri/index.html $uri @app;

  ##
  # Add CORS header to font files, so that Chrome is able to render them
  ##

  location ~* \.(eot|ttf|woff)$ {
    add_header Access-Control-Allow-Origin *;
  }

  location /admin/sidekiq {
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app;
  }

  ##
  # API requests for the new API take priority over legacy requests.
  ##

  location ^~ /api/v3 {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app;
  }

  ##
  # Opaquely proxy API requests to old servers
  ##

  location ^~ /api2/ {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://prod-www.protectedplanet.net/api2/;
  }

  location ^~ /api/ {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://prod-www.protectedplanet.net/api/;
  }

  location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}
