&--equity {
    @include breakpoint-down($small) {
        max-width: rem-calc(685);
    }
    @include breakpoint-down($large) {
        display: block;
    }
    @include breakpoint($large) {
        display: flex;
    }

    &__button {
        @include flex-vs-start;
        border-radius: rem-calc(4);
    }

    &__content {
        @include breakpoint-down($small) {
            height: rem-calc(271);
            padding: rem-calc(20 0);

            img {
                object-fit: contain;
            }
        }
        @include breakpoint($small) {
            height: rem-calc(507);
            padding: rem-calc(30 0);

            img {
                object-fit: cover; 
            }
        }
        @include breakpoint($large) {
            width: 50%;
            height: auto;
            padding: rem-calc(60 0);
        }

        @include flex;
        border: 1px solid $grey-dark;
       

        img {
            margin: 0 auto;                 
        }
    }

    &__description {
        @include flex-grow;
    }

    &__header {
        @include breakpoint-down($small) {
            margin-bottom: 0;
        }
        @include breakpoint($small) {
            margin-bottom: rem-calc(8);
        }
        @include breakpoint($large) {
            margin-bottom: rem-calc(14);
        }

        margin-top: 0;
    }

    &__panel {
        @include breakpoint-down($small) {
            padding: rem-calc(32 13 29 18);
        }
        @include breakpoint($small) {
            padding: rem-calc(50 44 62 49);
        }
        @include breakpoint($large) {
            padding: rem-calc(41 40 29 57);
            width: 50%;
        }

        @include flex;
        @include flex-column;

        background-color: $grey-xlight;
    }


}

// Custom select for this component
&--dropdown {
    &__custom-select {
        @include breakpoint-down($small) {
            margin: rem-calc(0 0 27);
        }
        @include breakpoint($small) {
            margin: rem-calc(30 0 36);
        }
        @include breakpoint($large) {
            margin: rem-calc(14 0 19);
        }

        position: relative;
        user-select: none;
        width: 100%;
    }

    &__selected {
        @include breakpoint-down($small) {
            padding: rem-calc(11 20);
        }
        @include breakpoint($small) {
            padding: rem-calc(20 24);
        }

        @include flex;
        @include flex-v-center;
        @include flex-h-between;
        @include text-body;

        background: $white;
        border: 1px solid $grey-black;
        cursor: pointer;
        line-height: 1.9;
        position: relative;
    }

    &__options {
        display: none;

        &--active {
            height: 40vh;
            background: $white;
            border: 1px solid $grey-black;
            border-top: 0;
            overflow: scroll;
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 2;
        }
    }

    &__option {
        @include breakpoint-down($small) {
            padding: rem-calc(2 20);
        }
        @include breakpoint($small) {
            padding: rem-calc(5 24);
        }
   
        @include text-body;

        line-height: 1.9;
        display: block;
        position: relative;

        &:hover {
            background-color: $grey-light;
        }
    }

    &__dropdown {
        @include icon-chevron-black-down;
        height: rem-calc(10);
        width: rem-calc(18);
        transform: rotate(0deg);

        &--active {
            @extend .select--dropdown__dropdown;
            transform: rotate(180deg);
        }
    }
}