//--------------------------------------------------
// variables
//--------------------------------------------------
$select-search-filter-border: solid 2px $grey;
$select-search-filter-height-mobile: rem-calc(75);
$select-search-filter-height-tablet: rem-calc(75);
$select-search-filter-width-tablet: rem-calc(760);
$categories-width: rem-calc(222);

//--------------------------------------------------
// classes
//--------------------------------------------------
&--autocomplete {
  @include responsive(width, 100%, $select-search-filter-width-tablet, $select-search-filter-width-tablet);

  position: relative;

  .select {

    &__label { }

    &__search {
      &--active { 
        .v-select__search-input { 
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      } 
    }

      &__search-input {
        @include input-plain;
        @include input-basic;
        @include input-text;
        @include responsive(height, $select-search-filter-height-mobile, $select-search-filter-height-tablet, $select-search-filter-height-tablet);
        border: $select-search-filter-border;
        border-radius: $select-search-filter-height-tablet;
        padding-right: rem-calc(200);
        padding-left: rem-calc(60);
        width: 100%; 
        

        &::-ms-clear { display: none; }
      }

      &__search-icons {
        display: flex; //temp-refresh
        align-items: center; //temp-refresh
        justify-content: center; //temp-refresh
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
      }

        &__search-icon {
          @include vselect-icon-basic;
          @include icon-search;

          position: absolute;
          top: 50%;
          left: rem-calc(16);

          transform: translateY(-50%);
        }

        &__search-icon--delete {
          @include button-close;

          position: absolute;
          top: 50%;
          right: calc(#{$categories-width} + 16px);

          transform: scale(.7) translateY(-50%);
        }

        &__search-icon--reset {
          @include vselect-icon-basic;
          @include icon-cross;
        }

    &__dropdown {
      @include input-basic;
      @include ul-unstyled;
      background-color: $white;
      border: $select-search-filter-border;
      border-bottom-left-radius: $select-search-filter-height-tablet;
      border-bottom-right-radius: $select-search-filter-height-tablet;
      padding: rem-calc(36 0 24 0);
      width: 100%;

      position: absolute;
      top: 50%;
      right: 0;
      z-index: -1;
    }

      &__li {
        @include input-text;
        padding: rem-calc(10 40);

        &:hover {
          background-color: $select-hover-color;
        }
      }

      &__option--selected {
        background: $select-selected-color;
      }
      
      &__option--highlighted {
        background: $select-hover-color;
      }
  }
}

//--------------------------------------------------
// categories - used with the autocomplete select
//--------------------------------------------------
&--categories {
  background-color: $grey;
  border-radius: $select-search-filter-height-tablet;
  color: $white;
  font-size: rem-calc(18);
  width: $categories-width; height: $select-search-filter-height-tablet;

  position: absolute;
  top: 0;
  right: 0;

  .select {
    &__label {
      @include flex;
      @include flex-v-center;
      height: 100%;
    }

    &__ul {
      @include ul-unstyled;
      background-color: $grey;
      border-radius: $button-radius;
      overflow: hidden;

      display: none;
      position: absolute;
      top: calc(100% + rem-calc(10));

      &.active { display: block; }
    }

      &__li {
        color: $white;
        padding: rem-calc(9 16);

        &:hover { background-color: $grey; }
      }
  }
}