&--equity {
    @include flex;

    &__content {
        @include flex;
        border: 1px solid $grey-med-dark;
        width: 50%;

        img {
            object-fit: none;
        }
    }

    &__description {
        @include flex-grow;
    }

    &__header {
        margin-top: 0;
        margin-bottom: rem-calc(14);
    }

    &__panel {
        @include flex;
        @include flex-column;
        background-color: $grey-med-light;
        font-size: rem-calc(17);
        padding-top: rem-calc(41);
        padding-right: rem-calc(40);
        padding-bottom: rem-calc(29);
        padding-left: rem-calc(57);
        width: 50%;
    }

    
}

// Custom select for this component
&--dropdown {
    &__custom-select {
        position: relative;
        user-select: none;
        width: 100%;
        margin-top: rem-calc(14);
        margin-bottom: rem-calc(19);
    }

    &__selected {
        @include text-body;
        background: $white;
        border: 1px solid $grey-black;
        cursor: pointer;
        line-height: 1.9;
        padding-top: rem-calc(22);
        padding-bottom: rem-calc(17);
        padding-left: rem-calc(29);
        padding-right: rem-calc(24);

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__options {
        display: none;

        &--active {
            height: rem-calc(500);
            overflow: scroll;
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            border: 1px solid $grey-black;
            border-top: 0;
            background: $white;
            z-index: 2;
        }
    }

    &__option {
        @include text-body;
        position: relative;
        display: block;
        padding-left: rem-calc(29);
        padding-right: rem-calc(24);
        line-height: 1.9;

        &:hover {
            background-color: $grey-light;
        }
    }

    &__dropdown {
        @include icon-chevron-black-down;
        height: rem-calc(10);
        width: rem-calc(18);
        transform: rotate(0deg);

        &--active {
            @extend .select--dropdown__dropdown;
            transform: rotate(180deg);
        }
    }
}