<section class="fact">
  <h2 class="fact__header">Polygons/Points ratio</h2>

  <div id="points-polygons-ratio" class="fact__body">
    <div class="horizontal-bar"><div data-fill-value="<%= @stats[:geometry_ratio_polygons] %>" class="horizontal-bar__inner"></div></div>
    <div class="space-between">
      <div class="value">
        <h3 class="value__number value__number--alt-color value__number--large"><%= @stats[:geometry_ratio_polygons] %>%</h3>
        <small class="value__label">Polygons</small>
      </div>
      <div class="value">
        <h3 class="value__number value__number--large"><%= @stats[:geometry_ratio_points] %>%</h3>
        <small class="value__label value__label--right">Points</small>
      </div>
    </div>
  </div>
</section>
