<section class="fact">
  <h2 class="fact__header">Countries & territories</h2>
  <div class="fact__body">

    <% if @region.countries_and_territories.any? %>
      <p class="fact__subheader"><i class="fa fa-level-down"></i> Countries & territories</p>
      <div class="u-scrollable-wrapper">
        <table class="table js-sortable-table">
          <thead>
            <tr class="table__header">
              <th class="table__column table__column--with-sorting">Name</th>
              <th class="table__column table__column--with-sorting">Code</th>
            </tr>
          </thead>
          <tbody>
            <% @region.countries_and_territories.each do |country| %>
              <tr class="table__row">
                <td class="table__label table__label--link"><%= link_to country.name, country_path(country.iso) %></td>
                <td class="table__value table__value--link"><%= link_to country.iso_3, country_path(country.iso) %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>
