@include b(alert) {
  @include m(flex) {
    @extend %flexbox;
    @include align-items(flex-start);
  }

  @include m(push) {
    margin-bottom: rem-calc(40);
  }

  background-color: $alert__bg-color;
  padding: rem-calc(10);

  @include e(body) {
    @include text(body);
    @extend %color-base;
  }
  
  @include e(icon) {
    float: left;
  
    min-width: rem-calc(40) !important;
    @include text--icon(body, thin);
  
    @include m(warning) { color: $alert-warning--color; }
    @include m(info) { color: $alert-info--color; }
    @include m(success) { color: $alert-success--color; }
  }
  
  @include e(icon-inner) {
    box-sizing: content-box;
    @include text--icon(small, thin);
  
    @include m(warning) { color: $alert__bg-color; }
    @include m(info) { color: $alert__bg-color; }
    @include m(success) { color: $alert__bg-color; }
  }
  
  @include e(title) {
    @include text--alt(headline, bold);
    @include line-height(2rem);
  
    margin-bottom: rem-calc(8);
  
    @include m(warning) { color: $alert-warning--color; }
    @include m(success) { color: $alert-success--color; }
    @include m(info) { color: $alert-info--color; }
  }
  
}
