@include b(big-button) {
  text-align: center;
  @include text--alt(body, bold);

  color: $big-button__color;
  @include color-with-state($big-button__bg-color, (
    hover: $big-button__bg-color--hover,
    active: $big-button__bg-color--pressed,
    disabled: $big-button__bg-color--disabled
  ), background-color);

  border-radius: $big-button__border-radius;
  padding: $big-button__padding;
  min-height: rem-calc(40);
  min-width:  rem-calc(40);

  @include e(icon) {
    margin-right: $big-button-icon__margin-right;

    @include m(closer) {
      margin-right: $big-button-icon__margin-right - rem-calc(4);
    }
  }

  @include m(alt-colors) {
    background-color: $big-button__color;
    border: solid rem-calc(1) $grey-15;

    @include color-with-state($big-button__bg-color, (
      hover: $big-button__color,
      active: $big-button__color,
      disabled: $big-button__color
    ));
  }

  @include m(danger) {
    border: solid rem-calc(1) $grey-15;

    @include color-with-state($big-button-danger__bg-color, (
      hover: $big-button-danger__bg-color--hover,
      active: $big-button-danger__bg-color--pressed,
      disabled: $big-button-danger__bg-color--disabled
    ), background-color);
  }

  @include m(compact) {
    padding: $big-button-compact__padding;
  }
}
