//----------------------------------------
// shared styles
//----------------------------------------
%burger-line {
  background-color: $white;
  width: rem-calc(30); height: rem-calc(3);
  display: block;
}

%burger-open { //used in navbar.scss
  background-color: transparent;

  &:before { transform: rotateZ(-45deg); }

  &:after { transform: rotateZ(45deg); }  
}

//----------------------------------------
// burger
//----------------------------------------
.burger {
  cursor: pointer;

  align-self: center;
  position: relative;

  @include breakpoint($large){ display: none; }

  &:hover .burger-icon,
  &:hover .burger-icon:before,
  &:hover .burger-icon:after { 
    background-color: lighten($navbar-element-hover__bg-color, 30%);
  }
  
  &.burger--open {
    &:hover .burger-icon { background-color: transparent; }

    .burger-icon { @extend %burger-open; }
  }

  &-icon {
    @extend %burger-line;
    margin: rem-calc(10 14 10 0);

    &:before {
      @extend %burger-line;
      content: '';

      position: absolute;
      top: 0;

      transform-origin: top right;
    }

    &:after {
      @extend %burger-line;
      content: '';

      position: absolute;
      bottom: 0;

      transform-origin: bottom right;
    }
  }
}