.circle-story {
  @include flexbox;
  flex-flow: row wrap;
  padding: rem-calc(0 0 28 0);


  @include breakpoint($medium){ 
    flex-flow: row nowrap;
    padding: rem-calc(0 26 40 0); 
  }

  @include breakpoint($large){ padding: rem-calc(0 26 90 0); }

  &__circle {

    &--above {
      margin: rem-calc(28 0);
      margin-right: 0;
      float: none;
    }

    &--smaller {
      $circle-diameter: rem-calc(160);
      height: $circle-diameter;
      width: $circle-diameter;
    }
  }

    &__circle-inner {
      border-radius: 0;
      object-fit: cover;
      margin-bottom: rem-calc(8);
      width: 100%; height: rem-calc(150);

      @include breakpoint($medium){
        border-radius: 100%;
        margin: 0;
        width: 92%; height: auto;
      }
    }

  &__body {
    @include text(body, thin);

    padding-left: rem-calc(8);
  }

  
    &__title {
      @include text(medium, bold);
      @include color($green);
      line-height: 1.1;

      margin-bottom: rem-calc(8);
    }
    
    &__content {
      margin-bottom: rem-calc(16);
    }

}
