@include b(dropdown) {
  background-color: $dropdown__bg-color;

  left:0;
  padding: rem-calc(0 10);
  padding-bottom: rem-calc(24);
  min-width: 100%;
  white-space: nowrap;
  z-index: 1000;

  @include breakpoint($large) { 
    position: absolute; 
    top: 100%;
  }

  @include m(search-dropdown) {
    background-color: $white;

    left: auto; // needs to be auto for IE11
    right: 0;

    min-width: rem-calc(480);
    padding-bottom: initial;
    padding: rem-calc(10);
  }

  @include e(trigger) {
    display: inline-block;
    position: relative;

    &.is-active {
      background-color: $dropdown-trigger-is-selected__bg-color;
    }
  }

  @include e(inner) {
    border-top: solid rem-calc(2) $dropdown-inner__border-top-color;
    padding-top: rem-calc(8);

    @include e(simple) {
      border-top: 0;
      padding-top: 0;
    }

    @include e(stretch) {
      min-width: rem-calc(400);
    }
  }

  @include e(element) {
    &:hover { background-color: $dropdown-element-hover__bg-color; }

    @include color($white);
    @include text(body);

    display: block;
    padding: rem-calc(10 20);
    margin: rem-calc(0 -10);
  }
}
