@include b(expandable-section) {
  margin-bottom: rem-calc(10);

  @include e(header) {
    &:hover { background-color: $grey-15; }

    @extend %color-base;
    @include text(headline);

    background-color: $grey-5;
    cursor: pointer;
    padding: rem-calc(8 20);

    @include m(no-bg) { background-color: inherit; }
}

  @include e(switch) {
    float: right;

    &:after { @extend %color-base; }

    &.is-open {
      &:after { @include fa(minus-circle); }
    }

    &.is-closed {
      &:after { @include fa(plus-circle); }
    }
  }

  @include e(body) {
    border: solid rem-calc(1) $grey-5;
    padding: rem-calc(20);
  }
}
