@include b(fullscreen-message) {
  text-align: center;

  width: 75%;
  margin: auto;
  margin-top: rem-calc(112);

  @include e(header) {
    @include text--alt(xlarge, x-bold);
    margin-bottom: rem-calc(16);
  }

  @include e(body) {
    @extend %color-base;

    @include text(headline, thin);
    line-height: form-factor(headline, line-height);
  }
}
