.fullscreen-message {
  text-align: center;

  width: 75%;
  margin: auto;
  margin-top: rem-calc(112);

  &__header {
    @include text--alt(xlarge, x-bold);
    margin-bottom: rem-calc(16);
  }

  &__body {
    @extend %color-base;

    @include text(headline, thin);
    line-height: form-factor(headline, line-height);
  }
}
