@include b(header) {
  @include e(text) {
    @extend %color-base;
    @include text(medium, thin);
    margin-bottom: rem-calc(20);
  }

  @include e(sup) {
    vertical-align: super;

    @include text(small, bold);
    @include color($green);
  }

  @include e(image) {
    float: left;
    margin-right: rem-calc(15);
  }
}
