.home-banner {
  background-image: asset-url('images/pp-home-banner.jpeg');
  background-size: cover;
  padding: rem-calc(0 14 14);

  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint($small) {
    padding: rem-calc(20 20 30 20);

    flex-direction: row;
  }

  &__title {
    @include text(large, x-bold);
    color: $white;
    margin: rem-calc(40 0);

    @include breakpoint($small) {
      padding: 0 rem-calc(40);
    }
    @include breakpoint($medium) {
      @include text(xxlarge, x-bold);
      padding: 0 rem-calc(60);
    }
    @include breakpoint($large) {
      @include text(xxxxlarge, x-bold);
      padding: rem-calc(0 100);  
      width: rem-calc(1200);
    }
  }

  &__carousel {
    background-color: $green--darker;
    margin-left: auto;

    width: 100%; height: auto;
    
    flex-shrink: 0;

    @include breakpoint($small) {
      width: rem-calc(400); height: rem-calc(340);
    }
  }
}