.home-carousel-slide {
  color: $white;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  
  &__title {
    @include text(headline, thin);
    overflow-wrap: break-word;

    margin-bottom: rem-calc(14);

    @include breakpoint($small) {
      @include text(large, thin)
    }
  }

  &__description {
    @include text(body, thin);
    overflow-wrap: break-word;
    
    display: none;

    @include breakpoint($small) {display: block}
  }

  &__link {
    @include text(body, bold);
    line-height: 1;
    margin-top: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-self: flex-end;

    &-text:hover {
      text-decoration: underline;
    }
  }

  &__link-icon {
    margin-left: rem-calc(4);
  }
}