@include b(horizontal-bar) {
  position: relative;
  height: $horizontal-bar__height;
  width: 100%;
  background-color: $horizontal-bar__bg-color;

  margin-bottom: $horizontal-bar__margin-bottom;

  @include e(inner) {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    background-color: $horizontal-bar-inner__bg-color;
  }
}
