@mixin link-with-icon($color: $link-with-icon__color, $bg-color: $link-with-icon__bg-color, $icon__margin-sides: $link-with-icon-icon__margin-sides) {
  @include text(body, thin);
  @extend %acts-as-link;

  cursor: pointer;

  @include e(icon) {
    margin-right: $icon__margin-sides;

    @include m(after) {
      margin-left: $icon__margin-sides;
      margin-right: 0;
    }

    @include m(above) {
      display: block !important;
      margin-bottom: $icon__margin-sides;
    }

    @include m(absolute) {
      position: absolute;
      left: 0; top: 0;
    }
  }

  @include m(inherit) {
    font: inherit;
  }

  @include m(no-push) {
    margin-bottom: 0;
  }

  @include m(push) {
    &:not(:last-child) { margin-bottom: rem-calc(8); }
  }

  @include m(no-color) {
    color: inherit !important;
    font-weight: inherit;
  }

  @include m(bold) { @include font-weight(bold); }

  @include m(pull-right) {
    position: relative;
    padding-left: rem-calc(24);
  }

  @content;

  &--no-underline {
    &:hover { text-decoration: none; }
  }
}

@include b(link-with-icon) {
  @include link-with-icon;
}
