.map {
  width: $map__width;

  &--hero {
    height: $map--hero__height;
  }

  &--main {
    height: $map--main__height;
  }

  &--marine {
    height: rem-calc(700);

    @include breakpoint($medium){ height: $map--main__height; }
  }

  &--networks {
    height: rem-calc(360);

    @include only-desktop { height: $map--networks__height; }
  }

  &--double {
    height: $map--main__height*2;
  }

  &--margin-top-bottom {
    margin: rem-calc(30 0);
  }

  @include leaflet-control-zoom;
  @include leaflet-control-layers;
}
