@include b(modal) {
  display: none;

  position: fixed;
  z-index: $z-index-10;
  top: 25%;
  left: 30%;
  width: 40%;
  padding: rem-calc(30);
  background: $white;
  box-sizing: border-box;

  @extend %color-base;
  @include text(body, thin);

  h2 {
    font-size: rem-calc(22);
    margin: 0;
  }

  p {
    margin-top: rem-calc(20);
  }

  &.is-opened {
    display: block;
  }

  a.btn {
    display: inline-block;
    padding: rem-calc(10 40);
  }

  .fa-external-link{
    margin-left: rem-calc(10);
  }

  input {
    width: 100%;
    display: block;
  }
}

.btn-close {
  cursor: pointer;
  position: absolute;
  top: rem-calc(10);
  right: rem-calc(10);
  padding: rem-calc(5);
}

.total-overlay {
  display: none;
  position: fixed;
  z-index: $z-index-8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color--download-modal-overlay-bg;

  &.visible {
    display: block;
  }
}
