@include b(pa-card) {
  color: $pa-card-text__color;
  font-size: rem-calc(15);
  margin-bottom: rem-calc(32);

  @include only-desktop {
    padding: rem-calc(0 20 20 20);
  }

  @include e(name) {
    @extend %acts-as-link;
    @include text(body, bold);

    margin-bottom: rem-calc(12);
  }

  @include e(subtitle) {
    @include text(body);
    color: $pa-card-subtitle__color;
    margin-bottom: rem-calc(16);
  }

  @include e(map) {
    margin-bottom: rem-calc(16);
  }

  @include e(details) {
    border-bottom: solid rem-calc(1) $pa-card-border-bottom__color;
    padding-bottom: rem-calc(4);
  }

  @include e(detail) {
    @include text(body);
    font-size: inherit;
    margin-bottom: rem-calc(12);

    @include m(inline) {
      float: left;
      &:not(:last-child) {
        padding-right: rem-calc(16);
        border-right: solid rem-calc(1) $pa-card-detail-border-right__color;
      }
      &:not(:first-child) {
        padding-left: rem-calc(16);
      }
    }
  }

  @include e(detail-link) {
    @extend %acts-as-link;
    @include font-weight(thin);

    font-family: 'MuseoSlab';
  }

  @include e(detail-value){
    @include font-weight(thin);

    font-family: 'MuseoSlab';
  }
}

