@include b(reference) {
  &:not(:last-child) {
    margin-bottom: $reference__margin-bottom;
  }

  @include e(title) {
    float: left;
    font-weight: bolder;

    margin-right: $reference-title__margin-right;
  }

  @include e(body) {
    margin-bottom: $reference-body__margin-bottom;
  }

  @include e(link) {
    @include text(body, bold);
    color: $reference-link__color;
  }

  @include e(link-icon) {
    color: $reference-link-icon__color;
    margin-right: $reference-link-icon__margin-right;
  }
}
