.select-with-content {
  @include text(body, thin);
  @extend .u-base-color;

  select {
    appearance: menulist;
    -webkit-appearance: menulist;
  }

  &__content {
    padding: rem-calc(20 0 10 0);
  }

    &__text {
      margin: rem-calc(8 0 22 0);

      @include breakpoint($large){ margin: rem-calc(16 0 22 0); }
    }
}