.stats {
  background-color: $stats-background-color;
  color: $stats-text-color;
  font-family: 'MuseoSlab';
  font-size: rem-calc(15);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: rem-calc(30);
  padding: rem-calc(12 18);

  &__country-list {
    border-top: solid rem-calc(1) $grey-15;
    color: $stats-country-color;
    font-family: 'MuseoSans';
    font-weight: 500;
    margin-top: rem-calc(16);
    padding-top:rem-calc(14);

    position: relative;

    &:before {
      border-style: solid;
      border-color: transparent transparent $grey-15 transparent;
      border-width: rem-calc(0 11 12 11);
      content: '';

      position: absolute;
      top: rem-calc(-12);
      left: rem-calc(37);
    }

    &:after {
      border-style: solid;
      border-color: transparent transparent $stats-background-color transparent;
      border-width: rem-calc(0 10 11 10);
      content: '';

      position: absolute;
      top: rem-calc(-10);
      left: rem-calc(38);
    }
  }

    &__number {
      color: $stats-number-color;
      font-size: rem-calc(48);
      margin-right: rem-calc(7);
    }
}