//----------------------------------------
// variables
//----------------------------------------
$navHeightMobile: rem-calc(48);

//----------------------------------------
// animations
//----------------------------------------
@keyframes showNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes unstickNav {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

//----------------------------------------
// sticky nav styles
//----------------------------------------
.v-sticky-nav {
  @extend .u-text-sans;

  @include breakpoint($large){ 
    margin: auto;
    max-width: 80rem;
    overflow: hidden;
    width: 80%;
  }

  &__wrapper {
    background-color: $blue--marine-4;
    height: $navHeightMobile;

    display: none;
    position: relative;

    @include breakpoint($large){ 
      height: rem-calc(55); 

      display: flex;
    }

    &--unstick {
      animation: unstickNav .25s forwards linear;
    }

    &--stuck {
      width: 100%;
      
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100000;

      animation: showNav .25s forwards linear;

      & .v-sticky-nav__menu {
        @include breakpoint($large){ 
          margin: auto;
          max-width: 80rem;
          width: 80%;
        }
      }
    }
  }

    &__title {
      color: white;
      font-weight: bold;
      margin-left: rem-calc(14);
      text-transform: uppercase;
      
      align-self: center;
      transform: translateY(2px);

      @include breakpoint($large){ display: none; }
    }

    &__burger {
      margin-left: auto;
      
      justify-self: flex-end;

      &:hover .v-sticky-nav__burger-icon,
      &:hover .v-sticky-nav__burger-icon:before,
      &:hover .v-sticky-nav__burger-icon:after { 
        background-color: $blue--marine-1; 
      }
    }

    &__menu {
      @include flex-flow(row wrap);
      height: 100%;

      display: none;
      position: absolute;
      right: 0;
      top: $navHeightMobile;
      left: 0;

      @include breakpoint($large){
        @include flex-flow(row nowrap);
        width: 100%;
      
        display: flex;
        position: static;
      }

      &--open {
        display: block; 
      }
    }

      &__menu-item {
        flex: 1 1 auto;

        display: flex;
      }

        a.v-sticky-nav__link {
          background-color: $blue--marine-4;
          border-top: solid rem-calc(1) $blue--marine-3;
          color: white;
          font-size: rem-calc(15);
          padding: rem-calc(16 10 15 10);
          text-align: center;
          text-decoration: none;
          width: 100%; height: 100%;

          display: flex;
          
          align-items: center;
          justify-content: center;

          @include breakpoint($large){
            padding: rem-calc(0 10);
            border: none;
          }

          &:hover,
          &-active {
            background-color: $blue--marine-3;
          }
        }
}