$tabWidth: rem-calc(409);
$iconWidth: rem-calc(32);

.sticky-tab {
  background-color: white;
  border: solid rem-calc(1) $blue--marine-5;
  border-top-right-radius: rem-calc(3);
  border-bottom-right-radius: rem-calc(3);
  
  display: none;
  position: fixed;
  top: 50%;
  left: -($tabWidth - $iconWidth);
  z-index: 2000;

  transition: left .2s ease-in-out;

  @include breakpoint($medium) { display: block; }

  &--open { left: 0; }

    &__icon {
      background-color: $blue--marine-5;
      cursor: pointer;
      width: $iconWidth; height: $iconWidth;

      display: inline-block;

      &:hover { background-color: darken($blue--marine-5, 5%); }

      &:before { 
        color: white;
        content: '\f1e0';
        font: $fontAwesome;
        font-size: rem-calc(18);

        position: relative;
        top: rem-calc(7);
        left: rem-calc(7);

        .sticky-tab--open & { 
          content: '\f053'; 
          top: rem-calc(8);
          left: rem-calc(9);
        }
      }
    }

    &__text {
      padding: rem-calc(0 6);

      display: inline-block;

      transform: translateY(6px);
    }
}