@include b(tooltip) {
  background-color: $white;

  position: absolute;
  left: 0;
  z-index: 1000;


  white-space: nowrap;

  min-width: 100%;
  padding: rem-calc(20);
  padding-top: rem-calc(24);
  border: solid rem-calc(1) $grey-5;
  border-radius: rem-calc(8);
  margin-top: 1rem;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: rem-calc(10);
    margin-left: rem-calc(-10);
  }
  &:before {
    border-color: rgba(242, 242, 242, 0);
    border-bottom-color: #f2f2f2;
    border-width: rem-calc(11);
    margin-left: rem-calc(-11);
  }

  @include e(trigger) {
    display: inline-block;
    position: relative;
  }

  @include e(element) {
    @extend %acts-as-link;
    display:block;
    width: 100;

    padding: .625rem rem-calc(4);
    padding-bottom: rem-calc(4);
    margin-bottom: rem-calc(4);

    border-bottom: solid rem-calc(1) $grey-15;
    text-align: left;
  }
}
