@mixin value($number__color: $value-number__color, $number-alt-color__color: $value-number-alt-color__color) {
  @include b(value) { $block: &;
    position: relative;

    @include e(number) {
      @include color($number__color);
      @include text--alt(medium, bold);

      @include m(inherit)   { font: inherit;                            }
      @include m(xxlarge)   { @include text--alt(xxlarge, bold);        }
      @include m(xxxxlarge) {
        @include text--alt(xxxxlarge, bold);
        @media print { @include text--alt(large, bold); }
      }
      @include m(large)     { @include text(xlarge, bold);              }

      @include m(alt-color) { @include color($number-alt-color__color); }

      @include only-mobile {
        margin-right: rem-calc(8);
      }
    }

    @include e(label) {
      @extend %color-base;
      @include text(body, thin);

      @include m(right) {
        float: right;
      }

      @include m(side) {
        float: left;
        margin: rem-calc(0 16);
        width: 50%;

        @include only-mobile {
          float: none;
          margin: 0;
        }
      }
    }
  }
}

@include value;
