@mixin value($number__color: $value-number__color, $number-alt-color__color: $value-number-alt-color__color) {
  .value { $block: &;
    position: relative;

    &__number {
      color: $number__color;
      @include text--alt(medium, bold);

      &--inherit   { font: inherit;                            }
      &--xxlarge   { @include text--alt(xxlarge, bold);        }
      &--xxxxlarge {
        @include text--alt(xxxxlarge, bold);
        @media print { @include text--alt(large, bold); }
      }
      &--large     { @include text(xlarge, bold);              }

      &--alt-color { color: $number-alt-color__color; }

      @include only-mobile {
        margin-right: rem-calc(8);
      }
    }

    &__label {
      @extend %color-base;
      @include text(body, thin);

      &--right {
        float: right;
      }

      &--side {
        float: left;
        margin: rem-calc(0 16);
        width: 50%;

        @include only-mobile {
          float: none;
          margin: 0;
        }
      }
    }
  }
}

@include value;
