<section class="fact">
  <h2 class="fact__header">Management Effectiveness Evaluations</h2>

  <% pame_evaluations_summary.each do |method, years| %>
    <p class="attribute">
      <span class="attribute__title"><%= method %></span>
      <span class="attribute__value"><%= years.join(", ") %></span>
    </p>
  <% end %>
</section>
