<% if management_plan_document %>
  <section class="fact">
    <h2 class="fact__header">Management Plan</h2>

    <a href="<%= management_plan_document %>" class="info-box--margin-top info-box__link">
      <i class="info-box__link-icon fa fa-file-pdf-o"></i><%= "#{@protected_area.name} Management Plan" %>
    </a>
  </section>
<% end %>
