<section class="fact">
  <h2 class="fact__header">Number of Protected areas</h2>

  <div class="card--stats">
    <p class="card__number--xxxxlarge-primary"><%= spaceify(location.protected_areas.count) %></p>

    <p>
      <span class="card__number--xlarge-primary">
        <i class="fa fa-level-down u-text-muted"></i>
        <%= spaceify(location.protected_areas.with_pame_evaluations.count) %>
      </span>
      with management effectiveness evaluations
    </p>
  </div>
</section>
