//--------------------------------------------------
// custom fields
//--------------------------------------------------
#fragment-published_date { background-color: #fff; }

[for="fragment-types"],
[for="fragment-topics"] { padding-top: 0; }

.alert.alert-alert {
  background-color: #dc3545;
  color: #fff;
}