@mixin screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: rem-calc(1);
	margin: - rem-calc(1);
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: rem-calc(1);
}

.screen-reader {
  @include screen-reader;
}