@mixin beautify-scrollbar {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-button {
        width: rem-calc(9);
        height: rem-calc(9);
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        background-clip: padding-box;
        border-radius: rem-calc(9);
        border: rem-calc(1) solid $grey-xdark;
    }
    &::-webkit-scrollbar-thumb {
        background: $grey-dark;
        &:hover {
            background: $grey-dark;
        }
        &:active {
            background: lighten($grey-light, 25%);
        }
    }
    &::-webkit-scrollbar-track {
        background: $grey-xlight;
        &:hover {
            background: $grey-xlight;
        }
        &:active {
            background: $grey-dark;
        }
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}