//--------------------------------------------------
// columns
//--------------------------------------------------
// N.B. flex-basis doesn't work properly in IE11, so be careful using these classes!

.flex-1-half { flex: 0 1 50%; }

.flex-1-third { flex: 0 1 33%; }
.flex-2-thirds { flex: 0 1 66%; }

.flex-1-quarter { flex: 0 1 25%; }
.flex-2-quarters { flex: 0 1 50%; }
.flex-3-quarters { flex: 0 1 75%; }

.flex-1-fith { flex: 0 1 20%; }
.flex-2-fiths { flex: 0 1 40%; }
.flex-3-fiths { flex: 0 1 60%; }
.flex-4-fiths { flex: 0 1 80%; }

.flex-1-sixth { flex: 0 1 16%; }
.flex-2-sixths { flex: 0 1 33%; }
.flex-3-sixths { flex: 0 1 50%; }
.flex-4-sixths { flex: 0 1 66%; }
.flex-5-sixths { flex: 0 1 83%; }

//--------------------------------------------------
// columns with gutters
//--------------------------------------------------
.flex-1-third-gutters { flex: 0 1 30%; }
.flex-2-thirds-gutters { flex: 0 1 63%; }

//--------------------------------------------------
// classes
//--------------------------------------------------
.flex { @include flex(); }
.flex-inline { @include flex-inline(); }
.flex-row { @include flex-row(); }
.flex-row-reverse { @include flex-row-reverse(); }
.flex-column { @include flex-column(); }
.flex-column-reverse { @include flex-column-reverse(); }
.flex-nowrap { @include flex-nowrap(); }
.flex-wrap { @include flex-wrap(); }
.flex-wrap-reverse { @include flex-wrap-reverse(); }
.flex-1 { @include flex-1(); }
.flex-grow { @include flex-grow(); }
.flex-no-grow { @include flex-no-grow(); }
.flex-shrink { @include flex-shrink(); }
.flex-no-shrink { @include flex-no-shrink(); }
.flex-h-start { @include flex-h-start(); }
.flex-h-center { @include flex-h-center(); }
.flex-h-between { @include flex-h-between(); }
.flex-h-around { @include flex-h-around(); }
.flex-h-end { @include flex-h-end(); }
.flex-hs-start {@include flex-hs-start(); }  
.flex-hs-center { @include flex-hs-center(); }
.flex-hs-between { @include flex-hs-between(); }
.flex-hs-around { @include flex-hs-around(); }
.flex-hs-end { @include flex-hs-end(); }
.flex-v-start { @include flex-v-start(); }
.flex-v-end { @include flex-v-end(); }
.flex-v-center {@include flex-v-center(); }
.flex-v-baseline { @include flex-v-baseline(); }
.flex-v-stretch { @include flex-v-stretch(); }
.flex-vs-start { @include flex-vs-start(); }
.flex-vs-center { @include flex-vs-center(); }
.flex-vs-baseline { @include flex-vs-baseline(); }
.flex-vs-stretch { @include flex-vs-stretch(); }
.flex-vs-end { @include flex-vs-end(); }  
.flex-vm-start { @include flex-vm-start(); }
.flex-vm-end { @include flex-vm-end(); }
.flex-vm-center { @include flex-vm-center(); }
.flex-vm-between { @include flex-vm-between(); }
.flex-vm-around { @include flex-vm-around(); }
.flex-vm-stretch { @include flex-vm-stretch(); }

.flex-center {
  @include flex();
  @include flex-h-center();
  @include flex-v-center();
}