<div class="map--container">
  <v-map-header title="<%= @main_map[:title] %>"></v-map-header>
  <v-map></v-map>
  <v-map-filters
    title="<%= @main_map[:title] %>"
    :overlays="<%= @main_map[:overlays].to_json %>"
    :disclaimer="<%= @main_map[:disclaimer].to_json %>"
  ></v-map-filters>
</div>