<div class="map--main">
  <v-map-header title="<%= map[:title] %>"></v-map-header>
  <v-map></v-map>
  <v-map-filters
    title="<%= map[:title] %>"
    :overlays="<%= map[:overlays].to_json %>"
    :disclaimer="<%= map[:disclaimer].to_json %>"
  ></v-map-filters>
</div>