<h2 class="section__header">Protected Areas coverage in 2017</h2>

<div class="flex-row justify-content-end">
  <div class="flex-1-third">
    <h3 class="header--small">Number of Marine Protected Areas</h3>
    <p class="text--100"><counter :total="18300"></counter></p>

    <h3 class="header--small">Percent of the ocean covered by protected areas</h3>
    <p class="text--144"><counter :total="5.7"></counter>%</p>

    <h3 class="header--small">Total Area Protected</h3>
    <p class="text--48"><counter :total="20500000"></counter>km²</p>
  </div>
</div>