<h2 class="header--h2-insights">Protected Areas coverage in 2017</h2>

<div class="u-relative">
  <div
    id="map-marine"
    class="map map--main"
    data-style="marine"
    data-bound-from="<%= map_bounds['from'] %>"
    data-bound-to="<%= map_bounds['to'] %>"
    data-hide-control="true"
    data-zoom-position="bottomleft">
  </div>

  <div class="t--marine__counter counter">
    <h3 class="header--h3-insights">Number of Marine Protected Areas</h3>
    <p class="text--100"><counter :total="18300"></counter></p>

    <h3 class="header--h3-insights">Percent of the ocean covered by protected areas</h3>
    <p class="text--144"><counter :total="5.7"></counter>%</p>

    <h3 class="header--h3-insights">Total Area Protected</h3>
    <p class="text--48"><counter :total="20500000"></counter>km²</p>
  </div>
</div>