<h2 class="section__header">Protected Areas coverage in 2017</h2>

<div class="flex-row justify-content-end">
  <div class="flex-1-third">
    <h3 class="header--small">Number of Marine Protected Areas</h3>
    <p class="text--100"><incrementor :total="18300"></incrementor></p>

    <h3 class="header--small">Percent of the ocean covered by protected areas</h3>
    <p class="text--144"><incrementor :total="5.7"></incrementor>%</p>

    <h3 class="header--small">Total Area Protected</h3>
    <p class="text--48"><incrementor :total="20500000"></incrementor>km²</p>
  </div>
</div>