<h2 class="header--h2-insights">Most recent designations</h2>

<p class="t--marine__section__introduction">
  
</p>

<div class="table--grey">
  <div class="table--grey__headers">

    <% 
      # NOTE
      # If you update the table header names
      # make sure you update the :before content 
      # for the table cells in table.scss 
    %>

    <div class="table--grey__header-cell">PA name</div>
    <div class="table--grey__header-cell">Country</div>
    <div class="table--grey__header-cell">Size</div>
    <div class="table--grey__header-cell">Date of designation</div>
  </div>
  
  <div>
    <% @designations.each do |designation| %>
      <div class="table--grey__row">
        <div class="table--grey__cell">
          <%= designation[:name] %>
        </div>
        <div class="table--grey__cell">
          <%= designation[:country] %>
        </div>
        <div class="table--grey__cell">
          <%= designation[:size] %>
        </div>
        <div class="table--grey__cell">
          <%= designation[:date] %>
        </div>
      </div>
    <% end %>
  </div>
</table>