<div class="flex-row">
  <div>
    <h2 class="header--h2-insights">Marine protected area representation</h2>

    <p class="template--marine__section__introduction">
      Despite these positive trends, gaps in MPA coverage or representativeness may undermine the conservation impact of existing MPAs. Of the 62 marine provinces, half of them have over 10% of their area covered by protected areas representing an increase of 12% since 2014.  Potential opportunities for new MPAs, such as in ABNJ or in areas of known critical habitat, would generate a globally representative network of MPAs.
    </p>
  </div>
  <div class="template--marine__fact">
    <div class="fact--circle fact--marine">
      <div class="fact__content flex-row align-items-center">
        <p>50% of all marine provinces have over 10% of their marine area protected</p>
      </div>
    </div>
  </div>
</div>

<div class="flex-row-responsive">
  <div class="flex-1-half flex-column-gap--right">
    <h3 class="header--h3-insights">Most protected ecoregions</h3>
    <horizontal-bar-chart id="most-protected" :json="<%= @mostProtectedEcoregions %>" :x-axis-max="25"></horizontal-bar-chart>
  </div>
  <div class="flex-1-half flex-column-gap--left">
    <h3 class="header--h3-insights">Least protected ecoregions</h3>
    <horizontal-bar-chart id="least-protected" :json="<%= @leastProtectedEcoregions %>" :x-axis-max="25"></horizontal-bar-chart>
  </div>
</div>
