<h2 class="header--h2-insights">Effective & Equitably Managed Sites</h2>

<p class="t--marine__section__introduction">An increasing need exists for the evaluation and understanding of the effectiveness of marine protected areas operating around the world. To meet this need, the World Conservation Union (IUCNs) World Commission on Protected Areas initiated the IUCN Green List of Protected and Conserved Areas Standard.</p>