<h2 class="header--h2-insights">Effectively and equitably managed marine protected areas</h2>

<div class="template--marine__section__introduction">
  <p>
    An increasing need exists for the evaluation and understanding of the effectiveness of marine protected areas operating around the world. Protected Area Management Effectiveness (PAME), and in particular the Management Effectiveness Tracking Tool (METT), is used in many parts of the world. Using such tools, a recent study (Gill et al. 2017) suggests that while ecological factors are key to enhancing the performance of MPAs, available capacity including resources and staff are fundamental for effective protected area management.
  </p>
  <p>
  The International Union for Conservation of Nature (IUCN) World Commission on Protected Areas initiated the <%= link_to 'IUCN Green List', @green_list %> of Protected and Conserved Areas Standard to increase the number of protected and conserved areas that are effectively and equitably managed and deliver conservation outcomes. See a list of marine protected areas below that potentially meet the Green List Standard.
  </p>
</div>

<div class="template--marine__greenlist flex-row-wrap">
  <% @green_list_areas.each do |area| %>
    <div class="template--marine__greenlist-result">
      <div class="result">
        <%= render 'search/protected_area', model: area %>
      </div>
    </div>
  <% end %>
</div>
