<h2 class="header--h2-insights">Growth in coverage over time</h2>

<p class="t--marine__section__introduction">
  Over the last 17 years the number and spatial extent of MPAs have increased rapidly. In 2000 MPAs covered just over 2.57% of national waters, but by 2017 that figure has risen to just over 15%.
</p>

<interactive-multiline :json="<%= @protectedAreasGrowth %>"></interactive-multiline>