<h2 class="header--h2-insights">Growth in marine protected area coverage</h2>

<div class="template--marine__section__introduction">
  <p>
    Over the last several years the number and spatial extent of MPAs have increased rapidly. In 2000 the area covered by MPAs was approximately 2 million km² (or 0.7% of the Ocean), since then there has been over a ten-fold increase in MPA coverage with 23 million km² (or 6.35%) of the ocean being covered by MPAs.
  </p>
  <p>
    Since 2010, marine protected area coverage has increased by over 14 million km². The progress in growth, results from a combination of sites being expanded e.g. <%= link_to 'US Papahānaumokuākea Marine National Monument', '/220201', title: 'View the US Papahānaumokuākea Marine National Monument protected area' %> in the USA which increased to just over 1.5 million km2 and new sites being created e.g. the <%= link_to 'Pitcairn Islands Marine Reserve', '/555624172', title: 'View the Pitcairn Islands Marine Reserve protected area' %> which covers an area greater than 800,000 km²  and the recent designation of <%= link_to 'Marae Moana Marine Park', '/555624907', title: 'View the Marae Moana Marine Park protected area' %> in the Cook islands covering an area of 1.97 million km2. 
  </p>
  <p>
    An additional 6.6 million km² has been added to the marine protected area network over the last 12 months.  This growth has been focused in national waters, while in areas beyond national jurisdiction, marine protected areas make up only 0.25% of total area, showing no change from the last number of years. 
  </p>
</div>

<interactive-multiline :json="<%= @protectedAreasGrowth %>"></interactive-multiline>