<%
nav = '[
  {
    id: "distribution",
    name: "Distribution"
  },
  {
    id: "growth",
    name: "Growth"
  },
  {
    id: "national",
    name: "National"
  },
  {
    id: "size-distribution",
    name: "Size Distribution"
  },
  {
    id: "ecoregions",
    name: "Ecoregions"
  },
  {
    id: "pledges",
    name: "Pledges"
  },
  {
    id: "designations",
    name: "Designations"
  },
  {
    id: "greenlist",
    name: "Greenlist"
  }
]'

%>

<header class="template--marine__header flex-row">
  <div class="container--profile">
    <div class="flex-align-center">
      <h1>
        <span class="header--h1-insights-small u-bg--black-transparent">Explore the World's</span>
        <span class="header--h1-insights u-bg--black-transparent">Marine Protected Areas</span>
      </h1>

      <div class="header__introduction u-bg--black-transparent">
        <p>
          Over 70% of the surface of Earth is ocean comprised of highly diverse ecosystems, which provide a wide range of marine ecosystem services that support human society, health and the economy. This website (marine.protectedplanet.net presents for the most recent official coverage statistics for marine protected areas, updated monthly from the World Database on <%= link_to 'Protected Areas', '/' %>.
        </p>
        <p>
          <%= link_to 'Learn how we calculate protected area coverage statistics', '/c/calculating-protected-area-coverage' %>
        </p>
      </div>
    </div>
  </div>

  <sticky-nav :json="<%= nav %>"></sticky-nav>
</header>