<%
nav = '[
  {
    id: "distribution",
    name: "MPA distribution"
  },
  {
    id: "growth",
    name: "Growth in coverage"
  },
  {
    id: "national",
    name: "Coverage of national waters"
  },
  {
    id: "size-distribution",
    name: "Size distribution"
  },
  {
    id: "ecoregions",
    name: "MPA representation"
  },
  {
    id: "pledges",
    name: "Pledges and designations"
  },
  {
    id: "greenlist",
    name: "Green listing"
  }
]'

%>

<header class="template--marine__header flex-row">
  <%= render partial: "marine/sections/social_sharing" %>
  
  <div class="container--profile">
    <div class="flex-align-center">
      <h1>
        <span class="header--h1-insights-small u-bg--black-transparent">Explore the World's</span>
        <span class="header--h1-insights u-bg--black-transparent">Marine Protected Areas</span>
      </h1>

      <div class="header__introduction u-bg--black-transparent">
        <p>
          Over 70% of the surface of Earth is ocean, comprised of highly diverse ecosystems, and providing a wide range of marine ecosystem services that support human society, health and the economy. This website presents the most recent official coverage statistics for marine protected areas, updated monthly from the <%= link_to 'World Database on Protected Areas', '/' %>.
        </p>
        <p>
          <%= link_to 'Learn how we calculate protected area coverage statistics', '/c/calculating-protected-area-coverage' %>
        </p>
      </div>
    </div>
  </div>

  <sticky-nav :json="<%= nav %>"></sticky-nav>
</header>
