<section class="container">
  <div class="map--main">
    <v-map-header title="<%= map[:title] %>"></v-map-header>
    <v-map></v-map>
    <v-map-filters
      title="<%= map[:title] %>"
      :overlays="<%= map[:overlays].to_json %>"
      :disclaimer="<%= map[:disclaimer].to_json %>"
    ></v-map-filters>
  </div>

  <div class="u-bg--marine-1">
    <p class="container--profile template--marine__map-disclaimer text--standard">
      The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of the Secretariat of the United Nations concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.
    </p>
  </div>
</section>