<section class="container section-padding bg--grey-xlight">
  <div class="container--medium">
    <h2><%= cms_fragment_render(:section_national_title, @cms_page) %></h2>
    <div><%= cms_fragment_render(:section_national_content, @cms_page) %></div>
    <div>
      <div>chart</div>
    </div>
  </div>
</section>