<div class="container--profile">
  <h2 class="header--h2-insights">Commitments and pledges</h2>

  <div class="template--marine__section__introduction">
    <p>
      UNEP-WCMC and the Convention on Biological Diversity (CBD) secretariat are tracking commitments made by nations to expand their protected area networks. Over 15 million km² has been pledged by over 70 countries and territories. The Regional Seas Conventions play a fundamental role in supporting sustainable management and use of the marine and coastal environment. Two of these regional conventions, namely OSPAR, the regional sea organization for the North East Atlantic, and the Convention for the Conservation of Antarctic Marine Living Resources (CCMALR) have driven the establishment of MPAs in areas beyond national jurisdiction.
    </p>

    <p>
      Submissions by countries to the World Database on Protected Areas to track progress towards global environmental commitments such as the United Nations Sustainable Development Goals (SDGs) and the Aichi Biodiversity Targets under the Strategic Plan for Biodiversity 2011-2020.
    </p>
  </div>
</div>

<div class="template--marine__pledges">
  <div class="counter template--marine__pledges-counter u-bg--grey">
    <h3 class="header--h3-insights">Current pledges</h3>
    <p class="text--48"><counter class="sm-pledges" :total="15111111"></counter>km²</p>
  </div>

  <div class="container--profile">
    <div class="template--marine__pledges-sunburst">
      <div class="flex-row justify-content-between template--marine__pledges-title">
        <h4>Global MPA pledges</h4>

        <%= link_to '/', title: 'Download the commitments and pledges data', class: 'button--basic-link u-hide-mobile' do %>
          <i class="fa fa-download"></i>
          Download this data
        <% end %>
      </div>

      <sunburst class="" :json="<%= @pledges %>"></sunburst>
    </div>
  </div>
</div>
