<h2 class="header--h2-insights">Size distribution of Marine Protected Areas</h2>

<p class="t--marine__section__introduction">
  Much of the recent growth in MPA coverage has been driven by the establishment of very large MPAs over 100,000 km².  Some countries, such as the USA, have protected the seas around their overseas territories. Others, such as the Cook Islands in the South Pacific Ocean, have protected their entire national waters. These vast MPAs each contribute a significant part of the total global ocean coverage, with the ten largest making up XX% of the total. While these protected areas represent huge commitments to conservation, there is a need for international collaboration to ensure that MPAs achieve their desired conservation value. 
</p>

<div class="flex-row-wrap sm-size-distribution">
  <div class="flex-1-half flex-column-gap--right">
    <h3 class="header--h3-insights">Top 20 Marine Protected Areas by size</h3>
    <horizontal-bars :json="<%= @top20ProtectedAreas %>"></horizontal-bars>
  </div>
  <div class="flex-1-half flex-column-gap--left">
    <h3 class="header--h3-insights">Top 20 Marine Protected Areas by size</h3>
    <rectangles :json="<%= @coverageOfTop20ProtectedAreas %>"></rectangles>
  </div>
</div>