<div class="social--sharing">

  <%= create_social_link('twitter', 'https://twitter.com/intent/tweet/?text=' + url_encode("Explore the World\'s Marine Protected Areas") + '&url=' + encoded_page_url, 'Share Marine Protected Planet on Twitter', '_blank') %>

  <%= create_social_link('facebook', 'https://facebook.com/sharer/sharer.php?u=' + encoded_page_url, 'Share Marine Protected Planet on Facebook', '_blank') %>

  <%= create_social_link('linkedin', 'https://www.linkedin.com/shareArticle?mini=true&url=' + encoded_page_url, 'Share Marine Protected Planet on LinkedIn', '_blank') %>

  <%= create_social_link('email', 'mailto:?subject=' + url_encode('Marine Protected Planet website') + '&body=' + encoded_page_url, 'Share Marine Protected Planet via Email', '_self') %>

  <tooltip>
    <p>Share a quote from Marine Protected Planet by highlighting some text to reveal a pop to share via Twitter or Email.</p>

    <p>Or share the whole page by clicking an icon to the left</p>
  </tooltip>

</div>