<div class="cards--themes container">
  <div class="cards__cards">
    <% items[:cards].each do |card| %>
      <%= render partial: 'partials/sub_partials/themes', locals: { theme: card } %>
    <% end %>
  </div>
</div>