<section class="fact">
  <h2 class="fact__header">Governance types</h2>
  <div class="fact__body">
    <table class="table">
      <thead>
        <tr class="table__header">
          <th class="table__column">Name</th>
          <th class="table__column">Governance type</th>
          <th class="table__column">Count</th>
          <th class="table__column">%</th>
        </tr>
      </thead>
      <tbody>
        <% @country.protected_areas_per_governance.each do |row| %>
          <tr class="table__row">
            <td class="table__label"><%= link_to row["governance_name"], search_url(country: @country.name, governance: row["governance_name"], main: :country) %></td>
            <td class="table__value"><%= row["governance_type"] %></td>
            <td class="table__value"><%= row["count"] %></td>
            <td class="table__value"><%= row["percentage"].to_f.round(2) %></td>
          </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</section>

