<section class="fact">
<h2 class="fact__header">IUCN Management categories<i class="fact__external-link fa fa-external-link-square"></i></h2>
  <div class="fact__body">
    

    <table class="table js-sortable-table">
      <thead>
        <tr class="table__header">
          <th class="table__column table__column--with-sorting">Management categories</th>
          <th class="table__column table__column--with-sorting">Count</th>
          <th class="table__column table__column--with-sorting">%</th>
        </tr>
      </thead>
      <tbody>
        <% @country.protected_areas_per_iucn_category.each do |row| %>
          <tr class="table__row">
            <td class="table__label table__label--link"><%= link_to row["iucn_category_name"], search_url(country: @country.name, iucn_category: row["iucn_category_name"], main: :country) %></td>
            <td class="table__value"><%= row["count"] %></td>
            <td class="table__value"><%= row["percentage"].to_f.round(2) %></td>
          </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</section>
