<% if @country.children.any? || @country.parent.present? %>
  <section class="fact">
    <h2 class="fact__header">Related countries & territories</h2>
    <div class="fact__body">

      <% if @country.children.any? %>
        <p class="fact__subheader"><i class="fa fa-level-down"></i> Related countries & territories</p>
        <table class="table js-sortable-table">
          <thead>
            <tr class="table__header">
              <th class="table__column table__column--with-sorting">Name</th>
              <th class="table__column table__column--with-sorting">Code</th>
            </tr>
          </thead>
          <tbody>
            <% @country.children.each do |child_country| %>
              <tr class="table__row">
                <td class="table__label table__label--link"><%= link_to child_country.name, country_path(child_country.iso) %></td>
                <td class="table__value table__value--link"><%= link_to child_country.iso_3, country_path(child_country.iso) %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
      <% end %>

      <% if @country.parent.present? %>
        <p class="fact__subheader"><i class="fa fa-level-down"></i> Parent countries & territories</p>
        <table class="table js-sortable-table">
          <thead>
            <tr class="table__header">
              <th class="table__column table__column--with-sorting">Name</th>
              <th class="table__column table__column--with-sorting">Code</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table__row">
              <td class="table__label table__label--link"><%= link_to @country.parent.name, country_path(@country.parent.iso) %></td>
              <td class="table__value table__value--link"><%= link_to @country.parent.iso_3, country_path(@country.parent.iso) %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </section>
<% end %>
