.expandable-section {
  margin-bottom: rem-calc(10);

  &__header {
    &:hover { background-color: $grey-15; }

    color: $grey-xdark;
    //@include text(headline);

    background-color: $grey-light;
    cursor: pointer;
    padding: rem-calc(8 20);

    &--no-bg { background-color: inherit; }
}

  &__switch {
    float: right;

    &:after { color: $grey-xdark; }

    &.is-open {
      &:after { @include fa(minus-circle); }
    }

    &.is-closed {
      &:after { @include fa(plus-circle); }
    }
  }

  &__body {
    border: solid rem-calc(1) $grey-light;
    padding: rem-calc(20);
  }
}
