.reference {
  &:not(:last-child) {
    margin-bottom: $reference__margin-bottom;
  }

  &__title {
    float: left;
    font-weight: bolder;

    margin-right: $reference-title__margin-right;
  }

  &__body {
    margin-bottom: $reference-body__margin-bottom;
  }

  &__link {
    //@include text(body, bold);
    color: $reference-link__color;
  }

  &__link-icon {
    color: $reference-link-icon__color;
    margin-right: $reference-link-icon__margin-right;
  }
}
