.table {
  color: $grey-xdark;
  width: 100%;

  &__column {
    cursor: pointer;
  
    //@include text--alt(body, x-thin);
    text-align: right;
    &:first-child { text-align: left; }
  
    &--align-left {
      text-align: left;
    }
  
    padding-bottom: 0.5em;
  
    &--with-sorting {
      &:after {
        color: $green;
        @include fa(arrow-both, $margin: (direction: left, value: 7px));
      }
    }
  
    &.is-sorted-asc {
      &:after {
        color: $green;
        @include fa(arrow-up, $margin: (direction: left, value: 7px));
      }
    }
  
    &.is-sorted-desc {
      &:after {
        color: $green;
        @include fa(arrow-down, $margin: (direction: left, value: 7px));
      }
    }
  
    &--no-arrows {
      &:before, &:after { content: null; }
    }
  }

  &__header {
    line-height: rem-calc(32);
    border-bottom: solid rem-calc(1) $grey;
    th { padding-right: 0.625rem; }
  };
  
  &__label {
    //@include text(body, thin);
    //@include line-height(1.666em);
  
    &--link {
      color: $table-link__color;
    }
  
    &--align-top {
      vertical-align: top;
    }
  
    padding-top: rem-calc(10);
    padding-right: .65em;
    vertical-align: middle;
    text-align: left;
  };
  
  &__row {
    //@include text(body, thin);
    border-bottom: solid rem-calc(1) $grey-15;
    margin-bottom: rem-calc(10);
    padding: rem-calc(5 0);
  
    &--last {
      td { padding-top: 1em; }
      font-weight: bolder;
    }
  
    &--first {
      td { padding-top: rem-calc(24); }
    }
  };
  
  &__value {
    text-align: right;
  
    //@include line-height(1.666em);
    vertical-align: middle;
    padding-right: 0.625rem;
    padding-top: rem-calc(10);
  
    &--link {
      color: $table-link__color;
    }
  }
  
}

//----------------------------------------
// grey table
//
// - responsive (list on mobile)
// - alternate coloured rows
// - used on the marine page
//----------------------------------------
.table--grey {
  //@extend .u-text-sans;

  text-align: left;
  width: 100%;

  &__headers {
    display: none;

    @include breakpoint($medium){
      border-bottom: solid rem-calc(1) $grey-77;  

      display: flex;
    }
  }
    
    &__header-cell {
      padding: rem-calc(8 4);

      @include breakpoint($medium){ flex: 0 0 25%; }
    }

  &__row {
    padding: rem-calc(8 0 6 0);

    @include breakpoint($medium){ 
      padding: 0; 

      display: flex;
    }

    &:nth-child(even) {
      background-color: $grey-light;
    }
  }

    &__cell {
      padding: rem-calc(8);

      @include breakpoint($medium){ 
        flex: 0 0 25%; 
        padding: rem-calc(12 4);
      }

      &:before {
        font-weight: bold; 
        margin-right: rem-calc(6);

        @include breakpoint($medium){ display: none; }
      }
      
      // Add copy for the table header
      // These are shown on mobile only
      // Check _pledges.html.erb for the copy

      &:nth-child(1) {
        &:before { content: 'PA name:'; }
      }

      &:nth-child(2) {
        &:before { content: 'Country:'; }
      }

      &:nth-child(3) {
        &:before { content: 'Size:'; }
      }

      &:nth-child(4) {
        &:before { content: 'Date of designation:'; }
      }
    }
}