<% if is_malaysia? %>
  <div class="info-box__row">
    <div class='header-with-delimiter no-border'>Protected areas documentation</div>
    <% malaysia_documents.map do |doc| %>
      <a href="<%= doc[:url] %>" class="info-box__link">
        <i class="info-box__link-icon fa fa-file-pdf-o"></i><%= doc[:name] %>
      </a>
    <% end %>
  </div>
<% end %>

