<div class="factsheet">
  <%= render partial: 'country/factsheet/pas_value', locals: {presenter: presenter, country: country} %>
  <%= render partial: 'country/factsheet/statistics', locals: {presenter: presenter, country: country} %>
</div>
