
      <i class="link-with-icon__icon fa fa-download"></i>Download this dataset
      <%= download_dropdown(@country.iso_3, 'general', (types rescue [:csv, :shp])) %>
  
  <div class="js-resizable map map--hero" id="map" data-mobile-height=33 data-bound-from="<%= @country.bounds.first %>" data-bound-to="<%= @country.bounds.last %>" data-iso3="<%= @country.iso_3 %>"
  data-control-position="bottomleft"></div>
  <div class="disclaimer">
    The designations employed and the presentation of material on this map do not
    imply the expression of any opinion whatsoever on the part of the Secretariat
    of the United Nations concerning the legal status of any country, territory,
    city or area or of its authorities, or concerning the delimitation of its
    frontiers or boundaries.
  </div>
