<% render partial: 'header' %>

<section id="protected-coverage-viz">
  <div class="countries-compare-left">
    <%= render partial: 'factsheet', locals: {presenter: @presenter, country: @country} %>
  </div>

  <div class="countries-compare-right">
    <% if @second_country %>
      <% cache("#{@country.id}-#{@second_country.id}-comparison") do %>
        <%= render partial: 'factsheet', locals: {presenter: @second_presenter, country: @second_country} %>
      <% end %>
    <% else %>
      <div class="countries-selection">
        <h3>Select a Country to compare</h3>
        <%= collection_select(nil, :iso2, @comparable_countries, :iso, :name, {prompt: true}, {id: 'countries-select'}) %>
      </div>
    <% end %>
  </div>
</section>
