<div class="bg--grey-xlight">
  <section class="container">
    <div class="flex flex-h-between">
      <%= render partial: "partials/stats/stats-coverage", locals: { 
        stats: @terrestrial_stats, 
        type: 'terrestrial' 
      } %>

      <%= render partial: "partials/stats/stats-coverage", locals: { 
        stats: @marine_stats, 
        type: 'marine' 
      } %>
    </div>
  </section>
</div>


  <%#= render "hero" %>
  <%#= render "factsheet" %>
  <%#= render "info_box" %>

