//----------------------------------------
// marine page template variables
//----------------------------------------
$marine-accent-color: $orange--lighest;

//----------------------------------------
// marine page utility classes
//----------------------------------------
.marine-4 { color: $blue--marine-4; }

//----------------------------------------
// marine page template
//----------------------------------------
.template--marine {
  color: $blue--marine-5;

  //----------------------------------------
  // html elements
  //----------------------------------------
  h4 {
    border-bottom: solid rem-calc(1) $blue--marine-5;
    color: $blue--marine-5;
    margin-bottom: rem-calc(14);
    padding-bottom: rem-calc(4);

    @include breakpoint($medium){ 
      margin-bottom: rem-calc(18); 
      padding-bottom: rem-calc(6);
    }

    @include breakpoint($large){ 
      margin-bottom: rem-calc(22); 
      padding-bottom: rem-calc(8);
    }
  }

  p {
    font-family: 'MuseoSans';
  }
  
  a {
    color: $blue--marine-3;
    text-decoration: underline;

    &:hover { text-decoration: none; }

    &.button--basic-link {
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }

    &.social--share { text-decoration: none; }
  }

  //----------------------------------------
  // sections
  //----------------------------------------
  .container--profile {
    @media only screen and (max-width: $medium){ 
      padding-left: rem-calc(18);
      padding-right: rem-calc(18);
    }

    @media only screen and (min-width: $medium) and (max-width: $large){ 
      padding-left: rem-calc(38);
      padding-right: rem-calc(38);
      width: 100%;
    }
  }

  .section--block-color {
    @extend .u-bg--marine-2;

    a { 
      color: $blue--marine-5; 
      text-decoration: underline;

      &:hover { text-decoration: none; }

      &.leaflet-control-zoom-in,
      &.leaflet-control-zoom-out {
        text-decoration: none;

        &:hover { background-color: lighten($blue--marine-1, 12%); }
      }

      &.leaflet-popup-close-button { 
        text-decoration: none;

        &:hover { color: lighten($blue--marine-5, 12%); }
      }
    }

    .leaflet-popup-content a { 
      text-decoration: none;

      &:hover { color: lighten($blue--marine-5, 10%); }   
    }
  }

  &__section {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    position: relative;

    @include only-desktop {
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(80);  
    }
  }

    &__section__introduction {
      @extend .text--standard;
      line-height: 1.7;
      margin-bottom: 2.25em;

      @include breakpoint($medium){ margin-bottom: 3.25em; }

      p { margin-bottom: rem-calc(14); }
    }

  &__fact-padding-top {
   margin-top: rem-calc(86);

    @include breakpoint($medium){ margin-top: 0; }
  }

  &__fact-padding-bottom {
   padding-bottom: rem-calc(44);

    @include breakpoint($medium){ padding-bottom: 0; }
  }

  //----------------------------------------
  // sticky nav
  //----------------------------------------
  .v-sticky-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  //----------------------------------------
  // page sections
  //----------------------------------------
  @import 'marine/header';
  @import 'marine/map';
  @import 'marine/ecoregions';
  @import 'marine/distribution';
  @import 'marine/pledges';
  @import 'marine/greenlist';

  //----------------------------------------
  // footer
  //----------------------------------------
  &__footer {
    a {
      color: $green; 
      text-decoration: none;
    }

    .reference__body { margin-bottom: rem-calc(14); }
  }
}