.template--site {

  .header__links {
    margin-bottom: rem-calc(25);

    display: inline-block;
  }

  .button--hide,
  .button--show {
    margin-left: rem-calc(16);

    position: relative;
    top: rem-calc(-1);
  }

  .fullscreen {
    &__button-site {
      top: rem-calc(230);
      right: rem-calc(10);
      z-index: 2000;
    }
  

    &__button-connections {
      top: rem-calc(345);
      right: rem-calc(10);
      z-index: 2000;
    } 

    &--active {
    
      .map--hero,
      .map--networks { 
        height: 100%; 
      }

      .fullscreen__button-site {
        top: auto;
        right: rem-calc(30);
        bottom: rem-calc(130);
      }

      .fullscreen__button-connections {
        top: auto;
        right: rem-calc(30);
        bottom: rem-calc(130);
      }

      .disclaimer { display: none; }
      
      .tab__content { height: 100%; }

      .key__list { height: 80%; }
    }
  }

  .section--factsheet {
    @extend .flex-row-wrap;

    @include only-desktop {
      @include flex-flow(row nowrap);
    }
  }

    .info-box--factsheet {
      @include only-mobile {
        margin-right: 0;
      }
    }
}