//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
&--results {
  .search {
    &__total {
      @include text-tabs-fake;
      font-weight: bold;
      color: $grey;
      margin: rem-calc(24 0 24 0);
    }
  }
}