<form action='/search' method='get' class="search-bar__form" id="search-form">
  <input autocomplete="off" name="q" placeholder="Search a protected area" value='<%= @query %>' class="search-bar__input js-search-input" type="text">
  <button class="search-bar__submit" type="submit"><i class="fa fa-search"></i></button>
</form>
