<p>
  Hi,
</p>

<p>
  Your recently started download on <a href="<%= root_url %>">Protected
  Planet</a> is now complete! You can download it instantly in the
  following formats:
</p>

<ul>
  <li><%= link_to("CSV", Download.link_to(@filename, 'csv')) %></li>
  <li><%= link_to("SHP", Download.link_to(@filename, 'shp')) %></li>
</ul>
