<div class="info-box info-box--fill-color info-box--small">
  <p class="icon--info">
    This site has multiple designations. <%= link_to raw('(See all details &#8595;)'), '#anchor-designations', class: 'link--page-anchor' %>
  </p>
</div>