<% designationCount = @other_designations.count %>

<div class="flex-row">

  <div class="flex-1-fith stats">
    <p class="flex-row align-items-center">
      <span class="stats__number"><%= designationCount %></span>
      <span>Other designation<%= 's' if designationCount > 1 %></span>
    </p>
  </div>

  <div class="flex-4-fiths">
    <p class="article__paragraph u-margin--page">
      Lorem ipsum
    </p>
  </div>

</div>