//--------------------------------------------------
// variables
//--------------------------------------------------
$icon-search-width: rem-calc(21);

//--------------------------------------------------
// shared mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  display: block;
}

@mixin icon-button-reset() {
  background-color: transparent !important; //temp-refresh good god i don't like to do it but the old base stylesheet is overwriting this
  border: none;
  cursor: pointer;
  padding: 0;
}

@mixin icon-circle-chevron() {
  @include icon-basic;
  @include responsive(width, rem-calc(50), rem-calc(72), rem-calc(72));
  @include responsive(height, rem-calc(50), rem-calc(72), rem-calc(72));
}

//--------------------------------------------------
// mixins for specific classes
//--------------------------------------------------
@mixin icon-aichi() {
  @include responsive(width, rem-calc(85), rem-calc(85), rem-calc(110));
  @include responsive(height, rem-calc(85), rem-calc(85), rem-calc(110));
  margin-bottom: rem-calc(20);

  display: block;
}

@mixin icon-arrow-external() {
  @include icon-basic;
  background-image: image-url('icons/arrow-external.svg');
  width: rem-calc(17); height: rem-calc(12);
}

@mixin icon-close() {
  @include icon-basic;
  background-image: image-url('icons/close.svg');
  width: rem-calc(29); height: rem-calc(29);
}

@mixin icon-cross() {
  @include icon-basic;
  background-image: image-url('icons/cross.svg');
  width: rem-calc(20); height: rem-calc(20);
}

@mixin icon-download() {
  @include icon-basic;
  background-image: image-url('icons/download.svg');
  width: rem-calc(20); height: rem-calc(19);
}

@mixin icon-circle-chevron-black() {
  @include icon-basic;
  background-image: image-url('icons/circle-chevron-black.svg');
  width: rem-calc(34); height: rem-calc(34);
}

@mixin icon-circle-chevron-green-left() {
  @include icon-circle-chevron;
  background-image: image-url('icons/circle-chevron-green-left.svg');
}

@mixin icon-circle-chevron-green-right() {
  @include icon-circle-chevron;
  background-image: image-url('icons/circle-chevron-green-right.svg');
}

@mixin icon-circle-chevron-white() {
  @include icon-basic;
  background-image: image-url('icons/circle-chevron-white.svg');
  width: rem-calc(34); height: rem-calc(34);
}

@mixin icon-info() {
  @include icon-basic;
  background-image: image-url('icons/info.svg');
  width: rem-calc(23); height: rem-calc(23);
}

@mixin icon-image() {
  @include icon-basic;
  background-image: image-url('icons/image.svg');
  width: rem-calc(114); height: rem-calc(91);
}

@mixin icon-loading-spinner() {
  @include icon-basic;
  background-image: image-url('icons/loading-spinner.svg');
  width: rem-calc(40); height: rem-calc(40);

  display: block;
}

@mixin icon-search() {
  @include icon-basic;
  @include icon-button-reset;
  background-image: image-url('icons/search.svg');
  width: $icon-search-width; height: rem-calc(23); 
}

@mixin icon-sort() {
  @include icon-button-reset;

  &::before {
    @include triangle(rem-calc(8), rem-calc(7), $grey); // ($base, $height, $color, $direction:'up')
    content: '';
    margin-bottom: rem-calc(1);

    display: block;
  }

  &::after {
    @include triangle(rem-calc(8), rem-calc(7), $grey, 'down'); // ($base, $height, $color, $direction:'up')
    content: '';

    display: block;
  }
}