//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// base mixins
//--------------------------------------------------
@mixin text-1 {
  color: $header-font-color;
  font-family: $header-font;
  font-weight: $bold;
  line-height: $header-font-line-height;
}

@mixin text-2 {
  color: $body-font-color;
  font-family: $body-font;
  line-height: $body-font-line-height;
}

@mixin text-3 {
  @include responsive(font-size, rem-calc(14), rem-calc(14), rem-calc(15));
  font-family: $header-font;
}

//--------------------------------------------------
// mixins used in classes
//--------------------------------------------------
@mixin h1 {
  @include text-1;
  @include responsive(font-size, rem-calc(25), rem-calc(40), rem-calc(40));
}

@mixin h1-home {
  @include text-1;
  @include responsive(font-size, rem-calc(40), rem-calc(70), rem-calc(70));
  margin-top: 0;
  margin-bottom: .35em;
}

@mixin h1-landing {
  @include text-1;
  @include responsive(font-size, rem-calc(30), rem-calc(50), rem-calc(50));
}

@mixin h2 {
  @include text-1;
  @include responsive(font-size, rem-calc(20), rem-calc(25), rem-calc(25));
  color: $header-font-color;
}

@mixin h3 {
  @include text-2;
  @include responsive(font-size, rem-calc(25), rem-calc(25), rem-calc(20));
  font-weight: $bold;
}

@mixin h4 {
  @include text-2;
  @include responsive(font-size, rem-calc(18), rem-calc(18), rem-calc(16));
}

@mixin text-small {
  @include text-2;
  font-size: rem-calc(14);
}

@mixin text-intro {
  @include text-2;
  @include responsive(font-size, rem-calc(18), rem-calc(20), rem-calc(20));
  line-height: 1.35;
}

@mixin text-body {
  @include text-2;
  font-size: rem-calc(16);
}

@mixin text-nav-link {
  font-size: rem-calc(18);
  font-weight: 500;
  text-decoration: none;
}

@mixin text-tooltip {
  @include text-3;
}

@mixin text-accent {
  @include responsive(font-size, rem-calc(30), rem-calc(50), rem-calc(60));
  color: $primary;
  font-weight: $bold;
  line-height: 1;
}