//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// base mixins
//--------------------------------------------------
@mixin text-1 {
  @include responsive-styles(font-size, rem-calc(30), rem-calc(38), rem-calc(38));
  color: $header-font-color;
  font-weight: 500;
  line-height: $line-height-headings;
}

@mixin text-2 {
  @include responsive-styles(font-size, rem-calc(22), rem-calc(22), rem-calc(22)); 
  font-family: $header-font;
  font-weight: 700;
  line-height: $line-height-headings;
  margin-bottom: rem-calc(24);
}

@mixin text-3 {
  @include responsive-styles(font-size, rem-calc(14), rem-calc(14), rem-calc(15));
  font-family: $header-font;
}

@mixin text-4 {
  @include responsive-styles(font-size, rem-calc(18), rem-calc(18), rem-calc(18));
  font-weight: 500;
}

//--------------------------------------------------
// mixins used in classes
//--------------------------------------------------
@mixin h1 { //temp-refresh
  @include text-1;
  line-height: $line-height-headings;
  text-align: center;
}

@mixin h2 {
  @include text-2;
  color: $primary;
  line-height: $line-height-headings;
  text-align: center;
}

@mixin text-nav-link {
  @include text-4;
  text-decoration: none;
}

@mixin text-tooltip {
  @include text-3;
}
