@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700|Playfair+Display:400,700&display=swap');

@import "tailwindcss";

@theme {

  --font-hindSiliguri: 'Hind Siliguri', sans-serif, system-ui;
  --font-playfairDisplay: "Playfair Display", serif, system-ui;

  --color-theme-primary: #71a32b;
  --color-theme-primary-dark: #415519;
  --color-theme-grey-xlight: #f4f4f4;
  --color-theme-grey-light: #c8c8c8;
  --color-theme-grey: #919191;
  --color-theme-grey-dark: #666666;
  --color-theme-grey-xdark: #404040;
  --color-theme-grey-black: #242424;
  --color-theme-bright-green: #38A800;
  --color-theme-green-dark: #527B19;
  --color-theme-chart-purple: #A54897;
  --color-theme-chart-green: #71A22B;
  --color-theme-chart-blue: #5F81CB;
  --color-theme-chart-aqua: #65C9B2;
  --color-theme-purple: #7B1977;
  --color-theme-blue: #004DA8;
  --color-theme-orange: #D9B143;
}

@source "../";
@source "../../views";

@import './shared/background.css';
@import './shared/base.css';
@import './shared/buttons.css';
@import './shared/cms.css';
@import './shared/container.css';
@import './shared/flex.css';
@import './shared/forms.css';
@import './shared/hero.css';
@import './shared/icons.css';
@import './shared/images.css';
@import './shared/map.css';
@import './shared/scrollbar.css';
@import './shared/shadows.css';
@import './shared/themes.css';
@import './shared/typography.css';

/* All styles used in views */
@import './views/data/gdpame/index.css';
@import './views/data/gdpame/tab-content.css';
@import './views/data/wdpca/index.css';
@import './views/data/wdpca/tab-extras.css';

@import './views/layouts/cms/about.css';
@import './views/layouts/cms/basic.css';
@import './views/layouts/cms/data-areas.css';
@import './views/layouts/cms/news-and-stories-article.css';
@import './views/layouts/cms/news-and-stories.css';
@import './views/layouts/cms/resource.css';
@import './views/layouts/cms/resources.css';
@import './views/layouts/cms/thematic-and-data-area-default.css';
@import './views/layouts/cms/thematic-areas.css';


@import './views/layouts/partials/hero/basic.css';
@import './views/layouts/partials/hero/green-list.css';
@import './views/layouts/partials/hero/home.css';
@import './views/layouts/partials/hero/marine.css';
@import './views/layouts/partials/hero/small.css';

@import './views/layouts/error-page.css';

@import './views/partials/cards/circles.css';
@import './views/partials/cards/facts.css';
@import './views/partials/cards/squares.css';
@import './views/partials/cards/sites.css';
@import './views/partials/cards/themes/index.css';
@import './views/partials/cards/themes/card.css';

@import './views/partials/carousels/theme.css';

@import './views/partials/charts/chart-section.css';

@import './views/partials/ctas/api.css';
@import './views/partials/ctas/mpa.css';
@import './views/partials/ctas/protected-planet-report.css';

@import './views/partials/footer/index.css';
@import './views/partials/footer/social-follow.css';

@import './views/partials/social/share.css';

@import './views/partials/thematic_and_data_area/footer.css';
@import './views/partials/thematic_and_data_area/panel_content.css';

@import './views/search.css'; 

@import './views/thematic/effectiveness/green-list-tab.css';
@import './views/thematic/effectiveness/index.css';
@import './views/thematic/marine.css';






/* Following to be corrected */
@import './views/topbar.css';
@import './views/topbar-secondary.css';

@import './views/country.css';
@import './views/region.css';
@import './views/site.css'; 

@import './views/home.css';




