//--------------------------------------------------
// variables
//--------------------------------------------------
$chart-row-target-color: $chart-target-color;
$chart-row-target-font: $chart-font;
$chart-row-target-font-color: $chart-font-color;
$chart-row-target-font-size: $chart-font-size;


//--------------------------------------------------
// row target charts
//--------------------------------------------------
&--row-target {
  .chart {
    &__marker {
      &--target { 
        stroke: $chart-row-target-color; 
        stroke-dasharray: 2;
      }

      &--value { stroke: $grey-darker; }
    }

    &__marker-title {
      fill: $chart-row-target-font-color;
      font-family: $chart-row-target-font;
      font-size: $chart-row-target-font-size;
      font-weight: 900;
    }

    &__stroke {
      &--default { stroke: $chart-item-background; }
      &--marine { stroke: $marine; }
      &--global { stroke: $global; }
      &--terrestrial { stroke: $terrestrial; }
    }

    &__title {
      fill: $chart-row-target-font-color;
      font-size: $chart-row-target-font-size;
      font-family: $chart-row-target-font;
      font-weight: 700;
    }
  }
}