.v-interactive-treemap {
  
  //----------------------------------------
  // grid
  //----------------------------------------
  .flex-2-fiths,
  .flex-3-fiths {
    @media only screen and (max-width: $large){
      flex: 0 0 100%;
    }
  }

  //----------------------------------------
  // info panel
  //----------------------------------------
  &__info-panel {
    display: none;

    @include breakpoint($medium){ display: block; }
  }

  &__list {
    @include breakpoint($medium){ display: none; }
  }

    &__list-item {
      font-size: rem-calc(14);
      padding: rem-calc(14 12 16 12);

      &:nth-child(even){ background-color: $grey-5; }

      @include breakpoint($medium){ padding: rem-calc(14 12 2 12); }
    }

      &__info { 
        line-height: 1.2; 

        @include breakpoint($medium){
          margin-bottom: rem-calc(16);
        }

        @include breakpoint($large){ margin-right: rem-calc(24); }
      }

      &__title {
        border-bottom: solid rem-calc(1) $grey-55; 
        color: $blue--marine-4;
        font-size: rem-calc(24);
        line-height: 1;
        margin-bottom: rem-calc(16); 
        padding-bottom: rem-calc(6);

        @include breakpoint($medium){ 
          font-size: rem-calc(28);
          margin-bottom: rem-calc(20); 
          padding-bottom: rem-calc(8);
        }

        @include breakpoint($large){ 
          font-size: rem-calc(34);
          margin-bottom: rem-calc(26); 
          padding-bottom: rem-calc(10);
        }
      }

      &__stat {
        margin-top: rem-calc(10);
        flex: 0 0 50%;
        
        @include breakpoint($medium){ margin-top: rem-calc(20); }
        @include breakpoint($large){ flex: 0 0 100%; }
      }

        &__percent {
          color: $marine-accent-color;
          font-size: rem-calc(20);

          display: block;
          
          @include breakpoint($medium){ font-size: rem-calc(34); }
          @include breakpoint($large){ font-size: rem-calc(46); }
        }

        &__km {
          color: $marine-accent-color;
          font-size: rem-calc(14);
          margin-bottom: rem-calc(8);

          display: block;
          
          @include breakpoint($medium){ font-size: rem-calc(22); }
          @include breakpoint($large){ font-size: rem-calc(28); }
        }
  
  //----------------------------------------
  // treemap
  //----------------------------------------
  &__treemap {
    margin-bottom: rem-calc(20);

    @include breakpoint($medium){ margin-bottom: 0; }
  }

    &__cell {
      text { font-size: rem-calc(16); }

      &-active { 
        text { font-weight: bold; }
      }
    }

  //----------------------------------------
  // instruction
  //----------------------------------------
  &__instruction {
    font-size: rem-calc(15);
    margin-top: rem-calc(10);
  }
}

//----------------------------------------
// treemap component
//----------------------------------------
.d3-treemap {
  // hack to get the svg to scale in IE11
  width: 100%;
  
  position: relative;
  // end hack
  
  &__svg { 
    // hack to get the svg to scale in IE11
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    // end hack
  }
}