.d3-horizontal-bar-chart {
  
  // hack to get the svg to scale in IE11
  width: 100%;
  
  position: relative;
  // end hack

  &-animate {
    .bar { animation: fullScaleX .8s forwards linear; }
    .bar-label { animation: fullOpacity .2s .8s forwards linear; }
  }

  &__svg { 
    // hack to get the svg to scale in IE11
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    // end hack
  }

    .background { fill: rgba($blue--marine-1, 0.4); }

    .bar {
      fill: rgba(0, 0, 0, .4);
      transform: scaleX(0);
    }

    .bar-label {
      @extend .u-text-sans;
      fill: $white;
      font-size: rem-calc(14);
      opacity: 0;

      &--dark { fill: #666666; }
    }

    .gridlines {
      .domain { stroke-width: 0; }

      .tick { 
        line { stroke: $white; }
      }
    }

    .xaxis {
      .domain { stroke-width: 0; }

      text { 
        fill: $blue--marine-5;
        font-size: rem-calc(12);
      }
    }

    .yaxis {
      .domain { stroke-width: 0; }    

      text {
        fill: $blue--marine-5;
        font-size: rem-calc(16); 
      }
    }
}