.v-interactive-multiline {
  &__tabs {
    border-bottom: solid rem-calc(1) $grey-55;
    font-family: 'MuseoSans';
    font-weight: thin;
  }

    &__tab-title {
      background-color: $blue--marine-3;
      border-right: solid rem-calc(1) $blue--marine-2;
      border-left: solid rem-calc(1) $blue--marine-2;
      cursor: pointer;
      font-size: rem-calc(12);
      padding: rem-calc(8 10 5 10);
      text-transform: capitalize;

      display: inline-block;
      position: relative;

      @include breakpoint($large){ font-size: rem-calc(16); }

      &.active { 
        background-color: transparent; 
        border: solid rem-calc(1) $grey-55;
        border-bottom: 0;

        &:after {
          background-color: $blue--marine-2;
          content: '';
          width: 100%; height: rem-calc(1);

          position: absolute;
          bottom: -1px;
          left: 0;
        }
      }
    }

  &__chart {
    // hack to get the svg to scale in IE11
    width: 100%;
  
    position: relative;
    // end hack
  }
    &__svg {
      // hack to get the svg to scale in IE11
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      // end hack
    }

      &__axis {
        .domain { stroke: $grey-55; }

        .tick {
          line { stroke-width: 0; }

          text { 
            font-size: rem-calc(14);
            fill: $blue--marine-5; 

            @include breakpoint($large){ font-size: rem-calc(10); }
          }
        }
      }

      &__gridlines {
        .domain { stroke-width: 0; }

        .tick { 
          line { stroke: $grey-33; }
        }
      }

      &__target {
        .domain { stroke-width: 0; }

        .tick { 
          line { 
            stroke: $white; 
            stroke-width: 2;
            stroke-dasharray: 10px;
          }

          text {
            fill: $white;
            font-size: rem-calc(14);
            font-weight: bold;

            transform: translateY(6px);

            @include breakpoint($large){ font-size: rem-calc(10); }
          }
        } 
      }

      &__line {
        stroke: $blue--marine-5;
        stroke-linecap: round;
        stroke-width: 3;

        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;

        @include breakpoint($medium){ stroke-width: 2; }

        @media screen\0 { 
          opacity: 0; //target IE11
          stroke-dashoffset: 0; //target IE11
        }
      }

      &__line-active {
        animation: dashOffsetNone 2s linear forwards 1;

        @media screen\0 { 
          animation: fullOpacity .1s linear forwards; //target IE11
        }
      }

      &__datapoint {
        cursor: pointer;
        fill: white;
        stroke: $blue--marine-5;
        
        transform-origin: 50%;
        transform: scale(0);

        @media screen\0 { opacity: 0; } //target IE11

        .v-interactive-multiline__datapoints-active & {
          animation: fullScaleXY .2s linear forwards 1s;

          @media screen\0 { 
            animation: fullOpacity .1s linear forwards; //target IE11
          }
        }
      }

    &__tooltip-wrapper {
      position: absolute;
    }

    &__tooltip {
      fill: white;
      font-family: 'MuseoSans';
      font-size: rem-calc(18);
      display: none;
      text-anchor: middle;
    }

    &__tooltip-active {
      display: block;
    }
}