<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Management Console</title>
</head>
<body>
    <form>
        <ol>
            <hr>Foundation Capabilities
            <li><a href="create_foundation">Create Foundation Tables</a></li>
            <li><a href="uninstall_foundation">Uninstall Foundation Tables</a></li>
            <hr>Reference Data Management
            <li><a href="create_reference_data">Create And Populate Common Reference Data Tables</a></li>
            <li><a href="uninstall_reference_data">Uninstall Common Reference Data</a></li>
            <li><a href="promote_reference_data">Edit Reference Data Row</a></li>
            <hr>Data Ingestion & Migration
            <li><a href="load_quarantine_data">Import Data</a></li>
            <hr>Querying
            <li><a href="view_metadata">View Metadata</a></li>
            <li><a href="define_adhoc_query">Fire Ad Hoc Query</a></li>
            <hr>Charting & Reporting
            <li><a href="country_metrics">Metrics By Selected Country</a></li>
            <li><a href="green_list">Display Green List</a></li>
            <li><a href="pame">Display PAME</a></li>
            <li><a href="icca">Display ICCA</a></li>
            <hr>Data Correction
            <li><a href="edit_historical_data">Edit historical Data</a></li>
            <hr>Install Applications
            <li><a href="install_wdpa">Install WDPA</a></li>
            <li><a href="install_pame">Install PAME</a></li>
            <li><a href="install_green_list">Install Green List</a></li>
            <li><a href="install_icca_spatial_data">Install ICCA Spatial</a></li>
            <li><a href="install_icca">Install ICCA</a></li>
            <li><a href="install_demo">Install demo</a></li>
            <hr>Uninstall Applications
            <li><a href="uninstall_wdpa">Uninstall WDPA</a></li>
            <li><a href="uninstall_pame">Uninstall PAME</a></li>
            <li><a href="uninstall_green_list">Uninstall Green List</a></li>
            <li><a href="uninstall_icca">Uninstall ICCA</a></li>
            <li><a href="uninstall_icca_spatial_data">Uninstall ICCA Spatial</a></li>
            <li><a href="uninstall_demo">Uninstall demo</a></li>
            <hr>Demo Capabilities
        </ol>
    </form>
    <script src="scripts/options.js"></script>
</body>
</html>