<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Management Console</title>
</head>
<body>
    <form>
        <ol>
            <hr>Foundation Capabilities
            <li><a href="create_foundation">Create Foundation Tables</a></li>
            <hr>Reference Data Management
            <li><a href="create_reference_data">Create Reference Data Tables</a></li>
            <li><a href="load_reference_data">Populate Reference Data Tables</a></li>
            <li><a href="promote_reference_data">Promote Reference Data Tables</a></li>
            <hr>WDPA Table Generation
            <li><a href="create_source_table">Create Source tables</a></li>
            <li><a href="create_staging_and_main">Create Schema Staging & Main Tables</a></li>
            <hr>Data Loading
            <li><a href="load_quarantine_data">Import Data From Quarantine Via Staging To Main</a></li>
            <hr>Charting
            <li><a href="South_Africa_Metrics">Show charts</a></li>
            <li><a href="`country_metrics`">Metrics By Selected Country</a></li>
            <hr>
            <li><a href="edit_historical_data">Edit historical Data</a></li>
        </ol>
    </form>
    <script src="scripts/options.js"></script>
</body>
</html>