<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Load Quarantine File Into Staging</title>
</head>
<body>
<form action="/load_quarantine_data_action">
  <label for="tablename">Quarantine table to load</label><br>
  <input type="text" id="tablename" name="tablename" value=""><br>
  <hr>
  <label for="time_of_creation">Time of creation</label><br>
  <input type="text" id="time_of_creation" name="time_of_creation" value=""><br>
  <hr>
  <label for="data_group">Data group to load</label><br>
  <select id="data_group" name="data_group">
      <option>WDPA Source</option>
      <option>WDPA Providers</option>
      <option>WDPA Data - wdoecm subset</option>
      <option>WDPA Data - migration</option>
      <option>Green List</option>
      <option>PAME</option>
      <option>PAME Providers</option>
      <option>ICCA Providers</option>
      <option>ICCA</option>
  </select>
  <hr>
  <input type="submit" value="Submit">
</form>
</body>
</html>