@mixin limit_lines($number, $line-height: 1.25) {
  overflow-y: hidden;
  max-height: calc(#{($number * $line-height) + em} - 1px);
}

@mixin prevent-text-highlighting {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /*Chrome/Opera */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

@mixin ul--unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//--------------------------------------------------
// borders and shadows
//--------------------------------------------------
@mixin box-shadow($colour){
  box-shadow: 2px 2px 4px $colour;
}

@mixin shadow--grey-light { @include box-shadow($grey-light); }
@mixin shadow--grey { @include box-shadow($grey); }

//--------------------------------------------------
// shapes
//--------------------------------------------------
@mixin triangle ($base, $height, $color, $direction:'up') {
  content: '';
  width: 0; 
  height: 0; 
  border-left: $base/2 solid transparent;
  border-right: $base/2 solid transparent;
  
  border-bottom: $height solid $color;

  display: block;

  @if ($direction == 'right') {
    transform: rotate(90deg);
  }
  @if ($direction == 'down') {
    transform: rotate(180deg);
  }
  @if ($direction == 'left') {
    transform: rotate(270deg);
  }
}

//--------------------------------------------------
// spacing
//--------------------------------------------------
@mixin gutters($sides:'both', $type:'padding') {
  $sides: if($sides == 'both', ('left', 'right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $gutter-large; }
  }
}

@mixin item-spacing($sides:'all', $type:'padding') {
  $sides: if($sides == 'all', ('top','bottom','left','right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $item-spacing-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $item-spacing-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $item-spacing-large; }
  }
}

//--------------------------------------------------
// positioning
//--------------------------------------------------
@mixin item-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}