// responsive
.u-only-mobile {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.u-only-desktop {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

// background
.u-bg--white        { background-color: $white;            }
.u-bg--marine-1     { background-color: $blue--marine-1;   }
.u-bg--marine-2     { background-color: $blue--marine-2;   }
.u-bg--black-transparent { background-color: rgba(black, .23); }
.u-bg--grey         { background-color: $grey-5;           }

// position
.u-relative         { position: relative;                  }
.u-fixed            { position: fixed;                     }
.u-up-halfway       { transform: translateY(-50%);         }
.u-infront-map      { z-index: 1000;                       }

// display
.u-block            { display: block;                      }
.u-inline-block     { display: inline-block;               }
.u-hide             { display: none;                       }
.u-hide-mobile      { @media only screen and (max-width: $small) { display: none; } }
.u-show-desktop     { display: none; @include breakpoint($large){ display: block; } }
.u-clearfix         { @extend %clearfix;                   }
.u-flex             { @include flexbox;                    }

// colors
.u-link-color       { @include color($link__color);        }
.u-base-color       { @extend %color-base;                 }

// sizes
.u-width-20         { width: 20%;                          }
.u-width-40         { width: 40%;                          }
.u-width-60         { width: 60%;                          }
.u-width-80         { width: 80%;                          }
.u-width-100        { width: 100%;                         }

.u-height-100       { height: 100%;                        }
.u-map-height       { height: 380px;                       }

// text
.u-italic           { font-style: italic;                  }
.u-font-inherit     { font: inherit;                       }
.u-center           { text-align: center;                  }
.u-normal           { @include font-weight(normal);        }
.u-bold             { @include font-weight(bold);          }
.u-x-bold           { @include font-weight(x-bold);        }
.u-medium           { @include text(medium);               }
.u-alt-xlarge       { @include text--alt(xlarge, x-bold);  }
.u-alt-xxlarge      { @include text--alt(xxlarge, x-bold); }
.u-mono             { font-family: monospace;              }
.u-font-icon        { font-family: FontAwesome;            }
.u-alt-font         { font-family: 'MuseoSlab';            }
.u-text-sans        { font-family: 'MuseoSans';            }
.u-text-left        { text-align: left;                    }
.u-text-right       { text-align: right;                   }
.u-marine-accent-color { color: $marine-accent-color;      }
.u-text-muted       { color: $grey-33;                     }

// floats
.u-left             { float: left;                         }
.u-right            { float: right;                        }

// box model
.u-no-borders         { border: none !important;           }
.u-push-top           { margin-top: auto;                  }
.u-margin-auto        { margin: auto;                      }
.u-no-margin          { margin: 0;                         }
.u-no-padding         { padding: 0;                        }
.u-no-padding--bottom { padding-bottom: 0;                 }

.u-margin--page {
  @include only-desktop {
    margin-right: rem-calc(20); margin-left: rem-calc(20);
  }
}

.u-padding--page {
  @include only-desktop {
    padding-right: rem-calc(20); padding-left: rem-calc(20);
  }
}

.u-margin--page-right { margin-right: rem-calc(20);        }

// spacing
.u-margin--y      { margin: rem-calc(20 0);        }
.u-margin--x      { margin: rem-calc(0 20);        }
.u-margin--top    { margin-top: rem-calc(20);       }
.u-margin--bottom { margin-bottom: rem-calc(20);    }

.u-padding--y      { padding: rem-calc(20 0);      }
.u-padding--x      { padding: rem-calc(0 20);      }
.u-padding--top    { padding-top: rem-calc(20);     }
.u-padding--bottom { padding-bottom: rem-calc(20);  }

// misc
.u-click-through    { pointer-events: none;                }
.u-no-click-through { pointer-events: all;                 }
.u-pdf-page-break   { page-break-before: always;           }
.u-pdf-no-break     { page-break-inside: avoid;            }
