//--------------------------------------------------
// html elements
//--------------------------------------------------
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  @include text-body;
  color: $body-font-colour;
  font-family: $body-font;
  margin: 0;
}

section {
  
}

h1 { 
  @include h1; 

  &.h1-home { @include h1-home; }
}

h2 { 
  @include h2; 
  
  &.h2-big { @include h-big;  }
  &.h2-big-white { @include h-big; color: $white; }
}

h3 {
  @include h3;

  &.h3-big-white { @include h-big; color: $white; }
}

h4 {
  @include h4;
}
  
p,a { 
  color: inherit; 
  line-height: $p-font-line-height;

  &.text-intro { @include text-intro; }
}
  
a { 
  text-decoration: underline; 

  &:hover { text-decoration: none; }
}

label { cursor: pointer; }

em { font-style: italic; }

img { max-width: 100%; }

sup {
  font-size: .6em;
}

input {
  &:focus { @include input-custom-focus; }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { @include site-width; }
.site-width-medium { @include site-width-medium; }

.gutter {
  &-left { @include gutters('left'); }

  &-right { @include gutters('right'); }
}

.container {
  @include site-width;
  @include container;
}

.container--medium { @include container-medium; }

.container--desktop-up {
  @include breakpoint($large) {
    @include site-width;
    @include container;
  }
}

.container--component {
  $container-component-padding: calc((100% - #{$site-width-medium-desktop})/2);
  $cc-padding-small: rem-calc(20 $gutter-small 24);
  $cc-padding-medium: rem-calc(20 $gutter-medium 24);
  $cc-padding-large: rem-calc(30 $container-component-padding 34);

  @include bg-grey-xlight;
  @include border-radius;
  @include responsive(margin-top, rem-calc(26), rem-calc(30), rem-calc(36));
  @include responsive(margin-bottom, rem-calc(26), rem-calc(30), rem-calc(36));
  @include responsive(padding, $cc-padding-small, $cc-padding-medium, $cc-padding-large);
}

//--------------------------------------------------
// page padding
//--------------------------------------------------

.page-padding--top {
  padding-top: $page-padding-top-mobile;
  @include breakpoint($small) { padding-top: $page-padding-top-tablet; }
  @include breakpoint($medium) { padding-top: $page-padding-top-desktop; }
}

.page-padding--bottom {
  padding-bottom: $page-padding-bottom-mobile;
  @include breakpoint($small) { padding-bottom: $page-padding-bottom-tablet; }
  @include breakpoint($medium) { padding-bottom: $page-padding-bottom-desktop; }
}

.page-padding {
  @extend .page-padding--top;
  @extend .page-padding--bottom;
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.section-padding--top {
  padding-top: $section-padding-top-mobile;
  @include breakpoint($small) { padding-top: $section-padding-top-tablet; }
  @include breakpoint($medium) { padding-top: $section-padding-top-desktop; }
}

.section-padding--bottom {
  padding-bottom: $section-padding-bottom-mobile;
  @include breakpoint($small) { padding-bottom: $section-padding-bottom-tablet; }
  @include breakpoint($medium) { padding-bottom: $section-padding-bottom-desktop; }
}

.section-padding {
  @extend .section-padding--top;
  @extend .section-padding--bottom;
}

//--------------------------------------------------
// item padding
//--------------------------------------------------
@mixin item-spacing($sides:'all', $type:'padding') {
  $sides: if($sides == 'all', ('top','bottom','left','right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $item-spacing-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $item-spacing-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $item-spacing-large; }
  }
}