

//--------------------------------------------------
// mixins
//--------------------------------------------------
@import './mixins/*';

//--------------------------------------------------
// html elements
//--------------------------------------------------
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  @include text-body;
  color: $body-font-color;
  font-family: $body-font;
  margin: 0;
}

section {
  padding: rem-calc(30) 0;
  border: solid 4px black;
}

h1 { @include h1; }
h2 { @include h2; }
  
p,a { color: inherit; }
  
a:link,
a { 
  text-decoration: underline; 

  &:hover { text-decoration: none; }
}

em { font-style: italic; }

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { @include site-width; }

.gutter {
  &-left { @include gutters('left'); }

  &-right { @include gutters('right'); }
}

.container {
  @include site-width;
  @include container;
}

.container--desktop-up {
  @include breakpoint($large) {
    @include site-width;
    @include container;
  }
}

//--------------------------------------------------
// page padding
//--------------------------------------------------

.page-padding--top {
  padding-top: $page-padding-top-mobile;
  @include breakpoint($small) { padding-top: $page-padding-top-tablet; }
  @include breakpoint($medium) { padding-top: $page-padding-top-desktop; }
}

.page-padding--bottom {
  padding-bottom: $page-padding-bottom-mobile;
  @include breakpoint($small) { padding-bottom: $page-padding-bottom-tablet; }
  @include breakpoint($medium) { padding-bottom: $page-padding-bottom-desktop; }
}

.page-padding {
  @extend .page-padding--top;
  @extend .page-padding--bottom;
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.section-padding--top {
  padding-top: $section-padding-top-mobile;
  @include breakpoint($small) { padding-top: $section-padding-top-tablet; }
  @include breakpoint($medium) { padding-top: $section-padding-top-desktop; }
}

.section-padding--bottom {
  padding-bottom: $section-padding-bottom-mobile;
  @include breakpoint($small) { padding-bottom: $section-padding-bottom-tablet; }
  @include breakpoint($medium) { padding-bottom: $section-padding-bottom-desktop; }
}

.section-padding {
  @extend .section-padding--top;
  @extend .section-padding--bottom;
}

//--------------------------------------------------
// item padding
//--------------------------------------------------
@mixin item-spacing($sides:'all', $type:'padding') {
  $sides: if($sides == 'all', ('top','bottom','left','right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $item-spacing-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $item-spacing-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $item-spacing-large; }
  }
}