//--------------------------------------------------
// variables
//--------------------------------------------------
$icon-search-width: rem-calc(21);

//--------------------------------------------------
// shared mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon-button-reset() {
  background-color: transparent !important; //temp-refresh good god i don't like to do it but the old base stylesheet is overwriting this
  border: none;
  cursor: pointer;
  padding: 0;
}

//--------------------------------------------------
// mixins for specific classes
//--------------------------------------------------
@mixin icon-aichi() {
  @include responsive(width, rem-calc(85), rem-calc(85), rem-calc(110));
  @include responsive(height, rem-calc(85), rem-calc(85), rem-calc(110));
  margin-bottom: rem-calc(20);

  display: block;
}

@mixin icon-close() {
  @include icon-basic;
  background-image: image-url('icons/close.svg');
  width: rem-calc(29); height: rem-calc(29);
}

@mixin icon-cross() {
  @include icon-basic;
  background-image: image-url('icons/cross.svg');
  width: rem-calc(20); height: rem-calc(20);
}

@mixin icon-info() {
  @include icon-basic;
  background-image: image-url('icons/info.svg');
  width: rem-calc(23); height: rem-calc(23);
}

@mixin icon-loading-spinner() {
  @include icon-basic;
  background-image: image-url('icons/loading-spinner.svg');
  width: rem-calc(40); height: rem-calc(40);

  display: block;
}

@mixin icon-search() {
  @include icon-basic;
  @include icon-button-reset;
  background-image: image-url('icons/search.svg');
  width: $icon-search-width; height: rem-calc(23); 
}

@mixin icon-sort() {
  @include icon-button-reset;

  &::before {
    @include triangle(rem-calc(8), rem-calc(7), $grey); // ($base, $height, $color, $direction:'up')
    content: '';
    margin-bottom: rem-calc(1);

    display: block;
  }

  &::after {
    @include triangle(rem-calc(8), rem-calc(7), $grey, 'down'); // ($base, $height, $color, $direction:'up')
    content: '';

    display: block;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.icon {
  &--aichi { @include icon-aichi; }
  
  &--close { @include icon-close; }

  &--cross { @include icon-cross; }
  
  &--info-circle { @include icon-info; }

  &--info { //temp-refresh
    padding-left: rem-calc(24);
    position: relative;

    &:before {
      color: #317fce;
      content: '\f05a';
      font-family: 'FontAwesome';
      font-size: rem-calc(16),;
      font-weight: normal;
      line-height: rem-calc(21);

      display: inline-block;
      position: absolute;
      top: rem-calc(-2);
      left: 0;
    }
  }

  &--loading-spinner { 
    @include icon-loading-spinner; 

    visibility: hidden;
  }

  &--search { @include icon-search; }

  &--sort { @include icon-sort; }

//--------------------------------------------------
// helpers
//--------------------------------------------------
  &-visible { visibility: visible; }
}