<% if user_signed_in? %>
  <script id="add-to-project" type="text/html">
    <ul class="projects-dropdown">
      <% @projects.each do |project| %>
        <li><%= link_to project.name, project_path(project, item_type: item_type, item_id: item_id), method: :put %></li>
      <% end %>
      <li>
        <%= link_to(projects_path(item_type: item_type, item_id: item_id), method: :post) do %>
          <i class="fa fa-plus"></i> Add to New Project
        <% end %>
      </li>
    </ul>
  </script>

  <a class="btn-add-to-project" href="#">Add to My Projects  <i class="fa fa-angle-down"></i></a>
<% end %>
