<a href="#" class="btn btn-download <%= custom_classes %>">

  <span>Download WDPA dataset</span>
  <%= image_tag((image rescue "icon-download.png"), style: "height: 29px; width: 20px;") %>
</a>

<%= download_dropdown((item_id rescue nil), download_type, (types rescue [:csv, :kml, :shp])) %>
