<script id="download-modal-template" type="text/html">
  <div class="js-close-modal btn-close">X</div>
  <h2>Generating personalised dataset…</h2>

    <% if user_signed_in? %>
      <p>
        Saved search results can take a while to process in to your
        chosen format for download. You can wait here, or we'll send
        you an email when your download is ready.
      </p>

      <p>
        <a class="btn js-close-modal" href="#">Thanks!</a>
      </p>
    <% else %>
      <p>
        Saved search results can take a while to process in to your
        chosen format for download. Pop your email in below to get a
        notification when it's done, or wait here.
      <p>

      <%= form_tag downloads_path, method: :put, remote: true, id: 'download-modal-form' do %>
        <p>
          <%= text_field_tag 'email', nil, placeholder: 'your@email.com' %>
        </p>

        <p>
          <%= button_tag 'Submit' %>
        </p>
      <% end %>
    <% end %>
</script>

<script id="download-complete-modal-template" type="text/html">
  <div class="js-close-modal btn-close">X</div>
  <h2>Download available</h2>

  <p>
    Your personalised dataset has been generated and is ready for download.
  </p>

  <p>
    The WDPA may not be downloaded for commercial use. To apply for permission for commercial use of the WDPA please consult the Terms and Conditions.
  </p>

  <p class="link-container">
  </p>
</script>

<script id="general-download-complete-modal-template" type="text/html">
  <div class="js-close-modal btn-close">X</div>
  <h2>Download available</h2>

  <p>
    The dataset has been generated and is ready for download.
  </p>

  <p>
    The WDPA may not be downloaded for commercial use. To apply for permission for commercial use of the WDPA please consult the Terms and Conditions.
  </p>

  <p class="link-container">
  </p>
</script>

<div id="download-modal" class="modal"></div>
<div class="total-overlay"></div>
