<form action='/search' method='get' id="search-form">
  <input autocomplete="off" name="q" placeholder="Search the protected areas of our planet" value='<%= query %>' class="search-input" type="text">
  <button class="search-submit btn" type="submit">Search</button>
</form>
