<form action='/search' method='get'>
  <input name='q' id='search_input' type='text' value='<%= query %>' placeholder='<%= t('search_form_placeholder') %>'>
  <button type='submit'>Search</button>
</form>
