<form action='/search' method='get' class="search-bar" id="search-form">
  <input autocomplete="off" name="q" placeholder="Search the protected areas of our planet" value='<%= query %>' class="search-bar__input" type="text">
  <button class="search-bar__submit big-button" type="submit"><i class="big-button__icon big-button__icon--closer fa fa-search"></i>Search</button>
</form>
