<%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label, classes: "#{@cms_page.slug} bg-image-overlay--white" } %>

<section class="container">
  <select-equity
    :options="<%= options.to_json %>"
  />
</section>


<section class="container">
  <%= cms_fragment_render("content") %>
</section>

<%#= render "partials/carousels/themes" %>
<%= render "partials/ctas/live-report" %>