<div class="page--news">
  <%= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: @cms_page[:slug] } %>

  <listing-page
    :filter-groups="<%= news_filters %>"
    text-filters="Fitler by:"
    text-filters-close="View Results"
  ></listing-page>

  <div class="page__col-2">
      <%= render partial: "partials/cards/articles", locals: { get_all: true} %>
    </div>

  <%= render "partials/ctas/live-report" %>
</div>