<%
results = {
  title: 'Title', 
  total: 1, 
  cards: [
    { date: '02 December 2019', image: 'image', summary: 'summary', title: 'title', url: 'http://google.com' }
  ]
}.to_json
%>

<div class="page--news">
  <%= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: @cms_page[:slug] } %>

  <listing-page
    endpoint-search="/search-cms"
    :filter-groups="<%= get_category_filters %>"
    :results="<%= results %>"
    sm-trigger-element="sm-listing"
    template="news"
    text-filters-close="View Results"
    text-filter-trigger="Filters"
    text-no-results="No Results"
  ></listing-page>

  <%= render "partials/ctas/live-report" %>
</div>