<%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label } %>

<div class="container section-padding--bottom">
  <div>
    <h2>filters</h2>
  </div>
  
  <div>
    <%= render partial: "partials/cards/articles", locals: { get_all: true} %>
  </div>
</div>

<%= render "partials/ctas/live-report" %>