<div class="page--news">
  <%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label } %>

  <div class="page__container container section-padding">
    <div class="page__col-1">
      <h2>filters</h2>
    </div>
    
    <div class="page__col-2">
      <%= render partial: "partials/cards/articles", locals: { get_all: true} %>
    </div>
  </div>

  <%= render "partials/ctas/live-report" %>
</div>