<%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label } %>

<div class="container">
  <h2>filters</h2>
  <h2>list of news articles</h2>  
</div>

<%= render "partials/ctas/live-report" %>