<%= render partial: "./layouts/partials/hero-basic", locals: { 
  classes: 'thematical-area' ,
  image: cms_fragment_render(:image, @cms_page),
  summary: cms_fragment_render("summary"),
  title: @cms_page.label
} %>

<section class="container--medium spacer-small--top">
  <%= cms_fragment_render("content") %>
</section>

<section class="spacer-small--top spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>
