<%= render partial: "./layouts/partials/hero-small", locals: { 
  classes: 'thematical-area' ,
  hero_image: cms_fragment_render(:theme_image, @cms_page),
  title: @cms_page.label
} %>

<section class="container">
  <%= cms_fragment_render("content") %>
</section>

<%#= render "partials/cards/themes" %>
<%#= render "partials/cards/resources" %>
<%= render "partials/ctas/live-report" %>
