<%= render partial: "./layouts/partials/hero-basic", locals: { 
    title: @cms_page.label, 
    classes: "#{@cms_page.slug} bg-image-overlay--white",
    image: cms_fragment_render(:image, @cms_page),
    summary: cms_fragment_render("summary"),
    button_link: cms_fragment_render("button-link"),
    button_text: cms_fragment_render("button-text"),
  }
%>

<section class="container--medium spacer-small--top">
  <%= cms_fragment_render("content") %>
</section>

<section class="spacer-small--top spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>
