<carousel-slide>
  <div class="carousel-slide">
    <h2 class="carousel-slide__title"><%= title %></h2>
    <p class="carousel-slide__description"><%= description %></p>
    <%= link_to 'Explore ->', url, class: 'carousel-slide__link' %>
  </div>
</carousel-slide>