<carousel-slide slide-width="full-width">
  <template scope="slideScope">
    <div class="home-carousel-slide">
      <h2 class="home-carousel-slide__title"><%= title %></h2>
      <p class="home-carousel-slide__description"><%= description %></p>
      <%= link_to url, target: "_blank", class: "home-carousel-slide__link", title: "Find out more" do %>
        <span class="home-carousel-slide__link-text">Explore</span>
        <span class="home-carousel-slide__link-icon fas fa-arrow-right"></span>
      <% end %>
    </div>
  </template>
</carousel-slide>