<header class="home-banner">
  <h1 class="home-banner__title">Discover the world's protected areas</h1>
  <carousel class="home-banner__carousel">
    <%= render partial: "carousel_slide", locals: {
      title: 'Check out the new publication of the 2018 United Nations report',
      description: 'Do iiittttt. (Lorem ipsum blah blah blah blah) Hopefully this is 2 lines now',
      url: ''
    } %>
    <%= render partial: "carousel_slide", locals: {
      title: 'Check out the new publication of the 2018 United Nations report2',
      description: 'Do iiittttt. (Lorem ipsum blah blah blah blah) Hopefully this is 2 lines now',
      url: ''
    } %>
    <%= render partial: "carousel_slide", locals: {
      title: 'Check out the new publication of the 2018 United Nations report3',
      description: 'Do iiittttt. (Lorem ipsum blah blah blah blah) Hopefully this is 2 lines now',
      url: ''
    } %>
  </carousel>
</header>