<header class="home-banner bg-image-overlay">
  <h1 class="home-banner__title">Discover the world's protected areas</h1>
  <% if @carousel_slides.any? %>
    <carousel :slide-interval-length="6000" class="home-banner__carousel">
      <template scope="slidesScope">
        <% @carousel_slides.each do |slide| %>
          <%= render partial: "carousel_slide", locals: {
            title: slide['title'],
            description: slide['description'],
            url: slide['url']
          } %>
        <% end %>
      </template>
    </carousel>
  <% end %>
</header>