<aside class="map-filters home-map-filters">
  <ul>
    <li>
      <a href="#">Type of Area</a>
      <ul>
        <li><a href="#">Terrestrial</a></li>
        <li><a href="#">Marine</a></li>
      </ul>
    </li>

    <li>
      <a href="#">IUCN Category</a>
      <ul>
        <% IucnCategory.all.each do |category| %>
          <li><a href="#"><%= category.name %></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>

