<aside class="map-filters home-map-filters <%= size_class %>">
  <ul>
    <li data-attribute="iucn_category%5B%5D">
      <a href="#">IUCN Category</a>
      <ul>
        <% IucnCategory.all.each do |category| %>
          <li>
            <%= link_to_filter(
                category.name, 'iucn_category[]', category.id,
                class: filter_link_active_class('iucn_category', category.id.to_s)
              )
            %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>

