<div class="section">
  <h1 class="section__header">Discover our Thematic Areas</h1>
  <div class="section__body">
    <div class="row row--push">
      <div class="half circle-story">
        <div class="circle-story__circle wdpa-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a target="_blank" href="http://wcmc.io/WDPA_Manual">WDPA</a></h2>
          <p class="circle-story__content">
            The World Database on Protected Areas (WDPA) is the most
            comprehensive global database on terrestrial and marine protected
            areas.<a class="link-with-icon u-bold" target="_blank" href="http://wcmc.io/WDPA_Manual"><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
      <div class="half circle-story">
        <div class="circle-story__circle parcc-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a target="_blank" href="http://parcc.protectedplanet.net/">PARCC</a></h2>
          <p class="circle-story__content">
            The Protected Areas Resilient to Climate Change project's main
            objective was to assess the vulnerability of West African protected
            areas to climate change and help design protected area networks more
            resilient to the impacts of climate change.
            <a class="link-with-icon u-bold" target="_blank" href="http://parcc.protectedplanet.net/">
              <i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="half circle-story">
        <div class="circle-story__circle icca-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a target="_blank" href="http://www.iccaregistry.org">ICCAs</a></h2>
          <p class="circle-story__content">
            The ICCA Registry is an online information platform for indigenous
            peoples’ and community conserved territories and areas, where
            communities themselves provide data, case studies, maps, photos
            and stories.
            <a class="link-with-icon u-bold" target="_blank" href="http://www.iccaregistry.org">
              <i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more
            </a>
          </p>
        </div>
      </div>
      <div class="half circle-story">
        <div class="circle-story__circle pame-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a target="_blank" href="http://wcmc.io/pame-report">PAME</a></h2>
          <p class="circle-story__content">
          Protected Areas Management Effectiveness (PAME) is  a  global
          database,  comprising  many  thousands  of  assessments of how well a
          protected area is being managed – primarily the extent to which it is
          protecting values and achieving goals and objectives.  <a class="link-with-icon u-bold" target="_blank" href="http://wcmc.io/pame-report"><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
