<div class="section">
  <h1 class="section__header">Discover our Thematic Areas</h1>
  <div class="section__body">
    <div class="row row--push">
      <div class="half circle-story">
        <div class="circle-story__circle wdpa-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a href="">WDPA</a></h2>
          <p class="circle-story__content">
            The World Database on Protected Areas (WDPA) is the most
            comprehensive global database on terrestrial and marine protected
            areas.<a class="link-with-icon u-bold" href=""><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
      <div class="half circle-story">
        <div class="circle-story__circle parcc-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a href="">PARCC</a></h2>
          <p class="circle-story__content">
          The Protected Areas Resilient to Climate Change project's
          main goal is that the conservation and
          sustainable management of representative protected area ecosystems is
          enhanced through strengthened assessment and adaptation to the
          effects of climate change.   <a class="link-with-icon u-bold" href=""><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="half circle-story">
        <div class="circle-story__circle icca-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a href="">ICCAs</a></h2>
          <p class="circle-story__content">
          The Indigenous Community and Conserved Areas (ICCAs) Registry
          website is an online information platform for Indigenous and
          Community Conserved Areas, where communities themselves provide data,
          case studies, maps, photos and stories.  <a class="link-with-icon u-bold" href=""><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
      <div class="half circle-story">
        <div class="circle-story__circle pame-background"></div>
        <div class="circle-story__body">
          <h2 class="circle-story__title"><a href="">PAME</a></h2>
          <p class="circle-story__content">
          Protected Areas Management Effectiveness (PAME) is  a  global
          database,  comprising  many  thousands  of  assessments of how well a
          protected area is being managed – primarily the extent to which it is
          protecting values and achieving goals and objectives.  <a class="link-with-icon u-bold" href=""><i class="fa fa-arrow-right link-with-icon__icon"></i>Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
