<div data-bound-from="<%= map_bounds['from'] %>" data-bound-to="<%= map_bounds['to'] %>" class="home-map" id="map"></div>

<a href="#" class="btn btn-map-download">
  <span>Download WDPA dataset</span>
  <%= image_tag "icon-download.png", style: "height: 29px; width: 20px;" %>
</a>
