<div
  data-bound-from="<%= map_bounds['from'] %>"
  data-bound-to="<%= map_bounds['to'] %>"

  class="home-map"
  id="map">
  <div class="map-disclaimer">
    The boundaries and names shown, and the designations used on this
    map do not imply official endorsement or acceptance by the United
    Nations or IUCN.
  </div>
</div>

<div class="explore">
  <h1>Start Exploring</h1>

  <div class="search-bar-container">
    <%= render partial: 'shared/search_form', locals: {query: @query} %>
  </div>

  <%= render partial: 'shared/download_data_set', locals: {custom_classes: 'btn-map-download', download_type: 'general', item_id: 'all'} %>
</div>
