//----------------------------------------
// classes
//----------------------------------------
&--pame {

  .table {
    &__tbody {
      &--list {
      display: table-row-group;

      @include breakpoint($large) { display: none; }
      }
      &--row {
        display: none;

        @include breakpoint($large) { display: table-row-group; }
      }
    }

    &__row {
      background-color: $grey-xlight;
      &:nth-child(even) { 
        @include breakpoint($medium) { background-color: $white; }
      }
    }

    &__cell {
      margin: 0;
      padding: rem-calc(4 14);
      width: 100%;
      @include table-pame-column-widths;
      border-left: dotted white 2px;
      padding: rem-calc(16 14);

      &:first-child { border-left: none; }

      &:before {
        font-weight: $bold; 
        margin-right: rem-calc(6);

        @include breakpoint($medium){ display: none; }
      }
    }

    &__cell-modal-trigger { 
      color: $primary;
      cursor: pointer;
      font-weight: $bold;
      text-decoration: underline;
  
      &:hover { text-decoration: none; }
    }

    &__sorting {
      opacity: .7;
      vertical-align: middle;

      display: inline-block;

      &:hover { opacity: .9; }
    }

    &__sort {
      cursor: pointer;
      width: rem-calc(8); height: rem-calc(6);

      display: block;

      &--ascending {
        background-image: image-url('icons/arrow-up-white.svg');
        margin-bottom: rem-calc(1);
      }

      &--descending {
        background-image: image-url('icons/arrow-down-white.svg');
      }
    }

    &__list-items {
      background-color: $grey-xlight;
      padding: rem-calc(4 14);
      border-bottom: 0.75rem solid white;

     &--last{
      border-bottom: 0;
     }
    }

    &__list-item-label {
      font-weight: $bold;
    }
  }
}  