//--------------------------------------------------
// variables
//--------------------------------------------------


//--------------------------------------------------
// mixins
//--------------------------------------------------


//--------------------------------------------------
// classes
//--------------------------------------------------
.checkbox {
  &__label {
    @include flex;
    @include flex-v-center;
    @include text-filter;

    position: relative;
  }

    &__input {
      @include input-hidden;

      &:checked + .checkbox__input-fake {
        background-color: $primary;
      }

      &:focus + .checkbox__input-fake { 
        @include input-custom-focus;
      } 
    }

    &__input-fake {
      background-color: $white;
      border: solid 1px $grey-light;
      border-radius: $radius-global;
      width: 100%; height: calc(100% - 5px);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &__text {
      min-height: rem-calc(34);
      margin-bottom: rem-calc(5);
      padding: rem-calc(10 6);

      display: block;
      z-index: 1;
    }
}