.vw-cards-sites__header {
  @apply flex items-center justify-between;
}

.vw-cards-sites__title {
  @apply tw-shared-font-playfair__bold-xl-md-2xl-grey-black;
}

.vw-cards-sites__view-all {
  @apply
  tw-shared-font-hind-siliguri__light-base-md-lg-grey-black
  shrink-0
  cursor-pointer
  no-underline
  hover:no-underline
  focus:outline-none;
}

.vw-cards-sites__grid {
  @apply 
  flex 
  flex-wrap 
  gap-3
  justify-between;
}

.vw-cards-sites__grid--preview {
  .vw-cards-sites__link:nth-child(3) {
    @apply hidden lg:flex;
  }
}

.vw-cards-sites__link {
  @apply
  tw-shared-shadow-grey-light
  flex
  flex-col
  gap-3
  w-full
  md:w-[48%]
  lg:w-[31.5%]
  md:h-90
  bg-white
  p-4.5
  pb-4
  no-underline
  hover:no-underline;
}

.vw-cards-sites__image-placeholder {
  @apply
  tw-shared-image-placeholder
  relative
  h-38.75;
}

.vw-cards-sites__image {
  @apply
  w-full
  h-38.75;

  background-position: center;
  background-size: cover;
}

.vw-cards-sites__card-title {
  @apply 
  tw-shared-font-hind-siliguri__bold-lg-grey-black
  no-underline
  hover:no-underline;
}
