&--stats {
  background-color: $white;
  margin: rem-calc(30 0);
  padding: rem-calc(40 48);

  &--half {
    @include responsive(width, 100%, calc(50% - 15px), calc(50% - 15px));
  }

  .card {
    &__content {
      @include flex;
    }

    &__third {
      width: calc(33% - 16px);
    }

      &__chart-square {
        margin-right: rem-calc(24);
        width: 30%;
      }

      &__stat-box {
        @include bg-grey-xdark;
        @include flex;
        @include flex-center;
        font-size: rem-calc(20);
        font-weight: $bold;
        margin-right: rem-calc(20);
        width: 30%; height: rem-calc(280);
      }

      &__ul { 
        @include ul-unstyled;
        max-height: rem-calc(280);
        overflow-y: scroll;
      }

        &__li {
          @include flex;
          border-top: solid 1px $grey-light;
          padding: rem-calc(14 0);

          &:first-child { border-top: none; }
        }

          &__li-a { margin-left: auto; }

          &__li-title { 
            font-weight: $bold;
            margin-right: rem-calc(24);
          }

          &__li-icon {
            @include circle-icon;
            background-color: $grey;
            margin-right: rem-calc(24);
          }
  }
}