//--------------------------------------------------
// classes
//--------------------------------------------------
&--basic {
  @include hero-medium;
  @include flex;
  @include flex-v-center;
  
  &.about { background-image: image_url('hero/about.png'); }
  &.equity { background-image: image_url('hero/equity.png'); }

  .hero__content {
    @include breakpoint($small) { width: 80%; }
    @include breakpoint($medium) { width: 63%; }
  }

  .hero__intro { @include hero-intro; }
}