<section id="anchor-designations">
  <h2 class="header--section">Site multiple designations</h2>
  <p class="article__paragraph u-margin--page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices lobortis commodo. Donec nibh ante, porta ac nulla ullamcorper, eleifend scelerisque ex. Nulla laoreet nibh vitae diam sollicitudin, sit amet consectetur libero tincidunt. Aliquam erat volutpat. Nam magna ligula, placerat a est et, luctus tincidunt dui.</p>
  
  <div class="flex-row-wrap">
    <% @other_designations.each do |pa| %>
      <%= render partial: "pa_card", locals: {protected_area: pa} %>
    <% end %>
  </div>
</section>
