<section class="flex-row info-box info-box__body info-box__body--no-padding">

  <div class="two-fiths">
    <%= render 'protected_areas/factsheet/official_record', protected_area: @protected_area %>
  </div>

  <div class="three-fiths u-margin--page">
    <%= render 'protected_areas/factsheet/attributes' %>
  </div>

</section>