<section class="section--factsheet info-box info-box__body info-box__body--no-padding">

  <div class="flex-2-fiths">
    <%= render 'protected_areas/factsheet/official_record' %>
    <%= render 'shared/stats/facts/management_effectiveness' %>
    <%= render 'shared/stats/facts/management_plan' %>
  </div>

  <div class="flex-3-fiths u-padding--page">
    <%= render 'protected_areas/factsheet/attributes' %>
  </div>

</section>
