<section>
  <div class="header--section">
    <h2 class="u-inline-block header--site-connections">Site connections</h2><button class="button--hide">Hide</button>
  </div>
  
  <ul class="tab__titles u-margin--page">
    <li class="tab__title tab__title--active js-tab-title-active">Transboundary site</li>
    <li class="tab__title">Tanzania NORTH ECO Project</li>
    <li class="tab__title">TRANSAFRICAN sustainable</li>
  </ul>

  <div class="key u-margin--page">
    <p class="key__title"><span class="key__icon key__icon--green"></span><span>Serengeti National Park</span></p>
    <p class="key__title"><span class="key__icon key__icon--green"></span><span>Long title long title long title long title long title</span></p>
    <p class="key__title"><span class="key__icon key__icon--green"></span><span>Serengeti National Park</span></p>
    <p class="key__title"><span class="key__icon key__icon--green"></span><span>Serengeti National Park</span></p>
    <p class="key__title"><span class="key__icon key__icon--green"></span><span>Serengeti National Park</span></p>
  </div>

  <div id="map">
    <!-- map -->  
  </div>
</section>