<section>
  <h2 class="header--section">Site connections</h2>
  
  <ul class="tab__titles u-margin--page">
    <li class="tab__title tab__title--active js-tab-title-active">Transboundary site</li>
    <li class="tab__title">Tanzania NORTH ECO Project</li>
    <li class="tab__title">TRANSAFRICAN sustainable</li>
  </ul>

  <div>
    <!-- key -->
  </div>

  <div id="map">
    <!-- map -->  
  </div>

</section>