<section class="js-fullscreen-target fullscreen" data-id="map-site-target">

  <button
    class="button--fullscreen js-fullscreen-button js-fullscreen-button-site fa fa-expand fullscreen__button-site u-only-desktop"
    data-id="map-site"
    data-type="expand">
  </button>

  <div>
    <div class="half half--no-margin u-map-height">
      <%= image_tag 'green_list/logo-white.png', class: 'green-list-logo' %>
      <img src="http://placehold.it/600x600" class="u-height-100 u-width-100">
    </div>

    <div class="half half--no-margin">
      <div
        id="map-site"
        class="map map--hero"
        data-bound-from="<%= @protected_area.bounds.first %>"
        data-bound-to="<%= @protected_area.bounds.last %>"
        data-wdpa-ids="<%= [@protected_area.wdpa_id] %>">
      </div>
    </div>
  </div>

  <div class="disclaimer">
    The designations employed and the presentation of material on this map do not
    imply the expression of any opinion whatsoever on the part of the Secretariat
    of the United Nations concerning the legal status of any country, territory,
    city or area or of its authorities, or concerning the delimitation of its
    frontiers or boundaries.
  </div>

</section>
