<section>
  <h2 class="header--section">Site network</h2>

  <!-- ALL PLACEHOLDER CONTENT TO BE UPDATED -->
  
  <div class="js-tabs-network tab-container">
    <ul class="tab__titles u-margin--page">
      <li data-id="tab-1" class="tab__title js-tab-title tab__title--active">Transboundary site</li>
      <li data-id="tab-2" class="tab__title js-tab-title">Tanzania NORTH ECO Project</li>
      <li data-id="tab-3" class="tab__title js-tab-title">TRANSAFRICAN sustainable</li>
    </ul>

    <div data-id="tab-1-content" class="tab__content js-tab-content">
      <p class="article__paragraph u-margin--page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices lobortis commodo. Donec nibh ante, porta ac nulla ullamcorper, eleifend scelerisque ex. Nulla laoreet nibh vitae diam sollicitudin, sit amet consectetur libero tincidunt. Aliquam erat volutpat. Nam magna ligula, placerat a est et, luctus tincidunt dui.</p>

      <% @protected_area.networks.detect(&:designation).protected_areas.each do |pa| %>
        <% next if @protected_area.wdpa_id == pa.wdpa_id %>
        <%= render partial: "pa_card", locals: {protected_area: pa} %>
      <% end %>
    </div>
    <div data-id="tab-2-content" class="tab__content js-tab-content u-hide">
      <p class="article__paragraph u-margin--page">Tab 2</p>
    </div>
    <div data-id="tab-3-content" class="tab__content js-tab-content u-hide">
      <p class="article__paragraph u-margin--page">Tab 3</p>
    </div>
    
  </div>
  <!-- PLACEHOLDER CONTENT TO BE UPDATED -->
</section>