//--------------------------------------------------
// variables
//--------------------------------------------------
$chart-item-background: $grey-light;
$chart-font: $header-font;
$chart-font-color: $body-font-color;
$chart-font-size: rem-calc(14);

$chart-target-color: $purple-dark;
$chart-target-dasharray: 2;
$chart-target-stroke-width: rem-calc(3);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin chart-target-line() {
  stroke: $chart-target-color;
  stroke-dasharray: $chart-target-dasharray;
  stroke-width: $chart-target-stroke-width;
}

.chart {
//--------------------------------------------------
// charts
//--------------------------------------------------
  @import './charts/chart-dial';
  @import './charts/chart-row-target';
  @import './charts/horizontal-bar-chart';
  @import './charts/interactive-multiline';
  @import './charts/interactive-treemap';
  @import './charts/sunburst';
}