//--------------------------------------------------
// variables
//--------------------------------------------------
$hero-padding-top-mobile: rem-calc(34);
$hero-padding-top-tablet: rem-calc(70);
$hero-padding-top-desktop: rem-calc(60);

//--------------------------------------------------
// classes
//--------------------------------------------------
.hero {
  &--thematic-area {
    @include responsive-styles(padding-top, $hero-padding-top-mobile, $hero-padding-top-tablet, $hero-padding-top-desktop);
  }
}