//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon-button-reset() {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@mixin icon-close() {
  @include icon-basic;
  background-image: image-url('icons/close.svg');
  width: rem-calc(29); height: rem-calc(29);
}

@mixin icon-info() {
  @include icon-basic;
  background-image: image-url('icons/info.svg');
  width: rem-calc(23); height: rem-calc(23);
}

@mixin icon-search() {
  @include icon-basic;
  background-image: image-url('icons/search.svg');
  width: rem-calc(30); height: rem-calc(30); 
}

@mixin icon-sort() {
  &::before {
    @include triangle(rem-calc(8), rem-calc(7), $grey); // ($base, $height, $color, $direction:'up')
    content: '';
    margin-bottom: rem-calc(1);

    display: block;
  }

  &::after {
    @include triangle(rem-calc(8), rem-calc(7), $grey, 'down'); // ($base, $height, $color, $direction:'up')
    content: '';

    display: block;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.icon {
  &--close { @include icon-close; }

  &--info-circle { @include icon-info; }

  &--info { //temp-refresh
    padding-left: rem-calc(24);
    position: relative;

    &:before {
      color: #317fce;
      content: '\f05a';
      font-family: 'FontAwesome';
      font-size: rem-calc(16),;
      font-weight: normal;
      line-height: rem-calc(21);

      display: inline-block;
      position: absolute;
      top: rem-calc(-2);
      left: 0;
    }
  }

  &--search { @include icon-search; }

  &--sort { @include icon-sort; }
}