//----------------------------------------
// variables
//----------------------------------------
$sticky-bar-background-color: $white;
$sticky-bar-height: $select-height;

//----------------------------------------
// animation
//----------------------------------------
@keyframes showNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

//----------------------------------------
// sticky bar wrapper
//----------------------------------------
.sticky-bar-wrapper {
  // height: $sticky-bar-height;
}

//----------------------------------------
// sticky bar
//----------------------------------------
.sticky-bar {
  background-color: $sticky-bar-background-color;
  width: 100%;

  &--stuck {    
    @include shadow--grey-light;
    padding: rem-calc(10 0 0 0);

    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    animation: showNav .3s forwards linear;
  }
}