//----------------------------------------
// variables
//----------------------------------------
$sticky-bar-background-color: $white;
$sticky-bar-padding: rem-calc(10);

//----------------------------------------
// sticky bar
//----------------------------------------
.sticky-bar {
  &--basic {
    width: 100%;

    .sticky-bar {
      &__content {
        background-color: $sticky-bar-background-color;
        padding-top: $sticky-bar-padding;
        padding-bottom: $sticky-bar-padding;
        z-index: 1;
        
        &.sticky-bar--stuck {
          @include gutters;
          @include shadow--grey-light;
          margin: 0 auto;
          width: 100%;
          max-width: $site-width;

          display: block;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
        }
      }
    }
  }
}