//----------------------------------------
// variables
//----------------------------------------
$sticky-bar-background-color: $white;
$sticky-bar-padding: rem-calc(10);

//----------------------------------------
// sticky bar
//----------------------------------------
.sticky-bar {
  &--basic {
    width: 100%;

    .sticky-bar {
      &__wrapper {
        background-color: $sticky-bar-background-color;
        padding-top: $sticky-bar-padding;
        padding-bottom: $sticky-bar-padding;
        z-index: 1;
        
        &.sticky-bar--stuck {
          @include shadow--grey-light;
          width: 100%;

          display: block;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;

          .sticky-bar__content { @include gutters; }
        }
      }

      &__content {
        margin: 0 auto;
        max-width: $site-width;
      }
    }
  }
}