//--------------------------------------------------
// variables
//--------------------------------------------------
$table-font: $header-font;
$table-head-bg-color: $grey-lighter;

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin table-cell-basic() {
  @include responsive-styles(margin-right, rem-calc(20), rem-calc(20), 0);
  @include responsive-styles(padding, rem-calc(8 10), rem-calc(8 10), rem-calc(18 20));
  @include responsive-styles(width, 25%, 25%, 20%);
}

@mixin table-row-spacing() {
  @include responsive-styles(margin-bottom, rem-calc(30), rem-calc(32), rem-calc(16));
}

//--------------------------------------------------
// table head
//--------------------------------------------------
.table-head {
  &--horizontal-scroll {
    @include responsive-styles(display, none, none, flex);
    @include flex-nowrap;
    @include shadow--grey;
    background-color: $table-head-bg-color;
    font-family: $table-font;
    margin-top: rem-calc(26);
  }

  .table-head {
    &__cell {
      @include table-cell-basic;
      align-items: center; //temp-refresh
      justify-content: space-between; //remp-refresh

      display: flex; //temp-refresh
    }
      
      &__title-wrapper {
        align-items: center; //temp-refresh
        flex-wrap: nowrap; //temp-refresh

        display: flex; //temp-refresh
      }

        &__title {
          margin-right: rem-calc(6); 
        }

      &__sort {
        @include button-plain;
        @include icon-sort;
        padding: rem-calc(3 6);
      }
  }
}

.table {
//--------------------------------------------------
// tables
//--------------------------------------------------
  &--horizontal-scroll {
    font-family: $table-font;

    .table {      
      &__row {
        @include table-row-spacing;
        @include responsive-styles(border, none, none, solid 1px $grey-light);

        @include breakpoint($medium) {
          @include shadow--grey-light;
        }
      }
        
        &__row-title {
          @include responsive-styles(display, block, block, none);
          font-size: rem-calc(18);
          font-weight: 700;
        }
        
        &__scroll-wrapper {
          overflow-x: scroll;
        }

          &__scroll {
            @include flex-nowrap;
            @include responsive-styles(width, 380%, 140%, 100%);
            @include responsive-styles(display, flex, flex, flex);
          }

            &__cell {
              @include table-cell-basic;
              @include shadow--grey-light;
              @include responsive-styles(border, solid 1px $grey-light, solid 1px $grey-light, none);
              @include breakpoint($medium) { box-shadow: none; }
            }
              
              &__cell-titles {
                @include responsive-styles(display, flex, flex, none);
                justify-content: space-between; //temp refresh
                margin-bottom: rem-calc(10);
              }

              &__cell-title {
                font-size: rem-calc(17);
                font-weight: 500;
                margin-bottom: rem-calc(14);
              }

              &__cell-link {
                font-weight: 900;
              }

              &__cell-chart:nth-child(2) { margin-bottom: rem-calc(12); }
    }
  }
}