//--------------------------------------------------
// settings
//--------------------------------------------------
$tooltip-background-color: $grey-light;
$tooltip-border-style: solid rem-calc(10);
$tooltip-padding: rem-calc(22 24 20 20);

//--------------------------------------------------
// tooltips
//--------------------------------------------------
.tooltip {
  position: relative;

  &__trigger {
    cursor: pointer;
  }

  &__target {
    font-size: rem-calc(15);
    line-height: 1.4;
    padding: $tooltip-padding;
    width: rem-calc(300);

    background-color: $tooltip-background-color;

    position: absolute;
    top: 145%;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);

    &:after {
      border-bottom: $tooltip-border-style $tooltip-background-color;
      border-right: $tooltip-border-style transparent;
      border-left: $tooltip-border-style transparent;
      content: '';
      width: 0; height: 0;

      position: absolute;
      bottom: 100%;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &__close {
    @include icon-button-reset;
    @include icon-close;

    position: absolute;
    top: rem-calc(10);
    right: rem-calc(10);
  }
}