<div class="project-item">
  <%= image_tag 'search-placeholder-country.png' %>

  <h4><%= link_to "#{project_item.name} (#{class_to_human(project_item.class)})", show_item_path(project_item) %></h4>
</div>
