<div class="project-item">
  <%= image_tag 'search-placeholder-country.png' %>

  <h4><%= project_item.name %> (<%= project_item.class %>)</h4>
  <p>
    <a href="#"><i class="fa fa-download"></i> Download Data Set</a>
  </p>
</div>

