<div class="project-item">
  <img src="http://placekitten.com/600/400">

  <h4><%= project_item.name %> (<%= project_item.class %>)</h4>
  <p>
    <a href="#"><i class="fa fa-download"></i> Download Data Set</a>
  </p>
</div>

