<div class="item">
  <div class="item-preview">
    <img src="http://placekitten.com/600/400">
  </div>

  <div class="item-info">
    <h1><%= project_item.name %> (<%= project_item.class %>)</h1>
    <p><i class="fa fa-download"></i> Download Data Set</p>
  </div>
</div>

