<% @projects.each_with_index do |project, i| %>
  <section>
    <div class="page-header">
      <h1>
        <i class="fa fa-edit"></i> 
        <%= best_in_place project, :name, as: :input %> (<%= project.items.count %> Items) 
        <span class="subtitle"><i class="fa fa-download"></i> Download Complete Data Set</span></h1>
    </div>

    <%= render partial: "project_item", collection: project.items %>
  </section>
<% end %>
