<% @projects.each_with_index do |project, i| %>
  <section class="project">
    <h3>

      <%= best_in_place project, :name, as: :input %> (<%= project.items.count %> Items)
      <span class="project-subtitle">Download Complete Data Set</span>
      <%= image_tag "icon-download-grey.png", style: "height: 20px;", class: 'icon' %>
    </h3>

    <%= render partial: "project_item", collection: project.items %>
  </section>
<% end %>
