<main class="grid">
  <% @projects.each do |project| %>
    <h3><%= project.name %> | <small>Download Complete Data Set</small></h3>

    <ul>
    <% project.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
    </ul>
  <% end %>
</main>