<% get_thematical_areas %>

<section class="section-padding">
  <h2 class="text-center"><%= @items[:title] %></h2>
  
  <flickity ref="flickity" class="flickity--themes">
    <% @items[:cards].each do |slide| %>
      <div class="carousel-cell">
        <%= render partial: 'partials/sub_partials/themes', locals: { theme: slide } %>
      </div>
    <% end %>
  </flickity>
</section>