<% items = get_thematic_and_database_areas %>

<h2 class="text-center"><%= items[:title] %></h2>

<flickity 
  class="flickity--themes"
  :options="<%= get_config_carousel_themes %>"
  ref="flickity"
>
  <% items[:cards].each do |slide| %>
    <div class="carousel-cell">
      <%= render partial: 'partials/sub_partials/themes', locals: { theme: slide } %>
    </div>
  <% end %>
</flickity>
