# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  aws_bucket: 'wdpa'
  wikipedia_api_url: 'http://en.wikipedia.org/w/api.php'

development:
  <<: *default
  secret_key_base: c9a5d44fd83941bdf5224c7ddd6da04361df0383bc45cc2e074c2b7ecc47f6730c1b5f53bd627d30182997fed6b80433c9e8040dc7f15d1bac6cbfa0a38c1dfa
  aws_access_key_id: ''
  aws_secret_access_key: ''

test:
  <<: *default
  secret_key_base: 0f7fb46879c71772aafa694a4bdc5c821c196ab7b0b337ecf3fe994616ca2a243d4743cbfd984bb8033708c57b66cf97b5f999f11a19b8d42e72a956a7c1b770
  aws_access_key_id: ''
  aws_secret_access_key: ''

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
