# Be sure to restart your server when you modify this file.
default: &default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  maintenance_mode_key: <%= ENV['MAINTENANCE_MODE_KEY'] %>

  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  aws_downloads_bucket: 'pp-downloads-development'
  aws_bucket: 'wdpa'
  aws_datasets_bucket: 'ppe.datasets'

  cartodb_api_key: <%= ENV["CARTODB_API_KEY"] %>
  cartodb_username: 'carbon-tool'

  wikipedia_api_url: 'http://en.wikipedia.org/w/api.php'

  default_map_bounds:
    from: [57.862288, -139.21875]
    to:   [-9.156333, 105.46875]

  redis:
    wdpa_imports_prefix: 'wdpa_imports'

  elasticsearch:
    host: 'http://localhost:9200'
    index: 'protected_areas'

development:
  <<: *default
  secret_key_base: c9a5d44fd83941bdf5224c7ddd6da04361df0383bc45cc2e074c2b7ecc47f6730c1b5f53bd627d30182997fed6b80433c9e8040dc7f15d1bac6cbfa0a38c1dfa

test:
  <<: *default
  secret_key_base: 0f7fb46879c71772aafa694a4bdc5c821c196ab7b0b337ecf3fe994616ca2a243d4743cbfd984bb8033708c57b66cf97b5f999f11a19b8d42e72a956a7c1b770
  aws_access_key_id: ''
  aws_secret_access_key: ''
  cartodb_api_key: ''
  maintenance_mode_key: 'ankey'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  aws_downloads_bucket: 'pp-downloads-production'
  cache_max_age: '2592000'
  memcache_servers:
    - 'localhost:11211'
