<%#= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: "#{@cms_page.slug }" %>
<%= render partial: "./layouts/partials/hero-small", locals: { title: 'needs pulling in from cms', classes: ""} %>

<div>
  <search-results-areas
    endpoint-autocomplete="/search/autocomplete"
    endpoint-pagination="/search-areas-pagination"
    endpoint-search="/search-results-areas"
    :filter-groups="<%= @filter_groups %>"
    :autocomplete-area-types="<%= @search_area_types %>"
  ></search-results-areas>
</div>