<%#= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: "#{@cms_page.slug }" %>

<div>
  <search-results-areas
    endpoint-autocomplete="/search/autocomplete"
    endpoint-pagination="/search-areas-pagination"
    endpoint-search="/search-wdpa/results"
    :autocomplete-area-types="<%= @search_pas_types %>"
  ></search-results-areas>
</div>