<%#= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: "#{@cms_page.slug }" %>

<div>
  <search-autocomplete-types
    endpoint-autocomplete="/search/autocomplete"
    endpoint-search="/search-results"
    :types="<%= @search_pas_categories %>"
  ></search-autocomplete-types>

  <search-results-areas
    endpoint="/search-wdpa/results"
  ></search-results-areas>

</div>