{% extends "monitrc.j2" %}

{% block child %}
  check process postgres with pidfile /var/run/postgresql/{{postgresql.version}}-main.pid
      start program = "sudo service postgresql start" with timeout 60 seconds
      stop program  = "sudo service postgresql stop"
{% endblock %}
