{% for sidekiq_process in sidekiq_processes %}
check process {{ sidekiq_process.name }} with pidfile /var/www/pp/current/tmp/pp-{{ sidekiq_process.name }}.pid
  start program = "service sidekiq start" with timeout 60 seconds
  stop program  = "service sidekiq stop"
{% endfor %}
