{% block child %}
  check process postgresql with pidfile /var/run/postgresql/10.3-main.pid
    start program = "/etc/init.d/postgresql start" with timeout 60 seconds
    stop program  = "/etc/init.d/postgresql stop"
{% endblock %}
