<section class="hero">
  <div class="js-download-btn hero__top hero__top--centered">
    <h1 class="hero__title hero__title--bigger">
      <%= @country.name %>, <small class="hero__title hero__title--thin"><%= @country.region.name %></small>
    </h1>
  </div>
</section>

