<aside class="info-box info-box--fill-color">
  <section class="half">
    <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">Citation</h2>
    <p class="info-box__body">
    UNEP-WCMC (<%= Date.today.year %>). Protected Area Country Profile for <%= @country.name %> from the World Database of Protected Areas, <%= Date.today.strftime("%B %Y") %>. Available at: <a href="/">www.protectedplanet.net</a>
    </p>
  </section>

  <section class="half">
    <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">References</h2>
    <div class="info-box__body">
      <div class="reference">
        <h3 id="ref1" class="reference__title">(Ref 1)</h3>
        <p class="reference__body">UNEP-WCMC (2016). Global statistics from the World Database on Protected Areas (WDPA).Cambridge, UK: UNEP- WCMC.</p>
      </div>
      <div class="reference">
        <h3 id="ref2" class="reference__title">(Ref 2)</h3>
        <p class="reference__body">
        Coad, L. et al. (2015). Measuring impact of protected area management
        interventions: current and future use of the Global Database of
        Protected Area Management Effectiveness. Phil. Trans. R. Soc. B 370:
        20140281.
        </p>
        <a class="reference__link" href="http://dx.doi.org/10.1098/rstb.2014.0281"><i class="reference__link-icon fa fa-external-link-square"></i>External link</a>
      </div>
    </div>
  </section>
</aside>
