<section class="container section-padding--top">
  <search-areas-home
    :config="<%= config %>"
    endpoint-autocomplete="<%= search_autocomplete_path %>"
    endpoint-search="<%= search_areas_path(search_term: "SEARCHTERM", filters: { db_type: ["TYPE"] }) %>"
  >
  </search-areas-home>
</section>
