<section class="search--pa container">
  <div class="search__container">
    <search-autocomplete-types 
      :config="<%= @search_pas_config %>"
      :types="<%= @search_pas_categories %>"
      endpoint="search-areas"
    >
  </div>
</section>
