<section class="search--pa container">
  <div class="search__container">
    <search-autocomplete-types 
      endpoint="search/autocomplete"
      :types="<%= @search_area_types %>"
    >
  </div>
</section>
