<section class="search--pa container">
  <div class="search__container">
    <v-select-autocomplete 
      :config="<%= @search_pas_config %>"
      :categories="<%= @search_pas_categories %>"
      endpoint="wdpa"
    >
  </div>
</section>
