<section class="search--pa container">
  <div class="search__container">
    <!-- <input type="text" class="search__input" placeholder="Search for a protected area..."> -->
    <v-select-searchable-filterable 
      :config="<%= @search_pas_config %>"
      :categories="<%= @search_pas_categories %>" 
    >
  </div>
</section>
