<section class="search--pa container">
  <div class="search__container">
    <search-areas-home
      :config="<%= config %>"
      endpoint-autocomplete="/search/autocomplete"
      endpoint-search="/<%= locale %>/TYPE/search?search_term=SEARCHTERM"
    >
  </div>
</section>
