<section class="search--pa container">
  <div class="search__container">
    <search-autocomplete-types 
      endpoint-autocomplete="/search/autocomplete"
      :autocomplete-area-types="<%= @search_area_types %>"
    >
  </div>
</section>
