<div class="topbar--secondary">
  <div class="social--share">
    <%= render "partials/social/sharing" %>
  </div>

  <div class="js-download-btn tooltip-old__trigger marine-download">
    <button href="#" class="js-trigger btn-map-download btn-map-download--marine">
      <i class="fa fa-download big-button__icon"></i>Download the marine dataset
    </button>

    <%= download_dropdown("marine", "general", [:csv, :shp, :pdf]) %>
  </div>
</div>