<div class="topbar--secondary">
  <div class="topbar__container container">
    <div class="social--share">
      <%= render "partials/social/sharing" %>
    </div>

    <%= render partial: "partials/download/download", locals: { 
      classes: 'download--small', 
      options: download_options
    } %>
  </div>
</div>