<div class="topbar--secondary">
  <div class="topbar__container container">
    <div class="social--share">
      <%= render "partials/social/sharing" %>
    </div>

    <%= render "partials/download/download" %>
  </div>
</div>