<div class="topbar--secondary">
  <div class="topbar__container container">
    <%= render "partials/social/sharing" %>

    <%= render partial: "partials/download/download", locals: { classes: 'download--small' } %>
  </div>
</div>