$dark-blue: rgb(43, 49, 70);
$grey-blue: #848184;
$blue: #317fce;

// green palette
$green: #71a32b;
$green--dark: #699728;
$green--darker: #415519;
$green--light: #83af46;
$green--lighter: #e3edd5;
$brown: #702412;
$white: #ffffff;

// blue palette
$blue: #1d62b1;
$blue--dark: #1a589f;
$blue--light: #3a76bb;
$blue--lighter: #d2e0ef;

//used on marine insights page
$blue--marine-1: #bfe5e9; 
$blue--marine-2: #A1D8DE;
$blue--marine-3: #90BDC4;
$blue--marine-4: #729099;
$blue--marine-5: #444955;

// red palette
$red: #d80000;
$red--dark: #c20000;
$red--light: #de2626;
$red--lighter: #f7cccc;

// orange palette
$orange: #ef5833;
$orange--dark: #de522f;
$orange--lighter: #f16e4d;
$orange--lighest: #F5A623; //highlight color on the marine page
$brown-bg: #fcded6;
$yellow: #ffe600;

// grey palette
$grey-100: #333333;
$grey-77: #666666;
$grey-55: #8f8f8f;
$grey-44: #4a4a4a;
$grey-33: #bbbbbb;
$grey-15: #dfe0e1;
$grey-5: #f2f2f2;
$grey-4: #d8d8d8;
$grey-3: #f8f8f8;

// palettes
$palettes:
$green $green--dark $green--light $brown $white,
$blue $blue--dark $blue--light $blue--lighter,
$red $red--dark $red--light $red--lighter,
$orange $orange--dark $orange--lighter $brown-bg $yellow,
$grey-100 $grey-77 $grey-55 $grey-33 $grey-15 $grey-5 $grey-3 !default;

// atoms/leaflet-control
$leaflet-control__color: $green !default;
$leaflet-control__bg-color: $white !default;
$leaflet-control__disabled-color: $grey-5 !default;
$leaflet-control__border: $grey-15 !default;
$leaflet-control__hover-color: $grey-5 !default;

// atoms/buttons
$button--hide-color: $green !default;
$button--hide-border-color: $grey-4;
$button--grey-border-color: $grey-4 !default;
$button--grey-text-color: $green !default;
$button--fullscreen-text-color: $green !default;
$button--fullscreen-hover-color: $grey-5 !default;
$button--external-color: $green;

// atoms/colors
$link__color: $green !default;
$link__color--hover: $green--light !default;
$link__color--pressed: $green--dark !default;
$link__color--visited: $green--light !default;

// molecules/attribute
$attribute-border-color: $grey-4;
$attribute__title-color: $grey-100;
$attribute__value-color: $green;

// molecules/link-with-icon
$link-with-icon__color: $green !default;
$link-with-icon__bg-color: $white !default;

// molecules/table
$table-link__color: $green !default;

// molecules/reference
$reference-link__color: $green !default;
$reference-link-icon__color: $green !default;

// molecules/big-button
$big-button__color: $white !default;
$big-button__bg-color: $green !default;
$big-button__bg-color--hover: $green--light !default;
$big-button__bg-color--pressed: $green--dark !default;
$big-button__bg-color--visited: $green--light !default;
$big-button__bg-color--disabled: $green--lighter !default;
$big-button-danger__color: $white !default;
$big-button-danger__bg-color: $red !default;
$big-button-danger__bg-color--hover: $red--light !default;
$big-button-danger__bg-color--pressed: $red--dark !default;
$big-button-danger__bg-color--visited: $red--light !default;
$big-button-danger__bg-color--disabled: $red--lighter !default;

// molecules/horizontal-bar
$horizontal-bar__bg-color: $green !default;
$horizontal-bar-inner__bg-color: $green--darker !default;

// molecules/dropdown
$dropdown__bg-color: $green--dark !default;
$dropdown-inner__border-top-color: $green !default;
$dropdown-trigger-is-selected__bg-color: $green--dark !default;
$dropdown-element-hover__bg-color: $green !default;

// molecules/alert
$alert__bg-color: $grey-5 !default;
$alert-warning--color: $orange !default;
$alert-success--color: $green !default;
$alert-info--color: $blue--dark !default;

// molecules/key
$key__title-color: $grey-100 !default;
$key__title-hover-color: $green !default;
$key__tick-color: $green;

// molecules/value
$value-number__color: $green !default;
$value-number-alt-color__color: $green--darker !default;

// molecules/stats
$stats-background-color: $grey-3 !default;
$stats-text-color: $grey-77 !default;
$stats-number-color: $green !default;
$stats-country-color: $green !default;

// organisms/navbar
$navbar__bg-color: $green !default;
$navbar__bg-color--darker: $green--dark !default;
$navbar-element-dark__bg-color: $green--dark !default;
$navbar-element__color: $white !default;
$navbar-element-hover__bg-color: $green--light !default;
$navbar-element-active__bg-color: $green--dark !default;
$navbar-element-for-search-dropdown-is-active__color: $green !default;
$color--nav-bg: $green;
$color--nav-active-link: $green--dark;
$color--nav-link: $white;
$color--nav-hover-link: $green--dark;
$color--nav-border: $grey-33;

// organisms/search-result
$search-result-title__color: $green !default;

// organisms/filter-bar
$filter-bar-value-hover__bg-color: $grey-5 !default;
$filter-bar-value-active__bg-color: $grey-15 !default;

// organisms/hero
$hero-title__color: $green !default;

// organisms/fact
$fact-header__color: $grey-100 !default;
$fact-header__border-bottom-color: $grey-33 !default;
$fact-external-link__color: $green !default;

// organisms/gallery
$gallery-controls__bg-color: $grey-5 !default;
$gallery-current-index__color: $white !default;
$gallery-current-index__bg-color: $green--dark !default;

// organisms/info-box
$info-box__bg-color: $grey-5 !default;
$info-box-link__color: $green !default;
$info-box-link-icon__color: $green !default;
$info-box-row__border-bottom: $grey-33 !default;
$info-box__icon-color: $blue !default;

// organisms/footer
$footer-element-with-separator__border-left-color: $green--dark !default;

//organisms/tabs
$tabs__title-color: $grey-100;
$tabs__title-border-color: $grey-4;

// organisms/vertical-nav
$vertical-nav-element-selected__color: $green !default;

// scopes/article
$article-list-index__color: $green !default;

// molecules/pa-card
$pa-card-border-bottom__color: $grey-4 !default;
$pa-card-detail-border-right__color: $grey-4 !default;
$pa-card-subtitle__color: $grey-44;
$pa-card-text__color: $grey-100;

$color--base: $grey-77;
$color--base-btn-bg: $green;
$color--base-btn-hover-bg: $green--dark;
$color--base-btn-text: $white;

$color--bg: $dark-blue;

$color--leaflet-control: $dark-blue;
$color--leaflet-control-text: $white;
$color--leaflet-control-hover-bg: $white;
$color--leaflet-control-hover-text: $dark-blue;
$color--leaflet-control-border: $white;

$color--leaflet-cluster-bg: $dark-blue;
$color--leaflet-cluster-border: $white;
$color--leaflet-cluster-text: $white;


$color--header-active-link: $grey-33;
$color--header-link: $grey-100;
$color--header-hover-link: $grey-33;

$color--footer-bg: $dark-blue;
$color--footer: $grey-33;
$color--footer-link: $grey-33;

$color--project-header-bg: $white;
$color--project-header-border: $grey-15;
$color--project-header-small: $grey-77;
$color--project-item-border: $grey-33;
$color--project-bg: $grey-33;
$color--project-item-bg: $white;
$color--project-dropdown-bg: $grey-33;
$color--project-dropdown-active: $grey-33;

$color--pa-text: $grey-77;
$color--pa-header: $grey-77;
$color--pa-table-border: $grey-33;
$color--pa-table-attribute: $grey-100;
$color--pa-infographic-bg: $dark-blue;
$color--pa-infographic-text: $white;
$color--pa-infographic-border: $grey-15;

$color--home-filters-bg: $white;
$color--home-filters-hover-bg: $grey-33;
$color--home-filters-border: $grey-33;
$color--home-filters-child-border: $grey-33;
$color--home-filters-text: $grey-77;

$color--map-disclaimer-bg: $grey-5;
$color--map-disclaimer-text: $grey-77;

$color--search-download-bg: $white;
$color--search-download-text: $grey-100;
$color--search-download-border: $grey-33;

$color--search-bar-bg: $white;
$color--search-input-bg: $grey-33;
$color--search-input-bg-hover: $grey-15;
$color--search-input-text: $grey-100;

$color--search-header-bg: $white;
$color--search-filters-bg: $white;
$color--search-filters-header: $dark-blue;
$color--search-filters-active: $green--dark;
$color--search-filters-text: $white;
$color--search-switch-border: $white;
$color--search-filters-border: $grey-33;
$color--search-result-small-text: $grey-33;

$color--download-modal-text: $grey-77;
$color--download-modal-overlay-bg: rgba(0, 0, 0, .5);
$color--download-modal-input-bg: $grey-33;
