@font-face {
  font-family: 'MuseoSans';
  font-weight: 700;
  font-style: normal;
  src: asset_url('fonts/MuseoSans-700.eot') format('oet'),
       asset_url('fonts/MuseoSans-700.ttf') format('ttf'),
       asset_url('fonts/MuseoSans-700.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 300;
  font-style: normal;
  src: asset_url('fonts/MuseoSans-300.eot') format('oet'),
       asset_url('fonts/MuseoSans-300.ttf') format('ttf'),
       asset_url('fonts/MuseoSans-300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 500;
  font-style: normal;
  src: asset_url('fonts/MuseoSans-500.eot') format('oet'),
       asset_url('fonts/MuseoSans-500.ttf') format('ttf'),
       asset_url('fonts/MuseoSans-500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 100;
  font-style: normal;
  src: asset_url('fonts/MuseoSans-100.eot') format('oet'),
       asset_url('fonts/MuseoSans-100.ttf') format('ttf'),
       asset_url('fonts/MuseoSans-100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSlab';
  font-weight: 900;
  font-style: normal;
  src: asset_url('fonts/MuseoSlab-900.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSlab';
  font-weight: 700;
  font-style: normal;
  src: asset_url('fonts/MuseoSlab-700.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSlab';
  font-weight: 500;
  font-style: normal;
  src: asset_url('fonts/MuseoSlab-500.eot') format('oet'),
       asset_url('fonts/MuseoSlab-500.ttf') format('ttf'),
       asset_url('fonts/MuseoSlab-500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSlab';
  font-weight: 300;
  font-style: normal;
  src: asset_url('fonts/MuseoSlab-300.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSlab';
  font-weight: 100;
  font-style: normal;
  src: asset_url('fonts/MuseoSlab-100.otf') format('opentype');
}