$x-thin: 100;
$thin:   300;
$normal: 500;
$bold:   700;
$x-bold: 900;


$weights: (
  x-thin: $x-thin,
  thin:   $thin,
  normal: $normal,
  bold:   $bold,
  x-bold: $x-bold
);

$form-factors: (
  xxxxlarge: (
    font-size: rem-calc(77), line-height: rem-calc(75)
  ),
  xxxlarge: (
    font-size: rem-calc(64), line-height: rem-calc(64)
  ),
  xxlarge: (
    font-size: rem-calc(51), line-height: rem-calc(57)
  ),
  xlarge: (
    font-size: rem-calc(38), line-height: rem-calc(43)
  ),
  large: (
    font-size: rem-calc(26), line-height: rem-calc(32)
  ),
  medium: (
    font-size: rem-calc(22), line-height: rem-calc(32)
  ),
  headline: (
    font-size: rem-calc(20), line-height: rem-calc(27)
  ),
  body: (
    font-size: rem-calc(16), line-height: rem-calc(21)
  ),
  small: (
    font-size: rem-calc(13), line-height: rem-calc(21)
  ),
);

@function weight($name) {
  @return map-get($weights, $name);
}

@function form-factor($name, $property: null) {
  $form-factor: map-get($form-factors, $name);

  @if($property) {
    @return map-get($form-factor, $property);
  } @else {
    @return $form-factor;
  }
}

@mixin form-factor($name) {
  @each $property, $value in form-factor($name) {
    #{$property}: #{$value};
  }
}

// atoms/leaflet-control
$leaflet-control__font-size: form-factor(body, line-height) !default;

$fontAwesome: normal normal normal 14px/1 FontAwesome;