<nav class="navbar">
  <div class="navbar__element navbar__element--bigger">
    <%= link_to root_path, class: 'protectedplanet-logo' do %>
      protected planet<sup class="protectedplanet-logo__registered">®</sup>
    <% end %>
  </div>
  
  <% unless @for_pdf %>
    <div ontouchend="this.onclick=touchHoverFix" class="js-trigger js-switch mobile-menu__hamburger is-closed u-only-mobile navbar__element navbar__element--right">
      <i class="fa fa-bars mobile-menu__hamburger-icon"></i>
    </div>

    <%= render "layouts/application/navbar_desktop" %>
  <% end %>
</nav>

<div class="js-target u-hide u-only-mobile">
  <%= render "layouts/application/navbar_mobile" %>
</div>