<%= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: @cms_page[:slug] } %>

<section class="container">
  <div>
    <h2>filters</h2>
    <!-- TODO This is just an example to show the custom categories if present -->
    <%= load_categories %>
  </div>

  <div>
    <%= render partial: "partials/cards/resources", locals: { get_all: true } %>
  </div>
</section>

<%= render "partials/ctas/live-report" %>

<!-- 

<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link" href="/">Home</a> > Resources: <%#= @category.label %>
  </nav>

  <div class="hero">
    <h1 class="hero__title hero__title--article">Resources</h1>
  </div>

  <aside class="u-only-desktop filter-bar filter-bar--non-fixed filter-bar--larger">
  <div class="filter-bar__inner">
    <header class="header-with-delimiter filter-bar__header">
      <h2>
        Filters
      </h2>
    </header>
    <div class="filter-bar__body">
      <div class="js-expandable-section filter-bar__group">
        <h3 class="js-trigger js-switch filter-bar__group-title is-open">Time period</h3>
        <div class="js-target">
          <%# CmsPresenter.all_by_year(@resources).each do |(year, dates)| %>
            <a class="filter-bar__value" href="<%#= resources_path(category_id: @category.id, year: year) %>">
              <%#= year %>
              <strong class="filter-bar__count">(<%#= dates.length %>)</strong>
            </a>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</aside>


  <div class="three-fourths">
    <p class="header-with-delimiter header-with-delimiter--smaller header-with-delimiter--bold">Showing 1-10 of <%#= @resources.size %> hits.</p>

    <div class="right-padded">

    </div>
  </div>
</main>

 -->