<!-- %li= active_link_to 'HomeCarouselSlides', admin_home_carousel_slides_path -->

<li class="nav-item">
  <%= link_to 'Call To Actions', admin_call_to_actions_path, class: 'nav-link', title: 'View Call to Actions' %>
</li>