<div class="container--profile container--push-bottom">
  <header class="hero--thematic-area center">
    <h1 class="hero__title hero__title--article"><%= t('thematic_area.target_11_dashboard.title') %></h1> 
  </header>

  <main>
    
  </main>
</div>