<div class="container--profile container--push-bottom">
  <header class="hero--thematic-area center">
    <h1 class="hero__title hero__title--article"><%= t('thematic_area.target_11_dashboard.title') %></h1> 
  </header>

  <main>
    <chart-dial
      title="Marine"
      colour="marine"
      :dial-value="40"
      :dial-target="60"
    >
    </chart-dial>    
  </main>
</div>