//--------------------------------------------------
// classes
//--------------------------------------------------
&--attributes-parcels-dropdown {
  @include breakpoint($medium) {
    max-width: rem-calc(400);
  }
}