//--------------------------------------------------
// classes
//--------------------------------------------------
&--attributes-pa-and-parcels {
  @include card-stats;
  @include flex;
  @include flex-column;
  gap: 1rem;

 
  .pdf & {
    .card{
      &__all-attributes{
        @include flex;
        @include flex-column;
        gap: 4rem;
      }   
    }
  }
}