table {
  @extend .table;

  tr:first-child {
    @extend .table__header;
    td {
      @extend .table__column;
      @extend .table__column--align-left;
    }
  }

  tr:not(:first-child) {
    @extend .table__row;
    padding: rem-calc(8);
    td {
      padding: rem-calc(8);
    }
  }
}

