&--theme {
  @include bg-image-overlay;
  @include border-radius;
  @include flex;
  @include flex-column;
  @include flex-h-start;
  background-color: $grey-dark;
  background-position: center;
  background-size: cover;
  color: $white;
  margin-bottom: rem-calc(20);
  margin-left: 0;
  padding: rem-calc(32 30);
  text-decoration: none;
  height: rem-calc(460);

  position: relative;

  @include breakpoint-between($small, $medium) { padding-right: 30%; };
  @include breakpoint($medium) { height: rem-calc(760); }

  &:hover::before { background-color: rgba(0,0,0,0.7); }

  &::before { @include border-radius; }

  .card {
    &__summary {
      display: none;

      @include breakpoint($small) { display: block; }
    }

    &__title {
      @include text-theme-cards;
    }
  }
}