//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin card-stat-content {
  @include flex;
  @include flex-column;

  @include breakpoint($small) { @include flex-row; }
}

@mixin card-stats-padding {
  padding: rem-calc(16 18); 

  @include breakpoint($small) { padding: rem-calc(28 30); }
}

@mixin card-stats-number {
  color: $primary;
  font-weight: $bold;
  line-height: 1;
}

@mixin card-stats {
  @include card-stats-padding;
  background-color: $white;
  margin-top: rem-calc(30);
}

@mixin card-stats-h2 { margin-top: 0; } 

@mixin card-stats-third { width: calc(33% - 16px); }

@mixin card-button-external { @include button-all($small: true); }

@mixin card-chart-wrapper {
  @include container-medium;
  @include breakpoint-down($small) { padding: 0; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
&--stats-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($small) { 
    flex-wrap: nowrap;
    justify-content: space-between; 
  }
}

&--stats-half {
  width: 100%; 

  @include breakpoint($small) { width: calc(50% - 15px); }
}

@import './stats/card-stats-affiliations';
@import './stats/card-stats-attributes';
@import './stats/card-stats-coverage';
@import './stats/card-stats-designations';
@import './stats/card-stats-governance';
@import './stats/card-stats-growth-chart';
@import './stats/card-stats-iucn';
@import './stats/card-stats-management';
@import './stats/card-stats-overview';
@import './stats/card-stats-related';
@import './stats/card-stats-sources';