//--------------------------------------------------
// classes
//--------------------------------------------------
&--stats-overview {
  @include bg-grey-black;
  @include card-stats-padding;
  margin-right: rem-calc(30);
  width: 100%;

  @include breakpoint($small) { width: 33%; }

  .card {
    &__external-button { @extend .button--link-external; }

    &__external-label {
      margin-right: 4%;
      width: 74%;
    }

    &__external-link {
      @include flex;
      @include flex-h-between;
      @include flex-v-start;
      font-size: rem-calc(16);
      margin-bottom: rem-calc(20);
    }
  
    &__external-title { font-weight: $bold; }

    &__flag { margin-right: rem-calc(14); }

    &__heading {
      @include flex;
      @include flex-v-center;
      margin-bottom: rem-calc(18);
    }

    &__h1 { 
      color: $white;
      font-size: rem-calc(20);
      margin: 0;

      @include breakpoint($small) { font-size: rem-calc(22); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__number {
      @include card-stats-number;
      font-size: rem-calc(18);

      display: block;

      @include breakpoint($small) { font-size: rem-calc(20); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__number--small {
      @include card-stats-number;
      font-size: rem-calc(18);
      margin-right: rem-calc(10);

      @include breakpoint($small) { font-size: rem-calc(20); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__section {
      margin-top: rem-calc(30);
    }

    &__text {
      font-size: rem-calc(16);
    }

    &__text-bold {
      font-size: rem-calc(16);
      font-weight: $bold;
      margin-bottom: rem-calc(6);

      display: block;
    }
  }
}