&--theme {
  @include bg-image-overlay;
  @include border-radius;
  @include flex;
  @include flex-column;
  @include flex-h-end;
  background-color: $grey-dark;
  background-position: center;
  background-size: cover;
  color: $white;
  margin-bottom: rem-calc(20);
  margin-left: 0;
  padding: rem-calc(32 30);
  text-decoration: none;
  height: rem-calc(460);

  position: relative;

  @include breakpoint($medium) { height: rem-calc(760); }

  &:hover::before { background-color: rgba(0,0,0,0.7); }

  &::before { @include border-radius; }

  .card {
    &__ribbon {
      @include flex;
      @include flex-column;
      @include flex-h-between;
      @include flex-v-center;
      background-color: $grey-black;
      padding: rem-calc(20 10);
      text-align: center;
      width: rem-calc(134); height: rem-calc(134); 

      position: absolute;
      top: 0;

      @include breakpoint ($small) { 
        width: rem-calc(150); height: rem-calc(150); 

        right: rem-calc(26);
      }

      @include breakpoint ($medium) { 
        right: rem-calc(244);
      }
    } 

      &__icon {
        flex-shrink: 0;

        &.marine-protected-areas {
          @include icon-pin-blue;
        }
      }

      &__number {
        color: $primary;
        font-size: rem-calc(20);
        font-weight: $bold;
        line-height: 1;
        margin-top: rem-calc(10);

        display: block;

        @include breakpoint ($small) { font-size: rem-calc(30); }
        @include breakpoint ($medium) { font-size: rem-calc(40); }
      }

        &__number-text { 
          font-size: rem-calc(16);
          line-height: 1; 

          @include breakpoint ($small) { font-size: rem-calc(18); }
        }

    &__summary {
      display: none;

      @include breakpoint($small) { display: block; }
    }

    &__title {
      @include text-theme-cards;
    }
  }
}