&--message {
  border: solid $grey 9px;
  background-color: $white;
  margin-top: rem-calc(30);
  padding: rem-calc(28 39);

  .card {
    &__title { 
      font-size: rem-calc(20); 
      font-weight: $bold;
    }

    &__warning {
      margin-top: 0;
    }
  }

  &-plain {
    @include gutters;
    background-color: $grey-light;
    font-size: rem-calc(14); 
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
  }
}