$sm-factor: 11;
$md-factor: 12;
$lg-factor: 14;


//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin card-stats-padding {
  padding: rem-calc(($lg-factor * 1.4) ($lg-factor * 1.5)); 
}

@mixin card-stats-number {
  color: $primary;
  font-weight: $bold;
  line-height: 1;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
&--stats {
  @include card-stats-padding;
  background-color: $white;
  margin: rem-calc(($lg-factor * 1.5) 0);

  &--half {
    @include responsive(width, 100%, calc(50% - 15px), calc(50% - 15px));
  }

  .card {

    h2 {
      font-size: rem-calc($lg-factor);
    }

    &__content {
      @include flex;
    }

    &__logos {
      @include flex;
      @include ul-unstyled;
    }

      &__logo {
        margin-left: rem-calc($lg-factor * 1.2);

        &:first-child { margin-left: 0; }
      }

        &__logo-image {
          
          width: rem-calc(100); height: auto;

          display: block;
        }

    &__third {
      width: calc(33% - 16px);
    }

      &__chart-square {
        margin-right: rem-calc($lg-factor * 1.2);
        width: 30%;
      }

      &__stat-box {
        @include bg-grey-xdark;
        @include flex;
        @include flex-center;
        font-size: rem-calc($lg-factor);
        font-weight: $bold;
        margin-right: rem-calc($lg-factor);
        width: 30%; height: rem-calc($lg-factor * 14);
      }

      

      
  }
}

&--stats-overview {
  @include bg-grey-black;
  @include card-stats-padding;
  @include responsive(width, 100%, 33%, 33%);
  margin-right: rem-calc($lg-factor * 1.5);

  .card {
    &__flag {
      margin-right: rem-calc($md-factor);
    }

    &__heading {
      @include flex;
      @include flex-v-center;
      margin-bottom: rem-calc($lg-factor);
    }

    &__h1 { 
      color: $white;
      font-size: rem-calc($lg-factor * 1.25);
      margin: 0;
    }

    &__number {
      @include card-stats-number;
      @include responsive(font-size, rem-calc($md-factor), rem-calc($lg-factor), rem-calc($lg-factor * 2));

      display: block;
    }

    &__number--small {
      @include card-stats-number;
      @include responsive(font-size, rem-calc($md-factor), rem-calc($lg-factor), rem-calc($lg-factor * 1.5));
      margin-right: rem-calc(10);
    }

    &__section {
      margin-top: rem-calc($lg-factor * 1.5);
    }

    &__story-map-links {
      margin-top: 3rem;
      .story-map-link {
        margin-bottom: rem-calc($sm-factor / 2);

        display: flex;
        justify-content: space-between;
  
        @include only-mobile() {
          display: block;
        }

        &,
        &__link .button.button--link-external {
          @include responsive(font-size, rem-calc($sm-factor), rem-calc($md-factor), rem-calc($lg-factor));
        }
  
        &__title {
          font-weight: $bold;
        }
      }
    }

    &__text {
      font-size: rem-calc($lg-factor);
    }

    &__text-bold {
      font-size: rem-calc($lg-factor);
      font-weight: $bold;
      margin-bottom: rem-calc($sm-factor / 3);

      display: block;
    }
  }
}
