<section class="fact">
  <h2 class="fact__header"></h2>

  <div id="points-polygons-ratio" class="fact__body card--stats">
    <div class="horizontal-bar"><div data-fill-value="<%= @presenter.geometry_ratio[:polygons] %>" class="horizontal-bar__inner"></div></div>
    <div class="space-between">
      <div class="">
        <h3>
          <span class="card__number--xlarge-primary-dark">
            <%= @presenter.geometry_ratio[:polygons] %>%
          </span>
          Polygons
        </h3>
      </div>
      <div class="">
        <h3>
          <span class="card__number--xlarge-primary">
            <%= @presenter.geometry_ratio[:points] %>%
          </span>
          Points
        </h3>
      </div>
    </div>
  </div>
</section>
