<section class="container">
  <div class="container--component">
    <h2><%= title %></h2>
    <div><%= content %></div>
    
    <chart-column-tabbed :json="<%= regionsTopCountries %>"></chart-column-tabbed>
  </div>
</section>