<section class="container">
  <div class="container--component">
    <h2><%= cms_fragment_render(:section_coverage_title, cms_page) %></h2>
    <div><%= cms_fragment_render(:section_coverage_content, cms_page) %></div>
    <div>
      <chart-line 
        :lines="<%= lines %>"
      ></chart-line>
    </div>
  </div>
</section>