<section class="container">
  <div class="container--component">
    <h2><%= title %></h2>
    <div><%= content %></div>
    <div>
      <chart-line 
        :lines="<%= lines %>"
        
        <% if local_assigns.has_key? :units %>
          units="<%= units %>"
        <% end %>
      ></chart-line>
    </div>
  </div>
</section>