<section class="container">
  <div class="container--component">
    <h2><%= title %></h2>
    <div><%= content %></div>
    <div>
      <am-chart-multiline 
        :data="<%= chart_data %>"
        :dots="true"
      ></am-chart-multiline>
    </div>
  </div>
</section>