<section class="container">
  <div class="container--component">
    <h2><%= title %></h2>
    <div><%= content %></div>
    <div>
      <chart-line 
        :lines="<%= lines %>"
      ></chart-line>
    </div>
  </div>
</section>