<div class="search-result">
  <h2 class="search-result__title">
    <a href="<%= resource.full_path %>"><%= resource.label %></a>
  </h2>
  <%= search_result_preview(resource) %>

  <ul class="search-result__details">
    <li class="search-result__detail"><%= resource.created_at.strftime('%Y-%m-%d') %></li>
    <li class="search-result__detail">White paper</li>
  </ul>
</div>
