<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link" href="/">Home</a> > Resources: <%= @category.label %>
  </nav>

  <div class="hero">
    <h1 class="hero__title hero__title--article">Resources</h1>
  </div>

  <%= render "filter_bar" %>

  <div class="three-fourths">
    <p class="header-with-delimiter header-with-delimiter--smaller header-with-delimiter--bold">Showing 1-10 of <%= @resources.size %> hits.</p>

    <div class="right-padded">
      <%= render partial: 'resource', collection: @resources %>
    </div>
  </div>
</main>
