.autocomplete {
  background-color: $grey-dark;
  border-radius: rem-calc(32);
  border-radius: rem-calc(32);
  border: rem-calc(1) solid $white;
  margin-bottom: rem-calc(12);

  display: flex;
  
  position: relative;
  z-index: 2;

  ::placeholder {
    color: $grey-light;
  }
  
  &__container {
    position: relative;
  }

  &__input {
    background-color: rgba($black, 0);
    border: none;
    color: $white;
    font-size: rem-calc(18);
    padding-left: rem-calc(50);
    
    display: flex;
    flex: 1;

    // &:focus {
    //   background-color: rgba($black, .25);
    // }

  }
  
  &__magnifying-glass {
    @include icon-search-white;  
    
    height: 100%;

    position: absolute;
    left: rem-calc(16);

    align-self: center;
  }

  &__results-container {
    background-color: $grey-dark;
    border: rem-calc(1) solid $white;
    border-bottom-left-radius: rem-calc(24);
    border-bottom-right-radius: rem-calc(24);
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(25);

    width: 100%;
  
    position: absolute;
    top: 50%;
    left: 0;
  }

  &__results {
    @include beautify-scrollbar;
    
    overflow-y: scroll;

    height: rem-calc(150);
  }

  &__result {
    padding: rem-calc(12 16);

    &:focus,
    &:hover {
        background-color: $grey-xlight;
        color: $grey-black;
    }
  }
  
}