//--------------------------------------------------
// settings
//--------------------------------------------------
//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin card-stats-padding {
  padding: rem-calc(28 30); 
}

@mixin card-stats-number {
  color: $primary;
  font-weight: $bold;
  line-height: 1;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.cards { 
  @import './cards/cards/*'; 
}

.card {
  @import './cards/card/*';
}