//--------------------------------------------------
// settings
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.cards {
//--------------------------------------------------
// class - articles
//--------------------------------------------------
  &--articles {
    .cards {
      &__cards {
        @include flex;
        @include responsive-styles(flex-wrap, wrap, nowrap, nowrap);
      }
    }

    .card {
      @include responsive-styles(width, 100%, 50%, 50%);
    }
  }

//--------------------------------------------------
// class - circles
//--------------------------------------------------
  &--circles {
    .cards {

      &__cards {
        @include flex;
        @include flex-h-around;
      }
    }

    .card {
      @include circle-grey-light;
      @include flex;
      @include flex-column;
    }
  }
//--------------------------------------------------
// class - squares
//--------------------------------------------------
  &--squares {
    .cards {
      &__cards {
        @include flex;
        @include flex-h-between;
      }
    }

    .card {
      @include flex;
      @include flex-column;
      @include flex-center;
      background-color: $grey-dark;
      color: $white;
      width: 30%;
    }
  }
}