//--------------------------------------------------
// classes
//--------------------------------------------------
.cta {
//--------------------------------------------------
// api
//--------------------------------------------------
  &--api {
    color: $white;

    .cta {
      &__container {
        margin-top: rem-calc(30);
        padding: rem-calc(30 24 34 34);

        position: relative;

        &::after {
          @include responsive(top, 0, -6%, -11%);
          @include responsive(display, none, block, block);
          background-image: image_url('icons/key.svg');
          content: '';
          width: rem-calc(360); height: rem-calc(360);

          position: absolute;
          right: 0;
        }
      }

        &__content { 
          @include responsive(width, 100%, 70%, 64%);
        }
    }
  }

//--------------------------------------------------
// live report
//--------------------------------------------------
  &--live-report {
    @include bg-image-overlay;
    background-image: image_url('cta/live-report.jpg');
    background-position: center;
    background-size: cover;
    color: $white; 

    .cta {
      &__container {

      }

        &__content {
          @include flex;
          @include responsive(align-items, flex-start, center, center);
          @include responsive(flex-direction, column, row, row);
          @include responsive(justify-content, normal, space-between, space-between);
          @include responsive(padding, rem-calc(60 0 35 0), rem-calc(60 0 20 0), rem-calc(70 0 40 0));
          height: 100%;

          position: relative;
        }

          &__ribbon {
            @include text-alert;

            position: absolute;
            top: 0;
            left: 0;
          }

          &__title {
            @include responsive(width, 100%, rem-calc(370), rem-calc(370));
          }
    }
  }
}