.footer {
  border-bottom: solid rem-calc(17) $green-dark;

  &__container {
    @include flex;
    @include responsive(flex-direction, column, row, row);
    @include responsive(justify-content, initial, space-between, space-between);
  }

    &__col1 {
      @include responsive(display, none, none, block);
      width: 28%;
    }

    &__col2 {
      width: 14%;
    }

    &__col3 {
      width: 14%;
    }

    &__col4 {
      width: 24%;
    }

    &__col5 {
      width: 20%;
    }

      &__link {
        display: block;
      }

      &__logo-partner {
        width: auto; height: rem-calc(30);
      }

      &__logo-site {
        width: auto; height: rem-calc(40);
      }
}