.footer {
  border-bottom: solid rem-calc(17) $green-dark;

  &__container {
    @include flex;
    @include responsive-styles(justify-content, initial, space-between, space-between);
  }

    &__col1 {
      @include responsive-styles(order, 0, 1, 1);
    }

      &__logo-partner {
        width: auto; height: rem-calc(30);
      }

      &__logo-site {
        width: auto; height: rem-calc(40);
      }
}