//--------------------------------------------------
// variables
//--------------------------------------------------
$form-radius: $button-radius;
$form-font-color: $body-font-colour;
$form-input-font: $body-font;
$form-input-font-size: rem-calc(18);
$form-input-padding: rem-calc(6 8);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin input-plain() {
  border: none;
  box-shadow: none;
}

@mixin input-basic() {
  border: solid 1px $grey;
  border-radius: $form-radius;
  padding: $form-input-padding;
}

@mixin input-plain() {
  display: block;
  width: 100%;
  border: solid 1px $grey-xdark;
  border-radius: 0px;
  height: rem-calc(52);
}

@mixin input-text() {
  color: $form-font-color;
  font-family: $form-input-font;
  font-size: $form-input-font-size;
}

@mixin input-margin() {
  margin-bottom: rem-calc(14);
}


//--------------------------------------------------
// form fields
//--------------------------------------------------
@import './form/**/*';

//--------------------------------------------------
// api request form
//--------------------------------------------------
.form--api {
  margin-top: rem-calc(50);
  
  form {
    margin-top: rem-calc(14);
  }

  input[type="radio"] {
    width: rem-calc(28);
  }

  &__small {
    color: $red;
  }

  &__asterisk {
    font-weight: bold;
  }

  &__label {
    @include h3;
    line-height: 2;
  }

  &__text-input {
    @include input-plain();

    &--textarea {
      @extend .form--api__text-input;
      @include textarea;
    }
  }

  &__group {
    margin-bottom: rem-calc(23);
  }
  
  &__radio, &__radio-group {
    @include flex;
    @include flex-v-center;
  }

  &__label--radio {
    @extend .form--api__label;
    font-size: rem-calc(18);
    margin-right: rem-calc(25);
    margin-bottom: 0;
    margin-left: rem-calc(9);
  }

}