//--------------------------------------------------
// variables
//--------------------------------------------------


//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin hero-medium {
  @include responsive(min-height, rem-calc(200), rem-calc(350), rem-calc(505));
  @include responsive(padding, rem-calc(30 0 40 0), rem-calc(40 0 40 0), rem-calc(50 0 60 0));
  background: $grey-light center no-repeat;
  background-size: cover;
}

@mixin hero-stat-bubble {
  .hero__stats {
    @include flex;
    @include flex-column;
    @include responsive(margin, rem-calc(22) auto 0 auto, 0 0 0 auto, 0 0 0 0);
  }

    .hero__icon { 
      @include responsive(margin-bottom, rem-calc(8), rem-calc(10), rem-calc(16));
    }

    .hero__stat-number {
      @include text-accent;
    }

    .hero__stat-text { 
      @include responsive(width, 90%, 78%, 60%);
      @include text-intro;
      color: $white;
      font-weight: $bold;
      line-height: 1;
      margin-bottom: 1em;
      text-align: center;
    }  
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.hero {
//--------------------------------------------------
// class - area type
//--------------------------------------------------
  &--area-type {
    @include hero-medium;
    @include hero-stat-bubble;
    z-index: 0;
    
    .hero {
      &__container {
        @include flex;
        @include flex-h-between;
        @include flex-v-center;
        @include responsive(flex-direction, column, column, row);
      }

        &__content {
          margin-right: 20%;          
        }

          &__buttons { @include flex; }

            &__button-1 { margin-right: rem-calc(28); }
    }
  }

//--------------------------------------------------
// class - basic
//--------------------------------------------------
  &--basic {
    @include hero-medium;
    @include flex;
    @include flex-v-center;
    
    &.about { background-image: image_url('hero/about.png'); }
    &.equity { background-image: image_url('hero/equity.png'); }

    .hero {
      &__content {
        @include responsive(padding-right, 0, 5%, 25%); 
      }

        &__intro {
          @include text-intro;
          @include responsive(margin-bottom, 1.2em, 1.7em, 1.7em);
        }
    }
  }

//--------------------------------------------------
// class - home
//--------------------------------------------------
  &--home {
    @include hero-stat-bubble;
    @include responsive(padding-top, rem-calc(28), rem-calc(35), rem-calc(100));
    @include responsive(padding-bottom, rem-calc(48), rem-calc(80), rem-calc(166));
    background: $grey-light image_url('hero/home.png') center no-repeat;
    z-index: 0;
    
    .hero {
      &__container {
        @include flex;
        @include flex-h-between;
        @include responsive(flex-direction, column, column, row);
      }

        &__text {
          @include breakpoint($large) { width: 58%; }
        }

          &__intro {
            @include text-intro;
            @include responsive(margin-bottom, 1.2em, 1.7em, 1.7em);
          }
    }
  }
}