//--------------------------------------------------
// variables
//--------------------------------------------------
$hero-padding-top-mobile: rem-calc(34);
$hero-padding-top-tablet: rem-calc(70);
$hero-padding-top-desktop: rem-calc(60);

$hero-padding-bottom-mobile: rem-calc(32);
$hero-padding-bottom-tablet: rem-calc(70);
$hero-padding-bottom-desktop: rem-calc(60);

//--------------------------------------------------
// classes
//--------------------------------------------------
.hero {
//--------------------------------------------------
// class - basic
//--------------------------------------------------
  &--basic {

  }

//--------------------------------------------------
// class - home
//--------------------------------------------------
  &--home {
    .hero {
      &__container {
        @include flex;
        @include flex-h-between;
      }

      &__stats {
        
      }
    }
  }

//--------------------------------------------------
// class - thematic
//--------------------------------------------------
  &--thematic-area {
    @include responsive-styles(padding-top, $hero-padding-top-mobile, $hero-padding-top-tablet, $hero-padding-top-desktop);
    @include responsive-styles(padding-bottom, $hero-padding-bottom-mobile, $hero-padding-bottom-tablet, $hero-padding-bottom-desktop);
  }
}