//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.list {
  &--stripes {
    @include ul-unstyled;

    .list {
      &__li {
        padding: rem-calc(16 14);

        &:nth-child(odd) { background-color: $grey-xlight; }
      }

        &__title {
          font-weight: $bold;
          margin-right: rem-calc(14);

          display: block;

          @include breakpoint($medium) { display: inline; }
        } 
    }
  }

  &--underline {
    @include ul-unstyled;
    max-height: rem-calc(280);
    overflow-y: scroll;

    @include beautify-scrollbar;
    padding-right: rem-calc(19);


    .list {
      &__li {
        @include flex;
        border-top: solid 1px $grey-light;
        padding: rem-calc(14 0);

        &:first-child { border-top: none; }
      }

        &__icon {
          @include circle-icon;
          background-color: $grey;
          margin-right: rem-calc(24);
        }

        &__title {
          font-weight: $bold;
          margin-right: rem-calc(24);
        } 

        &__right {
          margin-left: auto;

          justify-content: flex-end;
        }

        &__a { @include button-all($small: true); }
    }
  }
}
