@import 'maps/v-map-baselayer-controls';
@import "maps/v-map-disclaimer";
@import 'maps/v-map-filter';
@import 'maps/v-map-filters';
@import 'maps/v-map-header';
@import 'maps/v-map-pa-search';
@import 'maps/v-map-popup';
@import 'maps/v-map-toggler';

.map-section {
  @include gutters;
}

.map {
  &--main {
    @include breakpoint($small) {
      position: relative;
    }

    /**
      * The following is part of a quick solution to the problem of having
      * the header component within the filters component when it must 
      * appear above the map and filters below on mobile devices. 
      */
    @include breakpoint($small) {
      & > .v-map-header {
        display: none;
      }
    }

    .map__mapbox {
      height: rem-calc(360);

      position: relative;

      @include breakpoint($small) {
        height: rem-calc(700);
      }
    }
  }

  &--header {
    width: 100%;

    .map__mapbox {
      height: rem-calc(400);

      position: relative;

      @include breakpoint($small) {
        height: rem-calc(425);
      }
    }
  }

  &--search {
    .map__map {
      height: rem-calc(460);
    }
  }
}

.map {
  &__trigger {
    @include button-map-trigger;
    margin-right: rem-calc(16);

    @include breakpoint-down($small) { display: none; }

    &.disabled { @include button-disabled; }
  }
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group {
  margin-top: rem-calc(13);
  margin-right: rem-calc(10);
  
  @include breakpoint($small) {
    margin-top: rem-calc(17);
  }

  @include breakpoint($medium) {
    margin-top: rem-calc(32);
    margin-right: rem-calc(16);
  }
}

.mapboxgl-ctrl-bottom-left {
  display: flex;
  flex-direction: column-reverse;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none;
}

//prevent controls sitting over the top of the download modal
.mapboxgl-control-container .mapboxgl-ctrl-bottom-left,
.mapboxgl-control-container .mapboxgl-ctrl-top-right { z-index: 1; }

.mapboxgl-ctrl-group {
  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in,
  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    border: solid rem-calc(1) $grey-dark;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: rem-calc(15 15);
    width: 31px; height: 32px;
    
    @include breakpoint($small) {
      background-size: rem-calc(20 20);
      width: 42px; height: 44px;
    }

    &:first-child {
      border-bottom: none;
    }

    &:focus:first-child,
    &:focus:last-child {
      border-radius: 0;
    }

    &:hover {
      background-color: $grey-xlight;
    }
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    @include icon-plus-mapbox;
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    @include icon-minus-mapbox;
  }
}
