//--------------------------------------------------
// variables
//--------------------------------------------------
//--------------------------------------------------
// mixins
//--------------------------------------------------
//--------------------------------------------------
// classes
//--------------------------------------------------
.modal {
//--------------------------------------------------
// download modal
//--------------------------------------------------
  &--download {
    background-color: $white;
    border-top: solid 1px $grey-black;
    border-right: solid 1px $grey-black;
    border-left: solid 1px $grey-black;

    position: fixed;
    bottom: 0;

    @include breakpoint($small) {
      width: rem-calc(600);
    }

    @include breakpoint($medium) { width: rem-calc(748); }

    .modal {
      &__topbar {
        @include flex;
        @include flex-h-between;
        @include flex-v-center;
        background-color: $grey-black;
        color: $white;
        font-size: rem-calc(18);
        font-weight: $bold;
        height: rem-calc(62);
        padding: rem-calc(0 18);

        @include breakpoint($small) {
          font-size: rem-calc(20);
          padding: rem-calc(0 26);
          height: rem-calc(87);
        }
      }

      &__content {
        padding: rem-calc(20 18);

        @include breakpoint($small) {
          padding: rem-calc(24 26);
        }
      }

      &__title {
        font-size: rem-calc(20);
        font-weight: $bold;
      }

      &__ul {
        @include ul-unstyled;
      }

      &__li {
        @include flex;
        @include flex-v-center;
        background-color: $grey-xlight;
        margin-bottom: rem-calc(10);

        @include breakpoint($small) {
          font-size: rem-calc(20);
          padding: rem-calc(0 22);
          height: rem-calc(62);
        }
      }
    }
  }
}