//--------------------------------------------------
// settings
//--------------------------------------------------
$dropdown-bg-colour: $white;
$dropdown-bg-colour-hover: $grey-dark;
$dropdown-width: rem-calc(254);

$pane-color: $white;
$pane-side-padding: 42px;

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin nav-a {
  @include text-nav-link;
  @include flex;
  @include flex-v-center;
  @include responsive(padding, rem-calc(9 24), rem-calc(0 12), rem-calc(0 30));
  height: 100%;

  &.is-current-page { font-weight: $bold; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.nav {
//--------------------------------------------------
// primary
//--------------------------------------------------
  &--primary {
    @include flex;
    @include flex-vs-stretch;

    .nav {
      &__burger {
        @include button-burger;
        @include flex-vs-center;
        @include responsive(display, block, none, none);
        margin: rem-calc(10 0 10 14);
      }

      &__close {
        @include button-close;
        @include responsive(display, block, none, none);
        margin: rem-calc(20 20 0) auto;
      }

      &__pane {
        background-color: $pane-color;
        width: 100%; height: 100%;
            
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z-300;

        transform: translateX(100%);

        transition: transform 0.4s ease-in-out;

        @include breakpoint($small) {
          position: initial;
          top: unset;
          right: unset;
          bottom: unset;

          transform: none;
          transition: none
        }

        &.nav-pane--active {
          transform: translateX(0);

          @include breakpoint($small) { transform: none; }
        }

        &.nav__item-container {
          padding: 0 $pane-side-padding;
        }
      }
        
        &__ul {
          @include responsive(flex-direction, column, row, row);
          @include flex;
          @include ul-unstyled;
          height: 100%;
        }

          &__li {
            @include responsive(height, auto, 100%, 100%);

            &:last-child {
              margin-bottom: 0;
            }
          }

            &__a {
              @include nav-a;
            }

            &__dropdown {
              height: 100%;

              position: relative;
              z-index: 1;
            }

              &__dropdown-toggle {
                @include button-basic;
                @include nav-a;
              }

              &__dropdown-toggle-a {
                @include button-dropdown;
                @include text-nav-link;
                
                &.active { 
                  @include button-dropdown-up; 
                  @include text-nav-link;
                }
              }

              &__dropdown-wrapper {
                background-color: $dropdown-bg-colour;

                display: none;
                position: absolute;
                top: 100%;
                left: 0;

                &.active {
                  display: block;
                }
              }
              
              &__dropdown-a {
                margin-right: 0;
                padding: rem-calc(9 24 9 48);
                width: $dropdown-width;

                @include breakpoint($small) { padding: rem-calc(6 10); }

                &:hover { 
                  background-color: $dropdown-bg-colour-hover;
                  color: $white;
                }
              }
    }
  }
}