//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.pagination {
  &__no-results {
    @include text-pagination-no-results;
    color: $grey-dark;
    font-weight: bold;
    margin: rem-calc(60 0);
    text-align: center;
  }
}