//--------------------------------------------------
// variables
//--------------------------------------------------
$search-input-size-mobile: 547px; //px
$search-input-size-tablet: 547px; //px
$search-input-size-desktop: 547px; //px

//--------------------------------------------------
// classes
//--------------------------------------------------
.search {

//--------------------------------------------------
// class - main
//--------------------------------------------------
  &--main {
    .search {

    }
  }

//--------------------------------------------------
// class - protected areas
//--------------------------------------------------
  &--pa {
    .search {
      &__container {
        background-color: $primary;
        border-radius: $button-radius;
        padding: rem-calc(16) calc((100% - #{$search-input-size-desktop})/2);
        width: 100%; height: rem-calc(75);
      }

      &__input {
        width: 100%; height: 100%;
      }
    }
  }
}