//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin social-icon ($image) {
  background-image: image-url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: rem-calc(0 14 24 0);
  width: rem-calc(26); height: rem-calc(30);

  display: inline-block;

  &:first-child { 
    margin-top: 0;
  }

  &:hover { opacity: .75; } 
}
//--------------------------------------------------
// classes
//--------------------------------------------------
.social {
//--------------------------------------------------
// sharing
//--------------------------------------------------
  &--share {
    position: relative;

    .social {
        &__icon {
          &--email { @include social-icon('icons/email.svg'); }
          &--facebook { @include social-icon('icons/facebook.svg'); }
          &--linkedin { @include social-icon('icons/linkedin.svg'); }
          &--twitter { @include social-icon('icons/twitter.svg'); }
        }
    }
  }  
}