//----------------------------------------
// variables
//----------------------------------------
$sticky-bar-background-color: $white;
$sticky-bar-padding: rem-calc(10);

@mixin stick-bar-stuck {
  @include box-shadow-grey-light;
  width: 100%;

  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

//----------------------------------------
// sticky bar
//----------------------------------------
.sticky-bar--basic {
  @include gutters;
  width: 100%;

  @include breakpoint($large) { padding: 0; }

  .sticky-bar {
    &__wrapper {
      background-color: $sticky-bar-background-color;
      padding-top: $sticky-bar-padding;
      padding-bottom: $sticky-bar-padding;
      z-index: 1;
      
      &.sticky-bar--stuck {
        @include stick-bar-stuck;

        .sticky-bar__content { @include gutters; }
      }
    }

    &__content {
      margin: 0 auto;
      max-width: $site-width;
    }
  }
}

.sticky-bar--slide-in {
  width: 100%;

  @include breakpoint($large) { padding: 0; }

  .sticky-bar {
    &__wrapper {
      background-color: $sticky-bar-background-color;
      
      top: -100px;
      z-index: 1;
      
      &.sticky-bar--stuck {
        @include stick-bar-stuck;

        transition: top ease-in 1s;
      }
    }
  }
}