//----------------------------------------
// variables
//----------------------------------------
$sticky-bar-background-color: $white;
$sticky-bar-padding: rem-calc(10);

@mixin sticky-bar-stuck {
  @include box-shadow-grey-light;
  width: 100%;

  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

@mixin sticky-bar-wrapper {
  background-color: $sticky-bar-background-color;
  z-index: 1;
}

//----------------------------------------
// classes
//----------------------------------------
.sticky-bar--target-11 {
  @include breakpoint-down($large) { display: none; }

  .sticky-bar {
    &__wrapper {
      @include sticky-bar-wrapper;

      @include breakpoint($large) { 
        padding-top: $sticky-bar-padding;
        padding-bottom: $sticky-bar-padding;
      }
      
      &.sticky-bar--stuck {
        @include sticky-bar-stuck;

        .sticky-bar__content { @include gutters; }
      }
    }

    &__content {
      margin: 0 auto;
      max-width: $site-width;
    }
  }
}

.sticky-bar--slide-in {
  width: 100%;

  .sticky-bar {
    &__wrapper {
      @include sticky-bar-wrapper;
      top: rem-calc(-200);
      
      &.sticky-bar--stuck {
        @include sticky-bar-stuck;

        transition: top linear .25s;
      }
    }
  }
}