//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin tab-trigger {
  @include text-tabs-fake;
  border-bottom: solid transparent 2px;
  cursor: pointer;
  margin-right: rem-calc(46);
  padding-bottom: rem-calc(3);

  &:hover { border-bottom: solid $primary 2px; }

  &.active { 
    border-bottom: solid $primary 2px; 
    font-weight: $bold;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.tabs {
  &--hero {
    .tabs {
      &__triggers {
        @include ul-unstyled;
        @include ul-inline;

        transform: translateY(-100%);
      }
    }

    .tab {
      &__target {
        display: none;

        &.active { display: block; }
      }

      &__trigger {
        @include tab-trigger;

        &.active { color: $primary; }
      }
    }
  }

  &--fake {
    @include flex;
    @include ul-unstyled;
    @include responsive(flex-wrap, nowrap, nowrap, wrap);
    @include responsive(overflow-x, scroll, scroll, initial);
    @include responsive(margin, rem-calc(26 0), rem-calc(26 0 32 0), rem-calc(30 0 10 0));

    .tab {
      &__trigger {
        @include flex-no-shrink;
        @include tab-trigger;
        @include responsive(margin-bottom, 0, 0, rem-calc(10));
      }
    }
  }
}
