//--------------------------------------------------
// variables
//--------------------------------------------------
$table-font: $header-font;
$table-head-bg-color: $grey-lighter;

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin table-cell-basic() {
  @include responsive-styles(margin-right, rem-calc(20), rem-calc(20), 0);
  @include responsive-styles(padding, rem-calc(8 10), rem-calc(8 10), rem-calc(18 20));
  @include responsive-styles(width, 25%, 25%, 20%);
}

@mixin table-row-spacing() {
  @include responsive-styles(margin-bottom, rem-calc(30), rem-calc(32), rem-calc(16));
}

.table {
//--------------------------------------------------
// tables
//--------------------------------------------------
  &--horizontal-scroll {
    font-family: $table-font;

    .table {
      &__head {
        @include responsive-styles(display, none, none, flex);
        @include flex-nowrap;
        @include shadow--grey;
        @include table-row-spacing;
        background-color: $table-head-bg-color;
      }

      &__row {
        @include table-row-spacing;
        @include responsive-styles(border, none, none, solid 1px $grey-light);

        @include breakpoint($medium) {
          @include shadow--grey-light;
        }
      }

        &__row-title {
          @include responsive-styles(display, block, block, none);
          font-size: rem-calc(18);
          font-weight: 700;
          margin-bottom: rem-calc(10);
        }
        
        &__scroll-wrapper {
          overflow-x: scroll;
        }

          &__scroll {
            @include flex-nowrap;
            @include responsive-styles(width, 380%, 140%, 100%);

            display: flex; //temp-refresh
          }

            &__cell--heading {
              @include table-cell-basic;
              align-items: center; //temp-refresh

              display: flex; //temp-refresh
            }

              &__sort {
                @include button-plain;
                @include icon-sort;
                padding: rem-calc(3 6);
              }

            &__cell--body {
              @include table-cell-basic;
              @include shadow--grey-light;
              @include responsive-styles(border, solid 1px $grey-light, solid 1px $grey-light, none);
              @include breakpoint($medium) { box-shadow: none; }
            }
            
              &__cell-title {
                @include responsive-styles(display, block, block, none);
                font-size: rem-calc(17);
                font-weight: 500;
                margin-bottom: rem-calc(14);
              }

              &__cell-link {
                font-weight: 900;
              }

              &__cell-chart:nth-child(2) { margin-bottom: rem-calc(12); }
    }
  }
}