//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin tab-trigger-underlined {
  @include text-tabs-fake;
  border-bottom: solid transparent 2px;
  cursor: pointer;
  margin-right: rem-calc(46);
  padding-bottom: rem-calc(3);

  &:hover { border-bottom: solid $primary 2px; }

  &.active { 
    border-bottom: solid $primary 2px; 
    font-weight: $bold;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.tabs {
  &--hero {
    .tabs {
      &__triggers {
        @include ul-unstyled;
        @include ul-inline;

        transform: translateY(-100%);
      }
    }

    .tab {
      &__target {
        display: none;

        &.active { display: block; }
      }

      &__trigger {
        @include tab-trigger-underlined;

        &.active { color: $primary; }
      }
    }
  }

  &--rounded {
    @include flex;
    @include flex-h-center;
    @include ul-unstyled;
    margin: rem-calc(26 0);
    overflow-x: scroll;

    @include breakpoint($medium) { margin: rem-calc(26 0 32 0); }

    @include breakpoint($medium) {
      @include flex-wrap;
      margin: rem-calc(30 0 10 0);
      overflow-x: initial;
    }

    .tab {
      &__trigger {
        @include button-tab-rounded;
        @include flex-no-shrink;
        margin: rem-calc(0 10);
      }
    }
  }

  &--rounded-small {
    @include ul-unstyled;
    margin: rem-calc(0 0 10 0);

    .tab {
      &__trigger {
        @include button-tab-rounded(small);
        margin: rem-calc(0 4);

        display: inline-block;
      }
    }
  }
}
