//--------------------------------------------------
// classes
//--------------------------------------------------
.topbar {
  background-color: $white;

  .topbar__container {
    @include flex;
    @include flex-h-between;
    @include flex-v-center;
  }

    .topbar__logo {
      @include responsive(height, rem-calc(52), rem-calc(56), rem-calc(67)); 
      @include responsive(padding, rem-calc(0 16), rem-calc(0 20), rem-calc(0 30)); 
      // @include responsive(order, 1, 1, 1);
      @include flex;
      @include flex-center;
      background-color: $primary;
    }

    .topbar__nav {
      margin-left: auto;
    }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.topbar--secondary {
  @include box-shadow-bottom-grey;

  position: relative; //to make box shadow appear over hero
  z-index: 2; //to make box shadow appear over hero

  .topbar__container {
    @include flex;
    @include flex-h-end;
    @include flex-v-center;
    @include responsive(padding-top, rem-calc(6), rem-calc(10), rem-calc(14));
    @include responsive(padding-bottom, rem-calc(6), rem-calc(10), rem-calc(14));
  }
}