$agile-basic-dot-size: rem-calc(13);

$agile-basic-slide-margin-mobile: rem-calc(5);
$agile-basic-slide-margin-tablet: rem-calc(10);
$agile-basic-slide-margin-desktop: rem-calc(10);

$agile-basic-slide-width-mobile: calc(92% - 2*#{$agile-basic-slide-margin-mobile});
$agile-basic-slide-width-tablet: calc(38% - 2*#{$agile-basic-slide-margin-tablet});
$agile-basic-slide-width-desktop: calc(20% - 2*#{$agile-basic-slide-margin-desktop});

//--------------------------------------------------
// basic vue agile
//--------------------------------------------------
.agile {
  @import './vue-agile/agile-basic';
  @import './vue-agile/agile-themes';
}