<%= render partial: "./layouts/partials/hero-thematic", locals: {
  hero_image: cms_fragment_render(:theme_image, @cms_page),
  title: @cms_page.label
} %>

<section class="container">
  <%= cms_fragment_render("content") %>
</section>

<%= render "partials/ctas/live-report" %>