.vw-partials-ctas-mpa {
  @apply 
  tw-shared-bg-image-overlay--black
  tw-shared-bg-center-no-repeat-cover;
  background-image: url('../../../../assets/ctas/mpa-guide.jpg');
}

.vw-partials-ctas-mpa__container {
  @apply
  p-6
  md:p-12;
}

.vw-partials-ctas-mpa__content {
  @apply 
  tw-shared-base-flex-col-gap-6
  md:max-w-173;
}

.vw-partials-ctas-mpa__title {
  @apply tw-shared-font-playfair__light-2xl-md-4xl-white;
}

.vw-partials-ctas-mpa__intro {
  @apply tw-shared-font-hind-siliguri__light-lg-md-xl-white;
}

.vw-partials-ctas-mpa__button {
  @apply
  tw-shared-button--outline-white
  self-start;
}