//--------------------------------------------------
// classes
//--------------------------------------------------
&--stats-overview {
  @include bg-grey-black;
  @include card-stats-padding;
  margin-right: rem-calc(30);
  width: 100%;

  @include breakpoint($small) { width: 33%; }

  .card {
    &__flag {
      margin-right: rem-calc(14);
    }

    &__heading {
      @include flex;
      @include flex-v-center;
      margin-bottom: rem-calc(18);
    }

    &__h1 { 
      color: $white;
      font-size: rem-calc(20);
      margin: 0;

      @include breakpoint($small) { font-size: rem-calc(22); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__number {
      @include card-stats-number;
      font-size: rem-calc(18);

      display: block;

      @include breakpoint($small) { font-size: rem-calc(20); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__number--small {
      @include card-stats-number;
      font-size: rem-calc(18);
      margin-right: rem-calc(10);

      @include breakpoint($small) { font-size: rem-calc(20); }
      @include breakpoint($medium) { font-size: rem-calc(30); }
    }

    &__section {
      margin-top: rem-calc(30);
    }

    &__story-map-links {
      margin-top: 3rem;
      .story-map-link {
        font-size: rem-calc(16);
        margin-bottom: rem-calc(8);

        @include flex;
        @include flex-h-between;
        
        &__label {
          padding-right: rem-calc(8);
        }
        
        &__link {
          @include button-with-icon;
          @include breakpoint($small) { font-size: rem-calc(16); }
          
          &::after { 
            @include icon-arrow-external; 
            display: inline-block;
          }
        }
        
        @include breakpoint-down($medium) {
          @include flex-column;
          
          &__label {
            margin-bottom: rem-calc(8);
          }
        }
  
        &__title {
          font-weight: $bold;
        }
      }
    }

    &__text {
      font-size: rem-calc(16);
    }

    &__text-bold {
      font-size: rem-calc(16);
      font-weight: $bold;
      margin-bottom: rem-calc(6);

      display: block;
    }
  }
}