//--------------------------------------------------
// classes
//--------------------------------------------------
&--stats-affiliations {
  @include card-stats;

  .pdf & {
    .card{
      &__all-attributes{
        @include flex;
        @include flex-column;
        gap: 4rem;
      }   
    }
  }
  
  .card {
    &__button {
      @include card-button-external;
      margin-top: auto;
      padding-top: rem-calc(14);

      display: none; //to be added later
    }

    &__h2 { @include card-stats-h2; }

    &__logos {
      @include flex;
      @include flex-column;
      gap: 1rem;
      @include ul-unstyled;
    }

    &__logo-image {
      width: rem-calc(100); height: auto;

      display: block;
    }

    &__subtitle {
      font-weight: $bold;
      line-height: 1.2;
      margin: rem-calc(14 0 0 0);

      &--link {
        @include flex;
        @include flex-v-center;
        text-decoration: none;
      }
    }
  }
}