@import 'transitions';
@import 'z-index';
@import 'colors';
@import 'bourbon';
@import 'neat';

$gutter: 0px;

* {
  margin: 0;
  font-family: MuseoSans-300;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  margin-bottom: -75px;
}

.container:after {
  content: "";
  display: block;
}

a { text-decoration: none; }

main {
  bottom: 75px;
  left: 0px;
  top: 60px;
  width: 100%;
}

footer, .container:after {
  height: 75px;
}

h1,h2,h3,p,a {
  color: $color--base;
}

strong {
  font-family: 'MuseoSans-700';
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 16px; }
p { font-size: 14px; }

img { max-width: 100%; height: auto; }

select {
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  font-family: MuseoSans-300;
  border: 1px solid $light-grey;
  padding: 10px;
  color: $dark-grey;
  background: transparent url("icon-dropdown-grey.png") no-repeat right center;
  text-indent: 0.01px;
  text-overflow: "";
}

nav {
  z-index: $zIndex-2;
  overflow: hidden;
  font-size: 0.938em;
  width: 100%;
  float: left;
  list-style: none;
  padding-right: 20px;

  li {
    line-height: 60px;
    float: left;
  }

  ul {
    ul {
    position: absolute;
      z-index: 999;
    }
  }
}

nav li {
  line-height: 59px;
  float: left;

  h1,h2 { padding: 0px 20px; }

  &.logo {
    width: 200px;
    height: 60px;
    text-indent: -9999px;
    border-right: 1px solid $color--nav-border;
    background: image-url('logo-white.png') no-repeat;
    background-color: $dark-green;
    background-size: 72px 34px;
    background-position: 15px 12px;
  }

  &.account {
    width: 171px;
    border-left: 1px solid $light-grey;
  }

  &.search {
    transition: all 1s ease;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    border-right: 1px solid $color--nav-border;
    background: image-url('icon-search.png') no-repeat;
    background-size: 30px 30px;
    background-position: 15px 15px;

    &.opened {
      background-image: image-url('icon-search-grey.png');
      background-color: white;
      transition: all 1s ease;
    }
  }

  &.icon {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;

    &:first-child { border-left: none; }
  }

  &.icon img {
    vertical-align: middle;
  }

  a {
    display: block;
    padding: 0px 20px;
    text-transform: uppercase;
  }

  a:hover {
    background-color: transparent;
  }
}

.search-bar {
  transition: margin-top $search-bar-transition-time ease;
  z-index: $zIndex-1;
  height: 60px;
  width: 100%;
  float: left;
  overflow: hidden;
  padding:15px 20px;
  background-color: $color--search-bar-bg;

  &.opened {
    transition: margin-top $search-bar-transition-time ease;
    margin-top: 60px;
  }

  .search-input {
    color: $color--search-input-text;
    background-color: $color--search-input-bg;
    position: absolute;
    height: 31px;
    right: 251px;
    left: 20px;
    font-size: 16px;
    line-height: 33px;
    padding-left: 10px;
    border: 0;
    outline: none;
    box-sizing: border-box;
  }

  .search-submit {
    color: $color--search-input-text;
    background-color: $color--search-input-bg;
    width: 230px;
    height: 31px;
    float: right;
  }
}

.right {
  float: right;
}

.nav-main,
footer {
  position: fixed;
}

.nav-main {
  background-color: $color--nav-bg;

  li {
    &.active { a { background-color: $color--nav-active-link; } }
    a { color: $color--nav-link; }
    a:hover { background-color: $color--nav-hover-link; }
    a:last-child { margin-right: 0; }
  }
}

.sub-nav {
  background-color: $white;
  border-bottom: 1px solid $light-grey;

  a {
    color: $dark-grey;
    text-transform: none;
  }

  h1 {
    color: $medium-grey;
    font-size: 22px;
  }

  h2 {
    color: $grey;
  }

  a:hover {
    background-color: $light-grey;
  }
}

header {
  background-color: $color--header-bg;

  li {
    &.active { a { background-color: $color--header-active-link; } }
    a { color: $color--header-link; }
    a:hover { background-color: $color--header-hover-link; }
  }
}

footer {
  font-family: MuseoSans-100;
  width: 100%;
  background: $color--footer-bg;
  font-size: 0.938em;

  a {
    &, &:visited {
      color: $color--footer-link;
    }

    &:hover {
      text-decoration: underline;
    }

    text-decoration: none;
    margin-right: 20px;
    &:last-child { margin-right: 0px; }
  }

  .footer-inner {
    display: block;
    line-height: 41px;
    padding: 20px 0;
    margin: 0px auto;
    width: 95%;

    p { color: $color--footer; }
  }
}

.footer-logos {
  img { margin-right: 20px; }
}

.footer-copyright, .footer-logos { float: left; }

.footer-links { float: right; }

a.btn, button {
  display: inline-block;
  font-weight: normal;
  background: $color--base-btn-bg;
  border: none;
  font-size: 0.9em;
  box-sizing: border-box;
  transition: background-color 0.3s;
  text-align: center;
  color: $color--base-btn-text;

  &:hover {
    transition: background-color 0.3s;
    background-color: $color--base-btn-hover-bg;
    cursor: pointer;
  }
}

.btn.btn-download {
  width: 231px;
  height: 75px;
  padding: 10px 15px;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;

  img {
    float: right;
    margin-top: 12px;
  }

  span {
    float: left;
    display: inline-block;
    width: 125px;
  }
}

.flash {
  border: 1px solid $green;
  padding: 10px;
  margin: 10px;
}
