@import 'fonts';
@import 'mixins';
@import 'variables';

* {
  font-family: 'Museo', $font-stack;
  box-sizing: border-box;
}

body {
  background: $dark-blue;
  color: #353946;
}

a, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: $dark-grey;
}

a.btn, button {
  display: inline-block;
  font-weight: normal;
  background: $green;
  color: #fff;
  border: none;
  @include border-radius(5px);
  font-size: 0.9em;
  @include transition(background-color 0.3s);

  &:hover {
    @include transition(background-color 0.3s);
    background-color: $dark-green;
    cursor: pointer;
  }
}

.btn-primary {
  padding: 15px 20px;
}

.btn-secondary {
  padding: 5px 10px;
}

input {
  outline: none;
}

.bg-img {
  background-image: image-url('world-background.png');
  background-repeat: no-repeat;
  background-position: -200px -400px;
  height: 100%;
}

h2 {
  font-family: 'MuseoSlab', $font-stack;
}

header {
  background: $dark-blue;
  height: 50px;
  overflow: hidden;

  .header-inner {
    margin: 15px auto;
    width: 980px;
  }

  h1 {
    float: left;
    font-weight: bold;
    color: #fff;

    a, a:visited {
      color: white;
    }
  }

  nav {
    float: right;
    margin-top: -4px;

    ul li {
      display: inline-block;
    }

  }
}

.nav-search {
  background: #353946;
  padding: 4px;
  color: #e6e6ee;
  @include border-radius(2px);

  form {
    display: inline;
  }

  input {
    font-size: 0.75em;
    background: #353946;
    border: none;
    color: #e6e6ee;
    margin: 0 0 0 5px;
    width: 200px;
  }
}

.container {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  background: #e4e3eb;
  overflow: hidden;

  h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
  }

  h4 {
    font-weight: bold;
  }
}

main {
  width: 980px;
  position: relative;
  margin: 0px auto;
  padding-top: 30px;
}

#map {
  width: 100%;
  height: 400px;
  float: left;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

footer {
  width: 100%;
  background: $dark-blue;
  font-size: 0.9em;

  strong, a, a:visited {
    color: #96989C;
    font-weight: bold;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .footer-inner {
    padding: 50px 0;
    margin: 0px auto;
    width: 980px;
    color: $grey-blue;
  }
}

.footer-copyright {
  float: left;
}

.footer-links {
  float: right;
}

section {
  a {
    font-weight: bold;
    color: $blue;
  }
}

.info-links {
  height: 50px;
  margin: 0 auto;
  width: 980px;
  text-align: right;
  padding-top: 18px;
  font-size: 0.9em;

  a {
    font-weight: normal;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
