@import 'transitions';
@import 'z-index';
@import 'colors';
@import 'bourbon';
@import 'neat';

$gutter: 0px;

* {
  margin: 0;
  font-family: MuseoSans-100;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  margin-bottom: -75px;
}

.container:after {
  content: "";
  display: block;
}

a { text-decoration: none; }

main {
  overflow: scroll;
  position: fixed;
  bottom: 75px;
  left: 0px;
  top: 60px;
  width: 100%;
  z-index: $zIndex-1;
  line-height: 1.2em;
}

h1,h2,h3,h5,p,a {
  color: $color--base;
  font-weight: normal;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 16px; }
h5 { font-family: 'MuseoSans-500';}
p { font-size: 14px; }

strong {
  font-family: 'MuseoSans-500';
  font-weight: normal;
  color: $dark-grey;
}

img { max-width: 100%; height: auto; }

select {
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  font-family: MuseoSans-300;
  border: 1px solid $light-grey;
  padding: 10px;
  color: $dark-grey;
  text-indent: 0.01px;
  text-overflow: "";
}

.right {
  float: right;
}

header {
  background-color: $color--header-bg;

  li {
    &.active { a { background-color: $color--header-active-link; } }
    a { color: $color--header-link; }
    a:hover { background-color: $color--header-hover-link; }
  }
}

.flash {
  border: 1px solid $green;
  padding: 20px;
  margin-bottom: 30px;
}

.protected_areas-parent #map, .country-parent #map,
.protected_areas-parent, .country-parent {
  top: 120px;
}
