@import 'colors';
@import 'bourbon';
@import 'neat';

$font-stack: MuseoSans-300;
$gutter: 0px;

h1,h2,h3,p,a {
  font-family: $font-stack;
  color: $dark-grey;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 16px; }
p { font-size: 14px; }

img { max-width: 100%; height: auto; }

input {
  font-size: 20px;
  border: 0px;
  padding: 10px;
}



.page-header {
  padding: 20px;
  background-color: $light-grey;
}

.item {
  @include span-columns(3);
  @include omega(4n+1);
  @include fill-parent;
  border: 1px solid $light-grey;
  margin-right: 0px;
  width: 25%;
}

.item-info { 
  padding: 20px;
}

.item-info > h1 { margin-bottom: 20px; }

.subtitle {
  font-size: 14px;
  margin-left: 40px;
}



footer {
  width: 100%;
  background: $dark-blue;
  font-size: 0.9em;
  strong, p, a, a:visited {
    color: #96989C;
    font-weight: bold;
  }

  a {
  text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .footer-inner {
    height: 140px;
    padding: 50px 0;
    margin: 0px auto;
    width: 95%;
    color: $grey-blue;
  }
}

.footer-logos {
  img {
    margin-right: 20px;
  }
  a {
  text-decoration: none;
  }
}

.footer-copyright, .footer-links {
  padding-top: 7px;
}

.footer-copyright, .footer-logos {
  float: left;
}

.footer-links {
  float: right;
}






.nav-main {
  overflow:hidden;
  font-family: MuseoSans-300;
  font-size: 1.125em;
  width: 100%;
  float: left;
  list-style: none;
  background-color: $green;

  li {
    float: left;

    a {
      color: $white;
      display: block;
      padding: 20px;
      text-decoration: none; 
      text-transform: uppercase;
    }

    a:hover {
      background-color: $dark-green;
    }
  }
}

.sub-nav {
  overflow:hidden;
  font-family: MuseoSans-300;
  font-size: 1.125em;
  width: 100%;
  float: left;
  list-style: none;
  background-color: $white;

  li {
    float: left;

    a {
      color: $dark-grey;
      display: block;
      padding: 20px;
      text-decoration: none; 
      text-transform: uppercase;
    }
    
    a:hover {
      background-color: $light-grey;
    }
  }
}


.nav-right {
  float: right;
}
