$dark-grey: #353946;
$grey: #c8c8c8;
$light-grey: #dadada;
$blue: #317fce;
$dark-blue: hsl(226, 24, 22);
$grey-blue: #848184;
$green: #83ad35;
$dark-green: #759935;
$white: rgb(255,255,255);

$color--base: $dark-grey;

$color--leaflet-control: $dark-blue;
$color--leaflet-control-text: $white;
$color--leaflet-control-hover-bg: $white;
$color--leaflet-control-hover-text: $dark-blue;
$color--leaflet-control-border: $white;

$color--nav-bg: $green;
$color--nav-active-link: $dark-green;
$color--nav-link: $white;
$color--nav-hover-link: $dark-green;

$color--header-bg: $white;
$color--header-active-link: $light-grey;
$color--header-link: $dark-grey;
$color--header-hover-link: $light-grey;

$color--footer-bg: $dark-blue;
$color--footer: $light-grey;
$color--footer-link: $light-grey;

$color--project-header: $light-grey;
$color--project-item-border: $light-grey;
