$dark-grey: #353946;
$grey: #c8c8c8;
$light-grey: #dadada;
$blue: #317fce;
$dark-blue: hsl(226, 24, 22);
$grey-blue: #848184;
$green: #83ad35;
$dark-green: #759935;
$white: rgb(255,255,255);

$color--leaflet-control: $dark-blue;
$color--leaflet-control-text: $white;
$color--leaflet-control-hover-bg: $white;
$color--leaflet-control-hover-text: $dark-blue;
$color--leaflet-control-border: $white;
