$dark-grey: #353946;
$medium-grey: rgb(113, 124, 151);
$grey: #c8c8c8;
$light-grey: #dadada;

$dark-blue: rgb(43,49,70);
$grey-blue: #848184;
$blue: #317fce;

$dark-green: #759935;
$green: #83ad35;

$white: rgb(255,255,255);

$color--base: $dark-grey;
$color--base-btn-bg: $green;
$color--base-btn-hover-bg: $dark-green;
$color--base-btn-text: $white;

$color--bg: $dark-blue;

$color--leaflet-control: $dark-blue;
$color--leaflet-control-text: $white;
$color--leaflet-control-hover-bg: $white;
$color--leaflet-control-hover-text: $dark-blue;
$color--leaflet-control-border: $white;

$color--nav-bg: $green;
$color--nav-active-link: $dark-green;
$color--nav-link: $white;
$color--nav-hover-link: $dark-green;
$color--nav-border: $light-grey;

$color--header-bg: $white;
$color--header-active-link: $light-grey;
$color--header-link: $dark-grey;
$color--header-hover-link: $light-grey;

$color--footer-bg: $dark-blue;
$color--footer: $light-grey;
$color--footer-link: $light-grey;

$color--project-header: $light-grey;
$color--project-item-border: $light-grey;

$color--pa-text: $grey;
$color--pa-header: $medium-grey;
$color--pa-table-border: $light-grey;
$color--pa-table-attribute: $medium-grey;
$color--pa-infographic-bg: $dark-blue;
$color--pa-infographic-text: $white;

$color--home-filters-bg: $green;
$color--home-filters-hover-bg: $dark-green;
$color--home-filters-border: $white;
$color--home-filters-child-border: $light-grey;
$color--home-filters-text: $white;

$color--map-disclaimer-bg: transparentize($dark-blue, 0.5);
$color--map-disclaimer-text: $white;

$color--search-download-bg: $white;
$color--search-download-text: $dark-grey;
$color--search-download-border: $light-grey;

$color--search-header-bg: $white;
$color--search-filters-bg: $white;
$color--search-filters-header: $dark-blue;
$color--search-filters-text: $white;
$color--search-switch-border: $white;
$color--search-filters-border: $light-grey;

