@import 'colors';
@import 'bourbon';
@import 'neat';

table.centered td { text-align: center; }
td.right-aligned { text-align: right;}

hr {
  height: 1px;
  color: $light-grey;
  margin: 0px;
  margin-bottom: 20px;
}

div {
  &.inset-statistic {
    margin-bottom: 12px;
    display: inline-block;
    width: 225px;
  }

  &.inset-statistic-large {
    display: inline-block;
    width: 450px;
  }

  &.text-holder {
      margin: 7px 0 0 10px;
      float: left;
      color: $dark-blue;
  }
}

.large {
    display: block;
    font-size: 42px;
    float: left;
    color: $dark-blue;
}

.extra-large {
    display: block;
    font-size: 64px;
    float: left;
    color: $dark-blue;
}


.countries-compare-left { 
  border-right: 1px solid $grey;
}

.countries-compare-left, .countries-compare-right {   
  @include span-columns(6);

  div.factsheet {
    width:100%;
  }
}
