@import 'colors';
@import 'bourbon';
@import 'neat';

table.centered td { text-align: center; }
td.right-aligned { text-align: right;}

hr {
  height: 1px;
  color: $light-grey;
  margin: 0px;
  margin-bottom: 20px;
}

div {
  &.inset-statistic {
    margin-bottom: 12px;
    width: 225px;
  }

  &.inset-statistic-large {
    width: 450px;
  }

  &.text-holder {
    margin-top: 10px;
      color: $dark-blue;
  }
}

.large {
    display: block;
    font-size: 42px;
    float: left;
    color: $dark-blue;
}

.extra-large {
    display: block;
    font-size: 64px;
    color: $dark-blue;

    small {
      font-size: 0.4em;
    }
}

.conservation-statistics {
  .text-holder,
  .extra-large {
    float: left;
  }

  .inset-statistic {
    display: inline-block;
  }
}

.countries-compare-left {
  border-right: 1px solid $grey;
}

.countries-compare-left, .countries-compare-right {
  @include span-columns(6);

  div.factsheet {
    width:100%;
  }
}
