.statistics-cover {
  height: 42rem;

  @media only screen and (max-width: 768px) {
    height: 10rem;
  }

  background-image: image-url("statistics-cover.jpg");
  background-position: center;
  background-size: cover;
}

.grid-icon {
  background-image: image-url('icon-grid-grey.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.map-icon {
  background-image: image-url('icon-map-grey.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

#infscr-loading {
  text-align: center;
  width: 100%;
  margin:auto;
}

.green-list-logo {
  position: absolute;
  margin-left: 1rem;
  width: 90px;
}

.iucn-wcpa-logo {
  width: 14rem;
  height: 100%;
}
