.statistics-cover {
  height: 42rem;

  background-image: image-url("statistics-cover.jpg");
  background-position: center;
  background-size: cover;
}

.grid-icon {
  background-image: image-url('icon-grid-grey.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.map-icon {
  background-image: image-url('icon-map-grey.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

#infscr-loading {
  text-align: center;
  width: 100%;
  margin:auto;
}
