@import 'colors';
@import 'fonts';
@import 'bourbon';
@import 'neat';

div {

  &.login-right-panel {
    position:absolute;
    top: 60px;
    //bottom: 0px;
    background: $light-grey;
    right: 0px;
    padding: 40px;
    overflow:hidden

    img { 
      //float:left;
      //height: 20%;
      //width: 20%;
      //margin-right: 10px;
    }

    h1,h2,p { 
      text-wrap:none;
    }

    h1 { 
      font-size: 36px;
      text-transform: uppercase;
      color: $medium-grey;
    }

    article { @include outer-container;
      div {
        &.login-image { @include span-columns(3);}
        &.login-text { @include span-columns(9);}
      }
    }
  }

  &.login-form { 
    padding: 50px;

    input {
      border: 1px solid $light-grey;
      font-size: 24px;
      padding: 5px;
      width: 100%;

      &.btn {
        background: $dark-blue;
        text-transform: uppercase;
        color: $white;
        border:none;
        font-size: 16px;
        padding: 10px;
      }
    }

    label {
      color: $medium-grey;
      display: block;
      margin-bottom: 10px;
    }

    article { width:400px; }
  }

  &.login-right-panel, &.login-form {
    article {
      margin-left: auto;
      margin-right: auto;
      text-wrap: none;
      margin-bottom: 60px;
    }

    h1,h2,p {
      margin-bottom: 20px;
    }

    h1:last-child,h2:last-child,p:last-child {
      margin-bottom: none;
    }
  }

  div {
    &.form-group {
      margin-bottom: 40px;
    }

    &.form-group:last-child {
      margin-bottom: 0px;
    }

    &.shared-links {
      width: 100%;
      text-align: center;
      margin-top: 20px;

      a { 
        text-decoration: none;
        color: $grey;
        margin-right: 20px;
      }

      a:hover { color: $dark-grey; }

      a:last-child { margin-right: 0px; }
    }
  }
}