@import 'mixins';
@import 'variables';

.factsheet {
  width: 100%;
  margin-top: -80px;
  float: left;
  @include box-sizing(border-box);
  text-transform: uppercase;

  section.cell {
    color: white;
    text-align: center;
    overflow: auto;
    zoom: 1;
    border: 0;
    padding: 0;
    margin-top: 40px;

    &.three, &.two {
      float: left;
      margin: 40px 19px 50px 0;
      &:last-child {
        margin: 40px 0 50px 0;
      }
      section {
        width: 100%;
        margin: 20px auto 0;
        &:last-child {
          border: 0;
        }
      }
    }

    &.three {
      width: 32%;
    }

    &.two {
      width: 49%;
    }

    &.four {
      section {
        width: 24%;
      }
    }

    section {
      position: relative;
      width: 50%;
      float: left;
      border: 0;
      padding: 0;
      margin: 20px 0;
      border-left: 1px solid $grey;
      @include border-radius(0);
      color: $dark-grey;

      &:first-of-type {
        border-left: 0;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }

      p {
        width: 100%;
        text-align: center;
      }

      .viz-label {
        font-size: 0.9em;
        position: absolute;
        top: 64px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
      }
    }

    .annular-stat {
      height: 154px;
      float: none;
      display: inline-block;
    }

    .pa-global-percentage {
      padding: 13px 0 17px 0;

      .bar-container {
        @include border-radius(5px);
        margin: 33px auto 0;
        height: 20px;
        background: $grey;
        width: 80%;
        overflow: hidden;
        bottom: 20px;
        right: 20px;
      }

      .bar {
        @include border-radius(5px);
        float: left;
        background: $green;
        height: 100%;
      }
    }
  }
}

.cell header {
  h3 {
    font-size: 18px;
    padding: 15px;
    border: 0;
  }

  height: 44px;

  background-color: #2b3146;
  &.light { background-color: #717C97; }
  &.lighter { background-color: #A6ACBE; }
}

.stats {
  label {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    float: left;
    text-align: center;
  }

  p {
    float: left;
    font-weight: bolder;
    font-size: 4em;

    small {
      font-family: normal;
      font-size: 0.3em;
    }
  }

  span {
    font-size: 0.6em;

    &.big {
      font-size: 26px;
      font-weight: bolder;
    }
    &.small {
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
