@import 'mixins';
@import 'variables';

.factsheet {
  width: 100%;
  margin-top: -80px;
  float: left;
  @include box-sizing(border-box);
  text-transform: uppercase;

  section.cell {
    color: white;
    text-align: center;
    overflow: auto;
    zoom: 1;
    border: 0;
    padding: 0;
    margin-top: 40px;

    &.three {
      width: 32%;
      float: left;
      margin: 40px 19px 50px 0;
      &:last-child {
        margin: 40px 0 50px 0;
      }
      section {
        width: 100%;
        margin: 20px auto 0; 
        &:last-child {
          border: 0;
        }
      }
    }

    &.four {
      section {
        width: 25%;
      }
    }

    &.annular {
      section.stats {
        height: 154px;
      }
    }

    header {
      h3 {
        font-size: 18px;
        padding: 13px;
        border: 0;
      }
      &.light {
        background-color: adjust-color(
          $dark-blue, $hue: -1, $saturation: -8, $lightness: 30
        );
      }
      &.lighter {
        background-color: adjust-color(
          $dark-blue, $hue: -1, $saturation: -8, $lightness: 48
        );
      }
    }

    section {
      position: relative;
      width: 50%;
      float: left;
      border: 0;
      padding: 0;
      margin: 20px 0;
      border-left: 1px solid $grey;
      @include border-radius(0);
      &:first-of-type {
        border-left: 0;
      } 
      &:last-of-type {
        margin-bottom: 20px;
      }
      
      p {
        width: 100%;
        text-align: center;
        color: $dark-grey;
      }

      &.pa-global-percentage {
        padding: 13px 0 17px 0;
        .bar-container {
          @include border-radius(5px);
          margin: 33px auto 0; 
          height: 20px;
          background: $grey;
          width: 80%;
          overflow: hidden;
          bottom: 20px;
          right: 20px;
        }
      
        .bar {
          @include border-radius(5px);
          float: left;
          background: $green;
          height: 100%;
        }
      }

      .viz-label {
        position: absolute;
        top: 14px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
      } 
    }

  }

}

.stats {
  ul, p {
    margin: 0 30px 0 0;
  }

  li {
    padding: 20px 0;
    border-bottom: 1px solid $light-grey;
    float: left;
    width: 100%;

    &:first-of-type {
      padding-top: 5px;
    }

    &:last-of-type {
      border: 0;
      padding-bottom: 0;
    }

    img {
      width: 60px;
      height: 60px;
      float: left;
      margin: 0 10px 0 0;
    }
  }

  p {
    float: left;
    font-weight: bolder;
    font-size: 4em;
    &.label {
      font-size: 16px;
      font-weight: normal;
    }

    span {
      font-size: 0.6em;
      &.big {
        font-size: 26px;
        font-weight: bolder;
      }
      &.small {
        font-size: 20px;
        font-weight: bolder;
      }
    }

    small {
      font-family: normal;
      font-size: 0.3em;
    }
  }

}