@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

@font-face { 
  font-family: 'MuseoSans-700';
  font-weight: normal;
  font-style: normal;
  src:  font_url('MuseoSans-700.eot') format('oet'),
        font_url('MuseoSans-700.ttf') format('ttf'),
        font_url('MuseoSans-700.woff') format('woff');
}

@font-face { 
  font-family: 'MuseoSans-300';
  font-weight: normal;
  font-style: normal;
  src:  font_url('MuseoSans-300.eot') format('oet'),
        font_url('MuseoSans-300.ttf') format('ttf'),
        font_url('MuseoSans-300.woff') format('woff');
}

@font-face { 
  font-family: 'MuseoSans-500';
  font-weight: normal;
  font-style: normal;
  src:  font_url('MuseoSans-500.eot') format('oet'),
        font_url('MuseoSans-500.ttf') format('ttf'),
        font_url('MuseoSans-500.woff') format('woff');
}

@font-face { 
  font-family: 'MuseoSans-100';
  font-weight: normal;
  font-style: normal;
  src:  font_url('MuseoSans-100.eot') format('oet'),
        font_url('MuseoSans-100.ttf') format('ttf'),
        font_url('MuseoSans-100.woff') format('woff');
}

@font-face { 
  font-family: 'MuseoSlab-500';
  font-weight: normal;
  font-style: normal;
  src:  font_url('MuseoSlab-500.eot') format('oet'),
        font_url('MuseoSlab-500.ttf') format('ttf'),
        font_url('MuseoSlab-500.woff') format('woff');
}