@import 'mixins';
@import 'variables';

.overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 401px;
  background: rgba(0, 0, 0, 0.5);
  color: $light-grey;
  text-align: center;

  section {
    width: 450px;
    margin: 80px auto;
  }

  h1 {
    border: 3px solid $light-grey;
    padding: 10px 10px 3px 10px;
    margin: 20px auto;
    font-family: 'MuseoSlab', $font-stack;
    font-weight: normal;
    font-size: 3.2em;
  }

  p {
    text-transform: uppercase;
    font-size: 0.85em;
  }

  .search-bar {
    background: $dark-blue;
    border: 0;
    padding: 5px;
    margin: 20px 0 40px 0;
    overflow: hidden;
    width: 440px;
    @include border-radius(5px);

    form{
      background: $dark-blue;
      padding: 0;
      border: 0;

      input{
        font-size: 0.9em;
        width: 72%;
        padding: 5px;
        background: $dark-blue;
        color: $light-grey;
      }

      button{
        float: right;
        padding: 5px 30px;
      }
    }
  }
}

#white-bg {
  float: left;
  margin: 0;
  display: block;
  width: 100%;
  padding: 40px 0px;
  line-height: 2.5em;
  background: #fff;

  section {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }

  p {
    font-size: 1.2em;
  }

  ul {
    margin: 40px 0;

    li {
      width: 150px;
      height: 150px;
      border: 1px solid $dark-grey;
      background: $grey;
      float: left;
      margin-right: 13px;

      img {
        width: 150px;
        height: 150px;
      }
    }

    :last-child {
      margin-right: 0;
    }
  }
}

.home-statistics {
  float: left;
  width: 100%;

  .factsheet{
    margin: 20px 0;
  }
}

.intro{
  text-align: center;
  line-height: 1.5em;
  background: none;
  border: 0;

  h2 {
    margin: 0 0 10px 0;
  }

  p {
    font-size: 1.2em;
  }
}
