@import 'z-index';
@import 'transitions';
@import 'colors';

.btn.btn-map-download {
  position: fixed;
  top: 121px;
  right: 20px;

  transition: top $search-bar-transition-time ease;

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 171px;
  }
}

.btn.btn-marine-toggle {
  position: fixed;
  top: 181px;
  right: 20px;
  height: 40px;
  font-size: 1em;

  background-color: $dark-grey;
  transition: top $search-bar-transition-time ease;

  i {
    margin-right: 5px;
  }

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 171px;
  }

  &:hover {
    background-color: $white;
    color: $dark-grey;
  }
}

.nav-main.home-nav-main {
  background-color: $color--header-bg;

  li.active {
    a {
      background-color: $color--header-active-link;
    }
  }

  li {
    a {
      color: $color--header-link;
    }

    a:hover {
      background-color: $color--header-hover-link;
    }
  }

  li.logo {
    background-image: image-url('logo-grey.png');
  }

  li.search {
    background-image: image-url('icon-search-grey.png');
  }
}

nav .download-type-dropdown {
  position: absolute;
}

.download-type-dropdown {
  z-index: $zIndex-7;

  li {
    background-color: $dark-green;
    border-top: solid 1px $white;
    float: none;
    line-height: 1rem;

    a {
      text-align: left;
      color: $white;

      display: inline-block;
      padding: 20px;
      width: 100%;
    }
  }
}

.home-parent {
  transition: top $search-bar-transition-time ease;

  #map {
    left: 0;
  }

  &.opened {
    transition: top $search-bar-transition-time ease;
    top: 120px;
  }
}
