@import 'colors';
@import 'bourbon';
@import 'neat';

.project {
  .project-header {
    padding: 20px;
    background-color: $color--project-header;

    input {
      font-size: 15px;
      border: 0px;
      padding: 5px 10px;
    }

    h1,h2 { display: inline; }

    h2, a {
      color: $medium-grey;
      font-size: 14px;

      a:hover { color: $dark-grey; }
    }

    .menu { margin-left: 40px; }
  }
}

.no-projects {
  width:50%;
  margin: 50px auto;
  border: 1px solid $green;
  padding:40px;

  h1 { 
    font-size: 32px;
    margin-bottom: 20px;
  }

  h2 {
    color: $medium-grey;
  }

}

.info-search {
  margin-top: 20px;
}

.project-item {
  @include span-columns(3);
  @include omega(4n+1);
  @include fill-parent;
  margin-right: 0px;
  width: 25%;
  border-bottom: 1px solid $color--project-item-border;
  border-right: 1px solid $color--project-item-border;

  //&:nth-child(4n+1) {border-right:none;}

  h4 {
    margin: 20px;
  }

  p {
    padding: 20px;
  }
}

.projects-parent {
  overflow: scroll;
}

