@import 'mixins';
@import 'variables';

.protected-area-map {
  margin-top: 50px;
}

main section {
  border: 1px solid #dadada;
  background: #ececf4;
  box-sizing: border-box;
  @include border-radius(5px);
  width: 100%;
}

.info-card {
  width: 320px;
  height: 300px;
  padding: 20px;
  font-weight: normal;
  line-height: 1.5em;
  position: absolute;
  top: 25px;
  text-align: center;

  h2 {
    font-size: 1.5em;
    color: #353946;
    font-family: 'MuseoSlab', $font-stack;
  }

  p {
    font-size: 0.9em;

    strong {
      display: block;
    }

    a {
      color: $blue;
    }
  }

  hr {
    width: 30px;
    border: 1px solid #cacaca;
    margin: 30px auto;
  }
}

.factsheet {
  width: 100%;
  margin-top: -50px;
  padding-bottom: 25px;
  float: left;

  h3 {
    font-weight: normal;
    font-family: 'MuseoSlab', $font-stack;
    border-bottom: 1px solid $grey;
    margin-bottom: 20px;
    padding-bottom: 10px;

    span {
     background: #e6e6ee;
     @include border-radius(5px);
     font-size: 0.8em;
     padding: 5px;
    }
  }

  section {
    &:first-of-type {
      margin-top: 0;
    }

    margin-top: 30px;
    padding: 20px;

    a {
      font-weight: bold;
      color: $blue;
    }
  }

  .column-left {
    float: left;
    width: 47.5%;
  }

  .column-right {
    float: right;
    width: 47.5%;
  }
}

.protected-area-photos {
  li {
    display: block;
    float: left;
    padding: 0 12px 12px 0;
  }

  li:nth-child(6n+6) {
    padding-right: 0px;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.protected-area-official-record {
  width: 100%;
  margin: 10px 0 10px 0;
  border-collapse: separate;

  td {
    padding: 10px 0;
    border-bottom: 1px solid #dad9e4;
    margin-right: 3px;
    line-height: 1.2em;

    strong {
      font-weight: normal;
      font-size: 0.7em;
      text-transform: uppercase;
      display: block;
      color: #9c9ea9;
    }
  }

  tr:last-child {
    td {
      border: none;
    }
  }
}
