@import 'colors';
@import 'fonts';

.factsheet {
  width: 400px;
  float:left;
}

.factsheet article {
  padding: 20px;
  font-family: MuseoSans-100;
  font-size: 14px;
  color: $color--pa-text;

  h3 {
    color: $color--pa-header;
    margin: 20px 0px;
  }

  h3:first-child {
    margin: 0px 0px 20px 0px;
  }
}



.key-records {
  margin: 10px 0;
  width: 95%;

  li {
    margin: 15px 0;
    height: 15px;
    background: url("/assets/official-record-bg.png") repeat-x 0px 6px;
    clear: left;

    p {
      float:left;
      padding: 0 5px 0 0;
      background: $white;
    }

    strong {
      float: right;
      margin-left: 0px;
      padding: 0 0 0 10px;
      background: $white;
      max-width:55%;
      overflow:hidden;
      text-overflow:ellipsis;
      height: 15px;
      white-space: nowrap;
      display: inline-block;
    }
  }
}

.data-provider{
  margin: 30px 0;
  width: 95%;
  padding: 5px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background: $light-grey;

  ul li{
    background: none;
  }
}

.factsheet table {
  width: 95%;
  margin: 20px 0 0 0;

  tr {
    border-top: 1px solid $color--pa-table-border;
  }

  tr:first-child {
    border-top: none;
  }

  td {
    width: 50%;
    padding: 10px 5px 10px 0;
    line-height: 1.5em;

    strong {
      font-family: MuseoSans-300;
      font-weight: normal;
      font-size: 14px;
      display: block;
      color: $color--pa-table-attribute;
    }
  }
}

.protected-area-infographic {
  background: $dark-green;
  text-align: left;
  padding: 0 0 0 20px;
  width: 100%;

  li {
    display:inline;
    color: $color--pa-infographic-text;
    font-size: 12px;
  }

  li span {
    font-size: 40px;
    font-family: MuseoSans-500;
    line-height: 60px;
  }

  li:last-child {
    margin-right: none;
    padding: 0;
    margin:0;
  }
}

#map.protected-area-map {
  left: 400px;
}

.nearest-protected-areas {
  li {
    display: inline-block;
  }

  img {
    width: 170px;
    height: 100px;
  }
}
