@import 'mixins';
@import 'variables';

.protected-area-map {
  margin-top: 50px;
}

main {
  section, aside {
    border: 1px solid #dadada;
    background: #ececf4;
    @include border-radius(5px);
    width: 100%;
  }
}

.map-disclaimer {
  position: absolute;
  top: 379px;
  left: 42px;

  padding: 4px;

  width: 895px;
  text-align: center;
  font-size: 0.8em;
  background-color: rgba(210,210,210,0.7);

  @include border-radius(4px 4px 0 0);
}

.info-card {
  width: 320px;
  height: 300px;
  padding: 20px;
  font-weight: normal;
  line-height: 1.5em;
  position: absolute;
  top: 25px;
  text-align: center;

  h2 {
    font-size: 1.5em;
    color: #353946;
    font-family: 'MuseoSlab', $font-stack;
  }

  p {
    font-size: 0.9em;

    strong {
      display: block;
    }

    a {
      color: $blue;
    }
  }

  hr {
    width: 30px;
    border: 1px solid #cacaca;
    margin: 30px auto;
  }
}

.grid .info-card {
  margin-top: 0;
}

.protected-area-photos {
  li {
    display: block;
    float: left;
    padding: 0 12px 12px 0;
  }

  li:nth-child(6n+6) {
    padding-right: 0px;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.protected-area-official-record {
  width: 100%;
  margin: 10px 0 10px 0;
  border-collapse: separate;

  td {
    padding: 10px 0;
    border-bottom: 1px solid #dad9e4;
    margin-right: 3px;
    line-height: 1.2em;

    strong {
      font-weight: normal;
      font-size: 0.7em;
      text-transform: uppercase;
      display: block;
      color: #9c9ea9;
    }
  }

  tr:last-child {
    td {
      border: none;
    }
  }
}
