@import 'colors';
@import 'fonts';

.factsheet {
  overflow-y: auto;
  width: 400px;
  height: 100%;
  float:left;
}

.factsheet article {
  padding: 20px;
  font-family: MuseoSans-100;
  font-size: 14px;
  color: $color--pa-text;

  h3 {
    color: $color--pa-header;
    margin: 20px 0px;
  }

  h3:first-child {
    margin: 0px 0px 20px 0px;
  }
}

.key-records {
  margin: 10px 0;

  li {
    margin: 15px 0;
    height: 15px;
    background: url("/assets/official-record-bg.png") repeat-x 0px 6px;
    clear: left;

    &.ellipsed {
      cursor: pointer;
    }

    p {
      float:left;
      padding: 0 5px 0 0;
      background: $white;
      overflow:hidden;
      white-space: nowrap;

      &.hidden-record {
        display: none;
      }
    }

    strong {
      float: right;
      margin-left: 0px;
      padding: 0 0 0 10px;
      background: $white;
      max-width:55%;
      overflow:hidden;
      text-overflow:ellipsis;
      height: 15px;
      white-space: nowrap;
      display: inline-block;

      &.full-record {
        max-width: 100%;
      }
    }
  }
}



.data-provider{
  margin: 30px 0;
  padding: 5px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background: $light-grey;

  ul li{
    background: none;
  }
}

.factsheet table {
  width: 100%;
  margin: 20px 0 0 0;

  tr {
    border-top: 1px solid $color--pa-table-border;
  }

  tr:first-child {
    border-top: none;
  }

  td {
    width: 50%;
    padding: 10px 5px 10px 0;
    line-height: 1.5em;

    strong {
      font-family: MuseoSans-300;
      font-weight: normal;
      font-size: 14px;
      display: block;
      color: $color--pa-table-attribute;
    }
  }
}

.protected-area-infographic {
  background: $dark-green;
  text-align: left;
  width: 100%;

  > li {
    padding-left: 20px;
    display:block;
    color: $color--pa-infographic-text;
    font-size: 12px;
    border-bottom: solid 1px $color--pa-infographic-border;
  }

  > li:last-child {
    border-bottom: none;
  }
}

.percentage-container {
  span {
    font-size: 40px;
    font-family: MuseoSans-500;
    line-height: 60px;
  }
}

.data-completion-info {
  padding: 20px;

  div:not(:last-child) { margin-bottom: 5px; }

  h3 {
    font-weight: 300;
    font-family: MuseoSans-300;
    color: $color--pa-infographic-text;
  }

  ul {
    margin: 8px 0px;
    column-count: 2;

    li {
      padding: 2px;
      display: block;
    }
  }
}

.open-details-container {
  padding: 5px 20px;
  text-align: center;
}

.open-details-anchor {
  font-size: 18px;
  color: $light-grey;
  width: 100%;
  display: block;
  box-sizing: border-box;
}


#map.protected-area-map {
  left: 400px;
}


.related-source {
  margin: 30px 20px;
  padding: 5px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background: $light-grey;

  a {
    color: $green;
    background: url("/assets/external-link.png") right no-repeat;
    padding: 0 15px 0 0;
  }

  span {
    margin: 0;
    padding: 0;
  }
}

.nearest-protected-areas {
  li {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    clear: left;
    height: 101px;
    margin: 10px 0;
  }

  a {
    float: left;

    img {
      width: 177px;
      height: 99px;
    }
  }

  h4 {
    width: auto;
    height: 99px;
    background: $light-grey;
    margin: 0 0 0 1px;
    float: none;

    a {
      width: 40%;
      display: block;
      margin: 20px 0 0 5px;
    }
  }
}
