@import 'bourbon';
@import 'neat';
@import 'transitions';
@import 'colors';
@import 'z-index';

$width--search-sidebar: 270px;

.search-sub-nav {
  position: fixed;
  top: 60px;
  z-index: $zIndex-1;
}

.search-sub-nav ul {
  li {
    &.right {
      float: right;
    }

    h1, h2 {
      display: inline-block;
    }

    h2 {
      color: $medium-grey;
    }

    .btn-search-download {
      border-left: solid 1px $color--search-download-border;
      border-right: solid 1px $color--search-download-border;
      background-color: $color--search-download-bg;
      color: $color--search-download-text;
      text-transform: uppercase;
      font-size: 1em;
      position: absolute;
      right: 20px;
      height: 60px;

      img {
        margin-top: 4px;
      }
    }
  }
}

.map-filters.search-map-filters {
  overflow: scroll;
  width: $width--search-sidebar;
  background: $color--search-filters-bg;

  transition: margin $search-sidebar-transition-time ease;

  &.closed {
    margin-left: (-$width--search-sidebar);
    transition: margin $search-sidebar-transition-time ease;

  }

  header {
    position: fixed;
    width: $width--search-sidebar;
    height: 40px;
    background-color: $color--search-filters-header;

    ul {
      float: right;

      li {
        border-left: solid 1px $color--search-switch-border;
        float: left;

        &.active {
          background-color: $color--search-filters-active;
        }

        a {
          padding: 10px;
          vertical-align: middle;
          display: block;
          height: 40px;
          width: 40px;
          background-color: inherit;
        }
      }
    }

    span {
      color: $color--search-filters-text;
      display: inline-block;
      margin: 13px 0px 0px 14px;
    }
  }

  > ul > li {
    border-bottom: solid 1px $color--search-filters-border;
    padding: 0px 20px 20px 20px;

    &:first-child {
      margin-top: 40px;
      padding: 10px 0 10px 20px;
      background: $medium-light-grey;

      a {
        color: $green;

        &:hover {
          color: $dark-green;
        }
      }
    }

    a:hover { text-decoration: underline; }

    h5 {
      padding: 20px 10px 10px 0px;
      text-transform: uppercase;
    }

    > ul >li {
      padding: 5px 0 5px 0;

      strong{
        color: $green;
      }

    }
  }
}

.search-parent #map,
.search-parent .search-grid,
.search-parent {
  top: 120px;
}

.search-parent #map, .search-parent .search-grid {
  left: $width--search-sidebar;

  transition: left $search-sidebar-transition-time ease;

  &.opened {
    left: 0px;
    transition: left $search-sidebar-transition-time ease;
  }

  &.no-results {
    left: 0px;
  }
}

.fixed-sidebar-toggle {
  background-color: $color--search-filters-header;
  padding: 10px;
  vertical-align: middle;
  display: block;
  position: fixed;
  top: 120px;
  left: -40px;
  width: 40px;
  height: 40px;

  transition: left 0.3s ease;

  &.opened {
    transition: left 0.3s ease;
    left: 0px;
  }
}

.search-grid {
  overflow: scroll;
  background-color: $white;
}

.search-grid ul {
  float: left;
  border-top: 20px solid $light-grey;
  border-left: 20px solid $light-grey;
}

li.result {
  @include span-columns(3);
  @include omega();
  @include fill-parent;
  margin-right: 0px;
  width: 25%;
  border: solid 20px $light-grey;
  border-top: 0;
  border-left: 0;
}

.inner-result {
  padding: 8px;
  position: relative;
  height: 128px;
  margin-top: -4px;
  border-bottom: 3px solid $medium-light-grey;

  h3 {
    margin-top: 4px;

    small {
      border-top: 1px solid $green;
      margin: 2px;
      padding: 4px 0 0 0;
      display:block;
      color: $medium-grey;
    }
  }

  p {
      position: absolute;
      bottom: 8px;
      color: $medium-grey;
      padding: 3px 5px;
      font-size: 12px;
      background: $light-grey;
  }


}
