@import 'mixins';
@import 'variables';

.search-bar {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;

  form {
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #dadada;
    @include border-radius(5px);

    input {
      font-size: 1.3em;
      width: 88%;
      border: none;
      padding: 5px;
      background: #f1f1f1;
    }
  }
}

.search-results {
  margin: 0 0 40px 0;

  a {
    text-decoration: underline;
  }

  h4 {
    padding: 20px 0 20px 30px;
  }

  h3 {
    a {
      text-decoration: none;
    }
  }

  small {
    font-family: 'MuseoSans-300', $font-stack;
  }

  li:first-child {
    border-top: 1px solid $grey;
  }

  .result {
    border-bottom: 1px solid $light-grey;
    background: #f1f1f1;
    padding: 20px 0 20px 30px;
    line-height: 1.5em;
  }
}

.pagination {
  text-align: center;
  font-family: 'MuseoSans-300', $font-stack;

  margin-bottom: 40px;

  > span, > a, > em {
    color: #A8AAB4;
    border: 1px solid #A8AAB4;
    padding: 6px 7px 3px 7px;
    @include border-radius(5px);

    @include transition(color 0.5s, border 0.5s);
  }

  .disabled {
    display: none;
  }

  .current, a:hover {
    border-color: $blue;
    color: $blue;

    @include transition(color 0.5s, border 0.5s);
  }

  .gap {
    border: none;
  }
}
