@import 'z-index';
@import 'colors';

.search-bar {
  height: 60px;
  width: 100%;
  float: left;
  padding: 15px 20px;
  background-color: $color--search-bar-bg;
  z-index: $zIndex-3;
  position: fixed;
  top: 60px;
  display: none;
}

.search-input,
.search-submit {
  height: 31px;
}

.search-input {
  color: $color--search-input-text;
  background-color: $color--search-input-bg;
  font-size: 16px;
  line-height: 33px;
  padding-left: 10px;
  border: 0;
  outline: none;
  box-sizing: border-box;
  float: left;
  display: block;
  margin-right: 0.35765%;
  width: 84.94039%;
}

.search-submit {
  color: $color--search-input-text;
  background-color: $color--search-input-bg;
  float: left;
  display: block;
  width: 14.70196%;

  &:hover {
    background-color: $color--search-input-bg-hover;
  }
}

.autocompletion-results {
  display: none;

  width: 100%;
  height: 15em;
  overflow: auto;
  padding: 15px 20px;
  background-color: white;
  z-index: 300;
  position: fixed;
  top: 120px;
  border-bottom: 2px solid $green;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
}

.no-projects .autocompletion-results {
  padding: 0;

  ul {
    border: 0;
  }
}

.autocompletion-result {
  line-height: 86px;
  border-bottom: 1px dotted $grey;

  a {
    display: block;

    &:hover{
      background: $light-grey;
    }
  }

  img {
    box-sizing: content-box;
    float: left;
    height: 64px;
    width: 128px;
    margin-right: 10px;
    padding: 10px;
  }
}
