@import 'mixins';
@import 'variables';

.search-bar {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;

  form {
    background: #f1f1f1;
    border: 1px solid #dadada;
    @include border-radius(5px);

    input {
      font-size: 1.3em;
      width: 880px;
      border: none;
      padding: 5px;
      padding-left: 15px;
      background: #f1f1f1;
    }

    button {
      padding: 5px 10px;
      margin-top: 6px;
      margin-right: 7px;
      float: right;
    }
  }
}

.search-results,
.search-filters {
  margin: 0 0 40px 0;

  a {
    text-decoration: underline;
  }

  h4 {
    font-weight: normal;
    padding: 20px 0 20px 30px;
  }
}

.search-filters {
  float: right;
  width: 30%;

  a {
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }
  }

  .filters-reset {
    position: relative;
    right: -20px;
    padding: 10px 20px;
    text-decoration: none;
  }

  > ul {
    padding: 20px 30px;
    border-top: 1px solid $grey;
    background: #F1F1F1;

    > li {
      h5 {
        text-transform: uppercase;
        color: #A0A2AA;
        font-weight: bold;
      }

      ul {
        margin-top: 10px;
      }
    }
  }

  > ul ul {
    margin-bottom: 10px;
  }
}

.search-results {
  float: left;
  width: 67%;

  li {
    img {
      width: 60px;
      height: 60px;
      float: left;
      margin: 0 10px 0 0;
    }
  }

  h3 {
    a {
      color: #454A60;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  small {
    font-weight: normal;
  }

  .result {
    border-bottom: 1px solid $light-grey;
    background: #f1f1f1;
    padding: 20px 0 20px 30px;
    line-height: 1.5em;

    p {
      a {
        font-weight: normal;
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.search-navigation {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;

  height: 42px;

  li {
    text-align: center;

    display: inline-block;
    float: left;

    height: 40px;
    margin: 0;
    padding-top: 10px;

    border-right: 1px solid $grey;

    &:last-child {
      border-right: 0;
    }

    &.selected, &:hover {
      cursor: pointer;
      border-bottom: 5px solid #4194D4;
      background: white;
    }
  }

  .btn {
    box-sizing: border-box;
    color: inherit;
    background: none;
    border-radius: 0;
    text-decoration: none;

    width: 162px;

    &:hover {
      background: none;
    }
  }
}

.pagination {
  width: 650px;
  margin-bottom: 40px;
  float: left;

  > span, > a, > em {
    color: #A8AAB4;
    border: 1px solid #A8AAB4;
    padding: 6px 7px 3px 7px;
    @include border-radius(5px);
    font-style: normal;

    @include transition(color 0.5s, border 0.5s);
  }

  .disabled {
    display: none;
  }

  .current, a:hover {
    border-color: $blue;
    color: $blue;

    @include transition(color 0.5s, border 0.5s);
  }

  .gap {
    border: none;
  }
}
