@import 'frameless';
@import 'transitions';
@import 'colors';

$width--search-sidebar: 270px;

.search-sub-nav ul {
  li {

    &.right {
      float: right;
    }

    h1, h2 {
      display: inline-block;
    }

    h2 {
      color: $medium-grey;
    }

    .btn-search-download {
      border-left: solid 1px $color--search-download-border;
      border-right: solid 1px $color--search-download-border;
      background-color: $color--search-download-bg;
      color: $color--search-download-text;
      text-transform: uppercase;
      font-size: 1em;
      position: absolute;
      right: 20px;
      height: 60px;

      img {
        margin-top: 4px;
      }
    }
  }
}

.map-filters.search-map-filters {
  overflow: scroll;
  width: $width--search-sidebar;
  background: $color--search-filters-bg;

  transition: margin $search-sidebar-transition-time ease;

  &.closed {
    margin-left: (-$width--search-sidebar);
    transition: margin $search-sidebar-transition-time ease;
  }

  header {
    position: fixed;
    width: $width--search-sidebar;
    height: 40px;
    background-color: $color--search-filters-header;

    ul {
      float: right;

      li {
        border-left: solid 1px $color--search-switch-border;
        float: left;

        &.active {
          background-color: $color--search-filters-active;
        }

        a {
          padding: 10px;
          vertical-align: middle;
          display: block;
          height: 40px;
          width: 40px;
          background-color: inherit;
        }
      }
    }

    span {
      color: $color--search-filters-text;
      display: inline-block;
      margin: 13px 0px 0px 14px;
    }
  }

  > ul > li {
    border-bottom: solid 1px $color--search-filters-border;
    padding: 0px 20px 20px 20px;

    &:first-child { margin-top: 40px; }
    a:hover { text-decoration: underline; }

    h5 {
      padding: 20px 10px 10px 0px;
      text-transform: uppercase;
    }

    > ul >li {
      padding-bottom: 2px;
    }
  }
}

.search-parent #map,
.search-parent .search-grid,
.search-parent {
  top: 120px;
}

.search-parent #map, .search-parent .search-grid {
  left: $width--search-sidebar;

  transition: left $search-sidebar-transition-time ease;

  &.opened {
    left: 0px;
    transition: left $search-sidebar-transition-time ease;
  }
}

.search-parent .search-map {
  display: none;
}

.fixed-sidebar-toggle {
  background-color: $color--search-filters-header;
  padding: 10px;
  vertical-align: middle;
  display: block;
  position: fixed;
  top: 120px;
  left: -40px;
  width: 40px;
  height: 40px;

  transition: left 0.3s ease;

  &.opened {
    transition: left 0.3s ease;
    left: 0px;
  }
}

.search-grid {
  overflow: scroll;
  background-color: $white;
}

li.result {
  float: left;
  @include width(1);
  height: 256px;
  box-sizing: content-box;
  border: solid 2px $light-grey;
}

.inner-result {
  padding: 8px;
  position: relative;
  height: 128px;
  margin-top: -4px;

  h3 {
    margin-top: 4px;

    small {
      color: $color--search-result-small-text;
    }
  }

  p {
    color: $color--search-result-small-text;
    position: absolute;
    bottom: 8px;
  }
}

