<article>
  <div class="login-image"><%= image_tag('icon-signup-love.png') %></div>
  <div class="login-text">
    <h1>Love</h1>
    <h2>Love the world that surrounds you.</h2>
    <p>By playing our participation games you will improve conservation science and policy.</p>
  </div>
</article>

<article>
  <div class="login-image"><%= image_tag('icon-signup-explore.png') %></div>
  <div class="login-text">
    <h1>Explore</h1>
    <h2>Know more about protected areas.</h2>
    <p>Did you know that less than 12% of the worlds land is protected? Less than 1% of Oceans.</p>
  </div>
</article>

<article>
  <div class="login-image"><%= image_tag('icon-signup-share.png') %></div>
  <div class="login-text">
    <h1>Share</h1>
    <h2>Your knowledge with others</h2>
    <p>Registered users can share their knowledge about conservation and biodiversity</p>
  </div>
</article>