<section class="cta--api container">
  <div class="cta__container bg--grey-black">
    <div class="cta__content">
      <h2 class="h2-big-white"><%= cms_fragment_render(:title, cta_api) %></h2>
      <p class="text-intro"><%= cms_fragment_render(:summary, cta_api)  %></p>

      <%= link_to t('ctas.api.button'), cms_fragment_render(:link, cta_api), target: '_blank', class: 'button--outline-white' %>
    </div>
  </div>
</section>
