<section class="cta--api container">
  <div class="cta__container bg--grey-xdark">
    <div class="cta__content">
      <h2 class="h2-big-white"><%= t('ctas.api.title') %></h2>
      <p class="text-intro"><%= t('ctas.api.intro') %></p>
      
      <%= link_to t('ctas.api.button'), t('ctas.api.url'), target: '_blank', class: 'button--outline-white' %>
    </div>
  </div>
</section>