<section class="cta--live-report">
  <div class="container cta__container">
    <div>
      <h2><%= t('ctas.live_report.title') %></h2>
      <p><%= t('ctas.live_report.intro') %></p>
    </div>

    <%= link_to t('ctas.live_report.button'), t('ctas.live_report.url'), target: '_blank', class: 'button--outline' %>
  </div>
</section>