.vw-layouts-partials-content-banner {
  @apply tw-shared-hero-wrapper-common
  flex
  justify-center
  lg:items-center
  flex-col
  lg:flex-row
  p-6
  md:p-16
  lg:p-6.25
  gap-6
  lg:gap-24;
}

.vw-layouts-partials-content-banner__content {
  @apply tw-shared-base-flex-col-gap-6;
}

.vw-layouts-partials-content-banner__title {
  @apply text-3xl;
}

.vw-layouts-partials-content-banner__intro {
  @apply text-lg lg:text-xl;
}

.vw-layouts-partials-content-banner__small-text {
  @apply font-bold mt-4 block;
}

.vw-layouts-partials-content-banner__button {
  @apply self-start;
}

.vw-layouts-partials-content-banner__stats {
  @apply tw-shared-bg--grey-black
  tw-shared-border-radius 
  flex 
  flex-col
  gap-4
  box-border
  p-5 
  md:p-6 
  w-full
  lg:max-w-[33%];
} 

.vw-layouts-partials-content-banner__stat-item {
  @apply flex flex-col gap-1;
}

.vw-layouts-partials-content-banner__stat-number {
  @apply 
  text-theme-primary 
  text-3xl
  md:text-5xl
  font-bold
  leading-none;
}

.vw-layouts-partials-content-banner__stat-number--small {
  @apply
  text-2xl
  md:text-3xl;
}

.vw-layouts-partials-content-banner__stat-text {
  @apply text-white 
  font-bold
  leading-none
  md:text-xl;
}
