.label {
  //@include text(small);
  color: $grey-xdark;

  font-style: italic;

  background-color: $grey-xlight;
  margin-right: rem-calc(20);
  padding: rem-calc(5 16);

  &--code {
    font-size: inherit;
    font-family: monospace;
    font-style: normal;
    word-wrap: break-word;

    padding: rem-calc(2 8);
    border-radius: rem-calc(4);
    margin-right: 0;
    margin-bottom: rem-calc(32);
  }
}
