<header 
  class="hero--small bg-image-overlay--white <%= get_local_classes local_assigns %>"
  <% if local_assigns.has_key? :image %>
    style="background-image: url('<%= image %>')"
  <% end %>
>
  <div class="hero__container container">
    <h1><%= title %></h1>
  </div>
</header>