<div class="topbar">
  <div class="topbar__container container">
    <%= link_to root_path, title: '#TODO', class: 'topbar__logo' do %>
      <i class="logo--protected-planet"></i>
    <% end %>

    <% unless @for_pdf %>
      <nav-burger :links="<%= get_nav_primary %>" class="topbar__nav nav--primary"></nav-burger>
    <% end %>

    <search class="topbar__search"></search>
  </div>
</div>