<div class="js-expandable-section protected-area-infographic">
  <div class="percentage-container">
    <span><%= @presenter.percentage_complete %>%</span>
    Data Complete
  </div>
  <div class="data-completion-info js-target">
    <% @presenter.data_info.each do |section, attributes| %>
      <div>
        <h3><%= section %></h3>
        <ul>
          <% attributes.each do |attribute| %>
            <%= completion_attribute attribute[:label], attribute[:complete] %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <button href="#" class="data-completion__trigger is-open js-switch js-trigger"></button>
</div>
