<h2 class="header--section">WDPA ID</h2>
<%= protected_area.wdpa_id %>

<h2 class="header--section">Reported Area</h2>
<%= protected_area.reported_area.try(:round, 2) %> km&sup2;

<div class="info-box info-box--fill-color info-box--small">
  <h5 class="icon--info">Data Provider</h5>
  <% if @protected_area.sources.any? %>
    <%= render @protected_area.sources %>
  <% else %>
    <p>Not Reported</p>
  <% end %>
</div>

<h2 class="header--section">WPDA historic</h2>
<p><span class="fact__title">WDPA presence</span><span class="fact__value"></span></p>
<p><span class="fact__title">WDPA updates</span><span class="fact__value"></span></p>