<div class="info-box__row info-box__row--no-border">
  <article class="alert alert--push">
    <span class="fa-stack alert__icon alert__icon--success">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check alert__icon-inner alert__icon-inner--success fa-stack-1x"></i>
    </span>
    <div>
      <h3 class="alert__title alert__title--success">
        <a class="external-link target="_blank" href='<%= url %>'><%= title %></a>
        
        <% if local_assigns[:logo] %>
          <img src="<%= logo %>">
        <% end %>
      </h3>
      <span><%= info %></span>
    </div>
  </article>
</div>
