<article class="related-source">
  <h3>
    <a target="_blank" href='<%= url %>'><%= title %></a>

    <% if local_assigns[:logo] %>
      <img src="<%= logo %>">
    <% end %>
  </h3>
  <span><%= info %></span>
</article>
