<section class="cell three">

  <header class="stats lighter">
    <h3>Data providers</h3>
  </header>

  <section class="stats"> 
    <p><%= commaify @countries_providing_data %></p>
    <p class="label">Countries and territories</p>
  </section>
  
</section>

 
<section class="cell three">
  
  <header class="stats lighter">
    <h3>IUCN category areas</h3>
  </header>

  <section class="stats"> 
    <p><%= commaify @countries_providing_data %></p>
    <p class="label">Protected areas</p>
  </section>
  
</section>
  
<section class="cell three">
  
  <header class="stats lighter">
    <h3>Designations</h3>
  </header>

  <section class="stats"> 
    <p><%= commaify @number_of_designations %></p>
    <p class="label">Different types</p>
  </section>

</section>