<section class="cell one">

  <header class="stats">
    <h3>Protected Areas (PAs)</h3>
  </header>
  
  <section class="stats">
    <p><%= commaify @number_of_pas %></p>
    <p class="label">protected areas</p>
  </section>
  
  <section class="stats bar">
    <p class="label"><span class="big">23</span><span class="small">%</span> of global protected areas</p>
    <div class="bar-container">
      <div class="bar" style="width: 18%;"></div>
    </div>
  </section>

</section>