<section class="column-right stats">
  <h3>Number of designations</h3>
  <p>
    <%= image_tag "designation@2x.png", style: "width: 38px; height: 49px" %>
    <%= commaify @number_of_designations %>
  </p>
</section>

<section class="column-left stats">
  <h3>Countries providing data</h3>
  <p>
    <%= image_tag "data@2x.png", style: "width: 47px; height: 49px" %>
    <%= commaify @countries_providing_data %>
  </p>
</section>