<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/head" %>
  </head>

  <body>
    <div id="v-app">
      <%= render "layouts/partials/topbar" %>
        
      <%= yield %>
      
      <%= render "layouts/partials/footer" %>  
    </div>
  </body>
</html>
