<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="header-inner">
      <h1>protectedplanet.net</h1>

      <nav>
        <ul>
          <li><a href="#" class="btn btn-secondary">Download</a></li>
          <li class="search"><i class="fa fa-search"></i><input type="text" placeholder="Search for an area, country or region"></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="footer-inner">
      <p>&copy; ProtectedPlanet 2014</p>
    </div>
  </footer>

</body>
</html>
