//--------------------------------------------------
// classes
//--------------------------------------------------
&--themes {
  .cards {
    &__cards { 
      @include flex; 
      @include flex-h-between; 
      @include flex-wrap; 
    }
  }

  .card {
    @include bg-image-overlay;
    @include border-radius;
    @include flex;
    @include flex-column;
    @include flex-h-end;
    @include responsive(width, 100%, 100%, calc(50% - 10px));
    @include responsive(height, rem-calc(460), rem-calc(460), rem-calc(760));
    background-color: $grey-black;
    background-position: center;
    background-size: cover;
    color: $white;
    margin-bottom: rem-calc(20);
    padding: rem-calc(32 30);
    text-decoration: none;

    position: relative;

    &:nth-child(3n) { width: 100%; height: rem-calc(460); }

    &:hover::before { background-color: rgba(0,0,0,0.7); }

    &__ribbon {
      @include flex;
      @include flex-column;
      @include flex-h-between;
      @include flex-v-center;
      background-color: $grey-xdark;
      padding: rem-calc(18 14);
      width: rem-calc(150); height: rem-calc(150);

      position: absolute;
      top: 0;
      right: rem-calc(44);
    } 

      &__icon {
        &.marine-protected-areas {
          @include icon-pin-blue;
        }
      }

      &__number {
        color: $primary;
        font-size: rem-calc(40);
        font-weight: $bold;
      }

        &__number-text { line-height: 1; }

    &__title {
      @include text-theme-cards;
    }
  }
}