//--------------------------------------------------
// variables
//--------------------------------------------------
$search-results-image-width: rem-calc(165);
//--------------------------------------------------
// classes
//--------------------------------------------------
&--search-results {

  .card {
    &__link {
      @include flex;
      @include flex-h-between;
      margin: rem-calc(20 0);
      text-decoration: none; 
    }

      &__content {
        @include breakpoint($small) { width: calc(100% - #{$search-results-image-width} - 20px); }
      }

        &__summary {

        }

        &__title {

        }

      &__image {
        background-color: $grey-light;
        width: $search-results-image-width; height: rem-calc(130);

        display: none;

        @include breakpoint($small) { display: block; }
      }
  }
}