//--------------------------------------------------
// classes
//--------------------------------------------------
&--sites {
  .cards {
    &__cards {
      @include flex;
      @include flex-h-between;
      @include flex-wrap;
      
    }
  }

  .card {
    @include border-grey-light;
    @include box-shadow-grey-light;
    @include responsive(width, 100%, 50%, calc(33% - 7.5px));
    background-color: $white;
    margin-bottom: rem-calc(30);
    padding: rem-calc(14 12);

    .image {
      width: 100%;
    }
  }
}