//--------------------------------------------------
// classes
//--------------------------------------------------
&--resources {
  .cards {
    &__cards {
      @include flex;
      @include flex-wrap;

      &.preview {
        .card:nth-child(3),
        .card:nth-child(4) { 
          @include breakpoint-down($medium) { display: none; }
        }
      }
    }
  }

  .card {
    @include responsive(margin-bottom, rem-calc(20), rem-calc(50), rem-calc(50));
    @include responsive(width, 100%, 50%, 25%);
    padding: rem-calc(12 10);

    &--link {
      border: solid 1px $white;
      cursor: pointer;
      text-decoration: none;

      &:hover { border-color: $grey-dark; }
    }

      &__date { 
        @include text-small; 
        margin-top: 0;
      }
  }
}