//--------------------------------------------------
// variables
//--------------------------------------------------
$search-results-image-width: rem-calc(165);
$search-results-image-height: rem-calc(130);
//--------------------------------------------------
// classes
//--------------------------------------------------
&--search-results {

  .card {
    &__link {
      @include flex;
      @include flex-h-between;
      margin: rem-calc(20 0);
      text-decoration: none; 
    }

      &__content {
        @include breakpoint($small) { width: calc(100% - #{$search-results-image-width} - 20px); }
      }

        &__summary {

        }

        &__title {

        }

      &__image {
        background-position: center;
        background-size: cover;
        width: $search-results-image-width; height: $search-results-image-height;

        display: none;
        position: absolute;

        @include breakpoint($small) { display: block; }
      }

      &__image-placeholder { 
        @include image-placeholder($search-results-image-width, $search-results-image-height); 
        position: relative;
      }
  }
}