//--------------------------------------------------
// variables
//--------------------------------------------------
$card-search-results-areas-flag-size: rem-calc(60);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin card-search-results-areas-flag-size {
  width: $card-search-results-areas-flag-size;
  height: $card-search-results-areas-flag-size;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
&--search-results-areas {
  @include flex;
  @include flex-h-between;
  @include flex-wrap;

  .card {
    &__link {
      @include border-grey-xlight;
      @include box-shadow-grey-xlight;
      @include flex;
      @include flex-column;
      @include responsive('width', 100%, 48%, 30%);
      @include responsive('height', auto, rem-calc(360), rem-calc(360));
      background-color: $white;
      margin-bottom: rem-calc(30);
      min-height: rem-calc(280);
      padding: rem-calc(18 18 16 18);
      text-decoration: none;

      &:not(:first-child):not(:nth-child(3n+1)):not(:nth-child(3n)):last-child { 
        margin-left: 5%;
        margin-right: auto; 
      }
    }

      &__content {
        font-size: rem-calc(18);
      }

        &__image {
          width: 100%; height: rem-calc(114);
        }

        &__title {
          @include text-card-title;
          margin: rem-calc(12 0 2 0);
        }

        &__icon--region-large { 
          @include icon-region;
        }

        &__icon--flag-large { 
          @include icon-flag;
        }

      &__groups {
        margin-top: auto; 
      }

        &__group {
          margin: rem-calc(10 0);
        }
  }
}