<%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label, classes: "#{@cms_page.slug} bg-image-overlay--white" } %>

<h1>
  <%= link_to 'OECM Search page', oecm_search_path %>
</h1>

<%= render "partials/ctas/live-report" %>