/* app/views/partials/stats/_stats-overview.html.erb */
.vw-partials-stats-stats-overview {
  @apply
  relative
  bg-theme-grey-black
  w-full
  px-4.5
  py-4
  md:px-7.5
  md:py-7
  lg:w-[33%]
  md:shrink-0
  tw-shared-base-flex-col-gap-7;
}

.pdf .vw-partials-stats-stats-overview {
  @apply 
  border 
  border-theme-grey 
  bg-transparent 
  text-theme-grey-black
  w-94;
}

.vw-partials-stats-stats-overview__heading {
  @apply 
  tw-shared-base-flex-gap-2
  items-center;
}

.vw-partials-stats-stats-overview__flag {
  @apply
  size-8.75
  shrink-0
  rounded-full
  border-2
  border-white
  tw-shared-bg-center-no-repeat-contain;
}

.vw-partials-stats-stats-overview__title {
  @apply tw-shared-font-playfair__bold-xl-md-2xl-white;
}

.vw-partials-stats-stats-overview__section {
  @apply tw-shared-base-flex-col-gap-2;
}

.vw-partials-stats-stats-overview__section--gap-1 {
  @apply tw-shared-base-flex-col-gap-1;
}

.vw-partials-stats-stats-overview__section-with-border {
  @apply 
  border-b 
  border-theme-grey-light 
  pb-5;
}

.vw-partials-stats-stats-overview__number {
  @apply tw-shared-font-hind-siliguri__semibold-3xl-md-4xl-leading-none-primary;
}

.vw-partials-stats-stats-overview__subtitle {
  @apply 
  tw-shared-font-hind-siliguri__normal-base-white
  lg:w-full;
}

.vw-partials-stats-stats-overview__subtitle--shorter {
  @apply 
  w-[50%]
  lg:w-full;
}

.vw-partials-stats-stats-overview__text {
  @apply tw-shared-font-hind-siliguri__light-base-white;
}

.vw-partials-stats-stats-overview__text--link {
  @apply 
  underline 
  hover:no-underline;
}

.vw-partials-stats-stats-overview__flex {
  @apply tw-shared-base-flex-gap-3;
}

.vw-partials-stats-stats-overview__subtitle-flex {
  @apply 
  tw-shared-font-hind-siliguri__normal-base
  tw-shared-base-flex-gap-3;
}

.vw-partials-stats-stats-overview__subtitle-flex {
  @apply 
  tw-shared-font-hind-siliguri__normal-base
  tw-shared-base-flex-gap-3;
}

.vw-partials-stats-stats-overview__external-link {
  @apply 
  tw-shared-base-flex-gap-3
  justify-between
  items-start;
}

.vw-partials-stats-stats-overview__external-label {
  @apply tw-shared-font-hind-siliguri__normal-base-white;
}

.vw-partials-stats-stats-overview__external-title {
  @apply tw-shared-font-hind-siliguri__semibold-base-white;
}

.vw-partials-stats-stats-overview__external-button {
  @apply
  no-underline
  after:tw-shared-icon-arrow-external
  after:inline-block
  after:content-[''];
}